﻿Stylesbody {
}

@default-color: #295885;
@btn-primary-background: #428bca;
@btn-primary-border: #357ebd;

@btn-primary-hover-background: #3276b1;
@btn-primary-hover-border: #285e8e;

@import url('../../../Website/Styles/login.less');