﻿body { font: normal 11px Arial; text-align: center; margin: 0; }
body.menu { background-color: rgb(238, 238, 238); }
legend { font-size:11px; padding:6px; }
table { font-size: 100%; border-width: 0px; }
form { display: inline; margin:0; padding:0; }
div { text-align: left; }/**/
th { background-color: rgb(216, 216, 216); font-size: 110%; border-width: 0; border-right: 1px solid rgb(238, 238, 238); border-bottom: 1px solid rgb(128, 128, 128); padding: 2px; }
th.actions { border-right-width: 0; }
/*td { border-width: 0; border-bottom: 1px solid rgb(192, 192, 192); }*/
a {color:rgb(0,51,102);font-family:arial,Verdana;font-size:11px;text-decoration:underline;}
a:hover {color:rgb(0,51,102);font-family:arial,Verdana;font-size:11px;text-decoration:underline;}
input { font: normal 11px Arial; vertical-align: middle; }
select { font: normal 11px/1em; margin-top: 2px; vertical-align: middle; margin: 0; }
textarea { width: 400px; height: 250px; overflow: auto; }
h1 { font-family: Verdana,Arial,Helvetica,sans-serif; font: bold 14px Verdana; color:#2566AB; margin: 20px 0 0 0; text-align: left; text-transform: uppercase; }
h1 span { color: Black; font-weight: normal; }
h2 { font: normal 12px Verdana; margin: 10px 0 0 0; text-align: left; }


.uppercase { text-transform:uppercase; }
.alignTop td { vertical-align: top; }
.compactList td, .noborder td { border-bottom-width: 0; }
.noborder th { background-color: Transparent; border-bottom-width: 0; border-right-width: 0; font: bold 100%; text-align: left; }
.compactList input { padding: 0; margin: 0; height: 12px !important; }
td.centered { text-align: center; }
table.grid th { padding-right: 3px; vertical-align: bottom; }
table.gridTitlesLeft th { text-align: left; vertical-align: bottom; }
table.grid td { padding-right: 3px; padding-top: 2px; padding-bottom: 2px; }
tr.gridRow2 { background-color: WhiteSmoke; }
tr.gridRow2:hover { background-color: #f9f9f9; }
tr.gridRow { background-color:rgb(238, 238, 238); }
tr.gridRow:hover { background-color: #f9f9f9; }


table.grid a { color: rgb(0, 51, 102); }
table.grid a:active { color: Black; }
.gridPaging { }
.gridPaging td { border-bottom-width: 0; }
.gridPaging td td { margin: 2px 5px; height: 18px; font-size: 11px; }
.gridPaging td td a { color: Black; }
.gridPaging table { width: auto; margin: 0; padding: 0; }
/*Forms*/
.cleartbl{border:0px solid #000; margin:0px; padding:0px;  border-collapse:collapse; clear:both; }
.cleartbl td{border:0px solid #000;}
.subject_sp{max-width:150px; height:auto;}
.tt{max-width:120px;}
table.gridforms th { padding-right: 3px; vertical-align: bottom; }
table.gridforms td { padding-right: 3px; padding-top: 2px; padding-bottom: 2px; }
table.gridforms a { color: rgb(0, 51, 102); }
table.gridforms a:active { color: Black; }
.bordered2{ font-weight: bold; width:100%; margin: 15px 0; border: 1px solid rgb(128, 128, 128); }
table.gridTitlesLeft th { text-align: left; vertical-align: bottom; }
tr.gridRow2 { border-bottom:solid 1px rgb(192, 192, 192); background-color: rgb(238, 238, 238); }
tr.gridRow2:hover { background-color: #f9f9f9; }
tr.gridRow { background-color:rgb(238, 238, 238); }
tr.gridRow:hover { background-color: #f9f9f9; }
tr.gridSelectedRow{background-color:#CFE7E2;}
.gridPaging { }
.gridPaging td { border-bottom-width: 0; }
.gridPaging td td { margin: 2px 5px; height: 18px; font-size: 11px; }
.gridPaging td td a { color: Black; }
.gridPaging table { width: auto; margin: 0; padding: 0; }
/**/

.grayBG { background-color: rgb(245, 245, 245); }
input.text { width: 200px; }
input.wide { width: 400px; }
input.short { width: 32px; }
input.medium { width: 65px; }
input.medium2 { width: 120px; }
input.buttonWhite, .datagrid .button input { background-color: white; border: 1px solid black; width: 45px; cursor: pointer; padding:1px }
input.buttonFilter { background-color: #e5e5e5; cursor: pointer; text-transform: uppercase; }
input.buttonDelete { color: Maroon; }
.inputHeading { font-size:11px; color:#003366; font-weight:normal; text-decoration:none; }

input.buttonWide { width: 135px; }
input.buttonSemiWide { width: 90px; }

textarea.post { width: 600px; height: 120px; overflow: auto; font-size: 11px; font-family: Arial; }
textarea.filter { width: 500px; height: 50px; overflow: auto; font: normal 11px/1em Courier New; }
.columnTitleVertical { writing-mode: tb-rl; font-weight: bold; vertical-align: middle !important; text-align: right; }
.rowSelected { background-color: rgb(188, 213, 254); }
.buttons { text-align: right; }

div.bordered { font-weight: bold; margin: 15px 0; border: 1px solid rgb(128, 128, 128); /* padding: 10px; 	background-color:rgb(238, 238, 238); 	*/ }
div.workplace { font: normal 13px; }

h1 span.item { text-transform: capitalize; }


span.security { font-weight: bold; font-size: 12px; color:#ffffff; background-color:#2566AB; padding-left: 3px; padding-right: 3px; vertical-align: middle; }
span.securityManaged { cursor: pointer; }
hr { width: 90%; }
hr.filter { margin: 10px 0; }
div.lastButton { padding: 5px; }
span.toolbar { position: absolute; top: 22px; right: 45px; border: 1px solid rgb(128, 128, 128); padding: 0 5px 2px; background-color: White; }
a.toolbar { font-size: 10px; text-transform: uppercase; color: Black; text-decoration: underline; font-weight: normal; }
a.toolbarCurrent { font-size: 10px; text-transform: uppercase; color: Black; text-decoration: none; font-weight: bold; }
span.toolbarSeparator { color: rgb(169, 167, 162); padding: 0 5px; }
table.checkboxes td { padding: 0 5px 0 14px; }
table.checkboxes2 td { padding: 0 4px 0 15px; white-space: nowrap; }
div.panel { text-align: center; width: 100%; margin: 10px 0 20px; }
div.panel th { text-align: left; padding-right: 3px; }
div.panel td { padding-right: 3px; }
div.panel a { color: rgb(0, 51, 102); }
div.panel a:active { color: Black; }
.caps { text-transform: capitalize; }
.filterTable td, .filterTable th { border-bottom: none; padding-left: 0px; }
.filterTitle { width: 70px; }
th.filter, .filterNormal th { background-color: Transparent; color: #003366; font: normal 13px Verdana; text-decoration: underline; text-align: left; }
th.indent, td.indent { padding-top: 15px; }
.calendar td { width: 28px; height: 18px; }

.calendar, .calendar table { width: 196px; }

.headertemplate, .headertemplate table { width: 200px; }

table.details { width: auto; }
table.details td { padding: 2px; }

table.total { width: 200px; }
table.total td { text-align: right; font: normal 11px; border-bottom-width: 0; }
table.total td.title { text-align: left; font: normal 11px; }
table.unbordered td, table.unbordered tr { border-bottom-width: 0; height: 18px; }
table.unbordered { border-bottom: 1px solid rgb(169, 167, 162); }
.gridEditLink { font-weight: bold; text-align: center; }
tr.dashedBottom td { border-bottom-style: dashed !important; }
.RTL { direction: rtl; }
a.menu { font: normal normal normal 12px/2em; text-decoration: underline; color: rgb(0, 51, 102); }
a.menu:hover { font: normal normal normal 12px/2em; text-decoration: underline; color: rgb(0, 0, 0); }
a.menu:active { font: normal normal normal 12px/2em; text-decoration: underline; color: rgb(0, 0, 0); }

table.filterBox  td { border:0px!important; font-size:12px; }
table.filterBox  th { border:0px!important; color:#000000; }
.gridTitleLeft {text-align:left !important;}
.gridTitleCenter {text-align:left !important;}

/**/
.lbl_historyCurUser{ color:Black; font-size:12px; border-bottom:1px solid #f9f9f9; cursor:pointer; }
.lbl_historyCurUser:hover{color:red; cursor:pointer;}