﻿body { font-family:Verdana,Arial,Helvetica,sans-serif;  direction:ltr; margin-top:10px; }
body.menu { background-color:rgb(238, 238, 238); margin:5px 15px 0px 10px; }
FORM { margin:0; padding:0; }
TABLE { margin:0; padding:0; }
fieldset { padding:10px; }
legend { font-size:11px; padding:6px; }
a img { border:none;}
a { color:#000000; font-size:11px; text-decoration:underline; cursor:pointer; }
h1 { font-family: Verdana,Arial,Helvetica,sans-serif; font: bold 14px Verdana; color:#2566AB; margin-bottom:20px; text-align: left; text-transform: uppercase; }
h1 span { color: Black; font-weight: normal; }

.itext { scrollbar-3dlight-color:#000000;scrollbar-arrow-color:#909090;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#000000;scrollbar-track-color:#F3F3F3; }
.itextm3 { scrollbar-3dlight-color:#C0C0C0;scrollbar-arrow-color:#C0C0C0;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#F5F5F5;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#C0C0C0;scrollbar-track-color:#F5F5F5;}
.key { color:#006699; white-space:nowrap; }

/* tables  */
h4.dataSection { font-size:14px; text-transform:capitalize; margin:3px; }
.formData Table { padding:0px; margin:0px; border:0px; }
.formData Th { font-size:12px; color:#000000; text-decoration:none; text-align:left; font-weight:normal; border-bottom-style:none !important; background-color:Transparent !important;} /*text-decoration:underline;*/
.formData Td { font-size:12px; color:#000000; text-align:left; }
.formData Input { font-size:12px; color:#000000; background-color:#f5f5f5; width:100%; }
.formData Input[type='submit'] { font-size:12px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formData Input[type='button'] { font-size:12px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formData Select { font-size:12px; color:#000000; background-color:#f5f5f5; width:100%; }


.formThin Table { padding:0px; margin:0px; border:0px; }
.formThin Th { font-size:12px; color:#003366; text-decoration:none; text-align:left; font-weight:normal; border-bottom-style:none !important; background-color:Transparent !important;} /*text-decoration:underline;*/
.formThin Td { font-size:12px; color:#000000; text-align:left; }
.formThin Input { font-size:12px; color:#000000; background-color:#f5f5f5; }
.formThin Input[type='submit'] { font-size:12px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formThin Input[type='button'] { font-size:12px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formThin Select { font-size:12px; color:#000000; background-color:#f5f5f5; }

.tableThin Table { padding:1px; margin:0px; border:0px; }
.tableThin Th { font-size:11px!important; color:#003366!important; background-color:#ffffff!important; text-align:left; font-weight:normal!important; text-decoration:underline!important; padding-right:14px!important; border-bottom:0px!important; }
.tableThin Td { font-size:11px!important; color:#000000!important; text-align:left; padding-right:14px!important; }
.tableThin Td A { color:#000000!important; font-size:11px!important; text-decoration:underline!important; }
.tableThin Td A:hover { color:gray!important; font-size:11px!important; text-decoration:underline!important; }
.tableThin Input { font-size:11px; color:#000000; background-color:#f5f5f5; }
.tableThin Input[type='submit'] { font-size:12px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.tableThin Input[type='button'] { font-size:12px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.tableThin Select { font-size:12px; color:#000000; background-color:#f5f5f5; }

.formNormal Table { padding:0px; margin:0px; border:0px; direction:ltr; width:100%; }
.formNormal Th { font-size:11px; color:#000000; text-align:left; padding:0px 4px 0px 4px; border-bottom:1px solid gray; font-weight:bold; vertical-align:bottom; background-color:#e9e9e9; }
.formNormal Th.dark { font-size:11px; color:#000000; text-align:left; padding:0px 4px 0px 4px; border-bottom:1px solid gray; font-weight:bold; vertical-align:bottom; background-color:rgb(216, 216, 216); }
.formNormal Th.light { font-size:11px; color:#000000; text-align:left; padding:0px 4px 0px 4px; border:1px solid #ABABAB; font-weight:normal; vertical-align:bottom; background-color:#ffffff; }
.formNormal Th.Vertical { writing-mode:tb-rl; text-align:right; vertical-align:middle; padding-bottom:3px; padding-top:2px; }
.formNormal Td { font-size:11px; color:#000000; text-align:left; padding:0px 4px 0px 4px; }
.formNormal Td.Numeric { font-size:11px; direction:ltr!important; }
.formNormal Td.underlined {border-bottom:1px solid #e5e5e5;}
.formNormal Td A{ color:#000000; font-size:11px; text-decoration:underline; }
.formNormal Input { font-size:11px; color:#000000; background-color:#f5f5f5; }
.formNormal Textarea { font-size:11px; color:#000000; background-color:#f5f5f5; }
.formNormal Input[type='submit'] { font-size:11px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formNormal Input[type='button'] { font-size:11px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formNormal Select { font-size:11px; color:#000000; background-color:#f5f5f5; }

.dataList Table { padding:0px; margin:0px; border:0px; }
.dataList Th { font-size:12px; color:#003366; text-decoration:none; text-align:left; font-weight:normal; padding-right:3px; }
.dataList Td { font-size:12px; color:#000000; text-align:left; padding-right:2px; }
.dataList .fieldHeadings Td { font-size:11px; text-decoration:underline; padding-right:2px; vertical-align:bottom; }

/* Security  */
.pageSecurityNumOn { font-family:Aria; font-weight:bold; font-size:14px; color:#ffffff; background-color:#2566AB; padding-left:3px; padding-right:3px; margin:1px; border:1px solid #000000; }
.pageSecurityNumOff { font-family:Aria; font-weight:bold; font-size:9px; color:#ffffff; background-color:#ffbf72; padding-left:3px; padding-right:3px; margin:1px; border:1px solid #000000; }
span.security { font-weight:bold; font-size:12px; color:#ffffff; background-color:#2566AB; padding-left:3px; padding-right:3px; vertical-align:middle; }
span.securityManaged { cursor:pointer; }

/* pages heading  */
#pageMainHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; font-weight:bold; text-transform:uppercase; color:#2566AB; padding:0px; margin:0px; }
#pageMainHeading span { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; font-weight:normal; color:#ffffff; padding-left:3px; padding-right:3px; margin:0px; }
#pageMainSubHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#000000; padding:0px; margin:0px; }
#pageSecurityHeading { font-weight:bold; font-size:11px; color:#ffffff;background-color:#2566AB;  padding-left:3px; padding-right:3px; border:1px solid #000000; }

/* Cards heading  */
Table.CardHeader { font-size:10px; color:black; background-color:#f1f1f1; border:1px solid #A9A7A2; }

/* main page  */
.sectionHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:16px; font-weight:bold; color:#2566AB; padding:0px; margin:0px; }
.subSectionHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; color:#000000; padding:0px; margin:0px; }

.MerchantSubHead { color:#000000; font-size:11px; font-weight:bold; text-transform:uppercase; text-decoration:none; }
.SmallValueHeadings { font-size:11px; color:#006699; }

/* Filter pages  */
.filterNormal Table { padding:1px; margin:0px; border:0px; width:95%; }
.filterNormal Th { font-size:12px; color:#003366; text-align:left; font-weight:normal; text-decoration: underline; }
.filterNormal Td { font-size:11px; color:#000000; text-align:left; }
.filterNormal Input { font-size:11px; color:#000000; background-color:#f5f5f5; }
.filterNormal Input[type='submit'] { font-size:11px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.filterNormal Input[type='reset'] { font-size:11px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.filterNormal Input[type='button'] { font-size:11px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.filterNormal Select { font-size:11px; color:#000000; background-color:#f5f5f5; }

hr.filter { width:100%; border-top:1px dotted silver; margin:10px 0px; }
/*****************/

table.pagerWhite {font-size:11px;}
table.pagerWhite td {padding:1px 10px;border:1px solid gray;cursor:pointer;color:Black;background-color:White;}
table.pagerWhite td.on {background-color:#e2e2e2;}
table.pagerWhite th {padding:1px 10px 2px;border:1px solid gray;font-weight:normal;background-color:#e9e9e9;}

table.pagerBlack {font-size:11px;}
table.pagerBlack td {padding:1px 10px;border:1px solid silver;cursor:pointer;color:White;background-color:Black;}
table.pagerBlack td.on {background-color:#555555;}
table.pagerBlack th {padding:1px 10px 2px;border:1px solid silver;font-weight:normal;color:White;background-color:#555555;}

.dsn { writing-mode:tb-rl; vertical-align:middle; padding:1px 4px; position:absolute; top:0; left:0; text-align:center; border:1px solid gray; background-color:#f5f5f5; color:gray; font:12px/1em Verdana, Monospace; }
.dsnHead { display:inline; margin:0px 5px 0px 0px; padding:1px 2px; text-align:center; background-color:#2566AB; color:white; font:bold 10px/1em Verdana, Monospace; }

.option, .option input, .filterNormal input.option { background-color:Transparent !important; vertical-align:middle;}
.option label {font-size:11px; vertical-align:middle;}
input.short{width:30px;}
input.short2{width:50px;}
input.medium{width:100px;}
input.long{width:150px;}
input.buttonWhite{font-size:12px; color:#000000; background-color:#f5f5f5; cursor:pointer;}
input.buttonDelete{color:Maroon;}

.wingdings{font-family:Wingdings;}
.errorMessage {font-size:11px;color:Red;}
.errorMessage a {font-weight:bold;color:Red;}
.noErrorMessage {font-size:11px;color:Green;}
.noErrorMessage a {font-weight:bold;color:Green;}

div.bordered{font-weight:bold;margin:15px 0;padding:10px;border:1px solid rgb(128, 128, 128);font-size:12px;}
div.normal{font-weight:normal !important;font-size:11px !important;}

td.details{border-top:1px dashed Gainsboro;padding:10px 0;}
td.details th{font-weight:normal;}

a.risk{color:Maroon !important;white-space:nowrap;text-decoration:none !important;}
a.risk:hover{color:Red !important;text-decoration:underline !important;}
a.strong{color:#336699 !important;white-space:nowrap;text-decoration:underline !important;}
a.strong:hover{color:black !important;text-decoration:underline !important;}

textarea {overflow:auto;font-weight:normal;font-family:Verdana;font-size:11px;}

.button1{background-color:#FFFFFF;border:1px #000000 solid;color:#000000;cursor:pointer;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
.txt10{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;}
.txt11{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
.txt12{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;}
.txt12b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;}
.inputdata {background-color:#F5F5F5;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;z-index:-1;}

.box{visibility:hidden;position:absolute;z-index:1;padding:3px;font-size:11px;}
.boxHelp{background-color:#ECEFFF;border:1px solid Navy;}
.boxNote{background-color:#ffffe6;border:1px solid #353535;}
.box ul{margin-left:10px;padding-left:10px;margin-bottom:0;list-style-type:square;}
.box ul ul{list-style-type:disc;}
img.boxIcon{vertical-align:middle;border-width:0;border-style:none;cursor:help;margin:0;padding:0;}

.LTR{direction:ltr;}
.RTL{direction:rtl;}

hr.separator {color:#A9A7A2;height:1px;}

.itemExists {color:DarkGreen; text-decoration:underline; cursor:pointer; font-weight:bold;}
.itemNotExists {color:black; text-decoration:underline; cursor:pointer;}

.DetailSections {font-size:11px;font-weight:normal;color:Black;width:100%;}
.DetailSections td {vertical-align:top;}
.DetailSections .SectionTitle {color:#505050;font-weight:bold;}
.DetailSections .ItemTitle {color:#006699;}
