body {font-family:Verdana,Arial,Helvetica,sans-serif; margin-top:10px;}
form { margin:0; padding:0; }
a img { border:none;}

.key { color:#006699; white-space:nowrap; }

#listHeading TD {
	padding:0px 4px 0px 4px;
	border-bottom:1px solid gray;
	background-color:#e9e9e9;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	vertical-align:bottom;
}
#listHeading2 TD {
	padding:0px 4px 0px 4px;
	text-decoration:underline;
	color:#000000;
	font-size:12px;
	font-weight:bold;
}
#listBody TD {
	padding:0px 4px 0px 4px;
	color:#000000;
	font-size:12px;
}
#listBody TD.Numeric {
	font-size:11px;
	direction:ltr;
}
#listBody TD A{
	color:#000000;
	font-size:12px; text-decoration:underline;
}


a{color:#000080;font-family:arial;font-size:12px;text-decoration:underline; cursor:pointer;}
a.faq{color:#003366;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;text-decoration:underline; cursor:pointer;}
a.faq:hover{color:#808080;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;text-decoration:underline; cursor:pointer;}
a.faq_eng{color:#003366;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;text-decoration:underline; cursor:pointer;}
a.faq_eng:hover{color:#808080;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;text-decoration:underline; cursor:pointer;}
a.front{color:#000000;font-family:Arial;font-size:12px;font-weight:bold;text-decoration:none;}
a.front:hover{color:#FF8C00;font-family:Arial;font-size:12px;font-weight:bold;text-decoration:none;}
a.front_top{color:#000000;font-family:Arial;font-size:12px;text-decoration:none;}
a.front_top:hover{color:#000080;font-family:Arial;font-size:12px;text-decoration:none;}
a.go{color:#000000;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:11px;text-decoration:underline;}
a.go:hover{color:#808080;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:11px;text-decoration:underline;}

a.wcPaymentMethod{color:#5a5a5a;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;text-decoration:underline;}
a.wcPaymentMethod:hover{color:#808080;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;text-decoration:underline;}
a.wcPaymentMethodHeb{color:#5a5a5a;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;text-decoration:underline;}
a.wcPaymentMethodHeb:hover{color:#808080;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;text-decoration:underline;}

a.largeu{color:#003366;font-family:arial;font-size:13px;font-weight:bold;text-decoration:underline;}
a.largeu:hover{color:#8F8F8F;font-family:arial;font-size:13px;font-weight:bold;text-decoration:underline;}
a.leftmenu{color:#00254A;font-family:arial;font-size:12px;text-decoration:none;}
a.leftmenu:hover{color:#000000;font-family:arial;font-size:12px;text-decoration:none;}
a.link{color:#006699;cursor:pointer;font-family:arial;font-size:12px;text-decoration:underline;}
a.link:hover{color:#808080;cursor:pointer;font-family:arial;font-size:12px;text-decoration:underline;}
a.linkfront{color:#2566AB;cursor:pointer;font-family:arial;font-size:12px;text-decoration:underline;}
a.linkfront:hover{color:#808080;cursor:pointer;font-family:arial;font-size:12px;text-decoration:underline;}
a.linkfront_eng{color:#2566AB;cursor:pointer;font-family:arial;font-size:11px;text-decoration:underline;}
a.linkfront_eng:hover{color:#808080;cursor:pointer;font-family:arial;font-size:11px;text-decoration:underline;}
a.menu{color:#FFFFFF;font-family:arial;font-size:12px;text-decoration:none;}
a.menu:hover{color:#FFA500;font-family:arial;font-size:12px;text-decoration:none;}
a.shopsmenu{color:#00254A;font-family:arial;font-size:13px;font-weight:bold;text-decoration:underline;}
a.shopsmenu:hover{color:#000000;font-family:arial;font-size:13px;font-weight:bold;text-decoration:underline;}
a.sitemap{color:#474747;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;text-decoration:underline;}
a.sitemap:hover{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;text-decoration:underline;}
a.sitemap_eng{color:#474747;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;text-decoration:underline;}
a.sitemap_eng:hover{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;text-decoration:underline;}
a.left{color:#FFFFFF;font-family:arial;font-size:11px;text-decoration:underline;}
a.left:hover{color:#FFFFCC;font-family:arial;font-size:11px;text-decoration:underline;}
a.listcard{color:#4F4F4F;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:11px;font-weight:bold;text-decoration:none;}
a.listcard:hover{color:#808080;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;text-decoration:none;}
a.member{color:#000000;font-family:arial;font-size:16px;font-weight:bold;text-decoration:none;}
a.member:hover{color:#800000;font-family:arial;font-size:16px;font-weight:bold;text-decoration:none;}
a.menu2{color:#FFFFCC;font-family:arial;font-size:13px;text-decoration:none;}
a.menu2:hover{color:#FFFFEC;font-family:arial;font-size:13px;text-decoration:none;}
a.popup{color:#800000;font-family:arial;font-size:12px;font-weight:bold;text-decoration:underline;}
a.popup:hover{color:#FF0000;font-family:arial;font-size:12px;font-weight:bold;text-decoration:underline;}
a.smalldate{color:#474747;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;text-decoration:none;}
a.smalldate:hover{color:#A1A1A1;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;text-decoration:none;}
a.startpage{color:#FFFFFF;font-family:arial;font-size:11px;text-decoration:underline;}
a.startpage:hover{color:#FFFFCC;font-family:arial;font-size:11px;text-decoration:underline;}
a.startpage2{color:#A9A9A9;font-family:arial;font-size:10px;text-decoration:none;}
a.startpage2:hover{color:#808080;font-family:arial;font-size:10px;text-decoration:none;}
a.submenu2{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;text-decoration:none;}
a.submenu2:hover{color:#808080;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;text-decoration:none;}
a.changeStatus{color:#474747; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; text-decoration:none; cursor:pointer;}
a.changeStatus:hover{color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; text-decoration:underline; cursor:pointer;}

body.itext{scrollbar-3dlight-color:#000000;scrollbar-arrow-color:#909090;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#000000;scrollbar-track-color:#F3F3F3;}
body.itextm{scrollbar-3dlight-color:#000000;scrollbar-arrow-color:#909090;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#C5C5C5;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#000000;scrollbar-track-color:#C5C5C5;}
body.itextm2{scrollbar-3dlight-color:#C0C0C0;scrollbar-arrow-color:#C0C0C0;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#C0C0C0;scrollbar-track-color:#FFFFFF;}
body.itextm3{scrollbar-3dlight-color:#C0C0C0;scrollbar-arrow-color:#C0C0C0;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#F5F5F5;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#C0C0C0;scrollbar-track-color:#F5F5F5;}
div.inote{scrollbar-3dlight-color:#353535;scrollbar-arrow-color:#909090;scrollbar-darkshadow-color:#FFFDF2;scrollbar-face-color:#FFFDF2;scrollbar-highlight-color:#FFFDF2;scrollbar-shadow-color:#353535;scrollbar-track-color:#FFFDF2;}
div.itext{scrollbar-3dlight-color:#000000;scrollbar-arrow-color:#909090;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#000000;scrollbar-track-color:#FFFFFF;}
div.itext2{scrollbar-3dlight-color:#C0C0C0;scrollbar-arrow-color:#C0C0C0;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#C0C0C0;scrollbar-track-color:#FFFFFF;}
select{background-color:#FFFFFF;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;z-index:-1;}
table#tblmenubar{background-color:#FFFFFF;border-collapse:collapse;padding:1px 1px 1px 1px;}
table#tblmenubar td{color:#000080;cursor:default;font-size:12px;padding:1px 1px 1px 1px;text-align:center;}
table#tblmenubar td.clsmenubaritem{cursor:pointer;font-weight:bold;}
.button1{background-color:#FFFFFF;border:1px #000000 solid;color:#000000;cursor:pointer;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
.button2{background-color:#FFFFEC;border:1px #000000 solid;color:#000000;cursor:pointer;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:11px;}
.button3{background-color:#000000;border:1px #C0C0C0 solid;color:#FFFFFF;cursor:pointer;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;}
.button4{background-color:#C0C0C0;border:1px #000000 solid;color:#000000;cursor:pointer;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;}
.buttonclose{background-color:#CC0000;border:1px #000000 solid;color:#FFFFFF;cursor:pointer;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
.buttonred{background-color:#FFFFFF;border:1px #800000 solid;color:#800000;cursor:pointer;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
.b_companyData{
	height: 20px; text-align: center;
	background-color:#ffffff; font-size:11px;
	padding-left: 3px; padding-right: 3px; cursor: pointer;
}

.b_windowCharge{
	height: 20px; text-align: center;
	background-color:#ffffff; font-size:11px;
	padding-left: 3px; padding-right: 3px; cursor: pointer;
}
.b_windowChargeEnd{
	height: 20px; text-align: center;
	background-color:#e9e9e9; font-size:11px;
	cursor: pointer;
	padding-right:0px; padding-left:0px;
} 
.selectFilter { color:#000000; font-size:11px; }
.inputdata{background-color:#F5F5F5;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;z-index:-1;}
.inputDataWhite{background-color:#ffffff;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;z-index:-1;}
.inputleft{background-color:#000000;border:1px #C0C0C0 solid;color:#FFFFFF;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
.inputprice{background-color:#E9E9E9;border:1px #000000 solid;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
.legalmsg{border-bottom:1px solid #C0C0C0;border-top:1px solid #C0C0C0;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;height:100px;overflow-y:scroll;padding:4px 2px 4px 2px;scrollbar-3dlight-color:#C0C0C0;scrollbar-arrow-color:#909090;scrollbar-darkshadow-color:#E1E1E7;scrollbar-face-color:#E1E1E7;scrollbar-highlight-color:#E1E1E7;scrollbar-shadow-color:#C0C0C0;scrollbar-track-color:#E1E1E7;width:99%;}
.listcard{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:11px;font-weight:bold;text-decoration:none;}
.menu{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;}
.menuitems{color:#000000;cursor:pointer;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;padding-right:4px;width:134px;}
.menuitemseng{color:#000000;cursor:pointer;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;padding-right:4px;width:156px;}
.menuskin{background-color:#E1E1E7;border:1px solid #B4B4B4;border-right:0px solid #B4B4B4;filter:progid:DXImageTransform.Microsoft.Alpha( style=0,opacity=90);left:1px;line-height:18px;padding:4px;position:absolute;top:1px;visibility:hidden;width:130px;z-index:100;}
.menuskineng{background-color:#E1E1E7;border:1px solid #B4B4B4;border-left:0px solid #B4B4B4;filter:progid:DXImageTransform.Microsoft.Alpha( style=0,opacity=90);left:1px;line-height:18px;padding:4px;position:absolute;top:1px;visibility:hidden;width:160px;z-index:100;}
.paging_currentpage{background-color:#242424;border:1px solid #242424;color:#FFFFFF;font-family:Verdana,Arial;font-size:11px;text-align:center;width:18px;}
.paging_otherpages{background-color:#D7D7D7;border:1px solid #D7D7D7;cursor:pointer;font-family:Verdana,Arial;font-size:11px;text-align:center;width:18px;}
.paging_pagenevigation{background-color:#D7D7D7;border:1px solid #D7D7D7;cursor:pointer;font-family:Verdana,Arial;font-size:11px;text-align:center;width:20px;}
.selectsmall{background-color:#FFFFFF;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;z-index:-1;}
.sitemap{color:#474747;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;text-decoration:none;}
.sitemap_eng{color:#474747;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;text-decoration:none;}
.tdrightall{background-color:#E1E1E7;height:100%;width:20%;}

.tdRightMember{background-color:#E1E1E7;border-left:1px solid #B4B4B4;height:100%;width:140px;}
.tdRightMenuEng{background-color:#E1E1E7;border-right:1px solid #B4B4B4;height:100%;width:154px;}
.HebMenuHelpTd{background-color:#E1E1E7;border-left:1px solid #B4B4B4;height:100%;width:140px;}

.txt10{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;}
.txt10b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;font-weight:bold;}
.txt11{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
.txt11b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;}
.txt11nb{color:#191970;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
.txt12{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;}
.txt12b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;}
.txt13{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;}
.txt13b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;font-weight:bold;}
.txt14{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;}
.txt14b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;font-weight:bold;}
.txt15{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15px;}
.txt15b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:15px;font-weight:bold;}
.txt16{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;}
.txt16b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;font-weight:bold;}
.txt18b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:18px;font-weight:bold;}
.txt20{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:20px;}
.txt20b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:20px;font-weight:bold;}
.txt22{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:22px;}
.txt22b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:22px;font-weight:bold;}
.txt24{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:24px;}
.txt24b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:24px;font-weight:bold;}
.txt28{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:28px;}
.txt28b{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:28px;font-weight:bold;}
.txt40{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:40px;}
.txt48{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:48px;}
.txt8{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8px;}
.txt9{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;}
.txta{color:#000000;font-family:arial;font-size:12px;text-decoration:none;}
.txthead{color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;}
#mouseoverstyle{background-color:#F5F5F5;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;}
#mouseoverstyleeng{background-color:#F5F5F5;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;}
.DataHeading{color: #356691;font-family:arial;font-size:12px;text-decoration:none;}
		.Bsum{
			background-image: url("../images/icon_sum.gif");
			background-repeat: no-repeat; background-position: 105px; 
			width: 123px; height: 24px; text-align: left;
			background-color:#e9e9e9; font-size:11px;
			padding-left: 3px; padding-right: 3px; cursor: hand;
		}
H6 {font-size:13px; font-weight:bold;}

/* Admin pages */
#pageMainHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; font-weight:bold; text-transform:uppercase; color:#2566AB; padding:0px; margin:0px; }
#pageMainHeading span { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; font-weight:normal; color:#000000; padding:0px; margin:0px; }
#pageMainSubHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#000000; padding:0px; margin:0px; }
#pageSecurityHeading { font-weight:bold; font-size:11px; color:#ffffff;background-color:#2566AB;  padding-left:3px; padding-right:3px; border:1px solid #000000; }