﻿BODY { font-family:Verdana,Arial,Helvetica,sans-serif;  direction:rtl; margin-top:10px; }
FORM { margin:0; padding:0; }
a img { border:none;}

.itext { scrollbar-3dlight-color:#000000;scrollbar-arrow-color:#909090;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#000000;scrollbar-track-color:#F3F3F3; }
.itextm3 { scrollbar-3dlight-color:#C0C0C0;scrollbar-arrow-color:#C0C0C0;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#F5F5F5;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#C0C0C0;scrollbar-track-color:#F5F5F5;}

/* tables  */
.formThin Table { padding:0px; margin:0px; border:0px; }
.formThin Th { font-size:12px; color:#003366; text-decoration:underline; text-align:right; }
.formThin Td { font-size:12px; color:#000000; text-align:right; }
.formThin Input { font-size:12px; color:#000000; background-color:#f5f5f5; }
.formThin Input[type='submit'] { font-size:12px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formThin Select { font-size:12px; color:#000000; background-color:#f5f5f5; }

.formNormal Table { padding:0px; margin:0px; border:0px; }
.formNormal Th { font-size:12px; color:#000000; text-align:right; padding:0px 4px 0px 4px; border-bottom:1px solid gray; font-weight:bold; vertical-align:bottom; background-color:#e9e9e9; }
.formNormal Td { font-size:12px; color:#000000; text-align:right; padding:0px 4px 0px 4px; }
.formNormal Td.Numeric { font-size:11px; direction:ltr; }
.formNormal Td A{ color:#000000; font-size:12px; text-decoration:underline; }
.formNormal Input { font-size:12px; color:#000000; background-color:#f5f5f5; }
.formNormal Input[type='submit'] { font-size:12px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formNormal Select { font-size:12px; color:#000000; background-color:#f5f5f5; }

/* Security  */
.pageSecurityNumOn { font-family:Aria; font-weight:bold; font-size:14px; color:#f5f5f5; background-color:#2566AB; padding-left:3px; padding-right:3px; margin:1px; border:1px solid #000000; }
.pageSecurityNumOff { font-family:Aria; font-weight:bold; font-size:9px; color:#f5f5f5; background-color:#ffbf72; padding-left:3px; padding-right:3px; margin:1px; border:1px solid #000000; }

/* pages heading  */
#pageMainHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; font-weight:bold; text-transform:uppercase; color:#2566AB; padding:0px; margin:0px; }
#pageMainHeading span { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; font-weight:normal; color:#000000; padding:0px; margin:0px; }
#pageMainSubHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#000000; padding:0px; margin:0px; }
#pageSecurityHeading { font-weight:bold; font-size:11px; color:#ffffff;background-color:#2566AB;  padding-left:3px; padding-right:3px; border:1px solid #000000; }

/* main page  */
.sectionHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:16px; font-weight:bold; color:#2566AB; padding:0px; margin:0px; }
.subSectionHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; color:#000000; padding:0px; margin:0px; }