﻿body { font-family:Verdana,Arial,Helvetica,sans-serif; direction:ltr; }
FORM { margin:0; padding:0; }
TABLE { margin:0; padding:0; }
a img { border:none;}
a { color:#000000; font-size:11px; text-decoration:underline; cursor:pointer; }

.formNormal Table { border:0px; direction:ltr; }
.formNormal Th { font-size:10px; color:#000000; text-align:left; padding:0px 4px 0px 4px; border-bottom:1px solid gray; font-weight:bold; vertical-align:bottom; background-color:#e9e9e9; }
.formNormal Td { font-size:10px; color:#000000; text-align:left; padding:0px 4px 0px 4px; }
.formNormal Td.Numeric { font-size:10px; direction:ltr; }
.formNormal Td A{ color:#000000; font-size:10px; text-decoration:underline; }
.formNormal Input { font-size:10px; color:#000000; background-color:#f5f5f5; }
.formNormal Input[type='submit'] { font-size:10px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formNormal Input[type='button'] { font-size:10px; color:#000000; background-color:#e5e5e5; cursor:pointer; }
.formNormal Select { font-size:10px; color:#000000; background-color:#f5f5f5; }

#pageMainHeading{ font-size:11px; font-weight:bold; color:#FF8000; text-transform:uppercase; padding:0px; margin:0px; }