﻿/* TRANSACTIONDETAILS IFRAME */

.table-iframe {width: 100%; height: 100%; background-color: #efefef; background-image: url(../../images/arrow-invert.png); background-repeat: no-repeat; background-position: 9px 0px;}
.table-iframe .table-iframe-content{padding: 30px 10px 10px 20px;}
.table-iframe .table-iframe-content table {font-size: 0.9em;  line-height: 21px; margin-left: 10px; width: 100%;}
.table-iframe .table-iframe-content table td {padding-right: 30px;}
.table-iframe .table-iframe-content table td a:link {font-size: 12px; color: #000000; vertical-align: middle;}
.table-iframe .table-iframe-content table td a:visited {color: #000000;}
.table-iframe .table-iframe-content table td a:hover {color: #000000; text-decoration: underline;}
.table-iframe .table-iframe-content table td a:active {color: #000000;}

.table-iframe .table-iframe-content table td span.SmallHeadings {min-width:60px; display:inline-block; font-size: 12px; }
.table-iframe .table-iframe-content table div.MainHeadings {color: #076699; font-weight:bold; white-space:nowrap;}
.table-iframe .transActionBar {background-color: #dddddd; width: 100%; margin-left: 20px; padding-left: 20px; height: 15px; padding: 5px;}
.table-iframe .transActionBar td a {display: inline; padding-right: 10px; padding-left: 15px; background: url(../../images/list-type.png) no-repeat left; cursor:pointer;text-decoration:none; color: #4b4b4b; }
.table-iframe .transActionBar img {padding-right: 10px; vertical-align: middle;}

.disabled
{
    color: #808080;
    cursor: auto;
    text-decoration: none;
}

