﻿th.sortedColumn
{
	background-color:#EFEFEF;
	color:Black;
	font-size:14px;
	padding:5px;
	text-align:center;
	white-space: nowrap;
}

span.unsortedColumn
{
	background-color:#EFEFEF;
	color:Black;
	font-size:13px;
	padding:5px;
	text-align:center;
	padding: 0px;
}

a.sortedColumnLink
{
	color:Black;
}

a.sortedColumnLink disabled
{
	color:Black !important;
	text-decoration:none !important;
}
