﻿<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="Form.ascx.cs" Inherits="Netpay.Admin.Settlements.Form" %>
<admin:FormSections runat="server" Title="Settlement">
    <netpay:Totals runat="server" PayID='<%# PayID %>' HideTitle="true" />
</admin:FormSections>
