﻿@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
*,
*:before,
*:after,
form {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
/* Fix IE 8 7 6 */
header,
nav,
section,
article,
aside,
footer {
  display: block;
}
ul {
  display: block;
  padding: 0;
}
h2 {
  font-size: 19px;
  font-weight: lighter;
  color: #076699;
  padding: 10px 0 10px 0;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
}
body,
html {
  background-color: #e9e9e9;
  height: 100%;
  font-family: Arial;
}
input[type=button],
input[type=submit] {
  background-color: #076699;
  border: 0;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  text-transform: uppercase;
}
input[type=text],
input[type=password],
input[type=email],
select {
  border: 1px solid #ccc;
  height: 29px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: url('../Images/input-background.png') repeat-x;
  font-size: 13px;
  color: #545454;
  padding: 0 10px;
}
input:focus {
  border: 1px solid #91a244;
}
.spacer {
  clear: both;
}
.header-top {
  width: 100%;
  height: 34px;
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
}
.clip {
  background: url('../Images/clip.png') no-repeat;
  width: 100%;
  height: 98px;
  background-position: center;
  position: relative;
  top: 24px;
  z-index: 2;
}
#container {
  width: 662px;
  min-height: 150px;
  position: relative;
  clear: left;
  background-color: #fff;
  margin: 0 auto;
  z-index: 1;
}
.wrap-content {
  padding: 6px;
  height: 100%;
}
#content {
  border: 1px solid #ededed;
  background-color: #fafafa;
  height: 100%;
}
#content .logos {
  padding: 15px 10px 15px 10px;
}
#content .logos .logo {
  float: left;
  width: 114px;
  height: 26px;
  background: url('../Images/logo.png');
}
#content .logos .facebook-logo {
  float: right;
  width: 114px;
  height: 26px;
  background: url('../Images/logo-facebook.png');
}
.content-section {
  width: 100%;
  background-color: #fff;
  font-family: Arial, Helvetica Neue, sans-serif;
  font-size: 13px;
  color: #545454;
  margin: 2px 0 0;
  padding: 10px;
  min-height: 75px;
}
.content-section .table-section {
  display: table;
  line-height: 45px;
  padding-bottom: 10px;
}
.content-section .table-section .tr-table {
  display: table-row;
}
.content-section .table-section .tr-table img {
  vertical-align: middle;
  border: 1px solid #c9c9c9;
  margin-left: 5px;
}
.content-section .table-section .tr-table .td-cell-text {
  display: table-cell;
  padding-right: 10px;
}
.content-section .table-section .tr-table .td-cell {
  display: table-cell;
}
.error-notifaction {
  width: 97%;
  background-color: #ffcece;
  border: 1px solid #df8f8f;
  height: 40px;
  font-family: Arial;
  color: #545454 !important;
  font-size: 12px;
  text-transform: none;
  font-weight: 700;
  line-height: 41px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  background-image: url('../Images/error-icon.png');
  background-repeat: no-repeat;
  padding-left: 30px;
  margin: 10px;
}
.error-notifaction img {
  vertical-align: middle;
}
.success-notifaction {
  width: 97%;
  background-color: #d5ffce;
  border: 1px solid #9adf8f;
  height: 40px;
  font-family: Arial;
  color: #545454 !important;
  font-size: 12px;
  text-transform: none;
  font-weight: 700;
  line-height: 41px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  background-image: url('../Images/thick-icon.png');
  background-repeat: no-repeat;
  padding-left: 30px;
  margin: 10px;
}
.success-notifaction img {
  vertical-align: middle;
}
.info-notifaction {
  width: 97%;
  background-color: #cbdeff;
  border: 1px solid #75bcf8;
  height: 40px;
  font-family: Arial;
  color: #545454 !important;
  font-size: 12px;
  text-transform: none;
  font-weight: 700;
  line-height: 41px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  background-image: url('../Images/info-icon.png');
  background-repeat: no-repeat;
  padding-left: 30px;
  margin: 10px;
}
.info-notifaction img {
  vertical-align: middle;
}
.field_40 {
  width: 40px;
}
.field_80 {
  width: 80px;
}
.field_385 {
  width: 385px;
}
.wrap-button {
  float: left;
  padding-left: 395px;
}
.footer {
  position: relative;
  clear: left;
  width: 642px;
  margin: 0 auto;
  padding: 0 0 20px;
}
.footer-shadow {
  background: url('../Images/sprite.png') no-repeat -24px -130px;
  width: 642px;
  height: 25px;
  position: relative;
  clear: left;
  margin: 0 auto;
}
.footer .card {
  float: right;
  background: url('../Images/sprite.png') no-repeat -22px -94px;
  width: 286px;
  height: 24px;
}
.footer .copyright {
  float: left;
  color: #757575;
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
}
div.LanguageDropdown {
  color: #545454;
  width: 143px;
  position: relative;
  height: 17px;
  text-align: left;
  left: 1%;
}
div.LanguageDropdown div {
  background: #fff;
  position: absolute;
  top: -12px;
  left: -20px;
  z-index: 100;
  width: 135px;
  display: none;
  margin-left: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  padding: 40px 0 5px;
}
div.LanguageDropdown div li a {
  color: #545454;
  display: block;
  font-family: arial;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  padding: 6px 15px;
  list-style-type: square;
}
div.LanguageDropdown div li a:hover {
  background-color: #076699 !important;
  color: #FFF;
  text-decoration: none;
}
div.LanguageDropdown a.SelectedText {
  font-size: 11px;
  line-height: 16px;
  color: #545454;
  position: absolute;
  z-index: 110;
  display: block;
  height: 28px;
  width: 125px;
  text-decoration: none;
  background: url('../Images/arrow-language.png') 116px 17px no-repeat;
  cursor: pointer;
  margin: -5px 0 0 -10px;
  padding: 11px 0 0 11px;
}
.langSelector {
  cursor: pointer;
  border: 0 solid #000000;
  font-size: 12px;
  width: 100%;
  padding-left: 10px;
  height: 30px;
  text-transform: capitalize;
  list-style-type: none;
  line-height: 30px;
  background-color: #ffffff;
}
/* PaymentSolutions */
.PaymentSolutions-header {
  min-height: 50px;
  background-color: #e9e9e9;
  text-transform: uppercase;
  color: #545454;
  line-height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  display: block;
  margin: 0;
  margin: 20px 0 0 0;
}
.PaymentSolutions-header .arrow-close {
  float: right;
  background: url('../Images/arrow-close.png');
  width: 8px;
  height: 15px;
  top: 22px;
  right: 17px;
  position: relative;
}
.PaymentSolutions-header .arrow {
  float: right;
  background: url('../Images/arrow.png');
  width: 15px;
  height: 8px;
  top: 22px;
  right: 17px;
  position: relative;
}
.PaymentSolutions-header .text {
  float: left;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  font-size: 18px;
}
.line-hr {
  background: url('../Images/line.png') repeat-x;
  width: 614px;
  height: 2px;
  margin: 10px 0 10px 10px;
  border: 0;
}
.install-app,
.install-app:link,
.install-app:active,
.install-app:visited {
  background-color: #076699;
  border: 0;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
}
.install-app:hover {
  background-color: #076699;
  border: 0;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: underline;
}
.top-bar .logo {
  float: left;
  background: url("../images/sprite.png") no-repeat scroll -18px -7px transparent;
  width: 198px;
  height: 60px;
}