﻿body {
}

@maincolor: #42A3E4;
@sub-color: #42A3E4;

.logo-mini {background: url('../Tmp_Netpayintl/images/logo-mini.png'); background-repeat: no-repeat;}

@import url('../../Styles/dashboard.less');