﻿<%@ Page Title="Menu" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="mobileAdmincash._default" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <br /><br />
	<div>
		<a href="WireConfirm.aspx" class="menu">APPROVING WIRES</a><br />
		<br />
		<a href="BlackList.aspx" class="menu">BLACK LIST</a><br />
		<br />
		<a href="ChargeAttempts.aspx" class="menu">CHARGE ATTEMPTS</a><br />
		<br />
		<a href="Transactions.aspx" class="menu">TRANSACTIONS</a><br />
		<br />
		<a href="ErrorLog.aspx" class="menu">BLL LOG</a><br />
    </div>
</asp:Content>
