﻿<%@ Page Language="C#" Title="Login" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="mobileAdmincash.Login" MasterPageFile="~/Site.Master" %>

<asp:Content ContentPlaceHolderID="MainContent" runat="server">
    New
    <br /><netpay:Login runat="server" ID="netpayLogin" UserType="Admin" SaveCockie="true" OnLoginSuccess="netpayLogin_LoginSuccess" />
</asp:Content>
