﻿<%@ Page Title="Logout" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Logout.aspx.cs" Inherits="mobileAdmincash.Logout" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <br /><br />
	<center>You are now logged out of the site</center>
</asp:Content>
