﻿<%@ Page Title="Security Error" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="SecurityError.aspx.cs" Inherits="mobileAdmincash.SecurityError" %>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    You don't have permission to view this page.
</asp:Content>
