﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <pre><%=Request.ServerVariables["ALL_RAW"]%></pre>
</body>
</html>
