﻿/* DEFAULTS
----------------------------------------------------------*/
* { box-sizing: border-box; margin: 0px; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; }
body { background: #fff; font-size: .80em; font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif; margin: 0px; padding: 0px; color: #696969; }
form { padding:0; margin:0; }
table { padding:0; margin:0; }
a:link, a:visited { color: #034af3; }
a:hover { color: #1d60ff; text-decoration: none; }
a:active { color: #034af3; }

p { margin-bottom: 10px; line-height: 1.6em; }
TH { text-align: left; }

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { font-size: 1.5em; color: #666666; font-variant: small-caps; text-transform: none; font-weight: 200; margin-bottom: 0px; }
h1 { font-size: 1.6em; padding-bottom: 0px; margin-bottom: 0px; }
h2 { font-size: 1.5em; font-weight: 600; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

div.header { margin: 0px; padding: 2px 6px 0px 6px; background: #4b6c9e; color: #f9f9f9; position: fixed; top: 0px; height:30px; width: 100%; }
div.header A { font-weight: 500; color: #f9f9f9; text-decoration:underline; }
div.filter { padding: 6px 10px; margin: 0px; border-bottom: 1px solid #C0C0C0; background-color:#E0E0E0; }
div.main { padding: 0px 12px; margin: 15px 0px 8px 0px; }
div.footer { color: #4e5766; width:100%; margin: 0px auto; text-align: center; line-height: normal; height:33px; position:fixed; bottom:0px; background-color:#e5e5e5; padding:2px 4px; border:1px solid #b5b5b5; }


/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset { margin: 1em 0px; padding: 1em; border: 1px solid #ccc; }
fieldset p { margin: 2px 12px 10px 10px; }

.menu { color: #034af3; text-transform:capitalize; }
.menu:hover { color: #1d60ff; text-transform:capitalize; }

.filterBtn { font-size:11px; height:22px; margin:0; padding:0 2px;}


/* Data Table   
----------------------------------------------------------*/
table.DataTable { width:100%; }
table.DataTable h3 { font-size:19px; font-weight:bold; padding-bottom:8px; }
table.DataTable th { font-size:13px; font-weight:normal; text-decoration:underline;  }
table.DataTable td { font-size:12px; font-weight:normal;  }
table.DataTable .SecHeading { font-size:13px; font-weight:bold; }

#tblWire { width:100%; }