﻿.pageItemHelp
{
	border:0px;
	cursor: help;
}		

.pageItemHelpCell
{
	padding: 5px;
	border: 1px solid #FFCC00;
	font-size: 12px !important;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFCC !important;
}

.pageItemHelpTable
{
	display: none;
	position:absolute;
}