﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Callback.aspx.cs" Inherits="Netpay.PaymentPage.Hosted.GoogleCheckout.Callback" %>
<script type="text/C#" runat="server">
    protected override void OnLoad(EventArgs e)
    {
        base.OnLoad(e);
        Response.Write("Params");
        Response.Write(Request.QueryString);
        Response.Write("<br/>");
        Response.Write(Request.Form);
    }
</script>
