﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Frame.aspx.cs" Inherits="Netpay.PaymentPage.Hosted.GoogleCheckout.Frame" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head runat="server">
		<title></title>
	</head>
	<body>
        <asp:Literal id="ltFormData" runat="server" />
		<script type="text/javascript"> document.forms["BB_BuyButtonForm"].submit(); </script>
	</body>
</html>