﻿

/* General */

*,form              {margin:0}
#logo               {background:url(../../../../website/images/Q&A.png) no-repeat;width:458px;height:51px;margin:10px 0 4px 30px}
body                {background:url(../../../../website/images/pattern.png);direction:ltr;font-family:Arial;overflow:hidden;margin:0}
h1                  {font-size:12px;margin:0}
h2                  {font-size:15px;padding-left:6px;padding-top:10px;margin:0}
h3                  {color:#f60;font:12px arial,helvetica,sans-serif;font-weight:700;margin:0;padding:0 0 .6em}
.top-nav            {background:url(../../../../website/images/Gradient-mobile.png) repeat-x scroll 0 0 transparent;height:30px;color:#fff;font-size:.7em;text-align:right;-webkit-box-shadow:1px 1px 6px rgba(120,120,120,0.75);-moz-box-shadow:1px 1px 6px rgba(120,120,120,0.75);box-shadow:1px 1px 6px rgba(120,120,120,0.75);padding:7px 0 0}
.links-faq          {color:#fff;text-decoration:none;font-size:12px;font-weight:700}
.links-faq a:hover  {color:#fff;text-decoration:underline}
.faq                {font-size:14px;color:#4d4d4d}
p                   {font-size:12px;line-height:1.9em;color:#4d4d4d;margin:0;padding:10px}
.faq-question       {color:#076699;font:12px arial,helvetica,sans-serif;font-weight:700; background-image: linear-gradient(bottom, rgb(235,235,235) 11%, rgb(245,245,245) 56%, rgb(255,255,255) 78%);background-image: -o-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(245,245,245) 56%, rgb(255,255,255) 78%); background-image: -moz-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(245,245,245) 56%, rgb(255,255,255) 78%); background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(245,245,245) 56%, rgb(255,255,255) 78%); background-image: -ms-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(245,245,245) 56%, rgb(255,255,255) 78%); background-image: -webkit-gradient( 	linear, 	left bottom, 	left top, 	color-stop(0.11, rgb(235,235,235)), 	color-stop(0.56, rgb(245,245,245)), 	color-stop(0.78, rgb(255,255,255)) );cursor:help;border-color:#ececec;padding:3px 10px 4px}
.top-header         {background:url(../../images/top-nav.png);background-repeat:repeat-x;height:31px}
.section            {position:relative;min-height:40px;background-color:#fff;-webkit-box-shadow:1px 1px 6px rgba(120,120,120,0.75);-moz-box-shadow:1px 1px 6px rgba(120,120,120,0.75);box-shadow:1px 1px 6px rgba(120,120,120,0.75)}
.spacer             {clear:both}
.orange-color       {color:#f60}
.grey-color         {color:#a7a7a7}
.grey-color-link    {color:#a7a7a7;font-weight:700;text-decoration:none}
.align-left         {float:left}
.align-right        {float:right}
.bold               {font-weight:700;color:#4d4d4d}
#mydiv5             {font-size:.8em;line-height:26px}
.head-faq           {color:#f60;font:1em arial,helvetica,sans-serif;font-weight:700;padding:0 0 .6em}
.head-faq-arrow     {margin-right:6px}
.faq-align-left     {float:left;padding-right:15px}
.links-faq a:link,.links-faq a:visted {color:#fff;text-decoration:none}