﻿	*, form { margin: 0; padding: 0;  } /*font-size: 12px;*/
	body { font-family: Arial; color: #333333; background-color: White; width: 400px; }
	H1 { font-size: 20px; color: #C0C0C0; font-weight: bold; height: 40px; }
	A { color: #3B79C5; }
	INPUT, TEXTAREA, SELECT { font-size: 12px;  color: #485257; vertical-align: top; padding: 5px 10px; }
	input.option {vertical-align:middle; background-color:transparent;}
	Table.Form INPUT, Table.Form TEXTAREA, Table.Form SELECT { }
	Table { font-size: 12px; }
	Table.Form { }

	Table.ImageRadioList TD { text-align:center; }
	Table.ImageRadioList DIV { cursor:pointer; background-color:inherit; border:solid 2px #F5F5F5; margin-right:3px; margin-bottom:3px; height:70px; }
	Table.ImageRadioList DIV.MouseOver { background-color:#F5F5F5; }
	
	Span.asterisk { color:#000000; padding:0px 2px; font-weight:bold !important; font-size:13px !important; }
	Span.Required { color: Red; }

	.mainHeading { text-align:center; font-weight: bold; font-size: 12px; text-transform: uppercase; color: #666666; }
	.subHeading { font-weight: bold; }
	.PayByMsg { text-align:center; font-size:12px; color:Navy; }
	.MerchantTopMsg { font-size:13px; }
	.PayForBox{ background-color:#f5f5f5; }
	.PayingMethodOn { border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5; background-color:#f5f5f5; padding: 1px 4px; color: #CECECE; text-decoration: underline; }
	.PayingMethodOn span { color:#333333; }
	.PayingMethodOff { border-left:1px solid #c5c5c5; border-right:1px solid #c5c5c5; background-color:#ffffff; padding:1px 4px; color:#333333; text-decoration:none; }

	/*
    .PayingMethodLink a { color: #D3D3D3; }
	.PayingMethodLink span { color: #336699; text-decoration:underline; }
    */
    
	.MainSelectTxtHead { font-weight:bold; font-size:13px; }
	.MainSelectTxtBody { font-weight:normal; font-size:12px; }

	TR.Header { background-color: Black; color: Silver; }

	Table.Inner { margin: 0 8px;  padding: 0;}
	Table.PayMsg td { font-size: 14px; font-weight: bold; color: #000000; }
	
	A.PspBox { border: 1px solid #ACACAC; padding:0px; }
	
	Table.Footer { margin:0 auto; }
	Table.Footer TD { font-weight: bold; color: #666666; text-align:center; }

	Table.FormView  { padding: 1px; margin: 1px; border: 0px; }
	Table.FormView Th { color: #996633; font-size: 13px; padding-bottom: 5px; padding-top: 20px; } /*Language dependent*/
	Table.FormView Td { color: #485257; font-size: 13px; }
	Table.FormView Td.Heading { font-weight: bold; font-size: 12px; color: #161616; text-transform: uppercase; padding-bottom: 3px; padding-top: 20px; }
	Table.FormView Input { width: 98%; font-size: 13px; border: 1px silver solid; color: #000000; font-family: Verdana,Arial, Helvetica, sans-serif; }
	Table.FormView Input.distinct { width: 20px !important; border: 0px; }
	Table.FormView Span.distinct Input { width: 20px !important; border: 0px; }
	Table.FormView Select { width: 180px; font-size: 12px; border: 1px silver solid; color: #000000; background-color: white; font-family: Verdana,Arial, Helvetica, sans-serif; }
	INPUT.Button { font-size: 11px; color: #000000; background-color: #e5e5e5; cursor: pointer; }

	.FormButton { width: 100px; font-size: 13px; border: 1px silver solid; color: #000000; font-family: Verdana,Arial, Helvetica, sans-serif; cursor:pointer;}

	Div.langSelector { cursor: pointer; border:0px solid #000000; width:100%; height:17px; padding-top:3px; background-color:#ffffff; } /*Language dependent*/
	Span.langSelector { text-decoration:underline; }

	.ValidSummery {background-color: #f5f5f5; color: Black !important; padding: 5px; border: 1px dotted maroon; margin-bottom: 20px;
					background-image: url('/NPCommon/Images/alert_small.png'); background-repeat: no-repeat; background-position: top; } /*Language dependent*/
		
	.MethodTypeTitle { border: 1px solid #E1E1E1; background-color: #f8f8f8; }
	#imgMerchantLogo  {display: none;}

	#ctl00_ctl00_body_body_payControl_txtCCInput1 {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_wcExpirationMonth {width: 40% !important;}
	#ctl00_ctl00_body_body_payControl_wcExpirationYear {width: 40% !important;}
	#ctl00_ctl00_body_body_payControl_billingAddress_txtBillingAddressZipCode  {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_txtCardholderName {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_txtSecurityNumber {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_billingAddress_txtBillingAddress  {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_billingAddress_txtBillingAddressCity  {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_billingAddress_txtBillingAddress2 {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_billingAddress_ddBillingAddressCountry {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_billingAddress_ddBillingAddressState {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_personalDetails_txtPhone {width: 98% !important;}
	#ctl00_ctl00_body_body_payControl_personalDetails_txtEmail {width: 98% !important;}

	.amount-proudct {background-color: #ccc; font-weight: normal; padding: 5px;}