﻿body { direction:rtl; }
.reverse { text-align:left; }

Table.FormView Th, Table.Form TH { text-align:right!important; }

Div.langSelector { text-align:right!important; }

.ValidSummery { padding-right:34px; background-position:right; }

.columnSeparator {border-right:1px solid Silver;}