﻿@import url('https://fonts.googleapis.com/css?family=Lato:100,300');
h3 {
  text-align: right;
}
#logo {
  text-align: right;
}
p.welcome-msg {
  text-align: right;
  font-size: 15px;
}
.search-button {
  float: left;
}
.header-curren {
  float: left;
}
.header-territory {
  float: left;
  padding: 0px 8px 0px 0 !important;
}
.top-cart-wrapper {
  float: left;
}
ul.links {
  float: left;
  direction: rtl;
}
ul.links li {
  padding: 0px 0 0px 12px;
}
.thumbnail {
  padding: 5px !important;
}
.form-group {
  text-align: right;
}
.btn-cons-short {
  margin: 0 0 0 10px;
}
#footer-content ul {
  text-align: right;
  direction: rtl;
}
#footer-content p {
  text-align: right;
  direction: rtl;
}
#footer-content h5 {
  direction: rtl;
}
.language_curency .fa {
  margin: 0 10px 0 0 !important;
}
.language_territory .fa {
  margin: 0 10px 0 0 !important;
}
.flag {
  background-position: 80% 48% !important;
  padding: 0 35px 0 10px !important;
}
ul.links li a {
  font-size: 15px;
}
.photostack {
  direction: ltr;
}
.text-align-left {
  text-align: right;
}
.text-align-right {
  text-align: left;
}
.fa-angle-left:before {
  content: "\f105";
}
.fa-angle-right:before {
  content: "\f104";
}
.ulpropertieslist li {
  float: right;
}
.left-inner-addon input {
  padding-right: 30px !important;
}
.tt-input {
  text-align: right !important;
  direction: rtl;
}
.description {
  text-align: right !important;
  direction: rtl;
}
.cart-product-wrap {
  text-align: right;
}
.cart-total {
  border-right: 1px solid #EEE;
  border-left: none;
  padding: 0 0 0 10px;
  margin: 10px 0px;
}
.cart-payment {
  padding: 0 0 0 10px;
  margin: 10px 0px;
  text-align: left;
}
.text-right {
  text-align: left;
}
