﻿.dragDropSelectorBox
{
	border: 1px solid #000000; 
	padding: 5px;	
	overflow: auto;
}

.dragDropSelectorBoxActive
{
	background-color: #eaeaea;
}

.dragDropSelectorBoxHover
{
	background-color: #dddddd;
}

.dragDropSelectorItem
{
    background-color: #F0F0FF;
    border: 1px dotted #000000;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 1px 2px;
}