﻿Table.LegendView { background-color:White; padding:1px; z-index: 1; font-size: 0.8em; }
Table.LegendView TH
{
	border: none;
	background-color: White;
	font-weight: normal;
	font-size: 12px Arial;
	color: #414141;
	text-align:left;
}
Table.LegendView TD { }

.RequestStatus_Batched { background-color:#66cc66; }
.RequestStatus_AdminCancele { background-color:#ff6666; }
.RequestStatus_CreatedAccepted { background-color:#66cc66; }
.RequestStatus_Pending { background-color:#7d7d7d; }
.RequestStatus_Processed { background-color:#66cc66; }
.RequestStatus_InProgress { background-color:#6699cc; }
.RequestStatus_SourceMerchant { background-color:#ff6666; }

.WireStatus_New { background-color:#E0E0E0; }
.WireStatus_Canceled { background-color:#808080; }
.WireStatus_Pending { background-color:#FFC62F; }
.WireStatus_Sent { background-color:#66cc66; }
.WireStatus_Completed { background-color:#66cc66; }
