﻿<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="Main.Master.cs" Inherits="Netpay.PaymentPage.Designs.Mobile.Main" %>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head runat="server">
        <title runat="server"></title>
		<asp:PlaceHolder runat="server">
			<link type="text/css" href="<%=WebUtils.ApplicationPath%>/Scripts/jquery-ui-1.8.10.custom/css/custom-theme/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
			<script type="text/javascript" src="<%=WebUtils.ApplicationPath%>/Scripts/jquery-ui-1.8.10.custom/js/jquery-1.4.4.min.js"></script>
			<script type="text/javascript" src="<%=WebUtils.ApplicationPath%>/Scripts/jquery-ui-1.8.10.custom/js/jquery-ui-1.8.10.custom.min.js"></script>
			<script type="text/javascript" src="<%=WebUtils.ApplicationPath%>/Scripts/jquery-ui-1.8.10.custom/js/jquery.ui.datepicker-he.js"></script>
		</asp:PlaceHolder>
		<netpay:ScriptManager runat="server" />
		<asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
		<script type="text/jscript" >
			$(document).ready( function () { netpay.Blocker.init(true, { opacity:30 }); } );
		</script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	</head>
	<body onload="focus();">
		<form id="form1" runat="server" style="margin:0px;padding:0px;">
			<table cellspacing="0" cellpadding="0" border="0" style="width:96%; margin:0 auto;">
				<tr>
					<td align="center" style="border-bottom:3px solid gray;" height="40">
						<table class="Inner" style="direction:ltr;" width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td><asp:Image runat="server" ClientIDMode="Static" ID="imgMerchantLogo"/></td>
								<td style="text-align:right;padding:6px;">
                                    <asp:DropDownList id="ddlLanguageSelector" runat="server" DataTextField="DisplayName" DataValueField="Name" AutoPostBack="true" OnSelectedIndexChanged="LanguageSelector_SelectedIndexChanged" />
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td align="center" valign="top"><asp:ContentPlaceHolder ID="body" runat="server" /></td></tr>
				<tr>
					<td align="center">
						<table class="footer" id="tblFooter" runat="server">
							<tr>
								<td>
									<img src="/NPCommon/Images/IconCardList.jpg" alt="Secured web site by Godaddy" /><br />
									<asp:Literal ID="litBottomLine" runat="server" Text="<%$ Resources:Main, ltBottomLine %>" /><br />
								</td>
                            </tr>
							<%--<tr><td><br /><img src="/NPCommon/Images/GodaddySeal1024.gif" alt="Secured web site by Godaddy" /><br /></td></tr>--%>
						</table>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
