﻿body {
}

@maincolor: #C01B1C;
@tempPath:  '../Images/';
@import "../../../../../Designs/New/styles/facebook.less";
#content .logos .logo {width: 82px; height: 26px; background: url('../images/logo.png')}