﻿body {
}

@maincolor: #076699;
@tempPath:  '../Images/';

@import "../../../../../Designs/New/styles/style.less";
.top-bar .logo{float:left; background: url('../images/logo.png') no-repeat !important; width: 171px !important; height: 60px !important;}


