﻿table.pagerWhite {
    font-size: 11px;
}

    table.pagerWhite td {
        padding: 1px 10px;
        border: 1px solid silver;
        cursor: pointer;
        color: #939393;
        background-color: Black;
    }

        table.pagerWhite td.on {
            background-color: #555555;
        }

    table.pagerWhite th {
        padding: 1px 10px 2px;
        border: 1px solid silver;
        font-weight: normal;
        color: #939393;
        background-color: #555555;
    }

.formNormal Td {
    border-bottom: 1pt solid gray;
    padding: 2px 4px 2px 4px;
}

.formNormal {
    border-collapse: collapse;
}

.pagerMsg {
    padding-top: 6px;
    color: #CCCCCC;
    background-color: transparent;
    font-size: 11px;
    text-align: left;
    padding: 0px 4px 0px 4px;
}

th.sortedColumn {
    font-size: 11px;
    background-color: #555555;
    text-align: left;
    padding: 4px 4px 4px 4px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    vertical-align: middle;
}

span.unsortedColumn {
    background-color: transparent;
    color: #CCCCCC;
    font-size: 11px;
    padding: 4px 4px 4px 4px;
    text-align: center;
}

a.sortedColumnLink {
    color: #CCCCCC;
    font-size: 11px;
    padding: 0px 4px 0px 4px;
}

    a.sortedColumnLink disabled {
        color: #CCCCCC;
        !important;
        font-size: 11px;
        text-decoration: none !important;
    }


/* Log page */
.logSeverityInfo {
    background-color: Green;
    color: White;
}

.logSeverityWarning {
    background-color: Orange;
    color: White;
}

.logSeverityError {
    background-color: Red;
    color: White;
}

body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: #000000;
    color: #CCCCCC;
    direction: ltr;
    margin-top: 10px;
}

.formFilter td {
    font-size: 11px;
}