﻿body { font-family: arial; font-size: 14px; margin: 0; }

/*	jQuery override */
.ui-datepicker { position: absolute; top: 0px; left: 0px; display: none; }
.ui-dialog { position: absolute; top: 0px; left: 0px; display: none; }

/*
th {font-size: 14px;
	text-align: center;
	padding: 5px;
	background-color:#EFEFEF;
	color: Black; }
th a {color: Black; }
*/

.managedPage { background-color: #414141; border: 0px solid white; color: white; cursor: pointer; height: 19px; margin: 3px; width: 20px; }
.negativeNumber { color: Red; }

td { text-align: left; padding: 0px; }
td.reportCell { border-bottom: 1px dotted #BFBFBF; }
td.numericCell { text-align: right !important; white-space: nowrap; }

span.count { color: #999999; }
.requestTimer { font-size: 12px; }
.error { color: Red; font-weight: bold; font-size: 20px; }
.ExportExcelTxt { font-size: 12px; color: #000000; text-align: left; }

.btnDownload { background-color: #ffffff; border: 1px solid gray; cursor: pointer; font-size: 11px; }

div.upperMenu { border: solid 1px black; width: 100%; height: 31px; background-color: #1c5a80; padding: 0; margin: 0; }
td.innerContent { border: solid 0px black; padding: 0px 20px; height: 100%; }
td.footer { border-top: solid 1px silver; width: 100%; padding: 4px 8px; margin: 0; font-size: 12px; background-color: #f5f5f5; }

.pageMainHeading { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; color: #2566AB; text-transform: uppercase; padding: 0px; margin: 0px; }
.pageSubHeading { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; color: #000000; padding: 0px; margin: 0px; }

div.title { text-align: left; margin-top: 22px; margin-bottom: 6px; text-transform: uppercase; }
div.filter { font-size: 12px; color: #000000; text-align: left; }

/* Regular table */
.formNormal table { padding: 0px; margin: 0px; border: 0px; direction: ltr; }
.formNormal th { font-size: 13px; color: #000000; text-align: left; padding: 2px 4px 2px 4px; border-bottom: 1px solid gray; font-weight: bold; vertical-align: bottom; background-color: #e9e9e9; }
.formNormal th.dark { font-size: 13px; color: #000000; text-align: left; padding: 2px 4px 2px 4px; border-bottom: 1px solid gray; font-weight: bold; vertical-align: bottom; background-color: rgb(216, 216, 216); }
.formNormal th.light { font-size: 13px; color: #000000; text-align: left; padding: 2px 4px 2px 4px; border: 1px solid #ABABAB; font-weight: normal; vertical-align: bottom; background-color: #ffffff; }
.formNormal th.vertical { text-align: right; vertical-align: middle; padding-bottom: 3px; padding-top: 2px; }
.formNormal th a { color: #000000; font-size: 13px; text-decoration: underline; }
.formNormal td { font-size: 13px; color: #000000; text-align: left; padding: 0px 4px 0px 4px; }
.formNormal td.numeric { font-size: 13px; direction: ltr; }
.formNormal td.underlined { border-bottom: 1px solid #e5e5e5; }
.formNormal td a { color: #000000; font-size: 13px; text-decoration: underline; }
.formNormal input { font-size: 13px; color: #000000; background-color: #f5f5f5; }
.formNormal textarea { font-size: 13px; color: #000000; background-color: #f5f5f5; }
.formNormal input[type='submit'] { font-size: 13px; color: #000000; background-color: #e5e5e5; cursor: pointer; }
.formNormal input[type='button'] { font-size: 13px; color: #000000; background-color: #e5e5e5; cursor: pointer; }
.formNormal Select { font-size: 13px; color: #000000; background-color: #f5f5f5; }

/* Filter table */
table.formFilter { padding: 5px; margin: 0px; border: 0px; direction: ltr; border: 1px solid #999999; background-color: #f9f9f9; }
table.formFilter th { font-size: 13px; color: #003366; text-align: left; padding: 0px 4px 0px 4px; background-color: #f9f9f9; font-weight: normal; vertical-align: bottom; }
table.formFilter td { font-size: 13px; color: #000000; text-align: left; padding: 0px 4px 0px 4px; }
table.formFilter td.Numeric { font-size: 13px; direction: ltr; }
table.formFilter td.underlined { border-bottom: 1px solid #e5e5e5; }
table.formFilter td a { color: #000000; font-size: 13px; text-decoration: underline; }
table.formFilter input { font-size: 11px; color: #000000; }
table.formFilter textarea { font-size: 13px; color: #000000; background-color: #ffffff; }
table.formFilter select { font-size: 13px; color: #000000; background-color: #ffffff; }
table.formFilter input[type='submit'] { font-size: 12px; color: #000000; background-color: #f5f5f5; cursor: pointer; }
table.formFilter input[type='reset'] { font-size: 12px; color: #000000; background-color: #f5f5f5; cursor: pointer; }
table.formFilter input[type='button'] { font-size: 12px; color: #000000; background-color: #f5f5f5; cursor: pointer; }

/* Summery table */
table.formSummary { padding: 5px; margin: 0px; border: 0px; direction: ltr; border-top: 1px solid #999999; background-color: #ffffff; }
table.formSummary th { font-size: 13px; color: #000000; text-align: right; padding: 0px 4px 0px 4px; background-color: #ffffff; text-decoration: underline; font-weight: normal; vertical-align: bottom; }
table.formSummary td { font-size: 13px; color: #000000; text-align: right; padding: 0px 4px 0px 4px; }
table.formSummary td.Numeric { font-size: 13px; direction: ltr; }
table.formSummary td.underlined { border-bottom: 1px solid #e5e5e5; }
table.formSummary td a { color: #000000; font-size: 13px; text-decoration: underline; }

/* file listing  */
td.fileListRecent { width: 25%; background-color: #f5f5f5; padding: 10px; border: 1px solid #e9e9e9; }
td.fileListRecent table { padding: 1px; margin: 0; }
td.fileListRecent table th { font-weight: bold; font-size: 13px; text-align: left; }
td.fileListRecent table td { padding-top: 4px; }

td.fileListHistory table { width: 100%; padding: 0px; margin: 0px; border: 0px; direction: ltr; background-color: #ffffff; }
td.fileListHistory th { font-size: 13px; color: #000000; text-align: left; padding: 0px 0px 0px 0px; background-color: #e9e9e9; border-bottom: 1px solid gray; font-weight: bold; vertical-align: bottom; }
td.fileListHistory td { font-size: 13px; color: #000000; text-align: left; padding: 0px 0px 0px 0px; }
td.fileListHistory td a { color: #000000; font-size: 12px; text-decoration: underline; }

/* Log page */
.logSeverityInfo { background-color: Green; color: White; }
.logSeverityWarning { background-color: Orange; color: White; }
.logSeverityError { background-color: Red; color: White; }

/* Filter View */
.fvHead {font-weight: bold; font-size: 12px; color: #000000;}
.fvSubHead {font-weight: normal; font-size: 12px; color: navy;}
.fvText {font-weight: normal; font-size: 12px; color: #000000;}

input.option, .option input { vertical-align: middle; }

.part-one-top {width:338px; background-image: url('Images/bg-mhala.png'); background-repeat: repeat-x;}
.part-two-top {background: url('Images/bg-logo.png'); width: 338px; height: 64px;}
.part-three-top {text-align:left; padding-right:100px; background-image: url('Images/bg-mhala.png'); background-repeat: repeat-x;}