﻿.PageItemComment
{
	border:0px;
}		

.PageItemCommentContent
{
	padding: 5px;
	border: 1px solid #FFCC00;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFCC;
	display: none;
	position:absolute;
	text-align: left;
}