﻿body {
}

@maincolor: #D61A21;
@sub-color: #bfbfbf;

.logo {background: url('../Tmp_MahalaUS/images/logo.png');}
.logo-mini {background: url('../Tmp_MahalaUS/images/logo-mini.png');}

@import url('../../Styles/dashboard.less');