﻿body { background:transparent!important; font-family:Arial, Helvetica, sans-serif; margin:0; padding:0; }
form { margin:0; padding:0; }
table.webControlsLogin td { font-size: 12px!important; color:#fff; line-height:10px!important;}
input, textarea { background:#fff; border:thin silver solid!important; height:20px!important; width:220px!important;}
.loginbtn { font-size:14px; font-weight:bold; color:#fff; background-color:#e46c0a; width:133px!important; height:25px!important; text-align:center!important; border:none!important;  }
.divLink { padding-top:6px; margin-left:5px; }
.divLink a { color:#ffffff; font-size:12px; }
