﻿body { background:transparent url('/NPCommon/images/outerLoginBkg.gif')!important; font-family:Arial, Helvetica, sans-serif; margin:0; padding:0;}
form { margin:0; padding:0; }
table.webControlsLogin td { font-size: 10px!important; color:#fff; line-height:10px!important;}
input, textarea { background:#fff; border:thin silver solid!important; height:18px!important; width:155px!important;}
.loginbtn { font-size:12px; font-weight:bold; color:#fff; background:transparent url('/NPCommon/images/green_btn.png')!important; width:133px!important; height:25px!important; text-align:center!important; border:none!important;  }
.divLink { padding-top:6px; margin-left:5px; }
.divLink a { color:#ffffff; font-size:12px; }
