﻿@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    margin: 0;
    padding: 0;
}
/*font-size: 12px;*/
body {
    font-family: Arial;
    font-size: 12px;
    color: #333333;
    background-color: #e9e9e9;
}

.navbar-default {
    border-bottom: 1px solid #C0C0C0;
    border-radius "0px"
}

.navbar-brand {
    padding: 5px
}

H1 {
    font-size: 20px;
    color: #C0C0C0;
    font-weight: bold;
    height: 40px;
}

.spacer {
    clear: both;
}

A {
    color: #076699;
    text-decoration: none;
    font-size: 14px;
}

INPUT, TEXTAREA, SELECT {
    font-size: 15px;
    color: #485257;
    vertical-align: top;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
}

    input.option {
        vertical-align: middle;
        background-color: transparent;
    }

Table.Form INPUT, Table.Form TEXTAREA, Table.Form SELECT {
}

Table {
    font-size: 12px;
    background-color: #e9e9e9;
}

    Table.Form {
    }

    Table.ImageRadioList TD {
        text-align: center;
    }

    Table.ImageRadioList DIV {
        cursor: pointer;
        background-color: inherit;
        border: solid 2px #F5F5F5;
        margin-right: 3px;
        margin-bottom: 3px;
        height: 70px;
    }

        Table.ImageRadioList DIV.MouseOver {
            background-color: #F5F5F5;
        }

#chkRegisterWallet {
    width: 20px;
}

Span.asterisk {
    color: #000000;
    padding: 0px 2px;
    font-weight: bold !important;
    font-size: 13px !important;
}

Span.Required {
    color: Red;
}

.td-master {
    background-color: #e9e9e9;
}

.MerchantMsg {
    text-align: left;
}

.merchantLogo {
    text-align: left;
    padding: 5px;
    max-height: 40px;
}

.mainHeading {
    font-size: 16px;
    text-transform: uppercase;
    color: #666666;
    text-align: left;
}

.subHeading {
    font-weight: bold;
}

.PayByMsg {
    font-size: 16px;
    color: #484848;
    text-align: left;
}

.MerchantTopMsg {
    font-size: 13px;
}

.PayForBox {
    background-color: #076699;
}

.PayingMethodOn {
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    background-color: #f5f5f5;
    padding: 1px 4px;
    color: #CECECE;
    text-decoration: underline;
}

    .PayingMethodOn span {
        color: #333333;
    }

.PayingMethodOff {
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    background-color: #ffffff;
    padding: 1px 4px;
    color: #333333;
    text-decoration: none;
}

.preview-text {
    text-align: left;
}

.amount-proudct {
    text-align: right !important;
}


#search {
    padding: 0 0 10px 0;
    text-align: right;
    float: right;
}

    #search input[type="text"] {
        background: url('../../Tmp_Yomane/Images/search-white.png') no-repeat 10px 6px #F8F8F8;
        border: 1px solid #d1d1d1;
        font: 16px 'Lato', Arial,Helvetica,Sans-serif;
        color: #66667E;
        width: 300px;
        padding: 6px 15px 6px 35px;
        -webkit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
    }

        #search input[type="text"]:focus {
            width: 305px;
        }

/* .PayingMethodLink a { color: #D3D3D3; }
	   .PayingMethodLink span { color: #336699; text-decoration:underline; }
   	*/

.MainSelectTxtHead {
    font-size: 17px;
    color: #484848;
    text-align: left;
}

.MainSelectTxtBody {
    font-weight: normal;
    font-size: 13px;
    text-align: left;
}

TR.Header {
    background-color: Black;
    color: Silver;
}

Table.Inner {
    margin: 0 8px;
    width: 640px;
    padding: 0;
    margin: 0;
    text-align: left;
}

Table.Inner-top {
    margin: 0 8px;
    max-width: 60%;
    padding: 0;
    margin: 0;
    text-align: left;
}

Table.Inner-footer {
    margin: 0 8px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

Table.PayMsg td {
    font-size: 19px;
    color: #fff;
    text-align: left;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
}

Table.PspBox {
    border: 1px solid #ACACAC;
}

    Table.PspBox td {
        padding: 0px 0px;
    }

Table.Footer {
    color: #666666;
    margin: 15px 0 15px 0;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
}

Table.FormView {
    padding: 1px;
    margin: 1px;
    border: 0px;
}

    Table.FormView Th {
        color: #076699;
        font-size: 16px;
        padding-bottom: 5px;
        padding-top: 20px;
        font-weight: normal;
    }
    /*Language dependent*/
    Table.FormView Td {
        color: #5c5c5c;
        font-size: 12px;
        text-align: left;
    }

        Table.FormView Td.Heading {
            font-weight: bold;
            font-size: 12px;
            color: #161616;
            text-transform: uppercase;
            padding-bottom: 3px;
            padding-top: 20px;
        }

    Table.FormView Input {
        width: 180px;
        font-size: 13px;
        border: 1px silver solid;
        color: #000000;
        font-family: Verdana,Arial, Helvetica, sans-serif;
    }

        Table.FormView Input.distinct {
            width: 20px !important;
            border: 0px;
        }

    Table.FormView Span.distinct Input {
        width: 20px !important;
        border: 0px;
    }

    Table.FormView Select {
        width: 180px;
        font-size: 12px;
        border: 1px silver solid;
        color: #000000;
        background-color: white;
        font-family: Verdana,Arial, Helvetica, sans-serif;
    }

INPUT.Button {
    font-size: 12px;
    color: #000000;
    background-color: #e5e5e5;
    cursor: pointer;
    padding: 4px;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif !important;
    text-transform: uppercase;
}

.summary-button {
    width: 250px;
    background-color: #076699;
    color: white;
    font-size: 15px;
    font-family: Arial !important;
    font-weight: 700;
    padding: 5px;
}

.FormButton {
    width: 100px;
    font-size: 13px;
    border: 1px silver solid;
    color: #000000;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    cursor: pointer;
}

Div.langSelector {
    cursor: pointer;
    border: 0px solid #000000;
    width: 100%;
    height: 17px;
    padding-top: 3px;
    background-color: #ffffff;
}
/*Language dependent*/
Span.langSelector {
    text-decoration: underline;
}

.ValidSummery {
    background-color: #f5f5f5;
    color: Black !important;
    padding: 5px;
    border: 1px dotted maroon;
    margin-bottom: 20px;
    background-image: url('/NPCommon/Images/alert_small.png');
    background-repeat: no-repeat;
    background-position: top;
}
/*Language dependent*/
.MethodTypeTitle {
    border: 1px solid silver;
    background-color: #f8f8f8;
}

.Public-head {
    float: left;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
    color: #66667E;
    padding: 5px;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
}

.radio-head {
    color: rgb(153, 102, 51);
    font-size: 13px;
}

/* Public */

#public-page {
}

    #public-page h2 {
        color: #076699;
        font-weight: normal;
        font-size: 24px;
        text-transform: none;
        background: url('../../Tmp_Yomane/Images/arrow.png');
        background-repeat: no-repeat;
        background-position: left;
        padding: 5px 5px 5px 15px;
    }

    #public-page h3 {
        font-weight: normal;
        color: #707070;
        font-size: 16px;
        padding: 2px 0 4px 0;
    }

    #public-page .section-public {
        min-height: 160px;
        border-radius: 5px;
        margin: 15px 0 15px 0;
        font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
        border: 1px solid #c5c5c5;
        padding: 10px;
        background-color: #FAFAFA
    }

    #public-page .pic-box {
        -webkit-box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.75);
        -moz-box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.75);
        box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.75);
        max-width: 100%;
    }

    #public-page .public-left {
        width: 100%;
    }

    #public-page .public-right {
        text-align: left;
    }

        #public-page .public-right .title-public {
            color: #000;
            font-weight: normal;
            font-size: 18px;
            text-transform: none;
            padding-top: 10px;
            font-family: "Lato",Arial,Helvetica Neue,sans-serif;
        }

        #public-page .public-right .price {
            color: #076699;
            padding: 5px;
            max-width: 190px;
            border-radius: 6px;
            font-size: 18px;
        }

        #public-page .public-right .sku-wrap {
            font-weight: normal;
            color: #707070;
            font-size: 16px;
            padding: 5px 0 0 8px;
            float: left;
            text-transform: uppercase;
        }

        #public-page .public-right .Quantity {
            color: #707070;
            font-size: 16px;
            padding-right: 10px;
            border-right: 0px solid #e5e5e5;
            text-align: center;
            text-transform: uppercase;
            margin-top: 5px;
        }

        #public-page .public-right .title-public .read-more {
            color: #000;
            font-size: 16px;
            padding: 13px 3px 5px 0;
            cursor: pointer;
            font-family: "Lato",Arial,Helvetica Neue,sans-serif;
        }

    #public-page .public-left .read-more a:link {
        color: #076699;
        text-decoration: none;
    }

    #public-page .public-left .read-more a:visited {
        color: #076699;
        text-decoration: none;
    }

    #public-page .public-left .read-more a:active {
        color: #076699;
        text-decoration: none;
    }

    #public-page .public-left .read-more a:hover {
        color: #076699;
        text-decoration: underline;
    }

    #public-page .public-right .wrap-pursace {
        float: right;
        padding-bottom: 8px;
    }

        #public-page .public-right .wrap-pursace .pursace {
            font-size: 16px;
            color: #fff;
            border-radius: 6px;
        }


    #public-page .public-right .call-to-action {
        padding-top: 5px;
        text-align: right;
        padding-right: 10px;
    }

    #public-page .public-right-custom {
        float: right;
        text-align: left;
        width: 25%;
    }

        #public-page .public-right-custom .price-custom {
            background-color: #707070;
            color: #fff;
            padding: 5px;
            min-width: 69px;
            text-align: center;
            border-radius: 6px;
            font-size: 24px;
            margin: 13px 10px 0 0;
            float: right;
        }

        #public-page .public-right-custom .call-to-action {
            padding-top: 5px;
            text-align: right;
            padding-right: 10px;
        }

        #public-page .public-right-custom .title-public {
        }

    #public-page .spacer {
        clear: both;
    }

    #public-page .section-custom {
        width: 612px;
        min-height: 107px;
        border: 1px solid #cecece;
        margin: 15px 0 15px 0;
        background-color: #f8f8f8;
        font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
    }

    #public-page .public-left-custom {
        float: left;
        margin-top: 6px;
        margin-left: 10px;
        width: 73%;
        vertical-align: middle;
    }

        #public-page .public-left-custom h2 {
            color: #076699;
            font-weight: normal;
            font-size: 22px;
            margin: 3px 0 0 0;
            text-transform: uppercase;
            background: url('../../Tmp_Yomane/Images/arrow.png');
            background-repeat: no-repeat;
            background-position: left;
            padding: 5px 5px 5px 15px;
        }

        #public-page .public-left-custom .text-forms {
            color: rgb(112, 112, 112);
            font-size: 16px;
            padding-top: 9px;
            text-transform: uppercase;
        }

            #public-page .public-left-custom .text-forms .input-amount {
                height: 22px;
                width: 69px;
                padding-left: 5px;
            }

            #public-page .public-left-custom .text-forms .input-currency {
                height: 22px;
                width: 69px;
                padding-left: 5px;
            }

    #public-page .description {
        border: 0px solid #cecece;
        background-color: #f8f8f8;
        display: none;
        padding: 5px;
        margin-top: 10px;
    }

        #public-page .description .title-read-more {
            font-weight: normal;
            color: #707070;
            font-size: 22px;
            text-transform: uppercase;
            float: left;
            padding-bottom: 6px;
        }

        #public-page .description .close-box {
            float: right;
            margin-top: 9px;
            cursor: pointer;
        }

    #public-page .text-paragraph {
        border-top: 0px dashed #9b9b9b;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #707070;
        font-size: 14px;
        min-height: 200px;
    }

    #public-page .description .wrap-pay {
        float: right;
        padding-top: 19px;
    }

#comment {
    border-top: 0px dashed #b2b2b2;
}

    #comment h2 {
        color: #076699;
        font-weight: normal;
        font-size: 24px;
        text-align: left;
        text-transform: uppercase;
        background: url('../../Tmp_Yomane/Images/arrow.png');
        background-repeat: no-repeat;
        background-position: left;
        padding: 12px 5px 5px 15px;
        font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
    }


/* Button */
#public-page .wrap-purchase {
    font-size: 20px;
    margin-right: 7px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
}

    #public-page .wrap-purchase .purchase {
        width: 100%;
    }

.button-pay {
    background-color: #F15B4E;
    padding: 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .button-pay:link {
        color: #fff !important;
        font-size: 20px;
        text-decoration: none;
        padding-left: 40px;
        padding-right: 40px;
    }

    .button-pay:hover {
        color: #fff !important;
        font-size: 20px;
        text-decoration: underline;
    }

    .button-pay:active {
        color: #fff !important;
        font-size: 20px;
        text-decoration: none;
    }

    .button-pay:visited {
        color: #fff !important;
        font-size: 20px;
        text-decoration: none;
    }

.button-search {
    background-color: #71ae2c;
    color: #ffffff;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    ;
    width: 33px;
    height: 32px;
    border: none;
}

    .button-search:hover {
        border: none;
        background-color: #71ae2c;
    }

.Require {
    color: #f80000 !important;
    font-size: 12px !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}


/* Product */
.product-frame {
    border: 1px solid #c5c5c5;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 10px;
    width: 640px;
}

#product {
    width: 640px;
    height: 320px;
    align-content:center;
    -webkit-box-shadow: 2px 1px 5px #dfdcdb;
    -moz-box-shadow: 2px 1px 5px #dfdcdb;
    box-shadow: 2px 1px 5px #dfdcdb;
}

.price-product {
    float: right;
    font-weight: normal;
    color: #000;
    font-size: 20px;
    font-family: 'Lato',Arial,Helvetica Neue,sans-serif;
    display: block;
    margin: 15px 0px 5px;
}

.title-product {
    font-weight: normal;
    color: #000;
    margin: 15px 0 5px 0;
    font-size: 20px;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
    float: left;
}

#wrap-detalis {
    width: 640px;
    min-height: 150px;
    background: #fafafa;
    padding: 0px;
    color: #707070;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
}

    #wrap-detalis .arrow-down {
        background: url('../../Tmp_Yomane/Images/spriteNetpay.png') no-repeat -111px -82px;
        width: 15px;
        height: 13px;
        margin: -10px 0 0 0;
    }

    #wrap-detalis .description-product {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 10px;
        text-align: left;
    }

    #wrap-detalis .choose-quantity {
        font-size: 16px;
        padding: 20px 0;
    }

        #wrap-detalis .choose-quantity .quantity-proudct {
            padding-right: 7px;
            padding-left: 0;
            display: block;
            float: left;
        }

    #wrap-detalis .choose-installments {
        font-size: 20px;
        padding: 20px 0
    }

        #wrap-detalis .choose-installments .installments-proudct {
            text-transform: uppercase;
            display: block;
            padding-right: 7px;
            padding-left: 0;
            float: left;
        }

        #wrap-detalis .choose-installments .alert-installments {
            font-size: 15px;
            vertical-align: middle;
            padding-left: 5px;
        }

#total-purchase {
    font-size: 20px;
    margin-right: 7px;
    padding-top: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
}

    #total-purchase .summary {
        color: #000;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    #total-purchase .purchase {
        background-color: #4764AF;
        padding: 5px 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-transform: uppercase;
    }

        #total-purchase .purchase a:link {
            color: #fff !important;
            font-size: 24px;
            text-decoration: none;
        }

        #total-purchase .purchase a:hover {
            color: #fff !important;
            font-size: 24px;
            text-decoration: underline;
        }

        #total-purchase .purchase a:active {
            color: #fff !important;
            font-size: 24px;
            text-decoration: none;
        }

        #total-purchase .purchase a:visited {
            color: #fff !important;
            font-size: 24px;
            text-decoration: none;
        }

#share-friends {
    float: left;
    padding-top: 10px;
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
}

    #share-friends .text-share {
        font-size: 15px;
        color: #8f8d8d;
        padding-left: 4px;
    }



.line-space {
    background: url('../../Tmp_Yomane/Images/spriteNetpay.png') repeat-x 0 -174px;
    height: 2px;
    border: none;
    margin: 0 -10px;
}

.line-space-v2 {
    width: 100%;
    background: url('../../Tmp_Yomane/Images/spriteNetpay.png') repeat-x;
    background-position: 0 -168px;
    height: 1px;
    margin-top: 30px;
}

.banner {
    width: 100%;
    max-height: 100px;
    background-color: #f6f6f6;
    border: 0px solid #8f8f8f;
    margin-top: 20px;
    text-align: center;
}

.input-quantity {
    width: 64px;
    height: 30px;
    border: 1px solid #e8e8e8;
    -webkit-box-shadow: 2px 1px 5px #dfdcdb;
    -moz-box-shadow: 2px 1px 5px #dfdcdb;
    box-shadow: 2px 1px 5px #dfdcdb;
    margin: -3px 6px;
    text-align: center;
}

.total-arrow {
    background: url('../../Tmp_Yomane/Images/spriteNetpay.png') no-repeat -56px -7px;
    width: 91px;
    height: 0px;
    margin-right: 50px;
    margin-left: 470px;
}

.submit-button {
    font-family: 'Lato',Arial, Helvetica Neue, sans-serif;
    background: #4764AF;
    border: none;
    color: White;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}


.btn-finish {
    width: 250px;
    background-color: #076699;
    color: white;
    font-size: 15px;
    font-family: Arial !important;
    font-weight: 700;
    padding: 5px;
    text-decoration: none
}

    .btn-finish a:link {
        width: 250px;
        background-color: #076699;
        color: white;
        font-size: 15px;
        font-family: Arial !important;
        font-weight: 700;
        padding: 5px;
        text-decoration: none
    }

    .btn-finish a:hover {
        width: 250px;
        background-color: #076699;
        color: white;
        font-size: 15px;
        font-family: Arial !important;
        font-weight: 700;
        padding: 5px;
        text-decoration: underline
    }

    .btn-finish a:active {
        width: 250px;
        background-color: #076699;
        color: white;
        font-size: 15px;
        font-family: Arial !important;
        font-weight: 700;
        padding: 5px;
        text-decoration: none
    }

    .btn-finish a:visited {
        width: 250px;
        background-color: #076699;
        color: white;
        font-size: 15px;
        font-family: Arial !important;
        font-weight: 700;
        padding: 5px;
        text-decoration: none
    }
