﻿body {
}

@maincolor: #076699;
@tempPath:  '../Images/';

@import "../../../../../Designs/New/styles/mobile.less";
.button-bank {-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;box-shadow:inset 0px 1px 0px 0px #cae3fc;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');background-color:#79bbff;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;text-indent:0;border:1px solid #469df5;display:inline-block;color:#ffffff;font-family:Arial;font-size:15px;font-weight:bold;font-style:normal;height:28px;line-height:28px;min-width:151px; padding: 0 5px 0 5px; text-decoration:none;text-align:center;text-shadow:1px 1px 0px #287ace; margin: 7px 0 0 5px;}
.button-bank:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');background-color:#4197ee;}





