﻿<%@ Page Language="C#" MasterPageFile="~/Reports.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Netpay.AdminReports._Default" %>

<asp:Content ID="content1" ContentPlaceHolderID="body" runat="server">
	<br /><br />
	Home page
	<br /><br /><br /><br /><br /><br />
</asp:Content>
