﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports.Master" AutoEventWireup="true" CodeBehind="ErrorPage.aspx.cs" Inherits="Netpay.AdminReports.Error" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
	<div class="error" style="text-align:center;">
		<br /><br /><br /><br /><br /><br />
		An error has occured on this page.
	</div>
</asp:Content>
