﻿body {
}

@maincolor: #42A3E4;
@sub-color: #42A3E4;

.logo {background: url('../Tmp_Panda/images/logo.png'); background-repeat: no-repeat;}
.logo-mini {background: url('../Tmp_Panda/images/logo-mini.png'); background-repeat: no-repeat;}

@import url('../../Styles/dashboard.less');