/*
Template Name: Tirip
Author: Yung Themes
Description: This is html5 template
Version: 1.0
*/
/*-------------------------------------
>> TABLE OF CONTENTS:
---------------------------------------
1. Normalize
2. Header
	2.1 Header top
	2.2 Header main
	2.3 Header bottom
3. Slider Area
4. Content
	4.1 Content Title
	4.2 Brand Area
	4.3 Banner Area
	4.4 Featured Product Area
	4.5 Latest Product Area
	4.6 Blog Area
	4.7 Tab Product Area
	4.8 Category Area
	4.9 Product List Area
	4.10 Countdown Area
	4.11 Authors Area
	4.12 Blog
	4.13 Sidebar
	4.14 Blog Main
	4.15 Single Post
	4.16 Shop
	4.17 Single Product
	4.18 Register
	4.19 Cart List
	4.20 Check Out
	4.21 Wishlist
	4.22 Error 404
	4.23 Contact
	4.24 About
5. Footer
6. Quick View
7. Scroll Up
8. Home Page 2
	8.1 Header Top
	8.2 Header Bottom
	8.3 Content 2
*/
/*-------------------------------------
1. Normalize
-------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background: #fcfcfc;
    color: #353535;
    font-size: 13px;
    font-family: "Quicksand", sans-serif;
    line-height: normal;
}

button, 
input, 
select, 
textarea {
    color: #353535;
    font-size: 13px;
    line-height: normal;
}

b,
strong {
    font-weight: bold;
}

a:active,
a:hover {
    outline: 0;
}

a:hover {
    color: #a1ce13;
}

a:focus {
    text-decoration: none;
}

a {
    text-decoration: none !important;
    color: #353535;
    display: inline-block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

img {
    width: 100%;
    height: auto;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a, 
strong {
    line-height: normal;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-weight: normal;
    letter-spacing: 0.5px;
}
h1,
h2, 
h3, 
h4, 
h5, 
h6, 
blockquote{
    font-family: "Playfair Display", sans-serif;
    color: #000;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    color: #000;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}

:-moz-placeholder {
    color: #000;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}

::-moz-placeholder {
    color: #000;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}

:-ms-input-placeholder {
    color: #000;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}

.header-two #search::-webkit-input-placeholder {
    color: #fff;
}

.header-two #search:-moz-placeholder {
    color: #fff;
}

.header-two #search::-moz-placeholder {
    color: #fff;
}

.header-two #search:-ms-input-placeholder {
    color: #fff;
}

.owl-dots {
    display: inline-block;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}

.owl-dot {
    background: none;
    border: 1px solid #353535;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 5px;
    width: 10px;
}

.owl-dot.active {
    background: #353535;
}

/*-------------------------------------
2. Header
-------------------------------------*/
/*-------------------------------------
2.1 Header top
-------------------------------------*/
.header-top {
    border-bottom: 1px solid #d2d2d2;
}

.header-cotainer {

}

.email {
    letter-spacing: 0.5px;
    margin-right: 15px;
    display: inline-block;
    padding: 13px 0;
}

.phone {
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 13px 0;
}

.user, 
.cart {
    float: right;
    position: relative;
}

.user a, 
.cart a {
    color: #353535;
}

.cart:hover a.cart-link, 
.user:hover a.user-link {
    color: #a1ce13;
}

.user a:hover, 
.cart a:hover {
    color: #a1ce13;
}

.user i, 
.cart i {
    font-size: 14px;
}

.user ul, 
.cart ul {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    padding: 0 10px;
    background: #fefefe;
    border: 1px solid #f3f3f3;
    top: 31px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.cart:hover ul, 
.user:hover ul {
    opacity: 1;
    visibility: visible;
    top: 43px;
    z-index: 9999999;
}

.user {
    margin-right: 15px;
}

.cart {
    margin-right: 12px;
}

.cart-link, 
.user-link {
    padding: 13px 0;
}

.number-cart {
    background: #a1ce13;
    border-radius: 20px;
    bottom: 19px;
    color: #353535;
    font-size: 11px;
    height: 15px;
    left: 9px;
    line-height: 10px;
    padding: 2px;
    position: absolute;
    text-align: center;
    width: 15px;
}

.cart ul {
    right: 0;
    width: 250px;
}

.cart li {
    border-bottom: 1px solid #d2d2d2;
    float: left;
    padding: 15px 0;
    width: 100%;
}

.cart-products {
    float: left;

    width: 100%;
}

.cart-products-img {
    float: left;
    margin: 0 10px 0 0;
    width: 31%;
}

.cart-products-info {
    width: 63%;
    float: right;
}

.cart-product-name {
    margin-top: 2px;
}

.cart-product-close {
    float: right;
    margin-top: 38px;
}

.cart-products-info p {
    margin-top: 10px;
    margin-bottom: 0;
}

.cart-total {
    float: left;
    margin: 0 0 0 5px;
}

.cart-price {
    float: right;
    margin: 0 5px 0 0;
}

.cart-check {
    float: left;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.cart-check a {
    border: 1px solid #d2d2d2;
    padding: 10px;
    position: relative;
    border-radius: 20px;
    padding: 10px 25px;
    text-transform: uppercase;
}

.cart-check a span{
    position: relative;
    left: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.cart-check a:hover span{
    left: -10px;
}

.cart-check a i{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 20px;
    top: 12px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.cart-check a:hover i {
    opacity: 1;
    visibility: visible;
    right: 12px;
}

.cart-check a:hover {
    color: #353535;
}

.user ul {
    right: 0;
    width: 130px;
}

.user li {
    border-bottom: 1px solid #d2d2d2;
}

.user li:last-child {
    border-bottom: none;
}

.user ul li a {
    display: block;
    padding: 9px 2px;
}

.user ul li a span {
    display: block;
    padding: 5px 0;
}

/*-------------------------------------
2.2 Header main
-------------------------------------*/
.header-main {
    padding: 20px 0;
    border-bottom: 1px solid #d2d2d2;
}

.social-media {
    margin: 0 auto;
    position: relative;
    padding: 23px 0;
}

.social-media ul {
    text-align: center;
}

.social-media li {
    display: inline-block;
    margin-left: 3px;
}

.social-media a {
    border: 1px solid #353535;
    border-radius: 100%;
    color: #353535;
    height: 32px;
    line-height: 31px;
    text-align: center;
    width: 32px;
    font-size: 12px;
}

.social-media a:hover {
    color: #a1ce13;
    border: 1px solid #a1ce13;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100%;
    max-width: 230px;
}

.search {
    text-align: center;
    padding: 23px 0;
}

.search form {

}

.search input {
    border: 1px solid #353535;
    background: none;
    border-radius: 20px;
    color: #353535;
    width: 62%;
    height: 32px;
    left: 20px;
    padding: 7px 35px 7px 11px;
    position: relative;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    font-size: 12px;
}

.search input:focus {
    color: #353535;
    width: 70%;
    border: 1px solid #a1ce13;
    background-color: #fff;
}

.search button {
    background: none;
    border: none;
    border-radius: 20px;
    left: -20px;
    padding: 6px 9px;
    position: relative;
    top: 0;
}

.search button:hover {
    color: #a1ce13;
}

/*-------------------------------------
2.3 Header bottom
-------------------------------------*/
.header-bottom {
    border-bottom: 1px solid #d2d2d2;
    height: 41px;
    position: relative;
}

.menu {
    background: #fcfcfc;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    justify-content: space-around;
}

.sticky {
    box-shadow: 0 -5px 20px -4px #808080;
    top: 0;
    position: fixed;
    z-index: 9999;
}

.main-menu {
    width: 100%;
    text-align: center;
    transition: all 0.4s ease 0.1s;
    -webkit-transition: all 0.4s ease 0.1s;
}

.main-menu .active {
    color: #90bd02 !important;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu a {
    color: #353535;
    padding: 12px;
    letter-spacing: 1px;
}

.main-menu a:hover {
    color: #90bd02;
}

.main-menu .has-children > a:after {
    margin-left: 3px;
    color: #90bd02;
    font-size: 11px;
    font-family: "fontawesome";
    content: "\f196";
}

.main-menu .has-children:hover > a:after {
    content: "\f147";
}

.main-menu .sub-menu .has-children > a:after {
    float: right;
    margin-left: 3px;
    margin-top: 2px;
    color: #90bd02;
    font-size: 11px;
    font-family: "fontawesome";
    content: "\f196";
}

.main-menu .sub-menu .has-children:hover > a:after {
    content: "\f147";
}

.main-menu .sub-menu {
    background: #fcfcfc;
    border: 1px solid #d2d2d2;
    text-align: left;
    opacity: 0;
    padding: 0 5px;
    position: absolute;
    left: 0;
    top: 23px;
    visibility: hidden;
    width: 200px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    z-index: 9999999;
    top: 41px;
}

.main-menu .sub-menu ul {
    background: #fcfcfc;
    border: 1px solid #d2d2d2;
    padding: 0 5px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 193px;
    top: 0;
    width: 200px;
    z-index: 9999999;
    filter: alpha(opacity=0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
}

.main-menu li .sub-menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    z-index: 9999999;
    filter: alpha(opacity=100);
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;

}

.main-menu .sub-menu li {
    border-bottom: 1px solid #d2d2d2;
    width: 100%;
}

.main-menu .sub-menu li:last-child {
    border-bottom: none;
}

.main-menu .sub-menu a {
    width: 100%;
}

.mobile-menu {
    position: relative;
}

.mobile-menu .mean-bar:after {
    color: #000;
    content: "Menu";
    left: 10px;
    letter-spacing: 2px;
    position: absolute;
    text-transform: uppercase;
    top: 16px;
}

/*-------------------------------------
3. Slider Area
-------------------------------------*/
.slider-area {
    padding-bottom: 35px;
}

.bs-slider {
    overflow: hidden;
    max-height: 700px;
    position: relative;
    background-color: #000;
}


.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}

.fade {
    opacity: 1;
}

.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    max-height: 700px;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}

.fade .item:first-child {
    top: auto;
    position: relative;
}

.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}

.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 40px;
    height: 40px;
    z-index: 8;
    color: #fff;
    display: block;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    line-height: 38px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    border-radius: 100px;
    border: 1px solid #fff;

}

.control-round:hover .carousel-control {
    opacity: 1;
}

.control-round .carousel-control.left {
    left: 1%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.control-round .carousel-control.left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a1ce13;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.control-round .carousel-control.left:hover {
    color: #fff;
    border: 1px solid #a1ce13;
}

.control-round .carousel-control.left:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.control-round .carousel-control.right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    right: 1%;
}

.control-round .carousel-control.right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a1ce13;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.control-round .carousel-control.right:hover {
    color: #fff;
    border: 1px solid #a1ce13;
}

.control-round .carousel-control.right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.control-round .carousel-control.left > span:nth-child(1) {
    left: 45%;
}

.control-round .carousel-control.right > span:nth-child(1) {
    right: 45%;
}

.indicators-line > .carousel-indicators {
    font-size: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}

.indicators-line > .carousel-indicators li {
    padding: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    text-indent: 0;
    overflow: visible;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 0.6);
    -webkit-font-smoothing: antialiased;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    z-index: 10;
    cursor: pointer;
}

.indicators-line > .carousel-indicators li:last-child {
    margin-right: 0;
}

.indicators-line > .carousel-indicators li:after {
    background: #fff;
    content: "";
    height: 2px;
    left: 11px;
    pointer-events: none;
    position: absolute;
    top: 4px;
    width: 15px;
}

.indicators-line > .carousel-indicators li:last-child:after {
    content: none;
}

.indicators-line > .carousel-indicators li span {

}

.indicators-line > .carousel-indicators .active {
    background-color: #fff;
    box-shadow: 0 0;
    margin: 1px 10px 1px 1px;
    position: relative;
}

.indicators-line > .carousel-indicators .active:before {
    background-color: #fff;
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.slide_style_left {
    float: left !important;
}

.slide_style_right {
    float: right !important;
}

.slide_style_center {

}

.vertical {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.align {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.slide-text{
    position: relative;
    display: block;
    width: 600px;
    text-align: center !important;
}
.slide-text > h1 {
    padding: 0;
    color: #fff;
    font-size: 50px;
    font-style: normal;
    line-height: normal;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.slide-text > p {
    padding: 0;
    color: #fff;
    font-size: 20px;
    line-height: normal;
    font-weight: 300;
    margin-bottom: 50px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.slide-text > a.btn-default {
    color: #000;
    font-weight: 400;
    line-height: 15px;
    margin-right: 0;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}

.slide-text > a.btn-primary {
    border-radius: 50px;
    display: inline-block;
    border: 1px solid #a1ce13;
    padding: 10px 25px;
    margin-bottom: 10px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.slide-text > a.btn-primary:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a1ce13;
    border-radius: 50px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.slide-text > a.btn-primary:hover {
    color: #fff;
}

.slide-text > a.btn-primary:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.slide-text > a:hover,
.slide-text > a:active {
}

/*-------------------------------------
4. Content
-------------------------------------*/
/*-------------------------------------
4.1 Content Title
-------------------------------------*/
.content-title {
    position: relative;
    text-align: center;
    margin-bottom: 35px;
}

.content-title h4 {
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 7px;
    background: #fcfcfc;
    margin: 0;
}

.content-title h4:before {
    border-top: 1px solid #d2d2d2;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 11px;
    width: 250px;
    z-index: -1;
}

.content-title h4:after {
    border-top: 1px solid #d2d2d2;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 16px;
    width: 222px;
    z-index: -1;
}

/*-------------------------------------
4.2 Brand Area
-------------------------------------*/
.brand-area {
    padding: 35px 0;
}

.brand-inner {
    background: #f2f5f7;
    padding: 15px 0;
}

.brand-logo {
    text-align: center;
}

.brand-logo a {
    text-align: center;
    width: 45%;
}

.brand-logo img {
    max-width: 70px;
}

/*-------------------------------------
4.3 Banner Area
-------------------------------------*/
.banner-area {
    padding: 35px 0;
}

.banner-1 {
    position: relative;
}

.banner-image {
    position: relative;
    width: 100%;
}

.banner-1 img {
    max-height: 574px;
    width: 100%;
}

.banner-2 {
    margin-bottom: 30px;
    position: relative;
}

.banner-2 img {
    max-height: 272px;
    width: 100%;
}

.banner-3 {
    position: relative;
}

.banner-3 img {
    max-height: 272px;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-content {

}

.banner-inner {
    text-align: center;
}

.banner-cell {

}

.banner-cell.right {
    padding-left: 35%;
}

.banner-cell.left {
    padding-right: 35%;
}

.banner-cell h3 {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.banner-cell p {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

.banner-cell .read-more a {
    color: #fff;
}

/*-------------------------------------
4.4 Featured Product Area
-------------------------------------*/
.featured-product-area {
    padding: 35px 0;
}

.single-product {
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}

.owl-item .single-product {
    margin-bottom: 0;
}

.product-img {
    position: relative;
}

.product-label {
    position: relative;
}

.product-label span {
    background: #a1ce13;
    color: #fff;
    padding: 10px 9px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
}

.sale {
    border-radius: 0 30px;
    left: 0;
    top: 0;
}

.new {
    border-radius: 30px 0;
    right: 0;
    top: 0;
}

.product-action {
    bottom: -20px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    visibility: hidden;
    opacity: 0;
}

.single-product:hover .product-img .product-action {
    opacity: 1;
    visibility: visible;
    bottom: 5px;
}

.product-img .product-action a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block !important;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    margin-left: 3px;
}

.product-action a:hover {
    color: #a1ce13;
}

.product-action i {

}

.product-img a {
    position: relative;
    display: block;
}

.product-img img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.product-disable {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.single-product:hover .product-img .product-disable {
    opacity: 1;
    visibility: visible;
}

.product-desc, 
.author-name {
    padding: 15px 0;
    border-right: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.product-name {
    margin: 0 0 15px;
}

.product-name a {
    color: #000;
}

.product-name a:hover {
    color: #a1ce13;
}

.product-price {
    font-size: 15px;}

.product-price span {

}

.product-price del {
    color: #858585;
    margin-right: 10px;
}

.show-more {
    position: relative;
    text-align: center;
}

.show-more a {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 17px;
    background: #fcfcfc;
}

.show-more a:before {
    border-top: 3px solid #d2d2d2;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 9px;
    width: 340px;
    z-index: -1;
}

.show-more a i {
    bottom: 0;
    font-size: 13px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.show-more a:hover i {
    opacity: 1;
    color: #a1ce13;
    visibility: visible;
    top: 20px;
}

/*-------------------------------------
4.5 Latest Product Area
-------------------------------------*/
.latest-product-area {
    padding: 35px 0;
}

.latest-product-area .container:hover .owl-next, 
.latest-product-area .container:hover .owl-prev {
    opacity: 1;
    visibility: visible;
}

.latest-product-area .container:hover .owl-next {
    right: 0;
}

.latest-product-area .container:hover .owl-prev {
    left: 0;
}

/*-------------------------------------
4.6 Blog Area
-------------------------------------*/
.blog-area {
    padding: 35px 0;
}

.post {
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.owl-item .post {
    margin-bottom: 0;
}

.post-thumb {
    position: relative;
    width: 50%;
    padding-right: 15px;
    float: left;
}

.post-thumb a {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.post-thumb a:before {
    content: "";
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}

.post-thumb img {
    width: 100%;
    transform-style: unset !important;
    -webkit-transform-style: unset !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.post-inner{
    position: relative;
    width: 50%;
    padding-left: 15px;
    float: right;
}

.post-meta {
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
}

.post-meta span {
    margin-right: 5px;
    font-size: 12px;
}

.post-meta a {
    color: #353535;
}

.post-meta a:hover {
    color: #a1ce13;
}

.post-content {
    text-align: center;
}

.post-content h4 {
    margin: 25px 0 5px;
}

.post-content a {
    color: #000;
    text-transform: uppercase;
}

.post-content p {
    font-size: 13px;
    line-height: 20px;
}

.read-more {
    position: relative;
    margin-top: 20px;
}

.post .read-more {
    text-align: center;
    margin-top: 25px;
}

.read-more a {
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    color: #353535;
    padding: 10px 25px;
    text-transform: uppercase;
    position: relative;
}

.read-more a span{
    position: relative;
    left: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.read-more a:hover span{
    left: -10px;
}

.read-more a i{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 30px;
    top: 12px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.read-more a:hover i {
    opacity: 1;
    visibility: visible;
    right: 15px;
}

.owl-nav .owl-next, 
.owl-nav .owl-prev {
    background-color: #252525;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 38px;
    margin: auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    top: 0;
    width: 40px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}

.blog-area .container:hover .owl-next, 
.blog-area .container:hover .owl-prev {
    opacity: 1;
    visibility: visible;
}

.blog-area .container:hover .owl-next {
    right: 0;
}

.blog-area .container:hover .owl-prev {
    left: 0;
}

.owl-next:hover, 
.owl-prev:hover {
    background-color: #a1ce13;
}

/*-------------------------------------
4.7 Tab Product Area
-------------------------------------*/
.tab-product-area {
    padding: 35px 0 5px;
}

.tab-product-area .controls {
    margin-bottom: 30px;
    text-align: center;
}

.tab-product-area .controls .control {
    background: #fcfcfc;
    border: 1px solid #d2d2d2;
    color: #000;
    letter-spacing: 1px;
    padding: 10px;
    margin-right: 3px;
}

.tab-product-area .controls .control:hover {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

.tab-product-area .controls .mixitup-control-active {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

.nav-tabs {
    border: none;
    text-align: center;
    margin-bottom: 40px;
}

.product-single .nav-tabs {
    margin: 0
}

.nav-tabs li {
    display: inline-block;
    float: none;
    margin: 0 10px;
}

.content-two .tab-product-area .nav-tabs li a {
    border: none;
    background: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 5px 0;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.content-two .tab-product-area .nav-tabs li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #a1ce13;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.content-two .tab-product-area .nav-tabs li a:hover:before,
.content-two .tab-product-area .nav-tabs li a:focus:before,
.content-two .tab-product-area .nav-tabs li.active a:before {
    left: 0;
    right: 0;
}

.content-two .tab-product-area .nav-tabs li.active a {
    color: #a1ce13;
}

.nav-tab li.active a, 
.nav-tabs li.activea:focus, 
.nav-tabs li.active a:hover {
    color: #a1ce13;
    cursor: pointer;
}

.tab-product-area .tab-content:hover .owl-next, 
.tab-product-area .tab-content:hover .owl-prev {
    opacity: 1;
    visibility: visible;
}

.tab-product-area .tab-content:hover .owl-next {
    right: 0;
}

.tab-product-area .tab-content:hover .owl-prev {
    left: 0;
}

/*-------------------------------------
4.8 Category Area
-------------------------------------*/
.category-area {
    background: rgba(0, 0, 0, 0) url("img/bg/1.jpg") no-repeat scroll center center / cover;
    padding: 70px 0;
    margin: 35px 0;
    position: relative;
}

.category-title {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.category-title h4 {
    border-bottom: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 23px;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.category {
    position: relative;
    text-align: center;
}

.category a {

}

.category p {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    color: #fff;
    letter-spacing: 4px;
    padding: 20px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    width: 100%;
}

.category p:before {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.category a:hover p:before {
    opacity: 1;
}

.category-carousel {
    text-align: center;
}

.category-carousel .owl-dot {
    border: 1px solid #fff;
}

.category-carousel .owl-dot.active {
    background: #fff;
}

/*-------------------------------------
4.9 Product List Area
-------------------------------------*/
.product-list-area {
    padding: 35px 0;
}

.product-list {
    border: 1px solid #d2d2d2;
    padding: 10px;
    position: relative;
}

.product-list h3 {
    background: #fcfcfc;
    bottom: 0;
    color: #000;
    display: inline-block;
    font-size: 21px;
    left: 0;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 10px;
    position: relative;
    right: 0;
    text-transform: uppercase;
    top: -25px;
}

.single-product-list {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.img-product-list {
    float: left;
    margin: 0 20px 0 0;
    width: 100px;
}

.img-product-list a {
    display: block;
}

.action-product-list {
    margin-top: 30px;
}

.action-product-list a {
    width: 35px;
    max-height: 35px;
    display: inline-block;
    border: 1px solid #353535;
    border-radius: 20px;
    color: #353535;
    padding: 7px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.action-product-list a:last-child {
    padding: 7px 11px;
}

.action-product-list a:hover {
    color: #a1ce13;
    border: 1px solid #a1ce13;
}

.product-list .read-more {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #d2d2d2;
    margin-top: 0;
}

.product-list .read-more a {
    border-radius: 0;
}
/*-------------------------------------
4.10 Countdown Area
-------------------------------------*/
.countdown-area {
    background: rgba(0, 0, 0, 0) url("img/bg/2.jpg") no-repeat scroll center center / cover;
    margin: 35px 0;
    padding: 70px 0;
    position: relative;
}

.countdown-img {
    display: block;
    position: relative;
}

.countdown-img:before {
    border: 2px solid #d2d2d2;
    bottom: -10px;
    content: "";
    left: -10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.countdown-img a {
    position: relative;
    display: block;
}

.countdown-img img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.countdown-img:hover .product-disable {
    opacity: 1;
    visibility: visible;
}

#countdown-time {
    margin-top: 9px;
}

.countdown-time .cdown {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.countdown-time .cdown span {
    padding: 17px 20px;
    border: 1px solid #cfcfcf;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
}

.countdown-time .days {

}

.countdown-time .hour {

}

.countdown-time .min {

}

.countdown-time .sec {

}

.countdown-time .cdown p {
    margin: 15px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.countdown-area h2 {
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.countdown-area p {
    color: #fff;
    line-height: 20px;
    margin-bottom: 25px;
    word-spacing: 1px;
}

.countdown-area .price {
    color: #fff;
    font-size: 20px;
    word-spacing: 5px;
    margin: 0 0 25px 0;
}

.countdown-area .product-action-details a {
    color: #fff;
    border: 1px solid #fff;
}

/*-------------------------------------
4.11 Authors Area
-------------------------------------*/
.author-area {
    padding: 35px 0;
}

.author {
    position: relative;
    text-align: center;
}

.author-img {
    position: relative;
}

.author-img a {
    display: block;
}

.author-img img {

}

.author-name h4 {
    text-transform: uppercase;
    margin: 0 0 10px;
}

.author-name h4 a {
    color: #000;
}

.author-name h4 a:hover {
    color: #a1ce13;
}

.author-name p {
    margin: 0 0 10px;
}

.author-name .social-media {
    padding: 5px 0;
}

/*-------------------------------------
4.12 Blog
-------------------------------------*/
.blog {
    padding: 70px 0 35px 0;
}

/*-------------------------------------
4.13 Sidebar
-------------------------------------*/
.sidebar {

}

.widget {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}

.title-widget {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.title-widget:before {
    border-top: 1px solid #d2d2d2;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}

.title-widget span {
    background: #fcfcfc;
    color: #000;
    padding: 0 20px;
    text-transform: uppercase;
}

.recent-post {
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 5px;
    display: inline-block;
    width: 100%;
}

.recent-post:last-child {
    border-bottom: none;
}

.widget .recent-post .post-thumb {
    margin-right: 15px;
    width: 34%;
    padding: 0;
}

.widget .recent-post .post-thumb a {

}

.post-content:hover .featured-img:before {
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
}

.post-info {
}

.post-info a {
    display: block;
    color: #000;
}

.post-info a:hover {
    color: #a1ce13;
}


.post-info span {
    display: block;
}

.widget .tags {
    margin: 0;
}

.widget .tags ul {
    text-align: left;
    padding: 5px;
}

.widget .tags a {
    color: #353535;
}

.archive li {
    padding: 0 5px 10px;
}

.category-product {

}

.category-product li {
    padding: 0 5px 10px;
}

.category-product a {

}

.category-product span {
    color: #000;
    float: right;
}

.sidebar .widget #slider-range {
    background: #dcdcdc;
    height: 10px;
    border: none;
    border-radius: 0;
    margin: 55px 5px 30px;
}

#slider-range .ui-widget-header {
    background: #a1ce13;
    border: 1px solid #a1ce13;
    border-radius: 0;
}

#slider-range .ui-state-default, 
#slider-range .ui-widget-content .ui-state-default, 
#slider-range .ui-widget-header .ui-state-default {
    border-radius: 50% 50% 0 50%;
    border: 1px solid #a1ce13;
    background: #a1ce13;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -24px;
}

.price-slider {
    padding: 0 5px;
}

.price-slider [type=text] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    display: inline-block;
    float: left;
    letter-spacing: 1px;
    padding: 7px 11px;
    text-align: center;
    width: 110px;
}

.price-slider [type=submit] {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    color: #fff;
    float: right;
    letter-spacing: 1px;
    padding: 7px 25px;
    border-radius: 20px;
    text-transform: uppercase;
}

.price-slider [type=submit]:hover {
    color: #a1ce13;
}

.color-product ul {
    text-align: center;
}

.color-product a {
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 35px;
}

.black {
    background: #000;
}

.red {
    background: #ff0000;
}

.brown {
    background: #db7611;
}

.blue {
    background: #3300ff;
}

.orange {
    background: #ff5000;
}

.yelllow {
    background: #ffff00;
}

.pink {
    background: #ff00ff;
}

.green {
    background: #00ff00;
}

.indigo {
    background: #00faff;
}

.white {
    background: #fff;
    border: 1px solid #efefef;
}

.color-product li {
    padding: 0 5px 8px;
    display: inline-block;
}

.color-product span {
    color: #000;
    float: right;
}

.brands-product li {
    padding: 0 5px 10px;
}

.brands-product span {
    color: #000;
    float: right;
}

/*-------------------------------------
4.14 Blog Main
-------------------------------------*/
.blog-main {
    padding: 10px 30px;
}

.blog-main .post {
    margin-bottom: 70px;
}

.post-header {
    margin-bottom: 35px;
    text-align: center;
    letter-spacing: 1px;
}

.post-header .category {
    font-size: 14px;
}

.post-header h4 {
    font-size: 20px;
    margin: 20px 0;
    word-spacing: 1px;
}

.post-header h4 a {
    color: #000;
}

.post-header h4 a:hover {
    color: #a1ce13;
}

.blog-main .post-content {
    float: none;
    width: 100%;
    position: relative;
}

.post-content .featured-img {
    display: block;
    margin-bottom: 35px;
    position: relative;
}

.featured-img:before {
    border: 1px solid #fff;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.post-content:hover .featured-img:before {
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
}

.blog-main .post-content p {
    line-height: 20px;
}

.post-content .read-more {
    float: none;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.post-content .read-more a:before {
    left: 90px;
}

.post-content .read-more a:hover:before {
    left: 100px;
}

.post-footer {
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    display: inline-block;
    margin-top: 35px;
    padding: 10px 0;
    width: 100%;
}

.post-footer .post-meta {
    border: none;
    float: left;
    text-align: left;
    width: auto;
}

.post-share {
    float: right;
    padding: 10px 0;
}

.post-share li {
    display: inline-block;
    margin-left: 25px;
}

.page-nav {

}

.page-nav .read-more {
    margin-top: 0;
}

.page-next {
    text-align: right;
    position: relative;
}

/*-------------------------------------
4.15 Single Post
-------------------------------------*/
.single-post {
    padding: 70px 0 35px;
}

.single-post .post-content img {
    margin-bottom: 35px;
}

.single-post .post-footer {
    margin-top: 25px;
}

.about-author {
    margin-bottom: 70px;
    display: inline-block;
    width: 100%;
}

.author-title {
    border-bottom: 1px solid #d2d2d2;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 7px;
    text-transform: uppercase;
}

.author-info {
    padding-top: 20px;
}

.author-info a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 120px;
}

.author-desc {
}

.author-desc h4 {
    margin: 0;
    padding-bottom: 10px;
    color: #000;
}

.author-desc p {
    line-height: 20px;
}

.comments {
    display: inline-block;
    width: 100%;
}

.title-comment {
    border-bottom: 1px solid #d2d2d2;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 7px;
    text-transform: uppercase;
}

.text-comment {
    display: inline-block;
    padding-top: 20px;
    width: 100%;
}

.text-comment a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 120px;
}

.text-comment a:hover {
    color: #a1ce13;
}

.text-comment span {
    color: #353535;
    float: right;
    margin-top: 6px;
}

.text-comment h4 {
    display: inline-block;
    margin: 0;
    padding-bottom: 10px;
    color: #000;
}

.text-comment .comment-reply {
    float: right !important;
    color: #000;
    width: auto;
    margin: 0;
}

.reply {
    padding-left: 70px;
}

.leave-comment {
    margin-top: 30px;
}

.leave-comment h4 {
    color: #000;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 10px;
    word-spacing: 3px;
}

.leave-comment form {
    text-align: center;
}

.leave-comment input {
    background: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    padding: 5px 8px;
    width: 100%;
}

.leave-comment textarea {
    background: #fff;
    width: 100%;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    padding: 8px;
}

.leave-comment textarea:hover, 
.leave-comment input:hover {
    border-color: #a1ce13;
}

.leave-comment textarea:focus, 
.leave-comment input:focus {
    border-color: #a1ce13;
}

.leave-comment button {
    background: #000;
    border-radius: 20px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 25px;
    text-transform: uppercase;
    position: relative;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.leave-comment button:hover {
    color: #a1ce13;
}

/*-------------------------------------
4.16 Shop
-------------------------------------*/
.shop {
    padding: 70px 0 35px;
}

.shop-inner {
    padding: 10px 30px;
}

.shop-setting {
    border-bottom: 1px solid #d2d2d2;
    padding: 15px 0;
    text-align: center;
}

.shop-veiw {
    display: inline-block;
}

.shop-setting p {
    display: inline-block;
    float: left;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 8px;
}

.shop-setting ul {
    display: inline-block;
    margin: 0;
    text-align: left;
}

.shop-setting li {
    margin: 0 4px;
}

.content .shop .shop-setting a {
    border: none;
    background: none;
    padding: 5px 0;
    color: #858585;
    border-radius: 0;
}

.content .shop .shop-setting a:hover {
    background: none;
    border: none;
}

.content .shop .shop-setting li.active a {
    color: #a1ce13;
    background: none;
    border: none;
}

.shop-select {
    display: inline-block;
    margin-left: 50px;
}

.shop-select .form-control {
    background: none;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    height: 28px;
    padding: 3px 25px;
    width: auto;
}

.shop-product {
    padding-top: 30px;
}

.list-product {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 30px;
    padding-bottom: 35px;
}

.list-product:last-child {
    border: none;
    margin-bottom: 0;
}

.list-product del {
    color: #858585;
    margin-right: 5px;
}

.list-product img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.list-product:hover .product-disable {
    opacity: 1;
    visibility: visible;
}

.product-details {
    padding: 0 20px 0 0;
}

.product-details h4 {
    margin: 0 0 10px;
}

.product-details p {
    line-height: 20px;
}

.shop .product-action-details {
    margin-bottom: 0;
    margin-top: 20px;   
}

.pagenation {
    padding-top: 35px;
    text-align: center;
}

.pagenation ul {

}

.pagenation li {
    display: inline-block;
    margin-right: 5px;
}

.pagenation a {
    border: 1px solid #d2d2d2;
    border-radius: 50%;h
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 32px;
}

.pagenation li.active a {
    background: #a1ce13;
    color: #fff;
    border: 1px solid #a1ce13;
}

.pagenation a:hover {
    background: #a1ce13;
    color: #fff;
    border: 1px solid #a1ce13;
}

/*-------------------------------------
4.17 Single Product
-------------------------------------*/
.product-single {
    padding: 70px 0 35px;
}

.product-single-inner {
    padding: 10px 30px;
}

.gallery-product {
    padding-top: 5px;
}

.gallery-product li {
    margin: 0;
    padding-left: 5px;
}

.gallery-product a {
    border: 1px solid #d2d2d2;
    padding: 5px;
}

.gallery-product .owl-nav .owl-next, 
.gallery-product .owl-nav .owl-prev {
    background-color: #fff;
    bottom: 0;
    color: #353535;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    position: absolute;
    opacity: 1;
    visibility: visible;
    text-align: center;
    top: 0;
    width: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.gallery-product .owl-nav .owl-prev {
    left: -5px;
}

.gallery-product .owl-nav .owl-next {
    right: -5px;
}

.gallery-product .owl-nav .owl-next:hover, 
.gallery-product .owl-nav .owl-prev:hover {
    background: #a1ce13;
    color: #fff;
}

.product-info {
    margin-top: 70px;
}

.product-info ul {
    margin: 0;
    text-align: left;
}

.product-info li {
    margin: 0;
}

.product-info .nav li a {
    border-radius: 0;
    letter-spacing: 1px;
}

.product-info .nav li a:hover {
    background: #fcfcfc;
    color: #353535;
}

.product-info .nav li.active a {
    background: #fcfcfc;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
}

.product-info .tab-content {
    border: 1px solid #d2d2d2;
    padding: 15px;
    margin-top: -1px;
}

.product-description {

}

.product-description h4 {
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 0;
}

.product-description p {
    line-height: 20px;
    margin-bottom: 5px;
}

.product-info table {
    width: 100%;
}

.product-info th {
    background: #f2f5f7;
    padding: 15px 10px;
    border: 1px solid #a1a1a1;
}

.product-info td {
    background: #fff;
    padding: 15px 10px;
    border: 1px solid #a1a1a1;
}

.comment-review .text-comment {
    width: 100%;
}

.comment-review .text-comment:first-child {
    padding-top: 0;
}

.add-rating p {
    text-align: center;
}

.add-rating form {
    margin-top: 10px;
}

.add-star {
    margin-left: 10px;
    text-align: center;
}

.add-star .star-rating {
    display: inline-block;
    border-right: 1px solid #353535;
    padding: 0 10px;
    margin-bottom: 5px;
}

.add-star .star-rating:last-child {
    border-right: none;
}

.add-star .star-rating:hover {
    color: unset;
}

.add-star .star-rating label {
    margin: 0;
}

.add-star .star-rating label input {
    margin-top: 4px;
    margin-left: -19px;
    width: auto;
}

.stars {
    display: inline-block;
    margin-left: 5px;
}

.add-star i {
    color: #ef6644;
}

.related-product {
    margin-top: 70px;
}

.title-related {
    border-bottom: 1px solid #d2d2d2;
    letter-spacing: 1px;
    padding-bottom: 7px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
}

.related-product .related-carousel:hover .owl-next, 
.related-product .related-carousel:hover .owl-prev {
    opacity: 1;
    visibility: visible;
}

.related-product .related-carousel:hover .owl-next {
    right: 0;
}

.related-product .related-carousel:hover .owl-prev {
    left: 0;
}

/*-------------------------------------
4.18 Register
-------------------------------------*/
.register {
    padding: 70px 0 35px;
}

.register h4 {
    display: inline-block;
    border-bottom: 2px solid #cecece;
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 0;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.sign-up, 
.log-in {
    text-align: center;
}

.sign-up input, 
.log-in input {
    background: #fefefe none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 5px 8px;
    width: 50%;
}

.register input:hover {
    border-color: #a1ce13;
}

.register input:focus {
    border-color: #a1ce13;
}

.log-in {

}

.sign-up a, 
.log-in a {
    background: #000;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 20px;
    text-transform: uppercase;
}

.sign-up a:hover, 
.log-in a:hover {
    color: #a1ce13;
}

.signup-submit a {
    margin-top: 0;
}

.forget-pass a {
    background: none;
    border: none;
    color: #353535;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

/*-------------------------------------
4.19 Cart List
-------------------------------------*/
.cart-list {
    padding: 70px 0 35px;
}

.cart-inner {
    margin-bottom: 30px;
    overflow: auto;
}

.cart-inner table {
    border: 1px solid #d2d2d2;
    width: 100%;
}

.cart-inner thead {

}

.cart-inner thead th {
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 12px 13px;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    color: #fff;
}

.cart-inner tbody {

}

.cart-inner tbody th {
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.cart-inner .product-quantity {
    margin: 0;
}

.cart-checkout {
    margin-bottom: 35px;
}

.cart-checkout table {
    border: 1px solid #d2d2d2;
    width: 100%;
}

.cart-checkout thead {

}

.cart-checkout h4 {
    font-weight: normal;
    letter-spacing: 2px;
    padding: 12px 13px;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    margin: 0;
    color: #fff;
}

.cart-checkout tbody {

}

.cart-checkout tbody th {
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 15px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.cart-checkout .cart-check {
    padding: 30px 0 0 0;
}

.coupon {
    text-align: center;
}

.coupon h4 {
    font-weight: normal;
    letter-spacing: 2px;
    padding: 12px 13px;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    margin: 0;
    color: #fff;
}

.coupon-inner {
    padding: 15px;
}

.coupon-inner p {
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-align: left;
}

.coupon-inner input {
    background: #fefefe none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 5px 12px;
    width: 100%;
}

.coupon-inner input:focus, 
.coupon-inner input:hover {
    border-color: #a1ce13;
}

.coupon a {
    background: #000;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 20px;
}

.coupon a:hover {
    color: #a1ce13;
}

/*-------------------------------------
4.20 Check Out
-------------------------------------*/
.checkout {
    padding: 70px 0 35px;
}

.checkout h4 {
    display: inline-block;
    border-bottom: 2px solid #cecece;
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 0;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.adress {

}

.adress-inner {

}

.adress-inner input {
    background: #fefefe none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 5px 12px;
    width: 100%;
}

.adress-inner select {
    background: #fefefe none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    box-shadow: none;
    margin-bottom: 15px;
    border-radius: 0;
    padding: 5px 12px;
    height: 30px;
}

.adress-inner textarea {
    background: #fefefe none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 5px 12px;
    width: 100%;
}

.adress-inner textarea:hover, 
.adress-inner input:hover, 
.adress-inner select:hover,
.adress-inner textarea:focus, 
.adress-inner input:focus, 
.adress-inner select:focus {
    border-color: #a1ce13;
}

.payment-total {
    margin-bottom: 30px;
}

.payment-total table {
    border: 1px solid #d2d2d2;
    width: 100%;
}

.payment-total thead {

}

.payment-total thead th {
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 12px 13px;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    color: #fff;
}

.payment-total tbody th {
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 15px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.payment-pay {
    margin-bottom: 15px;
}

.payment-pay p {
    margin-bottom: 15px;
}

.payment-pay .radio {
    margin-bottom: 10px;
}

.payment .cart-check {
    padding: 15px 0 0 0;
}

/*-------------------------------------
4.21 Wishlist
-------------------------------------*/
.wishlist {
    padding: 70px 0 35px;
}

.wishlist-inner {
    overflow: auto;
}

.wishlist table {
    border: 1px solid #d2d2d2;
    width: 100%;
}

.wishlist thead {

}

.wishlist thead th {
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 12px 13px;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    color: #fff;
}

.wishlist tbody {

}

.wishlist tbody th {
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.wish-add {
    background: #000;
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 20px;
}

/*-------------------------------------
4.22 Error 404
-------------------------------------*/
.error-404 {
    padding: 70px 0 35px;
}

.error-404-inner {
    text-align: center;
}

.error-404-inner h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    word-spacing: 2px;
}

.error-404-inner p {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 30px 0;
}

/*-------------------------------------
4.23 Contact
-------------------------------------*/
.contact-us {
    padding: 70px 0 35px;
}

.info-contact {
    border-right: 1px solid #d2d2d2;
}

.info-contact ul {
    font-size: 13px;
    padding: 5px;
    margin-top: 0;
}

.info-contact li {
    display: block;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.info-contact i {
    border: 1px solid;
    border-radius: 50%;
    color: #353535;
    margin-right: 10px;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 31px;
    font-size: 11px;
}

.text-contact h3 {
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    color: #000;
}

.text-contact input {
    width: 50%;
    background: #fefefe;
    border: 1px solid #d2d2d2;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 5px 12px;
}

.text-contact textarea {
    width: 100%;
    background: #fefefe;
    border: 1px solid #d2d2d2;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 5px 12px;
}

.text-contact textarea:hover, 
.text-contact input:hover,
.text-contact textarea:focus, 
.text-contact input:focus {
    border-color: #a1ce13;
}

.send {
    margin: 0;
    text-align: center;
}

.send input{
    text-align: center;
    background: #000;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px 25px;
    margin: 0;
    width: auto;
    border: none;
    border-radius: 20px;
}

.send input:hover {
    color: #a1ce13;
    border: none;
}

.map{
    margin-top: 70px;
    margin-bottom: 20px;
    border: 1px solid #d2d2d2;
    overflow: hidden;
    height: 500px;
    width: 100%;
}

#gmap_canvas img{
    max-width: none!important;
    background: none!important;
}

/*-------------------------------------
4.24 About
-------------------------------------*/
.about {
    padding: 70px 0 35px;
}

.about-text {
    margin-bottom: 70px;
}

.about-text p {
    line-height: 20px;
    text-align: center;
}

.about-image {
    margin-bottom: 70px;
}

.about-image img {
    display: block;
}

/*-------------------------------------
5. Footer
-------------------------------------*/
.footer {
    background: #1d1d1d;
    color: #fff;
    margin-top: 35px;
    padding: 40px 0 0;
}

.title-footer {
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 25px 0;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}

.title-footer span{
    background: #1d1d1d;
    z-index: 9;
    position: relative;
    padding: 0 15px;
}

.title-footer:before {
    border-top: 1px solid #d2d2d2;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    width: 80%;
    z-index: 0;
}

.contact {
    margin-bottom: 40px;
}

.contact ul {
    font-size: 13px;
    text-align: center;
}

.contact li {
    display: block;
    letter-spacing: 1px;
    color: #efefef;
    margin-bottom: 20px;
}

.contact li span{
    letter-spacing: 2px;
    font-weight: 700;
    margin-right: 3px;
}

.contact i {
    font-size: 13px;
    margin-right: 7px;
    text-align: center;
}

.tags {
    margin-bottom: 40px;
}

.tags ul {
    font-size: 13px;
    text-align: center;
}

.tags li {
    display: inline-block;
    margin: 0 7px 7px 0;
    text-transform: uppercase;
}

.tags a {
    border: 1px solid #4f4f4f;
    color: #fff;
    padding: 8px;
    position: relative;
    display: block;
    border-radius: 20px;
    font-size: 12px;
}

.tags a:hover {
    border: 1px solid #a1ce13;
}

.subscribe {
    border: 1px solid #afafaf;
    margin-bottom: 40px;
    padding: 30px;
}

.subscribe h4 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0 5px 10px;
    letter-spacing: 2px;
}

.subscribe p {
    text-align: center;
    margin-bottom: 20px;
    word-spacing: 1px;
}

.subscribe-form {
    margin-top: 25px;
}

.subscribe input {
    border: none;
    background: #fcfcfc;
    border-radius: 20px;
    color: #353535;
    width: 100%;
    height: 38px;
    padding: 6px 35px 6px 11px;
    font-size: 12px;
}

.subscribe form {
    position: relative;
}

.subscribe button {
    background: #a1ce13;
    height: 38px;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 6px 9px;
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.subscribe input:focus {
    color: #353535;
    border: 1px solid #a1ce13;
}

.copyright {
    background: #000;
    padding: 15px 0 15px;
}

.copyright-text {
    float: left;
}

.copyright-text p {
    margin: 0;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
}

.copyright-pay {
    float: right;
}

.copyright-pay i {
    color: #909090;
    font-size: 18px;
    margin-left: 10px;
}

/*-------------------------------------
6. Quick View
-------------------------------------*/
.quick-view {

}

.modal-dialog {
    width: 60%;
    top: 5%;
    position: relative;
}

.modal-content {
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
}

button.close {
    padding-right: 5px;
}

.modal-body {
    padding: 0;
    margin: 25px;
}

.modal-details {
}

.modal-details h4 {
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
}

.modal-details p {
    line-height: 20px;
    margin-bottom: 20px;
}

.product-rating {
    margin: 15px 0;
}

.product-rating span {

}

.product-rating span i {
    color: #ef6644;
    cursor: pointer;
}

.product-rating a {
    margin-left: 15px;
}

.price {
    display: block;
    margin: 15px 0;
}

.product-quantity {
    margin: 30px 0;
}

.product-quantity p {
    color: #000;
    float: left;
    margin: 0;
    padding-top: 8px;
    text-transform: uppercase;
    width: 30%;
}

.input-group {

}

.product-action-details {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.product-action-details .addto {
    width: auto;
    padding: 0 10px;
    text-transform: uppercase;
}

.product-action-details a {
    width: 34px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border: 1px solid #353535;
    border-radius: 20px;
    color: #353535;
    margin-right: 3%;
    font-size: 12px;
}

.product-action-details .addto {
    width: auto !important;
    background-color: #000;
    color: #fff;
    border: none !important;
    padding: 0 25px;
}

.product-action-details a.addto:hover{
    border: none;
}

.product-action-details a:hover {
    color: #a1ce13;
    border: 1px solid #a1ce13;
}

.product-meta {
    clear: left;
    color: #000;
    text-transform: uppercase;
}

.product-meta a {
    margin-right: 1px;
}

.cat-product {
    margin-bottom: 15px;
}

.tag-product {

}

/*-------------------------------------
7. Scroll Up
-------------------------------------*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #252525;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    right: 30px;
    bottom: -10px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    background-color: #a1ce13;
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
    bottom: 30px;
    box-shadow: 0 0 20px -15px #808080;
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/*-------------------------------------
8. Home Page 2
-------------------------------------*/
.header-two {
    position: absolute;
    width: 100%;
    z-index: 9;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.header-two .search input, 
.content-two .slide-text > a.btn-primary::before, 
.content-two .slide-text > a.btn-primary,
.content-two .control-round .carousel-control {
    border-radius: 0;
}

/*-------------------------------------
8.1 Header Top
-------------------------------------*/
.header-two .header-top {
    border: none;
    padding: 10px 0;
}

.header-two .logo {
    float: left;
}

.header-two .search {
    padding: 23px 0;
}

.header-two .search input {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
}

.header-two .search input:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.header-two .search button {
    color: #a1ce13;
}

/*-------------------------------------
8.2 Header Bottom
-------------------------------------*/
.header-two .header-bottom {
    height: auto;
    border: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.header-two .header-bottom.sticky {
    width: 100%;
    background: #fcfcfc;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.header-two .main-menu {
    text-align: left;
}

.header-two .header-bottom-inner {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.header-bottom.sticky .header-bottom-inner {
    border: none;
}

.header-two .logo-menu {
    width: 10%;
    position: absolute;
    left: -50%;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
}

.header-two .logo-menu img {
    padding: 3px 0;
    height: 42px;
}

.header-two .sticky .logo-menu {
    left: 20px;
    visibility: visible;
    transition: all 0.4s ease 0.15s;
    -webkit-transition: all 0.4s ease 0.15s;
}

.header-two .menu-two {
    width: 80%;
    float: left;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.header-two .sticky .main-menu {
    width: 85%;
    float: right;
}

.header-two .main-menu a:hover {
    color: #a1ce13 !important;
}

.header-two .main-menu ul li a {
    color: #fff;
    margin-right: 25px;
    padding: 12px 0;
}

.header-bottom.sticky .main-menu ul li a {
    color: #353535;
}

.header-two .sub-menu .has-children > a:after {
    position: relative;
    left: 3px;
    top: 2px;
}

.header-two .main-menu .sub-menu a {
    color: #353535;
    padding: 12px;
}

.header-two .main-menu .sub-menu {
    top: 23px;
}

.header-two .main-menu li:hover .sub-menu {
    top: 41px;
}

.header-two .main-menu .has-children > a:after {
    font-size: 12px;
    content: "\f107";
    font-weight: 600;
}

.header-two .main-menu .has-children:hover > a:after {
    content: "\f106";
}

.header-two .main-menu .sub-menu .has-children > a:after {
    font-size: 14px;
    content: "\f105";
}

.header-two .main-menu .sub-menu .has-children:hover > a:after {
    content: "\f104";
}

.header-two .user-link, 
.header-two .cart-link {
    padding: 12px 0;
}

.header-two .cart {
    margin-right: 10px;
}

.header-two .user-link, 
.header-two .cart-link {
    color: #fff;
}

.header-bottom.sticky .user-link, 
.header-bottom.sticky .cart-link {
    color: #353535;
}

.header-two.user ul, 
.header-two .cart ul {
    top: 23px;
}

.header-two .cart:hover ul, 
.header-two .user:hover ul {
    top: 40px;
}

/*-------------------------------------
8.3 Content 2
-------------------------------------*/
.content-two .slider-area {
    
}

.content-two .bs-slider {
    max-height: 760px;
}

.content-two .slide-text {
    position: absolute;
    top: 35%;
    padding: 40px 45px;
}

.content-two .slide-text:after {
    border: 1px solid rgba(255, 255, 255, 0.6);
    bottom: -5px;
    content: "";
    left: -5px;
    position: absolute;
    right: -5px;
    top: -5px;
}

.content-two .slide-text > h1 {
    font-size: 35px;
    color: #000;
}

.content-two .slide-text > h1, 
.content-two .slide-text > p, 
.content-two .slide-text > a.btn-primary {
    margin-top: 0;
    z-index: 1;
}

.content-two .slide-text > p, 
.content-two .slide-text > a.btn-primary {
    color: #353535;
}

.content-two .slide_style_left, 
.content-two .slide_style_right, 
.content-two .slide_style_center {
    background-color: #fff;
    width: auto;
    display: inline-table;
}

.content-two .slide_style_left {
    right: 46%;
}

.content-two .slide_style_right {
    left: 46%;
}

.content-two .slide_style_center {

}

.content-two .control-round .carousel-control {
    top: 51%;
}

.content-two .product-action-details {
    margin-bottom: 0;
}
