﻿<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product">
<head runat="server">
    <title runat="server"></title>
    <asp:PlaceHolder runat="server">
        <link type="text/css" href="../Scripts/jquery-ui-1.8.10.custom/css/custom-theme/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
        <script type="text/javascript" src="../Scripts/jquery-ui-1.8.10.custom/js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="../Scripts/jquery-ui-1.8.10.custom/js/jquery-ui-1.8.10.custom.min.js"></script>
        <script type="text/javascript" src="../Scripts/jquery-ui-1.8.10.custom/js/jquery.ui.datepicker-he.js"></script>
        <!-- BEGIN FAVICO -->
        <link rel="icon" type="image/x-icon" href="../Templates/<%=WebUtils.CurrentDomain.ThemeFolder %>/favicon.ico" />
        <!-- END FAVICO -->
    </asp:PlaceHolder>
    
    <script type="text/jscript">
        $(document).ready(function () { netpay.Blocker.init(true, { opacity: 30 }); });
    </script>
</head>
<body onload="focus();">
    <form id="form1" runat="server" style="margin: 0px; padding: 0px;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
            <tr>
                <td align="center" style="border-bottom: 3px solid #808080;" height="40">
                    <table class="Inner" style="direction: ltr;" width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="merchantLogo">
                                <asp:Image runat="server" ID="imgMerchantLogo" />
                            </td>
                            <td style="padding: 6px; float: right;">
                                <netpay:LanguageSelector ID="wcLanguageSelector" runat="server" UsePostback="true" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    this is a test
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table class="Inner footer" id="tblFooter" runat="server">
                        <tr>
                            <td>
                                <img src="/NPCommon/Images/IconCardList.jpg" runat="server" id="imgCardList" alt="Secured web site by Godaddy" /><br />
                                <asp:Literal ID="litBottomLine" runat="server" Text="<%$ Resources:Main, ltBottomLine %>" /><br />
                            </td>
                            <td>
                                <img src="/NPCommon/Images/GodaddySeal1024.gif" alt="Secured web site by Godaddy" /><br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>