﻿<%@ Master Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="True" CodeBehind="ContentPage.master.cs" Inherits="Netpay.Admin.Accounts.ContentPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
	<asp:ContentPlaceHolder runat="server" ID="HeadContent" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" Runat="Server">
	<asp:PlaceHolder runat="server" ID="phAccountHeader" />
	<asp:ContentPlaceHolder runat="server" ID="BodyContent" />
</asp:Content>

