﻿table.pagerWhite { font-size: 11px; }

table.pagerWhite td { padding: 1px 10px; border: 1px solid gray; cursor: pointer; color: Black; background-color: White; }
table.pagerWhite td.on { background-color: #e2e2e2; }

.pagerMsg { padding-top:6px; color:Black; background-color:White; font-size:13px; }
