﻿body {
}
html, form, body {direction:rtl;text-align:right;}

.language-selector {float: left;}

/* Login box */ 
.login-box{text-align: right;}
.login-box .login{text-align:left}

/* Grid */
.grid-1 {float: right;}
.grid-2 {float: right;}
.grid-3 {float: right; padding-right: 10%; padding-left: 0; }
.grid-3 > ul {text-align: right}
         

 /* Size */
.align-right {text-align: left}
.align-left {text-align: right}
.padding-5-right {padding-left: 5px;}
.padding-5-left {padding-right: 5px;}


.pull-right {float: left}
.pull-left {float: right;}


.fa-hand-o-right:before {content: "\f0a5";}
.fa-sign-out:before {content: "\f090";}
.fa-arrow-circle-right:before {content: "\f0a8";}