<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1255">
</head>
<frameset rows="250,*,0,0" framespacing="0" frameborder="0" id="billingMain" >
	<frame scrolling="no" src="billingShow_menu.aspx?BillingCompanysID=<%= request("BillingCompanysID") %>&billingNumber=<%= request("billingNumber") %>&invoiceType=<%= request("invoiceType") %>" name="fraBillMenu" id="fraBillMenu" >
	<frame src="" name="fraBillprintPreview" id="fraBillprintPreview" frameborder="0" scrolling="yes">
	<frame src="" name="fraBillprint" id="fraBillprint" frameborder="0" scrolling="no">
	<frame src="" name="fraBillactions" id="fraBillactions" frameborder="0" scrolling="no">
</frameset>
</html>
