<%@ Page Language="VB" Inherits="Netpay.MerchantControlPanel.PopupPage" EnableEventValidation="false" EnableViewStateMac="false" ValidateRequest="false" EnableViewState="false"  %>

<%@ Import Namespace="Netpay.MerchantControlPanel" %>
<%@ Import Namespace="System.Data.SqlClient" %>

<script runat="server" type="text/vbscript">
	Protected Overrides Sub OnLoad(e As EventArgs)
		MyBase.OnLoad(e)
		Dim nBillingCompanysID As Integer = Request("BillingCompanysID").ToInt32(0)
		Dim nBillingNumber As Integer = Request("billingNumber").ToInt32(0)
		Dim nInvoiceType As Integer = Request("invoiceType").ToInt32(0)
		dim x As Object = dbPages.ExecSql("UPDATE tblInvoiceDocument SET id_PrintDate=GetDate() WHERE id_BillingCompanyID=" & nBillingCompanysID & " AND id_InvoiceNumber=" & nBillingNumber & " AND id_Type=" & nInvoiceType)
	End Sub
</script>
<html>
	<head runat="server">
		<title></title>
		<script language="javascript" type="text/javascript">
			top.opener.location.reload();
		</script>
	</head>
	<body></body>
</html>