﻿
    <h1>ISO CODES</h1>

    <p>
        We use ISO standard two letter codes for specifying countries and states.
    </p>
    <h2> Country Codes </h2>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AF</td>
                <td>Afghanistan</td>
            </tr>

            <tr>
                <td>AX</td>
                <td>Aland Islands</td>
            </tr>

            <tr>
                <td>AL</td>
                <td>Albania</td>
            </tr>

            <tr>
                <td>DZ</td>
                <td>Algeria</td>
            </tr>

            <tr>
                <td>AS</td>
                <td>American Samoa</td>
            </tr>

            <tr>
                <td>AD</td>
                <td>Andorra</td>
            </tr>

            <tr>
                <td>AO</td>
                <td>Angola</td>
            </tr>

            <tr>
                <td>AI</td>
                <td>Anguilla</td>
            </tr>

            <tr>
                <td>AQ</td>
                <td>Antarctica</td>
            </tr>

            <tr>
                <td>AG</td>
                <td>Antigua</td>
            </tr>

            <tr>
                <td>AR</td>
                <td>Argentina</td>
            </tr>

            <tr>
                <td>AM</td>
                <td>Armenia</td>
            </tr>

            <tr>
                <td>AW</td>
                <td>Aruba</td>
            </tr>

            <tr>
                <td>AU</td>
                <td>Australia</td>
            </tr>

            <tr>
                <td>AT</td>
                <td>Austria</td>
            </tr>

            <tr>
                <td>AZ</td>
                <td>Azerbaijan</td>
            </tr>

            <tr>
                <td>BS</td>
                <td>Bahamas</td>
            </tr>

            <tr>
                <td>BH</td>
                <td>Bahrain</td>
            </tr>

            <tr>
                <td>BD</td>
                <td>Bangladesh</td>
            </tr>

            <tr>
                <td>BB</td>
                <td>Barbados</td>
            </tr>

            <tr>
                <td>BY</td>
                <td>Belarus</td>
            </tr>

            <tr>
                <td>BE</td>
                <td>Belgium</td>
            </tr>

            <tr>
                <td>BZ</td>
                <td>Belize</td>
            </tr>

            <tr>
                <td>BJ</td>
                <td>Benin</td>
            </tr>

            <tr>
                <td>BM</td>
                <td>Bermuda</td>
            </tr>

            <tr>
                <td>BT</td>
                <td>Bhutan</td>
            </tr>

            <tr>
                <td>BO</td>
                <td>Bolivia</td>
            </tr>

            <tr>
                <td>BA</td>
                <td>Bosniaand Herzegovina</td>
            </tr>

            <tr>
                <td>BW</td>
                <td>Botswana</td>
            </tr>

            <tr>
                <td>BV</td>
                <td>Bouvet island</td>
            </tr>

            <tr>
                <td>BR</td>
                <td>Brazil</td>
            </tr>

            <tr>
                <td>IO</td>
                <td>British Indian Ocean Territory</td>
            </tr>

            <tr>
                <td>BN</td>
                <td>Brunei</td>
            </tr>

            <tr>
                <td>BG</td>
                <td>Bulgaria</td>
            </tr>

            <tr>
                <td>BF</td>
                <td>Burkina Faso</td>
            </tr>

            <tr>
                <td>BI</td>
                <td>Burundi</td>
            </tr>

            <tr>
                <td>KH</td>
                <td>Cambodia</td>
            </tr>

            <tr>
                <td>CM</td>
                <td>Cameroon</td>
            </tr>

            <tr>
                <td>CA</td>
                <td>Canada</td>
            </tr>

            <tr>
                <td>CV</td>
                <td>Cape verde</td>
            </tr>

            <tr>
                <td>KY</td>
                <td>Cayman Islands</td>
            </tr>

            <tr>
                <td>CF</td>
                <td>Central african republic</td>
            </tr>

            <tr>
                <td>TD</td>
                <td>Chad</td>
            </tr>

            <tr>
                <td>CL</td>
                <td>Chile</td>
            </tr>

            <tr>
                <td>CN</td>
                <td>China</td>
            </tr>

            <tr>
                <td>CX</td>
                <td>Christmas island</td>
            </tr>

            <tr>
                <td>CC</td>
                <td>Cocos (keeling) islands</td>
            </tr>

            <tr>
                <td>CO</td>
                <td>Colombia</td>
            </tr>

            <tr>
                <td>KM</td>
                <td>Comoros</td>
            </tr>

            <tr>
                <td>CD</td>
                <td>Congo, DRC</td>
            </tr>

            <tr>
                <td>CG</td>
                <td>Congo, ROC</td>
            </tr>

            <tr>
                <td>CK</td>
                <td>Cook islands</td>
            </tr>

            <tr>
                <td>CR</td>
                <td>Costa Rica</td>
            </tr>

            <tr>
                <td>HR</td>
                <td>Croatia</td>
            </tr>

            <tr>
                <td>CU</td>
                <td>Cuba</td>
            </tr>

            <tr>
                <td>CY</td>
                <td>Cyprus</td>
            </tr>

            <tr>
                <td>CZ</td>
                <td>Czech Republic</td>
            </tr>

            <tr>
                <td>DK</td>
                <td>Denmark</td>
            </tr>

            <tr>
                <td>DJ</td>
                <td>Djibouti</td>
            </tr>

            <tr>
                <td>DM</td>
                <td>Dominica</td>
            </tr>

            <tr>
                <td>DO</td>
                <td>Dominican Republic</td>
            </tr>

            <tr>
                <td>EC</td>
                <td>Ecuador</td>
            </tr>

            <tr>
                <td>EG</td>
                <td>Egypt</td>
            </tr>

            <tr>
                <td>SV</td>
                <td>El Salvador </td>
            </tr>

            <tr>
                <td>GQ</td>
                <td>Equatorial Guinea</td>
            </tr>

            <tr>
                <td>ER</td>
                <td>Eritrea</td>
            </tr>

            <tr>
                <td>EE</td>
                <td>Estonia</td>
            </tr>

            <tr>
                <td>ET</td>
                <td>Ethiopia</td>
            </tr>

            <tr>
                <td>MK</td>
                <td>F.Y.R. of Macedonia</td>
            </tr>

            <tr>
                <td>FK</td>
                <td>Falkland islands (malvinas)</td>
            </tr>

            <tr>
                <td>FO</td>
                <td>Faroe islands</td>
            </tr>

            <tr>
                <td>FJ</td>
                <td>Fiji Islands</td>
            </tr>

            <tr>
                <td>FI</td>
                <td>Finland</td>
            </tr>

            <tr>
                <td>FR</td>
                <td>France</td>
            </tr>

            <tr>
                <td>GF</td>
                <td>French Guiana</td>
            </tr>

            <tr>
                <td>PF</td>
                <td>French Polynesia</td>
            </tr>

            <tr>
                <td>TF</td>
                <td>French Southern and Antarctic Lands</td>
            </tr>

            <tr>
                <td>GA</td>
                <td>Gabon</td>
            </tr>

            <tr>
                <td>GM</td>
                <td>Gambia</td>
            </tr>

            <tr>
                <td>GE</td>
                <td>Georgia</td>
            </tr>

            <tr>
                <td>DE</td>
                <td>Germany</td>
            </tr>

            <tr>
                <td>GH</td>
                <td>Ghana</td>
            </tr>

            <tr>
                <td>GI</td>
                <td>Gibraltar</td>
            </tr>

            <tr>
                <td>GR</td>
                <td>Greece</td>
            </tr>

            <tr>
                <td>GL</td>
                <td>Greenland</td>
            </tr>

            <tr>
                <td>GD</td>
                <td>Grenada</td>
            </tr>

            <tr>
                <td>GP</td>
                <td>Guadeloupe</td>
            </tr>

            <tr>
                <td>GU</td>
                <td>Guam</td>
            </tr>

            <tr>
                <td>GT</td>
                <td>Guatemala</td>
            </tr>

            <tr>
                <td>GG</td>
                <td>Guernsey</td>
            </tr>

            <tr>
                <td>GN</td>
                <td>Guinea</td>
            </tr>

            <tr>
                <td>GW</td>
                <td>Guinea-Bissau</td>
            </tr>

            <tr>
                <td>GY</td>
                <td>Guyana</td>
            </tr>

            <tr>
                <td>HT</td>
                <td>Haiti</td>
            </tr>

            <tr>
                <td>HM</td>
                <td>Heard Island and McDonald Islands</td>
            </tr>

            <tr>
                <td>VA</td>
                <td>Holy see (vatican city state)</td>
            </tr>

            <tr>
                <td>HN</td>
                <td>Honduras</td>
            </tr>

            <tr>
                <td>HK</td>
                <td>Hong Kong SAR</td>
            </tr>

            <tr>
                <td>HU</td>
                <td>Hungary</td>
            </tr>

            <tr>
                <td>IS</td>
                <td>Iceland</td>
            </tr>

            <tr>
                <td>IN</td>
                <td>India</td>
            </tr>

            <tr>
                <td>ID</td>
                <td>Indonesia</td>
            </tr>

            <tr>
                <td>IR</td>
                <td>Iran</td>
            </tr>

            <tr>
                <td>IQ</td>
                <td>Iraq</td>
            </tr>

            <tr>
                <td>IE</td>
                <td>Ireland</td>
            </tr>

            <tr>
                <td>IM</td>
                <td>Isle of Man</td>
            </tr>

            <tr>
                <td>IL</td>
                <td>Israel</td>
            </tr>

            <tr>
                <td>IT</td>
                <td>Italy</td>
            </tr>

            <tr>
                <td>CI</td>
                <td>Ivory Coast</td>
            </tr>

            <tr>
                <td>JM</td>
                <td>Jamaica</td>
            </tr>

            <tr>
                <td>JP</td>
                <td>Japan</td>
            </tr>

            <tr>
                <td>JE</td>
                <td>Jersey</td>
            </tr>

            <tr>
                <td>JO</td>
                <td>Jordan</td>
            </tr>

            <tr>
                <td>KZ</td>
                <td>Kazakhstan</td>
            </tr>

            <tr>
                <td>KE</td>
                <td>Kenya</td>
            </tr>

            <tr>
                <td>KI</td>
                <td>Kiribati</td>
            </tr>

            <tr>
                <td>KR</td>
                <td>Korea</td>
            </tr>

            <tr>
                <td>KP</td>
                <td>Korea (North)</td>
            </tr>

            <tr>
                <td>KW</td>
                <td>Kuwait</td>
            </tr>

            <tr>
                <td>KG</td>
                <td>Kyrgyz Republic</td>
            </tr>

            <tr>
                <td>LA</td>
                <td>Lao, PDR</td>
            </tr>

            <tr>
                <td>LV</td>
                <td>Latvia</td>
            </tr>

            <tr>
                <td>LB</td>
                <td>Lebanon</td>
            </tr>

            <tr>
                <td>LS</td>
                <td>Lesotho</td>
            </tr>

            <tr>
                <td>LR</td>
                <td>Liberia</td>
            </tr>

            <tr>
                <td>LY</td>
                <td>Libya</td>
            </tr>

            <tr>
                <td>LI</td>
                <td>Liechtenstein</td>
            </tr>

            <tr>
                <td>LT</td>
                <td>Lithuania</td>
            </tr>

            <tr>
                <td>LU</td>
                <td>Luxembourg</td>
            </tr>

            <tr>
                <td>MO</td>
                <td>Macau</td>
            </tr>

            <tr>
                <td>MG</td>
                <td>Madagascar</td>
            </tr>

            <tr>
                <td>MW</td>
                <td>Malawi</td>
            </tr>

            <tr>
                <td>MY</td>
                <td>Malaysia</td>
            </tr>

            <tr>
                <td>MV</td>
                <td>Maldives</td>
            </tr>

            <tr>
                <td>ML</td>
                <td>Mali</td>
            </tr>

            <tr>
                <td>MT</td>
                <td>Malta</td>
            </tr>

            <tr>
                <td>MH</td>
                <td>Marshall islands</td>
            </tr>

            <tr>
                <td>MQ</td>
                <td>Martinique</td>
            </tr>

            <tr>
                <td>MR</td>
                <td>Mauritania</td>
            </tr>

            <tr>
                <td>MU</td>
                <td>Mauritius</td>
            </tr>

            <tr>
                <td>YT</td>
                <td>Mayotte</td>
            </tr>

            <tr>
                <td>MX</td>
                <td>Mexico</td>
            </tr>

            <tr>
                <td>FM</td>
                <td>Micronesia</td>
            </tr>

            <tr>
                <td>MD</td>
                <td>Moldova</td>
            </tr>

            <tr>
                <td>MC</td>
                <td>Monaco</td>
            </tr>

            <tr>
                <td>MN</td>
                <td>Mongolia</td>
            </tr>

            <tr>
                <td>ME</td>
                <td>Montenegro</td>
            </tr>

            <tr>
                <td>MS</td>
                <td>Montserrat</td>
            </tr>

            <tr>
                <td>MA</td>
                <td>Morocco</td>
            </tr>

            <tr>
                <td>MZ</td>
                <td>Mozambique</td>
            </tr>

            <tr>
                <td>MM</td>
                <td>Myanmar</td>
            </tr>

            <tr>
                <td>NA</td>
                <td>Namibia</td>
            </tr>

            <tr>
                <td>NR</td>
                <td>Nauru</td>
            </tr>

            <tr>
                <td>NP</td>
                <td>Nepal</td>
            </tr>

            <tr>
                <td>NL</td>
                <td>Netherlands</td>
            </tr>

            <tr>
                <td>AN</td>
                <td>Netherlands Antilles</td>
            </tr>

            <tr>
                <td>NC</td>
                <td>New caledonia</td>
            </tr>

            <tr>
                <td>NZ</td>
                <td>New Zealand</td>
            </tr>

            <tr>
                <td>NI</td>
                <td>Nicaragua</td>
            </tr>

            <tr>
                <td>NE</td>
                <td>Niger</td>
            </tr>

            <tr>
                <td>NG</td>
                <td>Nigeria</td>
            </tr>

            <tr>
                <td>NU</td>
                <td>Niue</td>
            </tr>

            <tr>
                <td>NF</td>
                <td>Norfolk island</td>
            </tr>

            <tr>
                <td>MP</td>
                <td>Northern mariana islands</td>
            </tr>

            <tr>
                <td>NO</td>
                <td>Norway</td>
            </tr>

            <tr>
                <td>OM</td>
                <td>Oman</td>
            </tr>

            <tr>
                <td>PK</td>
                <td>Pakistan</td>
            </tr>

            <tr>
                <td>PW</td>
                <td>Palau</td>
            </tr>

            <tr>
                <td>PS</td>
                <td>Palestinian territory</td>
            </tr>

            <tr>
                <td>PA</td>
                <td>Panama</td>
            </tr>

            <tr>
                <td>PG</td>
                <td>Papua New Guinea</td>
            </tr>

            <tr>
                <td>PY</td>
                <td>Paraguay</td>
            </tr>

            <tr>
                <td>PE</td>
                <td>Peru</td>
            </tr>

            <tr>
                <td>PH</td>
                <td>Philippines</td>
            </tr>

            <tr>
                <td>PN</td>
                <td>Pitcairn</td>
            </tr>

            <tr>
                <td>PL</td>
                <td>Poland</td>
            </tr>

            <tr>
                <td>PT</td>
                <td>Portugal</td>
            </tr>

            <tr>
                <td>PR</td>
                <td>Puerto Rico</td>
            </tr>

            <tr>
                <td>QA</td>
                <td>Qatar</td>
            </tr>

            <tr>
                <td>RE</td>
                <td>R?union</td>
            </tr>

            <tr>
                <td>RO</td>
                <td>Romania</td>
            </tr>

            <tr>
                <td>RU</td>
                <td>Russia</td>
            </tr>

            <tr>
                <td>RW</td>
                <td>Rwanda</td>
            </tr>

            <tr>
                <td>SH</td>
                <td>Saint helena</td>
            </tr>

            <tr>
                <td>KN</td>
                <td>Saint kitts and nevis</td>
            </tr>

            <tr>
                <td>LC</td>
                <td>Saint lucia</td>
            </tr>

            <tr>
                <td>PM</td>
                <td>Saint pierre and miquelon</td>
            </tr>

            <tr>
                <td>VC</td>
                <td>Saint vincent &amp; the grenadines</td>
            </tr>

            <tr>
                <td>BL</td>
                <td>Saint-Barthélemy</td>
            </tr>

            <tr>
                <td>MF</td>
                <td>Saint-Martin (French part)</td>
            </tr>

            <tr>
                <td>SM</td>
                <td>San Marino</td>
            </tr>

            <tr>
                <td>ST</td>
                <td>Sao tome and principe</td>
            </tr>

            <tr>
                <td>SA</td>
                <td>Saudi Arabia</td>
            </tr>

            <tr>
                <td>SN</td>
                <td>Senegal</td>
            </tr>

            <tr>
                <td>RS</td>
                <td>Serbia</td>
            </tr>

            <tr>
                <td>CS</td>
                <td>Serbia and montenegro</td>
            </tr>

            <tr>
                <td>SC</td>
                <td>Seychelle Islands</td>
            </tr>

            <tr>
                <td>SL</td>
                <td>Sierra Leone</td>
            </tr>

            <tr>
                <td>SG</td>
                <td>Singapore</td>
            </tr>

            <tr>
                <td>SK</td>
                <td>Slovak Republic</td>
            </tr>

            <tr>
                <td>SI</td>
                <td>Slovenia</td>
            </tr>

            <tr>
                <td>SB</td>
                <td>Solomon islands</td>
            </tr>

            <tr>
                <td>SO</td>
                <td>Somalia</td>
            </tr>

            <tr>
                <td>ZA</td>
                <td>South Africa</td>
            </tr>

            <tr>
                <td>GS</td>
                <td>South Georgia and the South Sandwich Islands</td>
            </tr>

            <tr>
                <td>SS</td>
                <td>South Sudan</td>
            </tr>

            <tr>
                <td>ES</td>
                <td>Spain</td>
            </tr>

            <tr>
                <td>LK</td>
                <td>SriLanka</td>
            </tr>

            <tr>
                <td>SD</td>
                <td>Sudan</td>
            </tr>

            <tr>
                <td>SR</td>
                <td>Suriname</td>
            </tr>

            <tr>
                <td>SJ</td>
                <td>Svalbard and jan mayen</td>
            </tr>

            <tr>
                <td>SZ</td>
                <td>Swaziland</td>
            </tr>

            <tr>
                <td>SE</td>
                <td>Sweden</td>
            </tr>

            <tr>
                <td>CH</td>
                <td>Switzerland</td>
            </tr>

            <tr>
                <td>SY</td>
                <td>Syria</td>
            </tr>

            <tr>
                <td>TW</td>
                <td>Taiwan</td>
            </tr>

            <tr>
                <td>TJ</td>
                <td>Tajikistan</td>
            </tr>

            <tr>
                <td>TZ</td>
                <td>Tanzania</td>
            </tr>

            <tr>
                <td>TH</td>
                <td>Thailand</td>
            </tr>

            <tr>
                <td>TL</td>
                <td>Timor-leste</td>
            </tr>

            <tr>
                <td>TG</td>
                <td>Togo</td>
            </tr>

            <tr>
                <td>TK</td>
                <td>Tokelau</td>
            </tr>

            <tr>
                <td>TO</td>
                <td>Tonga</td>
            </tr>

            <tr>
                <td>TT</td>
                <td>Trinidad and Tobago</td>
            </tr>

            <tr>
                <td>TN</td>
                <td>Tunisia</td>
            </tr>

            <tr>
                <td>TR</td>
                <td>Turkey</td>
            </tr>

            <tr>
                <td>TM</td>
                <td>Turkmenistan</td>
            </tr>

            <tr>
                <td>TC</td>
                <td>Turks and caicos islands</td>
            </tr>

            <tr>
                <td>TV</td>
                <td>Tuvalu</td>
            </tr>

            <tr>
                <td>VI</td>
                <td>U.S.Virgin Islands</td>
            </tr>

            <tr>
                <td>UG</td>
                <td>Uganda</td>
            </tr>

            <tr>
                <td>UA</td>
                <td>Ukraine</td>
            </tr>

            <tr>
                <td>AE</td>
                <td>United Arab Emirates</td>
            </tr>

            <tr>
                <td>GB</td>
                <td>United Kingdom</td>
            </tr>

            <tr>
                <td>US</td>
                <td>United States</td>
            </tr>

            <tr>
                <td>UY</td>
                <td>Uruguay</td>
            </tr>

            <tr>
                <td>UM</td>
                <td>US minor outlying islands</td>
            </tr>

            <tr>
                <td>UZ</td>
                <td>Uzbekistan</td>
            </tr>

            <tr>
                <td>VU</td>
                <td>Vanuatu</td>
            </tr>

            <tr>
                <td>VE</td>
                <td>Venezuela</td>
            </tr>

            <tr>
                <td>VN</td>
                <td>Vietnam</td>
            </tr>

            <tr>
                <td>VG</td>
                <td>Virgin islands, british</td>
            </tr>

            <tr>
                <td>WF</td>
                <td>Wallis and futuna</td>
            </tr>

            <tr>
                <td>EH</td>
                <td>Western sahara</td>
            </tr>

            <tr>
                <td>WS</td>
                <td>Western Samoa</td>
            </tr>

            <tr>
                <td>YE</td>
                <td>Yemen</td>
            </tr>

            <tr>
                <td>ZM</td>
                <td>Zambia</td>
            </tr>

            <tr>
                <td>ZW</td>
                <td>Zimbabwe</td>
            </tr>

        </tbody>
    </table>

    <h2> State Codes </h2>

    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th style="background-color:#006599; color: #fff;" colspan="2">Canada</th>
            <tr>
                <td>BC</td>
                <td>British Columbia</td>
            </tr>

            <tr>
                <td>MB</td>
                <td>Manitoba</td>
            </tr>

            <tr>
                <td>AB</td>
                <td>Alberta</td>
            </tr>

            <tr>
                <td>NB</td>
                <td>New Brunswick</td>
            </tr>

            <tr>
                <td>NF</td>
                <td>Newfoundland</td>
            </tr>

            <tr>
                <td>NL</td>
                <td>Newfoundland and Labrador</td>
            </tr>

            <tr>
                <td>NS</td>
                <td>Nova Scotia</td>
            </tr>

            <tr>
                <td>NT</td>
                <td>Northwest Territorie</td>
            </tr>

            <tr>
                <td>NU</td>
                <td>Nunavut</td>
            </tr>

            <tr>
                <td>SK</td>
                <td>Saskatchewan</td>
            </tr>

            <tr>
                <td>PE</td>
                <td>Prince Edward Island</td>
            </tr>

            <tr>
                <td>QC</td>
                <td>Quebec</td>
            </tr>

            <tr>
                <td>ON</td>
                <td>Ontario</td>
            </tr>

            <tr>
                <td>YT</td>
                <td>Yukon Territory</td>
            </tr>
            <tr><th style="background-color: #006599; color: #fff;" colspan="2">United States</th></tr>
            <tr>
                <td>AA</td>
                <td>Armed Forces Americas</td>
            </tr>

            <tr>
                <td>OR</td>
                <td>Oregon</td>
            </tr>

            <tr>
                <td>PA</td>
                <td>Pennsylvania</td>
            </tr>

            <tr>
                <td>RI</td>
                <td>Rhode Island</td>
            </tr>

            <tr>
                <td>SC</td>
                <td>South Carolina</td>
            </tr>

            <tr>
                <td>SD</td>
                <td>South Dakota</td>
            </tr>

            <tr>
                <td>TN</td>
                <td>Tennessee</td>
            </tr>

            <tr>
                <td>TX</td>
                <td>Texas</td>
            </tr>

            <tr>
                <td>UT</td>
                <td>Utah</td>
            </tr>

            <tr>
                <td>VA</td>
                <td>Virginia</td>
            </tr>

            <tr>
                <td>VT</td>
                <td>Vermont</td>
            </tr>

            <tr>
                <td>WA</td>
                <td>Washington</td>
            </tr>

            <tr>
                <td>WI</td>
                <td>Wisconsin</td>
            </tr>

            <tr>
                <td>WV</td>
                <td>West Virginia</td>
            </tr>

            <tr>
                <td>WY</td>
                <td>Wyoming</td>
            </tr>

            <tr>
                <td>NV</td>
                <td>Nevada</td>
            </tr>

            <tr>
                <td>NY</td>
                <td>New York</td>
            </tr>

            <tr>
                <td>OH</td>
                <td>Ohio</td>
            </tr>

            <tr>
                <td>OK</td>
                <td>Oklahoma</td>
            </tr>

            <tr>
                <td>NM</td>
                <td>New Mexico</td>
            </tr>

            <tr>
                <td>NH</td>
                <td>New Hampshire</td>
            </tr>

            <tr>
                <td>NJ</td>
                <td>New Jersey</td>
            </tr>

            <tr>
                <td>NC</td>
                <td>North Carolina</td>
            </tr>

            <tr>
                <td>ND</td>
                <td>North Dakota</td>
            </tr>

            <tr>
                <td>NE</td>
                <td>Nebraska</td>
            </tr>

            <tr>
                <td>AE</td>
                <td>Armed Forces Europe, Middle East, Africa and Canada</td>
            </tr>

            <tr>
                <td>AK</td>
                <td>Alaska</td>
            </tr>

            <tr>
                <td>AL</td>
                <td>Alabama</td>
            </tr>

            <tr>
                <td>AP</td>
                <td>Armed Forces Pacific</td>
            </tr>

            <tr>
                <td>AR</td>
                <td>Arkansas</td>
            </tr>

            <tr>
                <td>AZ</td>
                <td>Arizona</td>
            </tr>

            <tr>
                <td>MD</td>
                <td>Maryland</td>
            </tr>

            <tr>
                <td>ME</td>
                <td>Maine</td>
            </tr>

            <tr>
                <td>MI</td>
                <td>Michigan</td>
            </tr>

            <tr>
                <td>MN</td>
                <td>Minnesota</td>
            </tr>

            <tr>
                <td>MO</td>
                <td>Missouri</td>
            </tr>

            <tr>
                <td>MS</td>
                <td>Mississippi</td>
            </tr>

            <tr>
                <td>MT</td>
                <td>Montana</td>
            </tr>

            <tr>
                <td>CA</td>
                <td>California</td>
            </tr>

            <tr>
                <td>CO</td>
                <td>Colorado</td>
            </tr>

            <tr>
                <td>CT</td>
                <td>Connecticut</td>
            </tr>

            <tr>
                <td>DC</td>
                <td>District of Columbia</td>
            </tr>

            <tr>
                <td>DE</td>
                <td>Delaware</td>
            </tr>

            <tr>
                <td>FL</td>
                <td>Florida</td>
            </tr>

            <tr>
                <td>GA</td>
                <td>Georgia</td>
            </tr>

            <tr>
                <td>HI</td>
                <td>Hawaii</td>
            </tr>

            <tr>
                <td>IA</td>
                <td>Iowa</td>
            </tr>

            <tr>
                <td>ID</td>
                <td>Idaho</td>
            </tr>

            <tr>
                <td>IL</td>
                <td>Illinois</td>
            </tr>

            <tr>
                <td>IN</td>
                <td>Indiana</td>
            </tr>

            <tr>
                <td>KS</td>
                <td>Kansas</td>
            </tr>

            <tr>
                <td>KY</td>
                <td>Kentucky</td>
            </tr>

            <tr>
                <td>LA</td>
                <td>Louisiana</td>
            </tr>

            <tr>
                <td>MA</td>
                <td>Massachusetts</td>
            </tr>

        </tbody>
    </table>
