
    <h1>
        REPLY CODES
    </h1>

    <p>
        000 = The transaction has completed successfully<br />
        001 = Transaction is pending authorization
    </p>
    <h2> Netpay  Reject Codes </h2>
    <table>
        <thead>
            <tr>
                <th>Reply</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Test Enviroment Only - Soft Decline (Call)</td>
            </tr>

            <tr>
                <td>1002</td>
                <td>Test Enviroment Only - Insufficient Funds</td>
            </tr>

            <tr>
                <td>500</td>
                <td>Merchant company number or signature is invalid</td>
            </tr>

            <tr>
                <td>501</td>
                <td>Merchant is not activated</td>
            </tr>

            <tr>
                <td>502</td>
                <td>Merchant is unauthorized to use this service</td>
            </tr>

            <tr>
                <td>503</td>
                <td>Merchant unauthorized to process that type of credit card in that currency</td>
            </tr>

            <tr>
                <td>504</td>
                <td>Merchant "authorization only" option is inactive</td>
            </tr>

            <tr>
                <td>505</td>
                <td>Charge amount not in allowed range ! </td>
            </tr>

            <tr>
                <td>506</td>
                <td>Data is missing, check CardNum, Amount, Currency, Payments, Expiration Date and TypeCredit</td>
            </tr>

            <tr>
                <td>507</td>
                <td>Credit card number is invalid</td>
            </tr>

            <tr>
                <td>508</td>
                <td>Invalid data range - currency, typeCredit, data length</td>
            </tr>

            <tr>
                <td>509</td>
                <td>Credit card number is blocked</td>
            </tr>

            <tr>
                <td>510</td>
                <td>Credit card is expired</td>
            </tr>

            <tr>
                <td>511</td>
                <td>Missing card holder Name</td>
            </tr>

            <tr>
                <td>512</td>
                <td>Missing or incorrect length of card verification number (cvv2)</td>
            </tr>

            <tr>
                <td>513</td>
                <td>Missing government issued id number</td>
            </tr>

            <tr>
                <td>514</td>
                <td>Missing card holder phone number</td>
            </tr>

            <tr>
                <td>515</td>
                <td>Missing or invalid card holder email address</td>
            </tr>

            <tr>
                <td>516</td>
                <td>Missing client ip</td>
            </tr>

            <tr>
                <td>517</td>
                <td>Full name is invalid</td>
            </tr>

            <tr>
                <td>518</td>
                <td>TermCode is missing, invalid or not configured</td>
            </tr>

            <tr>
                <td>519</td>
                <td>This card is not certified</td>
            </tr>

            <tr>
                <td>520</td>
                <td>Internal error</td>
            </tr>

            <tr>
                <td>521</td>
                <td>Unable to complete transaction (communication failure)</td>
            </tr>

            <tr>
                <td>522</td>
                <td>System blocked transaction (duplicate transaction within the specified timeframe)</td>
            </tr>

            <tr>
                <td>523</td>
                <td>System Error</td>
            </tr>

            <tr>
                <td>524</td>
                <td>Processing System Error</td>
            </tr>

            <tr>
                <td>525</td>
                <td>Daily volume limit exceeded</td>
            </tr>

            <tr>
                <td>526</td>
                <td>Invalid request source</td>
            </tr>

            <tr>
                <td>527</td>
                <td>Service not allowed from your IP Address</td>
            </tr>

            <tr>
                <td>528</td>
                <td>Missing or incorrect MD5 signature</td>
            </tr>

            <tr>
                <td>529</td>
                <td>Duplicate transaction</td>
            </tr>

            <tr>
                <td>530</td>
                <td>Transaction amount exceeded system`s limit</td>
            </tr>

            <tr>
                <td>531</td>
                <td>Currency is invalid or not setup for processing</td>
            </tr>

            <tr>
                <td>532</td>
                <td>RefTransID - can't find original transaction</td>
            </tr>

            <tr>
                <td>533</td>
                <td>Unable to refund more then the original transaction`s Amount</td>
            </tr>

            <tr>
                <td>534</td>
                <td>The request must be sent over secure socket layer (HTTPS)</td>
            </tr>

            <tr>
                <td>535</td>
                <td>Invalid RefTransID parameter</td>
            </tr>

            <tr>
                <td>536</td>
                <td>Initial pre-auth transaction not found: check TransApprovalID and Currency</td>
            </tr>

            <tr>
                <td>537</td>
                <td>Silent Post with credit card details is not allowed</td>
            </tr>

            <tr>
                <td>538</td>
                <td>Captured amount is higher that authorized</td>
            </tr>

            <tr>
                <td>539</td>
                <td>Transaction amount is invalid</td>
            </tr>

            <tr>
                <td>540</td>
                <td>Billing address - missing address</td>
            </tr>

            <tr>
                <td>541</td>
                <td>Billing address - missing city name</td>
            </tr>

            <tr>
                <td>542</td>
                <td>Billing address - missing or invalid zip code</td>
            </tr>

            <tr>
                <td>543</td>
                <td>Billing address - missing or invalid state</td>
            </tr>

            <tr>
                <td>544</td>
                <td>Billing address - missing or invalid country</td>
            </tr>

            <tr>
                <td>545</td>
                <td>Request length limit exceeded</td>
            </tr>

            <tr>
                <td>546</td>
                <td>Previous transaction with this card is still in process, please try again after response is sent</td>
            </tr>

            <tr>
                <td>547</td>
                <td>Too many cards for single email or too many emails for single card.</td>
            </tr>

            <tr>
                <td>548</td>
                <td>Declined by external processor</td>
            </tr>

            <tr>
                <td>549</td>
                <td>Processing stored card - merchant is unauthorized to use this service</td>
            </tr>

            <tr>
                <td>550</td>
                <td>Recurring transactions - merchant is unauthorized to use this service</td>
            </tr>

            <tr>
                <td>551</td>
                <td>Recurring transactions - data is missing</td>
            </tr>

            <tr>
                <td>552</td>
                <td>Transaction is pending for SMS code</td>
            </tr>

            <tr>
                <td>553</td>
                <td>3D Secure Redirection is needed</td>
            </tr>

            <tr>
                <td>554</td>
                <td>Bank Transfer, redirection is needed</td>
            </tr>

            <tr>
                <td>555</td>
                <td>Recurring limit exceeded</td>
            </tr>

            <tr>
                <td>556</td>
                <td>Waiting for SMS message containing the code</td>
            </tr>

            <tr>
                <td>557</td>
                <td>Billing address - invalid zip code</td>
            </tr>

            <tr>
                <td>558</td>
                <td></td>
            </tr>

            <tr>
                <td>559</td>
                <td>Wrong CVV length, please use 3 digit number from back of the card</td>
            </tr>

            <tr>
                <td>560</td>
                <td>Not Exist in PPC List</td>
            </tr>

            <tr>
                <td>561</td>
                <td>This credit card has been temporarily blocked.</td>
            </tr>

            <tr>
                <td>562</td>
                <td>Cardholder data is blacklisted</td>
            </tr>

            <tr>
                <td>563</td>
                <td>This credit card has been temporarily blocked.</td>
            </tr>

            <tr>
                <td>564</td>
                <td>Only one refund permitted per transaction</td>
            </tr>

            <tr>
                <td>565</td>
                <td></td>
            </tr>

            <tr>
                <td>580</td>
                <td>Did not pass fraud detection test</td>
            </tr>

            <tr>
                <td>581</td>
                <td>Negativ Country List Block</td>
            </tr>

            <tr>
                <td>582</td>
                <td>Country IP is blocked</td>
            </tr>

            <tr>
                <td>583</td>
                <td>Weekly charge count limit reached for this credit card</td>
            </tr>

            <tr>
                <td>584</td>
                <td>Weekly charge amount limit reached for this credit card</td>
            </tr>

            <tr>
                <td>585</td>
                <td>Charge count limit reached for this credit card</td>
            </tr>

            <tr>
                <td>586</td>
                <td>Charge amount limit reached for this credit card</td>
            </tr>

            <tr>
                <td>587</td>
                <td>Reached daily limit of failed charges</td>
            </tr>

            <tr>
                <td>588</td>
                <td>Incorrect charge amount</td>
            </tr>

            <tr>
                <td>589</td>
                <td>Blocked group of credit cards</td>
            </tr>

            <tr>
                <td>590</td>
                <td>Input parameter is out of range</td>
            </tr>

            <tr>
                <td>591</td>
                <td>Input parameter is too long</td>
            </tr>

            <tr>
                <td>592</td>
                <td>Processor is not available</td>
            </tr>

            <tr>
                <td>593</td>
                <td>Monthly charge count limit reached for this credit card</td>
            </tr>

            <tr>
                <td>594</td>
                <td>Monthly charge amount limit reached for this credit card</td>
            </tr>

            <tr>
                <td>595</td>
                <td>Integration mode - incorrect credit card number</td>
            </tr>

            <tr>
                <td>596</td>
                <td>Integration mode - incorrect charge amount</td>
            </tr>

            <tr>
                <td>597</td>
                <td>Daily charge count limit reached for this credit card</td>
            </tr>

            <tr>
                <td>598</td>
                <td>Daily charge amount limit reached for this credit card</td>
            </tr>

            <tr>
                <td>599</td>
                <td>Declined by issuing bank</td>
            </tr>

            <tr>
                <td>600</td>
                <td>The customer has closed the payment page window</td>
            </tr>

        </tbody>
    </table>
<h2>
    Bank Reject Codes
</h2>


    <table>
        <tbody>
            <tr>
                <th>Reply</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>XXX (Any other code)</td>
                <td>
                    Transaction was not authorized
                    See explanation in the reply string returned or in transaction list under "rejected transactions"
                </td>
            </tr>
        </tbody>
    </table>





