
    <h1>
        CODING - SENDING DATA
    </h1>
    <p>
        The following examples are a <u>basic</u> overview on how to send data over the internet.<br>
        The code shown is intended to give you the programmer a start point on how to implement the Netpay API<br>
    </p>
    <h1>
        Sending server-side request
    </h1>

    <h2>1 - Server-side ASP.Net</h2>
    <div class="code">
<pre>&lt;%@ Page Language="C#" %&gt;
    &lt;%@ import Namespace="System.Net" %&gt;
    &lt;%@ import Namespace="System.IO" %&gt;
    &lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
       &lt;head&gt;
          &lt;title&gt;Processor - C#&lt;/title&gt;
       &lt;/head&gt;
       &lt;body&gt;
          &lt;script runat="server"&gt;
             public void Page_Load()
             {
                if(! IsPostBack)
                {
                   //------------- building url string to send
                   String sendStr;
                   sendStr = "https://www.domain.com/file.asp?";
                   sendStr += "Field1=" + Server.URLEncode(Request.Form["Var1"]) + "&amp;";
                   sendStr += "Field2=" + Server.URLEncode(Request.Form["Var2"]) + "&amp;";
                   sendStr += "Field3=" + Server.URLEncode(Request.Form["Var3"]);
                   //------------- creating the request
                   HttpWebRequest webReq = (HttpWebRequest)WebRequest.Create(sendStr);
                   webReq.Method = "GET";
                   //------------- checking the response
                   try
                   {
                      HttpWebResponse webRes = (HttpWebResponse)webReq.GetResponse();
                      StreamReader sr = new StreamReader(webRes.GetResponseStream());
                      String resStr = sr.ReadToEnd();
                      Response.Write("Response String: " + resStr + "&lt;br /&gt;");
                   }
                   catch(Exception ex)
                   {
                      Response.Write(ex.Message);
                   }
                }
             }
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</pre>
    </div>

    <h2>2 - Server-side ASP.Net (VB)</h2>
    <div class="code">
<pre>&lt;%@ Page Language="VB" %&gt;
&lt;%@ import Namespace="System.Net" %&gt;
&lt;%@ import Namespace="System.IO" %&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
    &lt;head&gt;
        &lt;title&gt;Processor - VB.NET&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;script runat="server"&gt;
            Sub Page_Load()
                If Not IsPostBack Then
                    '------------- building url string to send
                    Dim sendStr As String
                    sendStr = "https://www.domain.com/file.asp?"
                    sendStr &amp;= "Field1=" &amp; Server.URLEncode(Request.Form("Var1")) &amp; "&amp;"
                    sendStr &amp;= "Field2=" &amp; Server.URLEncode(Request.Form("Var2")) &amp; "&amp;"
                    sendStr &amp;= "Field3=" &amp; Server.URLEncode(Request.Form("Var3"))
                    '------------- creating the request
                    Dim webReq As HttpWebRequest = WebRequest.Create(sendStr)
                    webReq.Method = "GET"
                    '------------- checking the response
                    Try
                        Dim webRes As HttpWebResponse = webReq.GetResponse()
                        Dim sr As New StreamReader(webRes.GetResponseStream())
                        Dim resStr As String = sr.ReadToEnd()
                        Response.Write("Response String: " &amp; resStr &amp; "&lt;br /&gt;")
                    Catch ex As Exception
                        Response.Write(ex.Message)
                    End Try
                End If
            End Sub
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</pre>
 </div>

    <h2>3 - Server-side Classic ASP (VB Script)</h2>
    <div class="code">
<pre>&lt;%
'------------- declaration
Dim SendStr, HttpReq, ResStr
   
'------------- building url string to send
sendStr = "https://www.domain.com/file.asp?"
sendStr = sendStr &amp; "Field1=" &amp; Server.URLEncode(Request.Form("Var1")) &amp; "&amp;"
sendStr = sendStr &amp; "Field2=" &amp; Server.URLEncode(Request.Form("Var2")) &amp; "&amp;"
sendStr = sendStr &amp; "Field3=" &amp; Server.URLEncode(Request.Form("Var2"))
'------------- creating the request
Set HttpReq = CreateObject("Msxml2.XMLHTTP.3.0")
HttpReq.open "get", sendStr, False
HttpReq.send()
'------------- checking the response
resStr = HttpReq.responseText
Response.Write("Response String: " &amp; resStr)
%&gt;</pre>
    </div>

    <p>
        Please note: All code samples displayed above do not contain any validation implementation, It is strongly recommended that you implement validation in your system.
    </p>

    <h1>
        Opening a window
    </h1>

    <h2>Using a link (HTML)</h2>
    <div class="code">
        <pre>&lt;a href="https://www.domain.com?Field1=Val1&amp;Field2=Val2&amp;Field3=Val3" target="fraWindow" onclick="window.open('', this.target, 'scrollbars=1, width=450, height=500, resizable=0, Status=1');"&gt;link&lt;/a&gt;</pre>
    </div>

<h2>Using a form (HTML)</h2>

<div class="code">

<pre>&lt;form action="https://www.domain.com" method="post" name="formName1" target="fraWindow" onsubmit="window.open('', this.target, 'scrollbars=1, width=450, height=500, resizable=0, Status=1');"&gt;
&lt;input type="hidden" name="Field1" value="Val1"&gt;
&lt;input type="hidden" name="Field2" value="Val2"&gt;
&lt;input type="hidden" name="Field3" value="Val3"&gt;
&lt;input type="submit" value="submit"&gt;
&lt;/form&gt;</pre>

</div>
