
    <h1>TEST ENVIRONMENT</h1>
    <h2>Test Cards</h2>
        <p>
            Only the following credit card number are allowed while in test environment:
        </p>
    <table>
        <thead>
            <tr>
                <th>Card Number</th>
                <th>Issuer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>4387751111111111</td>
                <td>Visa (US)</td>
            </tr>
            <tr>
                <td>5442987111111111</td>
                <td>MasterCard (US)</td>
            </tr>
            <tr>
                <td>371000911111111</td>
                <td>American Express (US)</td>
            </tr>
            <tr>
                <td>4056850111111111</td>
                <td>Visa (FR)</td>
            </tr>
            <tr>
                <td>5130113111111111</td>
                <td>MasterCard (FR)</td>
            </tr>
            <tr>
                <td>36005131111111</td>
                <td>Diners Club (GB)</td>
            </tr>
            <tr>
                <td>3535111111111111</td>
                <td>JCB (JP)</td>
            </tr>
            <tr>
                <td>6221701111111111</td>
                <td>LivaKash (JP)</td>
            </tr>
            <tr>
                <td>4580000000000000</td>
                <td>VISA (IL)</td>
            </tr>
            <tr>
                <td>5326140000000000</td>
                <td>MasterCard (IL)</td>
            </tr>
            <tr>
                <td>91000000</td>
                <td>IsraCard (IL)</td>
            </tr>
        </tbody>
    </table>

    <p>
        * Use any future expiry date with these test cards. <br />
        ** For American Express, pass any four digits as CVV2.<br />
        ** For other credit card types, pass any three digits as CVV2. <br />
    </p>

    <h2>Controlling Reply</h2>
    <p>
        Use the following amounts to cause either approval or various declines:
    </p>

    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Response</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0.04</td>
                <td>Error 1001: Soft Decline (Call)</td>
            </tr>
            <tr>
                <td>0.05</td>
                <td>Error 1002: Insufficient Funds</td>
            </tr>
            <tr>
                <td>0.90</td>
                <td>Approved with 5 second delay</td>
            </tr>
            <tr>
                <td>0.91</td>
                <td>Approved with 10 second delay</td>
            </tr>
            <tr>
                <td>0.92</td>
                <td>Approved with 20 second delay</td>
            </tr>
            <tr>
                <td>0.93</td>
                <td>Approved with 30 second delay</td>
            </tr>
            <tr>
                <td>0.94</td>
                <td>Approved with 40 second delay</td>
            </tr>
            <tr>
                <td>0.95</td>
                <td>Approved with 50 second delay</td>
            </tr>
            <tr>
                <td>0.96</td>
                <td>Approved with 60 second delay</td>
            </tr>
            <tr>
                <td>0.97</td>
                <td>Approved with 70 second delay</td>
            </tr>
            <tr>
                <td>0.98</td>
                <td>Approved with 80 second delay</td>
            </tr>
            <tr>
                <td>0.99</td>
                <td>Approved with 90 second delay</td>
            </tr>
            <tr>
                <td>55.3</td>
                <td>3D secure simulator - this will return 533 and redirect Url to complete transaction</td>
            </tr>
            <tr>
                <td>1.00 +</td>
                <td>Approved</td>
            </tr>
        </tbody>
    </table>

    <p>
        * Enabled only after all data being send are in the correct format and length <br />
        ** Specifying any other amount will cause reply 596 (Integration mode - incorrect charge amount)
    </p>
