
    <h1>SIGNATURE</h1>
    <p>
        Integration with some of Netpay payment services requires generating a hashed signature.<br>
        <br>
        SHA256 signature is used to validate the integrity of the data, for more information on SHA256 see:
        <a target="_blank" href="http://en.wikipedia.org/wiki/SHA256">http://en.wikipedia.org/wiki/SHA256</a><br>
        Your Personal Hash Key is managed in the <b>Null</b> page under Global Settings.<br>
    </p>
    <h2>
        Instruction
    </h2>

    <ul>
        <li>Concatenate the required parameters values, the list of required parameters is explained in the signature field on the API of the service you wish to use.</li>
        <li>Add your <b>Null</b> to the end of the concatenated string.</li>
        <li>Apply SHA256 hash to the string.</li>
        <li>Convert the hash result to Base64.</li>
        <li>URL encode the Base64 result if using GET mode.</li>
        <li>Now that you have a signature, Include the result as a value of the signature field in the request.</li>
    </ul>

    <p>
        Example with the following values:<br>
        CompanyNum = 1234567<br>
        TransType = 1<br>
        TypeCredit = 1<br>
        Amount = 5.4<br>
        Currency = 1<br>
        CardNum = 4580000000000000<br>
        RefTransID = 1234<br>
        PersonalHashKey = AU7E468HNF<br>
        <br>
        CompanyNum + TransType + TypeCredit + Amount + Currency + CardNum + RefTransID + PersonalHashKey<br>
        "1234567" + "1" + "1" + "5.4" + "1" + "4580000000000000" + "1234" + "AU7E468HNF"<br><br>
        Base64(SHA256("1234567115.4145800000000000001234AU7E468HNF"))<br>
        Result: "PTpzX9OACBC+V3Fd9+TNCehnwIfqMaXmnUtsZMSRyVo="<br>
    </p>
    <h2>
        Code Example
    </h2>
    <p>The following examples show how the signature should be built in various languages.<sup>3</sup></p>
    <p>
        All examples are using the string "<span class="code">1234567ABCDEFGHIJ</span>" as input.<br>
        The correct output with URLEncoded is "<span class="code">yZo3as0hwZMOO%2bVO0sTXSg%3d%3d</span>".<br>
        The correct output without URLEncoded is "<span class="code">yZo3as0hwZMOO+VO0sTXSg==</span>".<br>
    </p>
    <h2>1 - ASP.Net - (VB)</h2>
    <div class="code">
<pre>Public Class Signature
Public Shared Function GenerateSHA256(ByVal value As String) As String
Dim sh As System.Security.Cryptography.SHA256 = System.Security.Cryptography.SHA256.Create()
Dim hashValue As Byte() = sh.ComputeHash(System.Text.Encoding.UTF8.GetBytes(value))
Return System.Convert.ToBase64String(hashValue)
End Function
End Class
'Usage Example
Dim sSignature As String = Signature.GenerateSHA256("1234567ABCDEFGHIJ")</pre>
    </div>
    <h2>2 - ASP.Net (C#)</h2>
    <div class="code">  
<pre>public class Signature
{
public static string GenerateSHA256(string value)
{
System.Security.Cryptography.SHA256 sh = System.Security.Cryptography.SHA256.Create();
byte[] hashValue = sh.ComputeHash(System.Text.Encoding.UTF8.GetBytes(value));
return System.Convert.ToBase64String(hashValue);
}
}
//Usage Example
string sSignature = Signature.GenerateSHA256("1234567ABCDEFGHIJ");</pre>
</div>

    <h2>
        3 - PHP 5
    </h2>


    <div class="code">
 <pre>$val=base64_encode(hash("sha256", "1234567ABCDEFGHIJ", true));</pre>
    </div>

    <h2>4 - Classic ASP (VBScript)</h2>
    <div class="code">
<pre>Private m_lOnBits(30)
Private m_l2Power(30)
Private K(63)
Private Const BITS_TO_A_BYTE = 8
Private Const BYTES_TO_A_WORD = 4
Private Const BITS_TO_A_WORD = 32
m_lOnBits(0) = CLng(1)
m_lOnBits(1) = CLng(3)
m_lOnBits(2) = CLng(7)
m_lOnBits(3) = CLng(15)
m_lOnBits(4) = CLng(31)
m_lOnBits(5) = CLng(63)
m_lOnBits(6) = CLng(127)
m_lOnBits(7) = CLng(255)
m_lOnBits(8) = CLng(511)
m_lOnBits(9) = CLng(1023)
m_lOnBits(10) = CLng(2047)
m_lOnBits(11) = CLng(4095)
m_lOnBits(12) = CLng(8191)
m_lOnBits(13) = CLng(16383)
m_lOnBits(14) = CLng(32767)
m_lOnBits(15) = CLng(65535)
m_lOnBits(16) = CLng(131071)
m_lOnBits(17) = CLng(262143)
m_lOnBits(18) = CLng(524287)
m_lOnBits(19) = CLng(1048575)
m_lOnBits(20) = CLng(2097151)
m_lOnBits(21) = CLng(4194303)
m_lOnBits(22) = CLng(8388607)
m_lOnBits(23) = CLng(16777215)
m_lOnBits(24) = CLng(33554431)
m_lOnBits(25) = CLng(67108863)
m_lOnBits(26) = CLng(134217727)
m_lOnBits(27) = CLng(268435455)
m_lOnBits(28) = CLng(536870911)
m_lOnBits(29) = CLng(1073741823)
m_lOnBits(30) = CLng(2147483647)
m_l2Power(0) = CLng(1)
m_l2Power(1) = CLng(2)
m_l2Power(2) = CLng(4)
m_l2Power(3) = CLng(8)
m_l2Power(4) = CLng(16)
m_l2Power(5) = CLng(32)
m_l2Power(6) = CLng(64)
m_l2Power(7) = CLng(128)
m_l2Power(8) = CLng(256)
m_l2Power(9) = CLng(512)
m_l2Power(10) = CLng(1024)
m_l2Power(11) = CLng(2048)
m_l2Power(12) = CLng(4096)
m_l2Power(13) = CLng(8192)
m_l2Power(14) = CLng(16384)
m_l2Power(15) = CLng(32768)
m_l2Power(16) = CLng(65536)
m_l2Power(17) = CLng(131072)
m_l2Power(18) = CLng(262144)
m_l2Power(19) = CLng(524288)
m_l2Power(20) = CLng(1048576)
m_l2Power(21) = CLng(2097152)
m_l2Power(22) = CLng(4194304)
m_l2Power(23) = CLng(8388608)
m_l2Power(24) = CLng(16777216)
m_l2Power(25) = CLng(33554432)
m_l2Power(26) = CLng(67108864)
m_l2Power(27) = CLng(134217728)
m_l2Power(28) = CLng(268435456)
m_l2Power(29) = CLng(536870912)
m_l2Power(30) = CLng(1073741824)
K(0) = &amp;H428A2F98
K(1) = &amp;H71374491
K(2) = &amp;HB5C0FBCF
K(3) = &amp;HE9B5DBA5
K(4) = &amp;H3956C25B
K(5) = &amp;H59F111F1
K(6) = &amp;H923F82A4
K(7) = &amp;HAB1C5ED5
K(8) = &amp;HD807AA98
K(9) = &amp;H12835B01
K(10) = &amp;H243185BE
K(11) = &amp;H550C7DC3
K(12) = &amp;H72BE5D74
K(13) = &amp;H80DEB1FE
K(14) = &amp;H9BDC06A7
K(15) = &amp;HC19BF174
K(16) = &amp;HE49B69C1
K(17) = &amp;HEFBE4786
K(18) = &amp;HFC19DC6
K(19) = &amp;H240CA1CC
K(20) = &amp;H2DE92C6F
K(21) = &amp;H4A7484AA
K(22) = &amp;H5CB0A9DC
K(23) = &amp;H76F988DA
K(24) = &amp;H983E5152
K(25) = &amp;HA831C66D
K(26) = &amp;HB00327C8
K(27) = &amp;HBF597FC7
K(28) = &amp;HC6E00BF3
K(29) = &amp;HD5A79147
K(30) = &amp;H6CA6351
K(31) = &amp;H14292967
K(32) = &amp;H27B70A85
K(33) = &amp;H2E1B2138
K(34) = &amp;H4D2C6DFC
K(35) = &amp;H53380D13
K(36) = &amp;H650A7354
K(37) = &amp;H766A0ABB
K(38) = &amp;H81C2C92E
K(39) = &amp;H92722C85
K(40) = &amp;HA2BFE8A1
K(41) = &amp;HA81A664B
K(42) = &amp;HC24B8B70
K(43) = &amp;HC76C51A3
K(44) = &amp;HD192E819
K(45) = &amp;HD6990624
K(46) = &amp;HF40E3585
K(47) = &amp;H106AA070
K(48) = &amp;H19A4C116
K(49) = &amp;H1E376C08
K(50) = &amp;H2748774C
K(51) = &amp;H34B0BCB5
K(52) = &amp;H391C0CB3
K(53) = &amp;H4ED8AA4A
K(54) = &amp;H5B9CCA4F
K(55) = &amp;H682E6FF3
K(56) = &amp;H748F82EE
K(57) = &amp;H78A5636F
K(58) = &amp;H84C87814
K(59) = &amp;H8CC70208
K(60) = &amp;H90BEFFFA
K(61) = &amp;HA4506CEB
K(62) = &amp;HBEF9A3F7
K(63) = &amp;HC67178F2
Private Function LShift(lValue, iShiftBits)
If iShiftBits = 0 Then
LShift = lValue
Exit Function
ElseIf iShiftBits = 31 Then
If lValue And 1 Then
LShift = &amp;H80000000
Else
LShift = 0
End If
Exit Function
ElseIf iShiftBits &lt; 0 Or iShiftBits &gt; 31 Then
Err.Raise 6
End If
If (lValue And m_l2Power(31 - iShiftBits)) Then
LShift = ((lValue And m_lOnBits(31 - (iShiftBits + 1))) * m_l2Power(iShiftBits)) Or &amp;H80000000
Else
LShift = ((lValue And m_lOnBits(31 - iShiftBits)) * m_l2Power(iShiftBits))
End If
End Function
Private Function RShift(lValue, iShiftBits)
If iShiftBits = 0 Then
RShift = lValue
Exit Function
ElseIf iShiftBits = 31 Then
If lValue And &amp;H80000000 Then
RShift = 1
Else
RShift = 0
End If
Exit Function
ElseIf iShiftBits &lt; 0 Or iShiftBits &gt; 31 Then
Err.Raise 6
End If
RShift = (lValue And &amp;H7FFFFFFE) \ m_l2Power(iShiftBits)
If (lValue And &amp;H80000000) Then
RShift = (RShift Or (&amp;H40000000 \ m_l2Power(iShiftBits - 1)))
End If
End Function
Private Function AddUnsigned(lX, lY)
Dim lX4, lY4, lX8, lY8, lResult
lX8 = lX And &amp;H80000000
lY8 = lY And &amp;H80000000
lX4 = lX And &amp;H40000000
lY4 = lY And &amp;H40000000
lResult = (lX And &amp;H3FFFFFFF) + (lY And &amp;H3FFFFFFF)
If lX4 And lY4 Then
lResult = lResult Xor &amp;H80000000 Xor lX8 Xor lY8
ElseIf lX4 Or lY4 Then
If lResult And &amp;H40000000 Then
lResult = lResult Xor &amp;HC0000000 Xor lX8 Xor lY8
Else
lResult = lResult Xor &amp;H40000000 Xor lX8 Xor lY8
End If
Else
lResult = lResult Xor lX8 Xor lY8
End If
AddUnsigned = lResult
End Function
Private Function Ch(x, y, z)
Ch = ((x And y) Xor ((Not x) And z))
End Function
Private Function Maj(x, y, z)
Maj = ((x And y) Xor (x And z) Xor (y And z))
End Function
Private Function S(x, n)
S = (RShift(x, (n And m_lOnBits(4))) Or LShift(x, (32 - (n And m_lOnBits(4)))))
End Function
Private Function R(x, n)
R = RShift(x, CInt(n And m_lOnBits(4)))
End Function
Private Function Sigma0(x)
Sigma0 = (S(x, 2) Xor S(x, 13) Xor S(x, 22))
End Function
Private Function Sigma1(x)
Sigma1 = (S(x, 6) Xor S(x, 11) Xor S(x, 25))
End Function
Private Function Gamma0(x)
Gamma0 = (S(x, 7) Xor S(x, 18) Xor R(x, 3))
End Function
Private Function Gamma1(x)
Gamma1 = (S(x, 17) Xor S(x, 19) Xor R(x, 10))
End Function
Private Function ConvertToWordArray(bytearray)
Dim lMessageLength
Dim lNumberOfWords
Dim lWordArray()
Dim lBytePosition
Dim lByteCount
Dim lWordCount
Dim lByte
Const MODULUS_BITS = 512
Const CONGRUENT_BITS = 448
lMessageLength = UBound(bytearray)
lNumberOfWords = (((lMessageLength + ((MODULUS_BITS - CONGRUENT_BITS) \ BITS_TO_A_BYTE)) \ (MODULUS_BITS \ BITS_TO_A_BYTE)) + 1) * (MODULUS_BITS \ BITS_TO_A_WORD)
ReDim lWordArray(lNumberOfWords - 1)
lBytePosition = 0
lByteCount = 0
Do Until lByteCount &gt;= lMessageLength
lWordCount = lByteCount \ BYTES_TO_A_WORD
lBytePosition = (3 - (lByteCount Mod BYTES_TO_A_WORD)) * BITS_TO_A_BYTE
lByte = bytearray(lByteCount)
lWordArray(lWordCount) = lWordArray(lWordCount) Or LShift(lByte, lBytePosition)
lByteCount = lByteCount + 1
Loop
lWordCount = lByteCount \ BYTES_TO_A_WORD
lBytePosition = (3 - (lByteCount Mod BYTES_TO_A_WORD)) * BITS_TO_A_BYTE
lWordArray(lWordCount) = lWordArray(lWordCount) Or LShift(&amp;H80, lBytePosition)
lWordArray(lNumberOfWords - 1) = LShift(lMessageLength, 3)
lWordArray(lNumberOfWords - 2) = RShift(lMessageLength, 29)
ConvertToWordArray = lWordArray
End Function
Public Function StringToUTF8Array(astr)
Dim x, OutArr()
Redim OutArr(Len(astr) * 2)
x = 0
For i = 1 to Len(astr)
val = Asc(Mid(astr, i, 1)) And &amp;h0000FFFF&amp;
If val &lt; 256 Then
OutArr(x) = val
x = x + 1
Else
OutArr(x) = (val \ 256)
OutArr(x + 1) = (val And &amp;hFF)
x = x + 2
End If
Next
Redim Preserve OutArr(x)
StringToUTF8Array = OutArr
End Function
Public Function SHA256(sMessage)
Dim HASH(7)
Dim M
Dim W(63)
Dim a, b, c, d, e, f, g, h, i, j, T1, T2
HASH(0) = &amp;H6A09E667
HASH(1) = &amp;HBB67AE85
HASH(2) = &amp;H3C6EF372
HASH(3) = &amp;HA54FF53A
HASH(4) = &amp;H510E527F
HASH(5) = &amp;H9B05688C
HASH(6) = &amp;H1F83D9AB
HASH(7) = &amp;H5BE0CD19
M = ConvertToWordArray(StringToUTF8Array(sMessage))
For i = 0 To UBound(M) Step 16
a = HASH(0)
b = HASH(1)
c = HASH(2)
d = HASH(3)
e = HASH(4)
f = HASH(5)
g = HASH(6)
h = HASH(7)
For j = 0 To 63
If j &lt; 16 Then
W(j) = M(j + i)
Else
W(j) = AddUnsigned(AddUnsigned(AddUnsigned(Gamma1(W(j - 2)), W(j - 7)), Gamma0(W(j - 15))), W(j - 16))
End If
T1 = AddUnsigned(AddUnsigned(AddUnsigned(AddUnsigned(h, Sigma1(e)), Ch(e, f, g)), K(j)), W(j))
T2 = AddUnsigned(Sigma0(a), Maj(a, b, c))
h = g
g = f
f = e
e = AddUnsigned(d, T1)
d = c
c = b
b = a
a = AddUnsigned(T1, T2)
Next
HASH(0) = AddUnsigned(a, HASH(0))
HASH(1) = AddUnsigned(b, HASH(1))
HASH(2) = AddUnsigned(c, HASH(2))
HASH(3) = AddUnsigned(d, HASH(3))
HASH(4) = AddUnsigned(e, HASH(4))
HASH(5) = AddUnsigned(f, HASH(5))
HASH(6) = AddUnsigned(g, HASH(6))
HASH(7) = AddUnsigned(h, HASH(7))
Next
SHA256 = LCase(Right("00000000" &amp; Hex(HASH(0)), 8) &amp; Right("00000000" &amp; Hex(HASH(1)), 8) &amp; Right("00000000" &amp; Hex(HASH(2)), 8) &amp; Right("00000000" &amp; Hex(HASH(3)), 8) &amp; Right("00000000" &amp; Hex(HASH(4)), 8) &amp; Right("00000000" &amp; Hex(HASH(5)), 8) &amp; Right("00000000" &amp; Hex(HASH(6)), 8) &amp; Right("00000000" &amp; Hex(HASH(7)), 8))
End Function
Function Base64Encode(inData)
Const Base64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/"
Dim cOut, sOut, I
For I = 1 To Len(inData) Step 6
Dim nGroup, pOut
nGroup = &amp;H10000 * EVal("&amp;h" &amp; Mid(inData, I, 2))
If I + 3 &lt;= Len(inData) Then nGroup = nGroup + &amp;H100 * EVal("&amp;h" &amp; Mid(inData, I + 2, 2))
If I + 5 &lt;= Len(inData) Then nGroup = nGroup + EVal("&amp;h" &amp; Mid(inData, I + 4, 2))
nGroup = Oct(nGroup)
nGroup = String(8 - Len(nGroup), "0") &amp; nGroup
pOut = Mid(Base64, CLng("&amp;o" &amp; Mid(nGroup, 1, 2)) + 1, 1) + _
Mid(Base64, CLng("&amp;o" &amp; Mid(nGroup, 3, 2)) + 1, 1) + _
Mid(Base64, CLng("&amp;o" &amp; Mid(nGroup, 5, 2)) + 1, 1) + _
Mid(Base64, CLng("&amp;o" &amp; Mid(nGroup, 7, 2)) + 1, 1)
sOut = sOut + pOut
Next
Select Case Len(inData) Mod 6
Case 2: '8 bit final
sOut = Left(sOut, Len(sOut) - 2) + "=="
Case 4: '16 bit final
sOut = Left(sOut, Len(sOut) - 1) + "="
End Select
Base64Encode = sOut
End Function
'the bellow function use Persits asp encrypt - it's appear here to compare the result of the native algorithem
'Function ExternalCalcHash(hashString)
'	Dim CM, Context, Hash
'	Set CM = Server.CreateObject("Persits.CryptoManager")
'	Set Context = CM.OpenContextEx("Microsoft Enhanced RSA and AES Cryptographic Provider (Prototype)", "", True)
'	Set Hash = Context.CreateHash(32780)
'	Hash.AddText hashString
'	ExternalCalcHash = Hash.Value.Base64
'	Set Hash = Nothing
'	Set Context = Nothing
'	Set CM = Nothing
'End Function
'Response.Write ExternalCalcHash("ValuesForTheSignature")
'*******example of use********'
'Response.Write Base64Encode(SHA256("ValuesForTheSignature"))</pre>
    </div>
    <p>
        Signature Generating  Form
        Use the following form to compare the output signature from your code with ours.<br>
     </p>
