﻿
    <h1>PAYMENT METHODS LIST</h1>
  
    <h2>PAYMENT GROUPS:</h2>
    
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Abbreviation</th>
            </tr>

            <tr>
                <td>0</td>
                <td>Other</td>
                <td>OP</td>
            </tr>

            <tr>
                <td>1</td>
                <td>Credit Card</td>
                <td>CC</td>
            </tr>

            <tr>
                <td>2</td>
                <td>ACH (Electronic Checks) </td>
                <td>EC</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Instant Online Bank Transfer</td>
                <td>ID</td>
            </tr>

            <tr>
                <td>4</td>
                <td>European Direct Debit</td>
                <td>DD</td>
            </tr>

            <tr>
                <td>6</td>
                <td>Micropay</td>
                <td>PD</td>
            </tr>

            <tr>
                <td>7</td>
                <td>Online Bank Transfer</td>
                <td>OB</td>
            </tr>

            <tr>
                <td>8</td>
                <td>Wallet</td>
                <td>CS</td>
            </tr>

        </tbody>
    </table>

    <h2>PAYMENT METHODS:</h2>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Abbreviation</th>
            </tr>

            <tr>
                <td>0</td>
                <td>Unknown</td>
                <td>UNKN</td>
            </tr>

            <tr>
                <td>20</td>
                <td>CC Unknown</td>
                <td>CCUN</td>
            </tr>

            <tr>
                <td>21</td>
                <td>Isracard</td>
                <td>ISCR</td>
            </tr>

            <tr>
                <td>22</td>
                <td>Visa</td>
                <td>VISA</td>
            </tr>

            <tr>
                <td>23</td>
                <td>Diners</td>
                <td>DINR</td>
            </tr>

            <tr>
                <td>24</td>
                <td>Amex</td>
                <td>AMEX</td>
            </tr>

            <tr>
                <td>25</td>
                <td>Mastercard</td>
                <td>MSCD</td>
            </tr>

            <tr>
                <td>26</td>
                <td>Direct</td>
                <td>DIRC</td>
            </tr>

            <tr>
                <td>28</td>
                <td>Maestro</td>
                <td>MAES</td>
            </tr>

            <tr>
                <td>29</td>
                <td>PrepaidCards</td>
                <td>PRPD</td>
            </tr>

            <tr>
                <td>31</td>
                <td>JCB</td>
                <td>JCBC</td>
            </tr>

            <tr>
                <td>32</td>
                <td>Discover</td>
                <td>DISC</td>
            </tr>

            <tr>
                <td>33</td>
                <td>China UnionPay</td>
                <td>CUPY</td>
            </tr>

            <tr>
                <td>34</td>
                <td>LiveKash</td>
                <td>LVKS</td>
            </tr>

            <tr>
                <td>100</td>
                <td>eCheck</td>
                <td>ECHK</td>
            </tr>

            <tr>
                <td>101</td>
                <td>Giropay</td>
                <td>GPAY</td>
            </tr>

            <tr>
                <td>106</td>
                <td>Przelewy24</td>
                <td>PRZW</td>
            </tr>

            <tr>
                <td>107</td>
                <td>EPS</td>
                <td>EPSP</td>
            </tr>

            <tr>
                <td>109</td>
                <td>iDEAL</td>
                <td>IDEL</td>
            </tr>

            <tr>
                <td>110</td>
                <td>TeleIngreso</td>
                <td>TLIG</td>
            </tr>

            <tr>
                <td>113</td>
                <td>PostFinance</td>
                <td>PFIN</td>
            </tr>

            <tr>
                <td>114</td>
                <td>Sofort</td>
                <td>SFOR</td>
            </tr>

            <tr>
                <td>115</td>
                <td>POLi</td>
                <td>POLI</td>
            </tr>

            <tr>
                <td>117</td>
                <td>Automatische Incasso</td>
                <td>AINC</td>
            </tr>

            <tr>
                <td>118</td>
                <td>Cargo Bancario</td>
                <td>CBCO</td>
            </tr>

            <tr>
                <td>119</td>
                <td>Instant Debit</td>
                <td>INDB</td>
            </tr>

            <tr>
                <td>120</td>
                <td>Bankeinzug</td>
                <td>BKEZ</td>
            </tr>

            <tr>
                <td>121</td>
                <td>Lastschrift</td>
                <td>LTCT</td>
            </tr>

            <tr>
                <td>122</td>
                <td>Addebito</td>
                <td>ADBT</td>
            </tr>

            <tr>
                <td>123</td>
                <td>Debit direct</td>
                <td>DTDB</td>
            </tr>

            <tr>
                <td>124</td>
                <td>Dom 80</td>
                <td>DM80</td>
            </tr>

            <tr>
                <td>125</td>
                <td>Директен дебит</td>
                <td>DDBS</td>
            </tr>

            <tr>
                <td>126</td>
                <td>Άμεση Χρέωση</td>
                <td>DIBT</td>
            </tr>

            <tr>
                <td>127</td>
                <td>Inkaso</td>
                <td>INKS</td>
            </tr>

            <tr>
                <td>128</td>
                <td>Betalingsservice</td>
                <td>BLSV</td>
            </tr>

            <tr>
                <td>129</td>
                <td>Otsekorraldus</td>
                <td>OKDS</td>
            </tr>

            <tr>
                <td>130</td>
                <td>Suoraveloitus</td>
                <td>SUVS</td>
            </tr>

            <tr>
                <td>131</td>
                <td>Άμεση Χρέωση</td>
                <td>DBIT</td>
            </tr>

            <tr>
                <td>132</td>
                <td>Beingreiðslur</td>
                <td>BRSR</td>
            </tr>

            <tr>
                <td>133</td>
                <td>Tiešais Debets</td>
                <td>TSDB</td>
            </tr>

            <tr>
                <td>134</td>
                <td>Tiesioginis Debetas</td>
                <td>TGDB</td>
            </tr>

            <tr>
                <td>135</td>
                <td>DOM-Electronique</td>
                <td>DOME</td>
            </tr>

            <tr>
                <td>136</td>
                <td>Debitu Dirett</td>
                <td>DUDI</td>
            </tr>

            <tr>
                <td>137</td>
                <td>Prélèvement Bancaire</td>
                <td>PBNC</td>
            </tr>

            <tr>
                <td>138</td>
                <td>Direct Debets</td>
                <td>DDBT</td>
            </tr>

            <tr>
                <td>139</td>
                <td>Przelew Bankowy</td>
                <td>PZBK</td>
            </tr>

            <tr>
                <td>140</td>
                <td>Débito Directo</td>
                <td>DBDI</td>
            </tr>

            <tr>
                <td>141</td>
                <td>Inkaso</td>
                <td>INKO</td>
            </tr>

            <tr>
                <td>142</td>
                <td>Neposredne Bremenitve</td>
                <td>NBMT</td>
            </tr>

            <tr>
                <td>143</td>
                <td>Autogiro</td>
                <td>AUGR</td>
            </tr>

            <tr>
                <td>144</td>
                <td>TP OBT</td>
                <td>TPOB</td>
            </tr>

            <tr>
                <td>145</td>
                <td>SEPA</td>
                <td>SEPA</td>
            </tr>

            <tr>
                <td>146</td>
                <td>China UnionPay</td>
                <td>CUP</td>
            </tr>

            <tr>
                <td>149</td>
                <td>Online Bank Transfer</td>
                <td>OLBT</td>
            </tr>

            <tr>
                <td>151</td>
                <td>WebMoney</td>
                <td>WBMY</td>
            </tr>

            <tr>
                <td>200</td>
                <td>SMS IN</td>
                <td>SMSI</td>
            </tr>

            <tr>
                <td>201</td>
                <td>SMS OUT</td>
                <td>SMSO</td>
            </tr>

            <tr>
                <td>202</td>
                <td>IVR PerCall</td>
                <td>IVRC</td>
            </tr>

            <tr>
                <td>203</td>
                <td>IVR PerMin</td>
                <td>IVRM</td>
            </tr>

            <tr>
                <td>204</td>
                <td>IVR FreeTime</td>
                <td>IVRF</td>
            </tr>

            <tr>
                <td>205</td>
                <td>Qiwi</td>
                <td>QIWI</td>
            </tr>

            <tr>
                <td>231</td>
                <td>PayPal</td>
                <td>PPAL</td>
            </tr>

            <tr>
                <td>232</td>
                <td>Google Checkout</td>
                <td>GLCK</td>
            </tr>

            <tr>
                <td>233</td>
                <td>MoneyBookers</td>
                <td>MNBK</td>
            </tr>

        </tbody>
    </table>