﻿<link href="StyleSheet.css" rel="stylesheet" />
    <h1>DATA PULLING - MESSAGE FIELDS</h1>
    <h2>PAGE URL</h2>
    <p>
        https://process.netpay-intl.com/member/Remote_DataPulling.aspx
    </p>
    <h2>Request Fields</h2>

    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Max Length</th>
                <th>Required</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CompanyNum</td>
                <td>Your company number - #######</td>
                <td>7</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>DateStart</td>
                <td>Beginning of transaction date range (yyyy-mm-dd HH:mm:ss) <sup>1</sup></td>
                <td>20</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>DateEnd</td>
                <td>End of transaction date range (yyyy-mm-dd HH:mm:ss) <sup>2</sup></td>
                <td>20</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>ReqType</td>
                <td>
                    Request type:
                    <span style="font-family:Monospace;">0</span> = Captured transactions
                    <span style="font-family:Monospace;">1</span> = Rejected transactions
                    <span style="font-family:Monospace;">5</span> = Pre-auth. transactions
                    <span style="font-family:Monospace;">10</span> = Recurring modify log
                </td>
                <td>2</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>TransType</td>
                <td>
                    Transaction type:
                    <span style="font-family:Monospace;">1</span> = Debit transactions
                    <span style="font-family:Monospace;">2</span> = Refund transactions
                    <span style="font-family:Monospace;">4</span> = Chargebacks
                    <span style="font-family:Monospace;">8</span> = Retrieval requests

                    <div>The values can be combined; e.g. having TransType=6, both refunds and chargebacks will be returned.</div>

                    <div>If TransType is empty or not specified, transactions of all types will be returned.</div>
                </td>
                <td>1</td>
                <td>No</td>
            </tr>
            <tr>
                <td>TransID</td>
                <td>
                    Transaction ID to pull. This field is relevant only when pulling captured transactions (ReqType=0), otherwise it is ignored.
                </td>
                <td>8</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Signature</td>
                <td>
                    Signature for verifying the authenticity of the request parameters.
                    Field values to use: <i>CompanyNum + PersonalHashKey</i>
                    Refer to BASIC INFO SIGNATURE for detailed explaniation.
                </td>
                <td>30</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>
    <h2>
        Response Fields
    </h2>
    <p>When ReqType=0 and request is valid <sup>4</sup></p>
    <div class="code">
<pre>&lt;Transactions Count="3210" ReturnCount="1000"&gt;
    &lt;Trans&gt;
        &lt;Id&gt;12345&lt;/Id&gt;
        &lt;Date&gt;25/07/2009 12:35:46&lt;/Date&gt;
        &lt;Currency&gt;1&lt;/Currency&gt;
        &lt;Amount&gt;10.99&lt;/Amount&gt;
        &lt;Approval&gt;1234567&lt;/Approval&gt;
        &lt;Email&gt;john@domain.com&lt;/Email&gt;
        &lt;Phone&gt;1-123-1234567&lt;/Phone&gt;
        &lt;PersonalNum&gt;123456789&lt;/PersonalNum&gt;
        &lt;Type&gt;CHB&lt;/Type&gt;
        &lt;ChargebackDate&gt;24/08/2009 22:33:44&lt;/ChargebackDate&gt;<sup>7</sup>
        &lt;ChargebackReason&gt;33&lt;/ChargebackReason&gt;<sup>7</sup>
        &lt;Order&gt;A123&lt;/Order&gt;
        &lt;RecurringCharge&gt;2&lt;/RecurringCharge&gt;<sup>6</sup>
        &lt;RecurringSeries&gt;231&lt;/RecurringSeries&gt;<sup>6</sup>
        &lt;Comment&gt;White box&lt;/Comment&gt;
        &lt;Reply&gt;000&lt;/Reply&gt;
        &lt;OriginalTransID&gt;1234567&lt;/OriginalTransID&gt;<sup>6</sup>
        &lt;RefTrans&gt;R1234567&lt;/RefTrans&gt;<sup>8</sup>
        &lt;Method&gt;CC&lt;/Method&gt;<sup>5</sup>
        &lt;CreditCard&gt;
        &lt;Type&gt;Visa&lt;/Type&gt;
        &lt;BIN&gt;880005&lt;/BIN&gt;
        &lt;BINCountry&gt;US&lt;/BINCountry&gt;
        &lt;ExpMM&gt;01&lt;/ExpMM&gt;
        &lt;ExpYY&gt;10&lt;/ExpYY&gt;
        &lt;Last4&gt;1234&lt;/Last4&gt;
        &lt;Holder&gt;John Smith&lt;/Holder&gt;
        &lt;/CreditCard&gt;
        &lt;Address&gt;
        &lt;Line1&gt;99 Broadway Ave.&lt;/Line1&gt;
        &lt;Line2&gt;&lt;/Line2&gt;
        &lt;City&gt;Massapequa&lt;/City&gt;
        &lt;Postal&gt;11758&lt;/Postal&gt;
        &lt;State&gt;NY&lt;/State&gt;
        &lt;Country&gt;US&lt;/Country&gt;
    &lt;/Address&gt;
&lt;/Trans&gt;&lt;/Transactions&gt;
      </pre>
    </div>
    <p>When ReqType=10 and request is valid <sup>4</sup></p>
    <div class="code">
<pre>&lt;RecurringModifyLog Count="3210" ReturnCount="1000"&gt;
&lt;RecurringModify&gt;
&lt;LogID&gt;12345&lt;/LogID&gt;
&lt;DateTime&gt;01/02/2003 04:05:06&lt;/DateTime&gt;
&lt;Series&gt;123&lt;/Series&gt;
&lt;Action&gt;RESUME&lt;/Action&gt;
&lt;RequestString&gt;MerchantNumber=1234567&amp;SeriesID=123&amp;Action=RESUME&lt;/RequestString&gt;
&lt;RemoteIP&gt;123.123.123.123&lt;/RemoteIP&gt;
&lt;/RecurringModify&gt;&lt;/RecurringModifyLog&gt;</pre>
    </div>
    <p>
        When request is invalid
    </p>

    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Code</td>
                <td>Reply code (see list below)</td>
            </tr>
            <tr>
                <td>Message</td>
                <td>Reply description</td>
            </tr>
        </tbody>
    </table>
    <div class="code">
<pre>&lt;Error&gt;
&lt;Code&gt;12&lt;/Code&gt;
;&lt;Message&gt;Merchant company number is invalid&lt;/Message&gt;
&lt;/Error&gt;</pre>
    </div>
    <h2>
        Reply Codes
    </h2>
    <p>
        11 = Missing or invalid input<br />
        12 = Merchant company number is invalid<br />
        13 = Merchant is unauthorized to use this service<br />
        14 = Service not allowed from your IP Address<br />
        15 = MD5 Signature not correct<br />
        16 = The service is temporarily unavailable<br />
        17 = Merchant is closed or blocked<br />
    </p>
    <p>
        (1) Default time is 00:00:00 when hh:MM:ss is empty
        (2) Default time is 23:59:59 when hh:MM:ss is empty
        (4) Maximum records sent back is 1000
        (5) In transaction with method other than credit card, CreditCard and Address sections are not displayed
        (6) Contains positive number when relevant, otherwise zero
        (7) Appears only when Type is CHB
        (8) Appears only if RefTransID and RefTransType were passed in Silent Post
    </p>