﻿<link href="StyleSheet.css" rel="stylesheet" />
    <h1>STORING CREDIT CARDS - - MESSAGE FIELDS</h1>
    <h2>PAGE URL</h2>
    <p>https://process.netpay-intl.com/member/store_card.asp</p>

    <h2>Request Fields</h2>


    <table>
        <tbody>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Max<br>
                    Length</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>CompanyNum</td>
                <td>Your company number - ######</td>
                <td>7</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>CardNum</td>
                <td>Credit card number to be charged </td>
                <td>20</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>ExpMonth</td>
                <td>Expiration month (MM) </td>
                <td>2</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>ExpYear</td>
                <td>Expiration year (YYYY) </td>
                <td>4</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>CHFullName</td>
                <td>Cardholder name as it appears on the card </td>
                <td>50</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>CVV2</td>
                <td>3 digit number from back of the credit card</td>
                <td>5</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>CHEmail</td>
                <td>Cardholder email address</td>
                <td>50</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>CHPersonalNum</td>
                <td>Cardholder Driver id or social security number</td>
                <td>20</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>CHPhoneNumber</td>
                <td>Cardholder phone number</td>
                <td>20</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>Usually used to display product name in reporting system </td>
                <td>255</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>billingStreet1</td>
                <td>Client billing address line 1</td>
                <td>50</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>billingStreet2</td>
                <td>Client billing address line 2</td>
                <td>50</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>billingCity</td>
                <td>Client billing city</td>
                <td>20</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>billingZipcode</td>
                <td>Client billing zip code</td>
                <td>20</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>billingState</td>
                <td>Client billing state in 2 char ISO code</td>
                <td>2</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>billingCountry</td>
                <td>Client billing country in 2 char ISO code</td>
                <td>2</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Signature<br>
                </td>
                <td>Signature for verifying the authenticity of the request parameters.<br>
                    Field values to use: <i>CompanyNum + PersonalHashKey</i><br>
                    <br>
                    Refer to for detailed explaniation.
                </td>
                <td>30</td>
                <td>Optional</td>
            </tr>
        </tbody>
    </table>
    <h2>Response Fields</h2>


    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ReplyCode<br>
                </td>
                <td>Reply code (see list below)<br>
                </td>
            </tr>
            <tr>
                <td>ReplyDesc<br>
                </td>
                <td>Reply description<br>
                </td>
            </tr>
            <tr>
                <td>CardId<br>
                </td>
                <td>Stored credit card ID number, to be passed as ccStorageID in Silent Post request<br>
                </td>
            </tr>
            <tr>
                <td>InsertDate<br>
                </td>
                <td>Exact date and time at the server<br>
                </td>
            </tr>
            <tr>
                <td>Comment<br>
                </td>
                <td>A returned field from the request<br>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="code">
<pre>ReplyCode=00&amp;ReplyDesc=Card has been stored successfullyamp;CardId=12345&amp;InsertDate=01/01/2000 00:00:01&amp;Comment=test 123</pre>
    </div>
    <h2>Reply Codes</h2>
    <p>
        00 = Card has been stored successfully   <br />
        10 = One of the required fields is missing or invalid <br />
        11 = Invalid Company or signature <br />
        12 = Unrecognizable card type or invalid card number <br />
        13 = Merchant is unauthorized to use Card Storage <br />
        14 = Merchant is closed or blocked <br />
        15 = Parameter CardID missing <br />
        16 = Invalid Company or signature <br />
        17 = Invalid CVV2
    </p>    