﻿<link href="StyleSheet.css" rel="stylesheet" />
<h2>Service URL</h2>
<p>
    https://webservices.netpay-intl.com/Merchants.asmx/TransactionHistory<br>
</p>

<h2>Request Formats</h2>
<p>
    The service accept calls in the following protocols:<br>
    SOAP, XML, HTTP POST and JSON<br>
    for SOAP calls you may use the wsdl declaration in the following address:<br>
    <a href="https://webservices.netpay-intl.com/Merchants.asmx?WSDL">https://webservices.netpay-intl.com/Merchants.asmx?WSDL</a>
</p>
<div class="code">
<pre>&lt;TransactionHistory xmlns="http://netpay-intl.com/"&gt;
        &lt;credentialsToken&gt;string&lt;/credentialsToken&gt;
&lt;/TransactionHistory&gt;</pre>
</div>

<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
            <th>Max<br>Length</th>
            <th>Required</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>credentialsToken</td>
            <td>The credentials token recieved from the login service</td>
            <td>36</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>
<h2>Response Format</h2>
<div class="code">
<pre>&lt;TransactionHistoryResponse xmlns="http://netpay-intl.com/"&gt;
    &lt;TransactionHistoryResult&gt;
		    &lt;TransactionInfo&gt;
			&lt;ID&gt;1234567&lt;/ID&gt;
			&lt;Amount&gt;1.5000&lt;/Amount&gt;
			&lt;Card&gt;Visa .... 0000&lt;/Card&gt;
			&lt;InsertDate&gt;2013-10-02T11:08:49&lt;/InsertDate&gt;
			&lt;Currency&gt;EUR&lt;/Currency&gt;
			&lt;Comment&gt;Transaction info&lt;/Comment&gt;
		    &lt;/TransactionInfo&gt;
		    &lt;TransactionInfo&gt;
			&lt;ID&gt;1234568&lt;/ID&gt;
			&lt;Amount&gt;1.5000&lt;/Amount&gt;
			&lt;Card&gt;Visa .... 0000&lt;/Card&gt;
			&lt;InsertDate&gt;2013-10-02T11:11:49&lt;/InsertDate&gt;
			&lt;Currency&gt;EUR&lt;/Currency&gt;
			&lt;Comment&gt;Transaction info&lt;/Comment&gt;
		    &lt;/TransactionInfo&gt;
    &lt;/TransactionHistoryResult&gt;
&lt;/TransactionHistoryResponse&gt;</pre>
</div>
