﻿
<h1>ACH / ECHECK - SILENT POST</h1>
<h2>PAGE URL </h2>
<p>
    <a href="https://process.netpay-intl.com/member/remoteCharge_echeck.asp">https://process.netpay-intl.com/member/remote_charge.asp</a>
</p>


<h2>Request Fields</h2>

<table>
    <thead>
        <tr>
            <th>Field </th>
            <th>Description</th>
            <th>Max Length<br></th>
            <th>Type</th>
            <th>Required <sup>1</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CompanyNum<br></td>
            <td>Your company number you received from us<br></td>
            <td>7</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>AccountName<br></td>
            <td>Full bank account name<br></td>
            <td>50</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>RoutingNumber<br></td>
            <td>ABA / Routing number / Bank code<br></td>
            <td>20</td>
            <td>Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>AccountNumber<br></td>
            <td>Account number<br></td>
            <td>20</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankAccountType<br></td>
            <td>Account Type: 1 = Checking, 2 = Savings<br></td>
            <td>1</td>
            <td>Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankName<br></td>
            <td>Name of the bank<br></td>
            <td>50</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankCity<br></td>
            <td>City of the bank<br></td>
            <td>15</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankPhone<br></td>
            <td>Phone number of the bank<br></td>
            <td>15</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankState<br></td>
            <td>2 Char Iso Code</td>
            <td>2</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankCountry<br></td>
            <td>2 Char Iso Code</td>
            <td>2</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Amount<br></td>
            <td>Transaction amount<br></td>
            <td>8</td>
            <td>Double</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Currency<br></td>
            <td>

                0 = ILS
                (Israel New Shekel)
                <br>
                1 = USD
                (US Dollar)
                <br>
                2 = EUR
                (Euro)
                <br>
                3 = GBP
                (UK Pound Sterling)
                <br>
                4 = AUD
                (Australian Dollar)
                <br>
                5 = CAD
                (Canadian Dollar)
                <br>
                6 = JPY
                (Japanese Yen)
                <br>
                7 = NOK
                (Norwegian Krone)
                <br>
                8 = PLN
                (Polski zloty)
                <br>
                9 = MXN
                (Mexican Peso)
                <br>
                10 = ZAR
                (South African Rand)
                <br>
                11 = RUB
                (Russian Ruble)
                <br>
                12 = TRY
                (Turkish lira)
                <br>
                13 = CHF
                (Swiss franc)
                <br>
                14 = INR
                (Indian rupee)
                <br>
                15 = DKK
                (Danish krone)
                <br>
                16 = SEK
                (Swedish krona)
                <br>
                17 = CNY
                (Chinese yuan)
                <br>
                18 = HUF
                (Hungarian forint)
                <br>
                19 = NZD
                (New Zealand dollar)
                <br>
                20 = HKD
                (Hong Kong dollar)
                <br>
                21 = KRW
                (South Korean won)
                <br>
                22 = SGD
                (Singapore dollar)
                <br>
                23 = THB
                (Thai baht)
                <br>
                24 = BSD
                (Bahamian Dollar)

            </td>
            <td>1</td>
            <td>Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>CreditType <sup>2</sup><br></td>
            <td>1 = Debit<br>0 = Refund<br></td>
            <td>1</td>
            <td>Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BirthDate<br></td>
            <td>Birth date of the customer formated as yyyy/mm/dd<br></td>
            <td>10</td>
            <td>Date</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BillingAddress1<br></td>
            <td>1st Address line<br></td>
            <td>100</td>
            <td>String</td>
            <td>Not Applicable</td>
        </tr>
        <tr>
            <td>BillingAddress2<br></td>
            <td>2nd Address line, Ok to leave out<br></td>
            <td>100</td>
            <td>String</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>BillingCity<br></td>
            <td>City name<br></td>
            <td>60</td>
            <td>String</td>
            <td>Not Applicable</td>
        </tr>
        <tr>
            <td>BillingZipCode<br></td>
            <td>Zip Code number<br></td>
            <td>15</td>
            <td>String</td>
            <td>Not Applicable</td>
        </tr>
        <tr>
            <td>BillingState<br></td>
            <td>
                State - 2 character iso format<br>
                Required only when BillingCountry is US/CA.<br>
            </td>
            <td>5</td>
            <td>String</td>
            <td>Not Applicable</td>
        </tr>
        <tr>
            <td>BillingCountry</td>
            <td>
                Country - 2 character iso format<br>
            </td>
            <td>5</td>
            <td>String</td>
            <td>Applicable</td>
        </tr>
        <tr>
            <td>Email<br></td>
            <td>Account owner email<br></td>
            <td>50</td>
            <td>String</td>
            <td>Not Applicable</td>
        </tr>
        <tr>
            <td>PersonalNum<br></td>
            <td>Social security number<br></td>
            <td>20</td>
            <td>String</td>
            <td>Not Applicable</td>
        </tr>
        <tr>
            <td>PhoneNumber<br></td>
            <td>Account owner phone number<br></td>
            <td>20</td>
            <td>String</td>
            <td>Not Applicable</td>
        </tr>
        <tr>
            <td>Order<br></td>
            <td>Transaction unique id, which is sent back with the reply<br></td>
            <td>100</td>
            <td>String</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>Comment<br></td>
            <td>Client memo<br></td>
            <td>500</td>
            <td>String</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>RefTransID<br></td>
            <td>
                Reference transaction ID. Used to specify the original transaction id
                when TypeCredit = 0 or TypeCredit = 4 or when needed to complete missing transaction data.<br>
            </td>
            <td>10</td>
            <td>Integer</td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>
<h2>Response Fields</h2>

<table>
    <tbody>
        <tr>
            <th>Field</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>replyCode</td>
            <td>Transaction authorization (see list below)</td>
        </tr>
        <tr>
            <td>replyMessage</td>
            <td>Reply message in English</td>
        </tr>
        <tr>
            <td>transId</td>
            <td>Transaction number</td>
        </tr>
        <tr>
            <td>transDate</td>
            <td>Transaction time and date</td>
        </tr>
        <tr>
            <td>transAmount</td>
            <td>Transaction amount<br></td>
        </tr>
        <tr>
            <td>transCurrency</td>
            <td>Transaction currency<br></td>
        </tr>
        <tr>
            <td>transOrder</td>
            <td>Transaction id or order number that was supplied by merchant<br></td>
        </tr>
        <tr>
            <td>transComment</td>
            <td>Comment as it was sent by the merchant</td>
        </tr>
        <tr>
            <td>confirmationNumber</td>
            <td>Confirmation number</td>
        </tr>
    </tbody>
</table>

<div class="code">
    <pre>replyCode=000&amp;replyMessage=SUCCESS&amp;transId=12345&amp;transDate=01/01/2000 00:00:01&amp;transAmount=10.99&amp;transCurrency=1&amp;transOrder=T1234&amp;transComment=White box&amp;confirmationNumber=0123456</pre>
</div>
<h2>Reply Codes</h2>

<p>
    000 = Authorized transaction <br />
    001 = Transaction accepted, waiting authorization <br />
    xxx = Transaction was not Authorized, see unauthorized comment explanation
</p>

<h2>Consumer Consent</h2>
<p>
    Merchant must add this following consumer consent for the transaction and rules and regulations
    at the page where the consumer is entering his debit information
</p>

<div class="code">
<pre>&lt;input type="Checkbox" name="IsEcheckAgree" value="1"&gt; I here by authorize  to charge the above amount using my bank account details provided above.
I also give my consent to the &lt;a href="javascript:var winShow=window.open('rulesPop.asp', 'fraRules', 'TOP=0, LEFT=0, WIDTH=400, HEIGHT=300, scrollbars=yes');"&gt;rules &amp; regulations&lt;/a&gt; presented.</pre>
</div>
<p>
    (1) Some field requirements are dependent on merchant configuration and can be change on your request<br>
    (2) First option is default when field is empty<br>
</p>