﻿
<h1>INSTANT BANK DEBIT - SILENT POST</h1>
<h2>PAGE URL</h2>
<p><a href="https://process.netpay-intl.com/member/remoteCharge_echeck.asp">https://process.netpay-intl.com/member/remoteCharge_echeck.asp</a></p>
<h2>Request Fields</h2>

<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
            <th>Max / Length </th>
            <th>Type</th>
            <th>Required <sup>1</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CompanyNum</td>
            <td>Your company number you received from us</td>
            <td>7</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>PaymentMethod <sup>2</sup></td>
            <td>The ID of the Payment Method.<br>
                Click here to see supported List
            </td>
            <td>3</td>
            <td>Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>AccountName</td>
            <td>Full bank account name</td>
            <td>50</td>
            <td>Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>RoutingNumber</td>
            <td>Routing number / Bank code</td>
            <td>20</td>
            <td>Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>AccountNumber</td>
            <td>Account number</td>
            <td>20</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankCountry</td>
            <td>2 Char Iso Code</td>
            <td>2</td>
            <td>String</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankID</td>
            <td>Bank ID returned from banklist</td>
            <td>2</td>
            <td>Integer</td>
            <td>Yes, for bank transfer</td>
        </tr>
        <tr>
            <td>Amount</td>
            <td>Transaction amount</td>
            <td>8</td>
            <td>Double</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Currency</td>
            <td>0 = ILS (Israel New Shekel)
						<br>
                1 = USD
							(US Dollar)
						<br>
                2 = EUR
							(Euro)
						<br>
                3 = GBP
							(UK Pound Sterling)
						<br>
                4 = AUD
							(Australian Dollar)
						<br>
                5 = CAD
							(Canadian Dollar)
						<br>
                6 = JPY
							(Japanese Yen)
						<br>
                7 = NOK
							(Norwegian Krone)
						<br>
                8 = PLN
							(Polski zloty)
						<br>
                9 = MXN
							(Mexican Peso)
						<br>
                10 = ZAR
							(South African Rand)
						<br>
                11 = RUB
							(Russian Ruble)
						<br>
                12 = TRY
							(Turkish lira)
						<br>
                13 = CHF
							(Swiss franc)
						<br>
                14 = INR
							(Indian rupee)
						<br>
                15 = DKK
							(Danish krone)
						<br>
                16 = SEK
							(Swedish krona)
						<br>
                17 = CNY
							(Chinese yuan)
						<br>
                18 = HUF
							(Hungarian forint)
						<br>
                19 = NZD
							(New Zealand dollar)
						<br>
                20 = HKD
							(Hong Kong dollar)
						<br>
                21 = KRW
							(South Korean won)
						<br>
                22 = SGD
							(Singapore dollar)
						<br>
                23 = THB
							(Thai baht)
						<br>
                24 = BSD
							(Bahamian Dollar)	
            </td>
            <td>1</td>
            <td>Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>CreditType <sup>2</sup></td>
            <td>1 = Debit<br>
                0 = Refund<br>
                4 = Client Confirm<br>
            </td>
            <td>1</td>
            <td>Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BirthDate</td>
            <td>Birth date of the customer formated as yyyy/mm/dd</td>
            <td>10</td>
            <td>Date</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BillingAddress1</td>
            <td>1st Address line</td>
            <td>100</td>
            <td>String</td>
            <td></td>
        </tr>
        <tr>
            <td>BillingAddress2</td>
            <td>2nd Address line, Ok to leave out</td>
            <td>100</td>
            <td>String</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>BillingCity</td>
            <td>City name</td>
            <td>60</td>
            <td>String</td>
            <td></td>
        </tr>
        <tr>
            <td>BillingZipCode</td>
            <td>Zip Code number</td>
            <td>15</td>
            <td>String</td>
            <td></td>
        </tr>
        <tr>
            <td>BillingState</td>
            <td>State - 2 character iso format<br>
                Required only when BillingCountry is US/CA.
            </td>
            <td>5</td>
            <td>String</td>
            <td></td>
        </tr>
        <tr>
            <td>BillingCountry<br>
            </td>
            <td>Country - 2 character iso format
            </td>
            <td>5</td>
            <td>String</td>
            <td></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>Account owner email</td>
            <td>50</td>
            <td>String</td>
            <td></td>
        </tr>
        <tr>
            <td>PersonalNum</td>
            <td>Social security number</td>
            <td>20</td>
            <td>String</td>
            <td></td>
        </tr>
        <tr>
            <td>PhoneNumber</td>
            <td>Account owner phone number</td>
            <td>20</td>
            <td>String</td>
            <td></td>
        </tr>
        <tr>
            <td>Order</td>
            <td>Transaction unique id, which is sent back with the reply</td>
            <td>100</td>
            <td>String</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>Client memo</td>
            <td>500</td>
            <td>String</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>RefTransID</td>
            <td>Reference transaction ID. Used to specify the original transaction id 
					when TypeCredit = 0 or TypeCredit = 4 or when needed to complete missing transaction data.
            </td>
            <td>10</td>
            <td>Integer</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>PinCode</td>
            <td>In cases where 552 is returned.
					SMS with unique transaction PinCode will be send to the customer's phone number.<br>
                you should send another request with only CompanyNum, TypeCredit = 4, RefTransID and PinCode in order to complete the transaction<br>
            </td>
            <td>10</td>
            <td>Integer</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>RetURL</td>
            <td>In cases where 553 is returned.
					the client should be redirected to bank's site.
					when the interaction with bank is done, the client is redirected to this URL.
            </td>
            <td>255</td>
            <td>String</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>TransApprovalID</td>
            <td>In cases where 553 is returned.
					Authorization code of first transaction request.
            </td>
            <td>50</td>
            <td>String</td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>
<h2>Response Fields</h2>

<table>
    <tbody>
        <tr>
            <th>Field</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>replyCode</td>
            <td>Transaction authorization (see list below)
            </td>
        </tr>
        <tr>
            <td>replyMessage</td>
            <td>Reply message in English</td>
        </tr>
        <tr>
            <td>transId</td>
            <td>Transaction number</td>
        </tr>
        <tr>
            <td>transDate</td>
            <td>Transaction time and date</td>
        </tr>
        <tr>
            <td>transAmount</td>
            <td>Transaction amount</td>
        </tr>
        <tr>
            <td>transCurrency</td>
            <td>Transaction currency</td>
        </tr>
        <tr>
            <td>transOrder</td>
            <td>Transaction id or order number that was supplied by merchant</td>
        </tr>
        <tr>
            <td>transComment</td>
            <td>Comment as it was sent by the merchant</td>
        </tr>
        <tr>
            <td>confirmationNumber</td>
            <td>Confirmation number</td>
        </tr>
    </tbody>
</table>
<div class="code">
    <pre>replyCode=000&amp;replyMessage=SUCCESS&amp;transId=12345&amp;transDate=01/01/2000 00:00:01
&amp;transAmount=10.99&amp;transCurrency=1&amp;transOrder=T1234&amp;transComment=White box&amp;confirmationNumber=0123456</pre>
</div>

<h2>Reply Codes</h2>
<p>
    000 = Authorized transaction<br>
    001 = Transaction accepted, waiting authorization<br>
    552 = Transaction accepted, but will not be processed until PinCode is confirmed<br>
    553 = Transaction initiated but you should redirect the customer to the bank's site to confirm the transaction. when done, the bank will redirect him back to your site (by RetUrl parameter).<br>
    xxx = Transaction was not Authorized, see unauthorized comment explanation
</p>
<h2>Consumer Consent</h2>
<p>
    Merchant must add this following consumer consent for the transaction and rules and regulations
			at the page where the consumer is entering his debit information
</p>
<h2>Implementation Notes</h2>

Push Bank transfer implementations requires more steps that should be implemented<br>

<ul>
    <li>The user should first select his bank country.</li>
    <li>Send the selected country to the following link:
        <div class="code">
            <pre>https://process.netpay-intl.com/member/remoteCharge_echeckGetBanks.asp?PaymentMethod=149&amp;CompanyNum=[your compnay number]&amp;Currency=[transaction currency]&amp;Country=[Country Code]</pre>
        </div>
        <p>
            as a result, you will get back the following:
        </p>
        <div class="code">
            <pre>Reply=000&amp;BankList=7,Deutsche Bank,logoURL;8,Postbank,logoURL;31,Commerzbank,logoURL;</pre>
        </div>
        <p>
            where BankList is a comma seperated list composed of bankID and bank name.<br>
        </p>
    </li>
    <li>
        <p>
            After the user select a bank from the returned list, send all the information to:<br>
            <b>https://process.netpay-intl.com/member/remoteCharge_echeck.asp</b> [see instant bank debit - Silent Post].<br>
            As a result you will get back TransID among other information of the transaction.
        </p>
    </li>
    <li>Send the transID to get the bank account the customer should transfer money to :<br>

        <div class="code">
            <pre>https://process.netpay-intl.com/member/remoteCharge_echeckGetBanks.asp?PaymentMethod=149&amp;CompanyNum=[your compnay number]&amp;Currency=[transaction currency]&amp;Country=[Country Code]&amp;TransID=[returned TransID]</pre>
        </div>
        <p>
            the format of the result is:
        </p>
        <div class="code">
            <pre>Reply=000&amp;BankInfo=[address of the bank]&amp;AccountInfo=[swift, IBAN]&amp;TransferInfo=[transfer reference code and additinal transfer info]&amp;BankURL=[the URL for the customer to login his bank account]</pre>
        </div>
        <p>
            Use this information to present the client the necessary details to complete the transfer together with the link to his bank account.<br>
        </p>
    </li>
    <li>The transaction is considered 'Pending' (reply=001) until the client transfer the money to the returned account and the bank send us notification about the transfer.<br>
    </li>
    <li>When transaction status change to approve/decline, we will send you a hidden notification as usual.
    </li>
</ul>
<p>
    (1) Some field requirements are dependent on merchant configuration and can be change on your request<br>
    (2) First option is default when field is empty<br>
</p>
