<link href="StyleSheet.css" rel="stylesheet" />
<p>
    Before using the web services note that all services require a signature and some services require a login token.
</p>

<h2>Signature</h2>
<div class="code">
<pre>
The signature adds a layer of security by ensuring the integrity of the server request and response,
It is sent and received in the http header with the Signature key:
Signature: [ <font color="red">Mode</font> ]-[ <font color="blue">Hash algorithm</font> ], [ base64(hash(<font color="darkcyan">Data</font> + <font color="darkcyan">Salt</font>)) ]
<font color="red">Mode</font>
	Should be <b>bytes</b> if the entire post is hashed,
	Or <b>values</b> if the parameters values are hashed.
<font color="blue">Hash algorithm</font>
	Can be either <b>SHA256</b>, <b>SHA384</b> or <b>SHA512</b>
<b>MD5</b> is supported but not recommended.
<font color="darkcyan">Data</font>
	Should be the <b>entire post</b> string if mode is set to bytes,
	Or the <b>parameters values</b> if mode is set to values.
	Parameter values should be concatenated in the order they appear in the service function.
<font color="darkcyan">Salt</font>
	If attempting to call a service on behalf of a user using a login token,
	The salt should be the <b>user hash key</b>.
	Otherwise the salt should be the <b>application key</b>.
A signature header that calculates the entire post and uses SHA256 would look like this - Signature: <font color="red">bytes</font>-<font color="blue">SHA256</font>, <font color="darkcyan">anVzdCBhIHNhbXBsZSBzaWduYXR1cmU=</font> *
A signature header that calculates the parameter values and uses SHA384 would look like this - Signature: <font color="red">values</font>-<font color="blue">SHA384</font>, <font color="darkcyan">c29tZSB2YWx1ZXMgc2lnbmF0dXJl=</font> *
* Please note that this base64 string is for demonstration only.
The service reply will contain a response header signature with the same structure as described above,
You should check this signature for integrity.
</pre>
</div>
    <p>Code examples for hashing and converting to base64</p>

    <h2>ASP.Net (VB)</h2>
    <div class="code">
<pre>Public Class Signature
	Public Shared Function GenerateSHA256(ByVal value As String) As String
		Dim sh As System.Security.Cryptography.SHA256 = System.Security.Cryptography.SHA256.Create()
		Dim hashValue As Byte() = sh.ComputeHash(System.Text.Encoding.UTF8.GetBytes(value))
		Return System.Convert.ToBase64String(hashValue)
	End Function
End Class
'Usage Example
Dim sSignature As String = Signature.GenerateSHA256("1234567ABCDEFGHIJ")</pre>

    </div>
    <h2>ASP.Net (C#)</h2>
    <div class="code">
<pre>public class Signature
{
	public static string GenerateSHA256(string value)
	{
		System.Security.Cryptography.SHA256 sh = System.Security.Cryptography.SHA256.Create();
		byte[] hashValue = sh.ComputeHash(System.Text.Encoding.UTF8.GetBytes(value));
		return System.Convert.ToBase64String(hashValue);
	}
}
//Usage Example
string sSignature = Signature.GenerateSHA256("1234567ABCDEFGHIJ");</pre>
    </div>
    <h2>PHP 5</h2>
    <div class="code">
<pre>$val=base64_encode(hash("sha256", "1234567ABCDEFGHIJ", true));</pre>
    </div>
    <h4>Login</h4>
    <div class="code">
<pre>
To obtain a login token use the Account service Login function.
See Account service pdf for more information.
Once the credentials token has been obtained, it should be placed in any subsequent request header with the key credentialsToken.
credentialsToken: C3C732D5-13D4-49F2-B823-3679B2C48B61 *
* Please note that this login token is for demonstration only.
</pre>
    </div>
