﻿<h1>PAYMENT METHOD STORAGE - MESSAGE FIELDS </h1>
<h2>PAGE URL</h2>
<div>
    <a href="https://services.netpay-intl.com/PaymentMethodStorage">https://services.netpay-intl.com/PaymentMethodStorage</a>
</div>

<h2>Request Fields</h2>

<table>
    <thead>
        <tr>
            <th>
                Field<br>
            </th>
            <th>
                Description<br>
            </th>
            <th>
                Max / Length
            </th>
            <th>Required <sup>1</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>merchantID</td>
            <td>Your 7 digits merchant number - #######</td>
            <td>7</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>signature</td>
            <td>
                Signature for verifying the authenticity of the request parameters.<br>
                Field values to use: <i>merchantID + PersonalHashKey</i><br>
                <br>
                Refer to  for detailed explaniation.
            </td>
            <td>30</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>trans_comment</td>
            <td>Optional text used mainly to describe the transaction</td>
            <td>500</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>disp_payFor</td>
            <td>Text shown to buyer in payment window, Usually description of purchase (Cart description, Product name)</td>
            <td>40</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>disp_paymentType</td>
            <td>
                List of payment types that are available to the client.<br>
                If more than one, use comma to seperate the values.<br>
                (example: CC,ED)<br>
                <br>
                Available values are:<br>
                CC = Credit Card
            </td>
            <td>12</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>disp_lng</td>
            <td>
                Language Code for the UI text in the window.<br>
                If omitted, language is taken from user's browser settings.<br>
                <br>
                Available values are:<br>
                en-us = English USA
                <br>
                it-it = Italian Italy<br>
                he-il = Hebrew Israel
            </td>
            <td>5</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>
                client_id<br>
            </td>
            <td>available soon</td>
            <td>10</td>
            <td>Optional</td>
        </tr>

        <tr>
            <td>url_notify</td>
            <td>
                The URL for notifying your system with the transaction result, Must include http:// or https://.<br>
                (this parameter can be configured in under the managment section, if your send this parameter with the request it will overrides the configured value).
            </td>
            <td>255</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>
                url_redirect<br>
            </td>
            <td>
                The URL to which the buyer’s browser is redirected to after completing the payment, Must include http:// or https://.<br>
                (this parameter can be configured in Hosted Page V.2 under the managment section, if your send this parameter with the request it will overrides the configured value).
            </td>
            <td>255</td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>
<h2>Automatic filling of form data: </h2>

<table>
    <tbody>
        <tr>
            <td>
                client_fullName<br>
            </td>
            <td>Cardholder full name</td>
            <td>50</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>
                client_email<br>
            </td>
            <td>Cardholder Email address</td>
            <td>50</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>
                client_phoneNum<br>
            </td>
            <td>Cardholder phone number</td>
            <td>15</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>
                client_idNum<br>
            </td>
            <td>Government issued ID number</td>
            <td>9</td>
            <td>Optional</td>
        </tr>

        <tr>
            <td>client_billAddress1</td>
            <td>Client billing address line 1</td>
            <td>50</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billAddress2</td>
            <td>Client billing address line 2</td>
            <td>50</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billCity</td>
            <td>Client billing city</td>
            <td>20</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billZipcode</td>
            <td>Client billing zip code</td>
            <td>20</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billState</td>
            <td>Client billing state in 2 char ISO code</td>
            <td>2</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billCountry</td>
            <td>Client billing country in 2 char ISO code</td>
            <td>2</td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>
<h2>User defined parameters: </h2>

<table>
    <tbody>
        <tr>
            <td>
                You can append your own fields to the request.<br>
                These fields with be stored during the request processing and returned with the reply.<br>
                Use this to transfer more information to your url_redirect and url_notify pages.
            </td>
            <td>2000 <sup>2</sup></td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>
<h2>Response Fields</h2>

<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>replyCode</td>
            <td>Transaction authorization (see list below)</td>
        </tr>
        <tr>
            <td>replyDesc</td>
            <td>Reply description</td>
        </tr>
        <tr>
            <td>storage_id </td>
            <td>storage number</td>
        </tr>
        <tr>
            <td>store_date</td>
            <td>storage time and date </td>
        </tr>
        <tr>
            <td>client_id</td>
            <td>A returned field from the request</td>
        </tr>
        <tr>
            <td>paymentMethod</td>
            <td>
                Description of the payment method used in the transaction.<br>
                For credit cards, the description consists of the card type and the last four digits of the card number.<br>
                For bank transfers, the description consists of the platform name and the last four digits of the account.
            </td>
        </tr>
        <tr>
            <td>signature</td>
            <td>
                Signature for verifying the authenticity of the response parameters.<br>
                Field values used: <i>replyCode + storage_id + PersonalHashKey</i><br>
                <br>
                Refer to  for detailed explaniation.
            </td>
        </tr>
    </tbody>
</table>

<div class="code">
    <pre>replyCode=00&amp;replyDesc=SUCCESS&amp;storage_id=123456&amp;store_date=01/01/2000 00:00:01&amp;client_id=1234</pre>
</div>
<h2>Reply Codes</h2>
<p>
    00 = Store successeded<br />
    xx = store failed, see reply Desc for explanation<br />
    - For a more detail list of reply codes<br />
    (1) Some field requirements are dependent on merchant configuration and can be change on your request<br>
    (2) The overall length of the request is subject to the 2000 byte length restriction
</p>
