﻿<link href="StyleSheet.css" rel="stylesheet" />
    <h1>LOGIN TOKEN</h1>
    <p>
        Service to request a credentials token, used in other services for getting an authorize access.
    </p>

    <h2>Service URL</h2>

    <p>https://webservices.netpay-intl.com/Merchants.asmx/Login</p>

    <h2> Request Formats</h2>

    <p>
        The service accept calls in the following protocols:<br>
        SOAP, XML, HTTP POST and JSON<br><br>
        for SOAP calls you may use the wsdl declaration in the following address:<br>
        <a href="https://webservices.netpay-intl.com/Merchants.asmx?WSDL">https://webservices.netpay-intl.com/Merchants.asmx?WSDL</a>
    </p>

    <div class="code">
<pre>&lt;Login xmlns="http://netpay-intl.com/"&gt;
   &lt;email&gt;string&lt;/email&gt;
   &lt;userName&gt;string&lt;/userName&gt;
   &lt;password&gt;string&lt;/password&gt;
   &lt;signature&gt;string&lt;/signature&gt;
&lt;/Login&gt;</pre>
    </div>


    <table>
        <tbody>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Max Length</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>email</td>
                <td>your login email</td>
                <td>255</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>userName</td>
                <td>your login user name</td>
                <td>50</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>password</td>
                <td>your login password</td>
                <td>50</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>signature</td>
                <td>
                    Signature for verifying the authenticity of the request parameters.<br>
                    Field values to use: <i>email + userName + password + hashKey</i><br><br>
                    Refer to BASIC INFO SIGNATURE for detailed explaniation.<br>
                </td>
                <td>64</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>
    <h2>
        Response Formats
    </h2>

    <div class="code">
        <pre>&lt;LoginResult&gt;
   &lt;Result&gt;string&lt;/Result&gt;
   &lt;CredentialsToken&gt;guid&lt;/CredentialsToken&gt;
&lt;/LoginResult&gt;</pre>
    </div>


    <table>
        <tbody>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Max Length</th>
                <th>Required</th>
            </tr>
            <tr>
                <td>Result</td>
                <td>a string with result of login<br></td>
                <td>255</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>CredentialsToken *</td>
                <td>a guid that will be used to subsequent call to the service</td>
                <td>32</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>

    <p>
        * The token expires after 20 minutes
    </p>
