﻿<link href="StyleSheet.css" rel="stylesheet" />
<h2>Service URL</h2>

<p>https://webservices.netpay-intl.com/Merchants.asmx/Register</p>

<h2>Request Formats</h2>
<p>
    The service accept calls in the following protocols:<br>
    SOAP, XML, HTTP POST and JSON<br><br>
    for SOAP calls you may use the wsdl declaration in the following address:<br>
    <a href="https://webservices.netpay-intl.com/Merchants.asmx?WSDL">https://webservices.netpay-intl.com/Merchants.asmx?WSDL</a>
</p>


<div class="code">
    <pre>&lt;Register xmlns="http://netpay-intl.com/"&gt;
&lt;vo&gt;
    &lt;ID&gt;int&lt;/ID&gt;
    &lt;DbaName&gt;string&lt;/DbaName&gt;
    &lt;LegalBusinessName&gt;string&lt;/LegalBusinessName&gt;
    &lt;FirstName&gt;string&lt;/FirstName&gt;
    &lt;LastName&gt;string&lt;/LastName&gt;
    &lt;Email&gt;string&lt;/Email&gt;
    &lt;Address&gt;string&lt;/Address&gt;
    &lt;City&gt;string&lt;/City&gt;
    &lt;State&gt;string&lt;/State&gt;
    &lt;Zipcode&gt;string&lt;/Zipcode&gt;
    &lt;OwnerDob&gt;dateTime&lt;/OwnerDob&gt;
    &lt;OwnerSsn&gt;string&lt;/OwnerSsn&gt;
    &lt;Phone&gt;string&lt;/Phone&gt;
    &lt;Url&gt;string&lt;/Url&gt;
    &lt;PhisicalAddress&gt;string&lt;/PhisicalAddress&gt;
    &lt;PhisicalCity&gt;string&lt;/PhisicalCity&gt;
    &lt;PhisicalState&gt;string&lt;/PhisicalState&gt;
    &lt;PhisicalZip&gt;string&lt;/PhisicalZip&gt;
    &lt;StateOfIncorporation&gt;string&lt;/StateOfIncorporation&gt;
    &lt;TypeOfBusiness&gt;int&lt;/TypeOfBusiness&gt;
    &lt;BusinessStartDate&gt;dateTime&lt;/BusinessStartDate&gt;
    &lt;Industry&gt;int&lt;/Industry&gt;
    &lt;BusinessDescription&gt;string&lt;/BusinessDescription&gt;
    &lt;AnticipatedMonthlyVolume&gt;decimal&lt;/AnticipatedMonthlyVolume&gt;
    &lt;AnticipatedAverageTransactionAmount&gt;decimal&lt;/AnticipatedAverageTransactionAmount&gt;
    &lt;AnticipatedLargestTransactionAmount&gt;decimal&lt;/AnticipatedLargestTransactionAmount&gt;
    &lt;BankRoutingNumber&gt;string&lt;/BankRoutingNumber&gt;
    &lt;BankAccountNumber&gt;string&lt;/BankAccountNumber&gt;
&lt;/vo&gt;
&lt;/Register&gt;</pre>
</div>

<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
            <th>Max Length</th>
            <th>Required</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>Ignore</td>
            <td>0</td>
            <td>No</td>
        </tr>
        <tr>
            <td>DbaName</td>
            <td>DBA Name</td>
            <td>50</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>LegalBusinessName</td>
            <td>Legal Business Name</td>
            <td>50</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>FirstName</td>
            <td>First Name</td>
            <td>50</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>LastName</td>
            <td>Last Name</td>
            <td>50</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>Email</td>
            <td>100</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>Address</td>
            <td>250</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>City</td>
            <td>City</td>
            <td>50</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>State</td>
            <td>State 2 letter code</td>
            <td>2</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Zipcode</td>
            <td>Zipcode</td>
            <td>15</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>OwnerDob</td>
            <td>Owner Date of Birth</td>
            <td>Valid Date</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>OwnerSsn</td>
            <td>Owner Social Security Number</td>
            <td>12</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>Phone</td>
            <td>12</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Url</td>
            <td>Web site URL</td>
            <td>300</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>PhisicalAddress</td>
            <td>Phisical Address</td>
            <td>250</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>PhisicalCity</td>
            <td>Phisical City</td>
            <td>50</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>PhisicalState</td>
            <td>Phisical State 2 letter code</td>
            <td>2</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>PhisicalZip</td>
            <td>Phisical Zipcode</td>
            <td>12</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>StateOfIncorporation</td>
            <td>State of Incorporation 2 letter code</td>
            <td>2</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>TypeOfBusiness</td>
            <td>Type of Business code</td>
            <td>Valid Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BusinessStartDate</td>
            <td>Business Start Date</td>
            <td>Valid Date</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Industry</td>
            <td>Industry code</td>
            <td>Valid Integer</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BusinessDescription</td>
            <td>Business Description</td>
            <td>500</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>AnticipatedAverageTransactionAmount</td>
            <td>Anticipated Average TransactionAmount</td>
            <td>Valid Decimal</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>AnticipatedLargestTransactionAmount</td>
            <td>Anticipated Largest TransactionAmount</td>
            <td>Valid Decimal</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>AnticipatedMonthlyVolume</td>
            <td>Anticipated Monthly Volume</td>
            <td>Valid Decimal</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankAccountNumber</td>
            <td>Bank Account Number</td>
            <td>20</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>BankRoutingNumber</td>
            <td>Bank Routing Number</td>
            <td>20</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>
<h2>Response Format</h2>
<div class="code">
<pre>&lt;RegisterResponse xmlns="http://netpay-intl.com/"&gt;
    &lt;RegisterResult&gt;boolean&lt;/RegisterResult&gt;
&lt;/RegisterResponse&gt;</pre>
</div>
<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
            <th>Max Length</th>
            <th>Required</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>RegisterResult</td>
            <td>Boolean, true if registration has succeeded<br></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
