﻿
<h1>VERIFY TRANSACTIONS - ABOUT</h1>
<h2>What is Transaction Verification</h2>
<p>
    Transaction Verification is intended for merchants who are using
    either silent post or hosted payment page to make transactions,
    if they wish to verify one more time (at the end of a successful transaction)
    that the transaction has been received at
    &lt;Company Name&gt;
    with the correct data.
    <br>
    With Transaction Verification you can verify,
    that an integrity of a transaction has been maintained during transmission
    to and from &lt;Company Name&gt; system.
</p>
<h2>When to use</h2>
<p>
    If you are using hosted payment page or silent post,
    it is recommended to use Transaction Verification
    just after a transaction has been completed successfully.
</p>
<h2>How to use</h2>
<p>
    To use Transaction Verification, send HTTP request from your server just after successfully completed transaction.<br>
    For details about request and response fields, visit VERIFY TRANSACTIONS - Message Fields page.
</p>       
<h1>VERIFY TRANSACTIONS- MESSAGE FIELDS</h1>
<h2>PAGE URL</h2>
<p><a href="https://process.netpay-intl.com/member/verify_trans.asp">https://process.netpay-intl.com/member/verify_trans.asp</a></p>
<h2>Request Fields</h2>
<table>
    <thead>
        <tr>
            <th>Field<br>
            </th>
            <th>Description</th>
            <th>Max Length</th>
            <th>Required</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CompanyNum</td>
            <td>Your company number - #######</td>
            <td>7</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>TransID</td>
            <td>ID number of transaction to be verified</td>
            <td>7</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>TransDate</td>
            <td>The transaction date in our system in format dd/MM/yyyy HH:mm:ss </td>
            <td>17</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>TransType<</td>
            <td>0 = Debit Transaction<br>
                1 = Authorization only<br>
                2 = Pending Transaction<br>
            </td>
            <td>1</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>TransAmount</td>
            <td>Amount to be charged<br>
                (example: 199.95)</td>
            <td>8</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>TransCurrency</td>
            <td>0 = ILS
							(Israel New Shekel)
						<br>
                1 = USD
							(US Dollar)
						<br>
                2 = EUR
							(Euro)
						<br>
                3 = GBP
							(UK Pound Sterling)
						<br>
                4 = AUD
							(Australian Dollar)
						<br>
                5 = CAD
							(Canadian Dollar)
						<br>
                6 = JPY
							(Japanese Yen)
						<br>
                7 = NOK
							(Norwegian Krone)
						<br>
                8 = PLN
							(Polski zloty)
						<br>
                9 = MXN
							(Mexican Peso)
						<br>
                10 = ZAR
							(South African Rand)
						<br>
                11 = RUB
							(Russian Ruble)
						<br>
                12 = TRY
							(Turkish lira)
						<br>
                13 = CHF
							(Swiss franc)
						<br>
                14 = INR
							(Indian rupee)
						<br>
                15 = DKK
							(Danish krone)
						<br>
                16 = SEK
							(Swedish krona)
						<br>
                17 = CNY
							(Chinese yuan)
						<br>
                18 = HUF
							(Hungarian forint)
						<br>
                19 = NZD
							(New Zealand dollar)
						<br>
                20 = HKD
							(Hong Kong dollar)
						<br>
                21 = KRW
							(South Korean won)
						<br>
                22 = SGD
							(Singapore dollar)
						<br>
                23 = THB
							(Thai baht)
						<br>
                24 = BSD
							(Bahamian Dollar)
						
            </td>
            <td>1</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>
<h2>Reply Codes</h2>
<p>
    00 = Transaction exists<br>
    10 = Not enough data or invalid data<br>
    11 = Merchant does not exist<br>
    12 = Transaction number does not exist or is not associated with merchant<br>
    13 = Transaction date does not match<br>
    14 = Transaction amount does not match<br>
    15 = Transaction currency type does not match<br>
    16 = Pending transaction approved<br>
    17 = Pending transaction declined
</p>