﻿
<h1>MANAGE RECURRING SERIES - SUBMITTING DATA</h1>
<p>

    This page describes how to remotly edit/cancel an existing recurring series.
    <br />
    Using this interface you can:
</p>
<ul>
    <li>suspend active series</li>
    <li>resume suspended series</li>
    <li>modify dates and/or amounts of future charges</li>
    <li>delete series</li>
</ul>
<div>
    The request must be sent from your server to the following URL:<a href="https://process.netpay-intl.com/member/recurring_modify.aspx">https://process.netpay-intl.com/member/recurring_modify.aspx</a>
</div>

<h2> Sample requests:</h2>

<div class="code">
    <pre>https://process.netpay-intl.com/member/recurring_modify.aspx?MerchantNumber=5722306&amp;SeriesID=123&amp;Action=SUSPEND</pre>
</div>
<br />
<div class="code">
    <pre>https://process.netpay-intl.com/member/recurring_modify.aspx?MerchantNumber=5722306&amp;TransID=987654&amp;Action=RESUME</pre>
</div>
<br />
<div class="code">
    <pre>https://process.netpay-intl.com/member/recurring_modify.aspx?MerchantNumber=5722306&amp;SeriesID=123&amp;Action=MODIFY&amp;StartDD=15&amp;StartMM=07&amp;StartYYYY=2009&amp;Recurring1=1W2A5.99&amp;Recurring2=11M1A9.99</pre>
</div>

<h2>REQUEST FIELDS</h2>

<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Required</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MerchantNumber</td>
            <td>Yes</td>
            <td>Your merchant number  - 5722306</td>
        </tr>
        <tr>
            <td>SeriesID</td>
            <td>Yes<sup>1</sup></td>
            <td>ID number of the recurring series.This field is required only if TransID is omitted.</td>
        </tr>
        <tr>
            <td>TransID</td>
            <td>Yes<sup>1</sup></td>
            <td>ID number of the initial transaction that started the recurring series.This field is required only if SeriesID is omitted.</td>
        </tr>
        <tr>
            <td>Action</td>
            <td>Yes</td>
            <td>
                Action to take on the series.
                Accepts one of the following values:
                <ul>
                    <li>SUSPEND - Suspend the specified series, if active</li>
                    <li>RESUME - Resume the specified series, if suspended</li>
                    <li>DELETE - Delete the specified series (this cannot be undone!)</li>
                    <li>MODIFY - Drop all the future charges and create new charges based on the Recurring fields</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Uncharged</td>
            <td>No</td>
            <td>
                When resuming the series (Action=RESUME), action to take on the past charges which are still unprocessed.
                Accepts one of the following values:
                <ul>
                    <li>CANCEL - Cancel all past charges which are still unprocessed.</li>
                    <li>REINSTATE - Reinstate all past charges which are still unprocessed (also charges that were manually cancelled in the past).</li>
                    <li>Empty (or omitted) – No changes are made to charges' state.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Signature</td>
            <td>No</td>
            <td>
                Signature for verifying the authenticity of the request parameters.
                Field values to use: <i>MerchantNumber + SeriesID + TransID + Action + PersonalHashKey</i>
                Refer to for detailed explaniation.
            </td>
        </tr>
    </tbody>
</table>
<h2>
    OPTIONAL FIELDS - START DATE
</h2>
<p>
    When the action is MODIFY, all the future charges in the specified recurring series are deleted.
    You can specify a date to start new charges' schedule.
    If omitted, the first of the new charges will be scheduled for today.

    If the first of the new charges is scheduled for today, it will be processed immediately!
</p>


<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Length</th>
            <th>Description</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>StartDD</td>
            <td>2</td>
            <td>Day</td>
            <td>Day to start the future charges. Between 1 and 31, depending on month specified in StartMM.</td>
        </tr>
        <tr>
            <td>StartMM</td>
            <td>2</td>
            <td>Month</td>
            <td>Month to start the future charges. Between 1 and 12.</td>
        </tr>
        <tr>
            <td>StartYYYY</td>
            <td>4</td>
            <td>Year</td>
            <td>Year to start the future charges. Cannot be less than the current year.</td>
        </tr>
    </tbody>
</table>
<h2>
    OPTIONAL FIELDS - RECURRING STRINGS
</h2>

<p>
    When the action is MODIFY, new payment schedule must be set.

    See for the recurring string structure and examples.

    Pay attention: recurring series is limited in time. The maximum duration is 10 years.
</p>
<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
            <th>MaxLength</th>
            <th>Required <sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Recurring1</td>
            <td>Parameter for first stage in the recurring series</td>
            <td>12</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Recurring2</td>
            <td>Parameter for second stage in the recurring series</td>
            <td>12</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Recurring3</td>
            <td>Parameter for third stage in the recurring series</td>
            <td>12</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Recurring4</td>
            <td>Parameter for fourth stage in the recurring series</td>
            <td>12</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Recurring5</td>
            <td>Parameter for fifth stage in the recurring series</td>
            <td>12</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Recurring6</td>
            <td>Parameter for sixth stage in the recurring series</td>
            <td>12</td>
            <td>No</td>
        </tr>
    </tbody>
</table>
<p>
    (1) Either SeriesID or TransID must be provided<br />
    (2) When the action is MODIFY
</p>



<h1>MANAGE RECURRING SERIES - CHECKING REPLY</h1>
<p>
    After the recurring series management request is received and processed, Netpay system returns the reply code.<br>
    This reply is for only the recurring management.<br>
    To recive notification when recurring transaction is processed use the following setting page
</p>

<h2>Example to how and what is replied</h2>

<table>
    <tbody>
        <tr>
            <th>Field<br></th>
            <th>Description<br></th>
        </tr>
        <tr>
            <td>Reply<br></td>
            <td>Two digits reply code (possible codes are listed below).<br></td>
        </tr>
        <tr>
            <td>Description<br></td>
            <td>The textual representation of the reply code (from the list below)<br></td>
        </tr>
        <tr>
            <td>Details<br></td>
            <td>
                Additional information, that may be useful for debugging purposes.<br>
                Usually contains a list of fields with invalid values.<br>
            </td>
        </tr>
    </tbody>
</table>


<h2>
    Reply in case of success:
</h2>
<div class="code">
    <pre>REPLY=00&amp;DESCRIPTION=SUCCESS</pre>
</div>

<h2>
    Reply in case of failure:
</h2>

<div class="code">
    <pre>REPLY=09&amp;DESCRIPTION=INVALID RECURRING STRING&amp;DETAILS=Recurring2 5N1A7.01</pre>
</div>

<h2>Reply codes</h2>
<p>
    00 = SUCCESS  <br />
    01 = MISSING ACTION  <br />
    02 = INVALID ACTION  <br />
    03 = MISSING MERCHANT NUMBER <br />
    04 = SERIES ID CONFLICTS WITH TRANSACTION ID <br />
    05 = MISSING SERIES ID OR TRANSACTION ID <br />
    06 = MERCHANT NOT FOUND OR NOT AUTHORIZED  <br />
    07 = SERIES NOT FOUND FOR THE MERCHANT <br />
    08 = MISSING RECURRING1 <br />
    09 = INVALID RECURRING STRING  <br />
    10 = INVALID START DATE <br />
    11 = START DATE IS IN THE PAST <br />
    12 = SERIES BLOCKED<br />
    13 = INVALID UNCHARGED  <br />
    14 = INVALID SIGNATURE<br />
</p>