﻿
    <h1>CREDIT CARD - SILENT POST</h1>
    <h2>PAGE URL</h2>
    <p>
    <a href="https://process.netpay-intl.com/member/remote_charge.asp">https://process.netpay-intl.com/member/remote_charge.asp</a>
    </p>
    <h2>Request Fields</h2>

    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>MaxLength</th>
                <th>Required <sup>1</sup></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CompanyNum</td>
                <td>Your company number - #######</td>
                <td>7</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>TransType <sup>2</sup></td>
                <td>
                    Transaction type:
                    0 = Debit Transaction
                    1 = Authorization only
                    2 = Capture
                    3 = Charge <b>stored credit card</b>
                    (pass the stored card ID in <b>CcStorageID</b> field)


                </td>
                <td>2</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>CcStorageID</td>
                <td>When charging stored credit card, the ID of the stored card.</td>
                <td>9</td>
                <td>No <sup>4</sup></td>
            </tr>
            <tr>
                <td>CardNum</td>
                <td>Credit card number to be charged</td>
                <td>20</td>
                <td>Yes <sup>3</sup></td>
            </tr>
            <tr>
                <td>ExpMonth</td>
                <td>Expiration month (MM)</td>
                <td>2</td>
                <td>Yes <sup>3</sup></td>
            </tr>
            <tr>
                <td>ExpYear</td>
                <td>Expiration year (YYYY)</td>
                <td>4</td>
                <td>Yes <sup>3</sup></td>
            </tr>
            <tr>
                <td>Track2</td>
                <td>Track 2 of credit card number</td>
                <td>20</td>
                <td>No <sup>4</sup></td>
            </tr>
            <tr>
                <td>Member</td>
                <td>Cardholder name as it appears on the card</td>
                <td>50</td>
                <td>Yes <sup>3</sup></td>
            </tr>
            <tr>
                <td>TypeCredit <sup>2</sup></td>
                <td>
                    1 = Debit
                    8 = Installments
                    0 = Refund

                </td>
                <td>1</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Payments</td>
                <td>Number of installments, 1 for regular transaction</td>
                <td>2</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>Amount to be charged, e.g. 199.95</td>
                <td>10</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Currency</td>
                <td>

                    0 = ILS
                    (Israel New Shekel)
                    <br />
                    1 = USD
                    (US Dollar)
                    <br />
                    2 = EUR
                    (Euro)
                    <br />
                    3 = GBP
                    (UK Pound Sterling)
                    <br />
                    4 = AUD
                    (Australian Dollar)
                    <br />
                    5 = CAD
                    (Canadian Dollar)
                    <br />
                    6 = JPY
                    (Japanese Yen)
                    <br />
                    7 = NOK
                    (Norwegian Krone)
                    <br />
                    8 = PLN
                    (Polski zloty)
                    <br />
                    9 = MXN
                    (Mexican Peso)
                    <br />
                    10 = ZAR
                    (South African Rand)
                    <br />
                    11 = RUB
                    (Russian Ruble)
                    <br />
                    12 = TRY
                    (Turkish lira)
                    <br />
                    13 = CHF
                    (Swiss franc)
                    <br />
                    14 = INR
                    (Indian rupee)
                    <br />
                    15 = DKK
                    (Danish krone)
                    <br />
                    16 = SEK
                    (Swedish krona)
                    <br />
                    17 = CNY
                    (Chinese yuan)
                    <br />
                    18 = HUF
                    (Hungarian forint)
                    <br />
                    19 = NZD
                    (New Zealand dollar)
                    <br />
                    20 = HKD
                    (Hong Kong dollar)
                    <br />
                    21 = KRW
                    (South Korean won)
                    <br />
                    22 = SGD
                    (Singapore dollar)
                    <br />
                    23 = THB
                    (Thai baht)
                    <br />
                    24 = BSD
                    (Bahamian Dollar)
                    <br />
                </td>
                <td>1</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>CVV2</td>
                <td>3-5 digits from back of the credit card</td>
                <td>5</td>
                <td>Not Applicable</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>Cardholder email address</td>
                <td>50</td>
                <td>Not Applicable</td>
            </tr>
            <tr>
                <td>PersonalNum</td>
                <td>Cardholder Driver ID or social security number</td>
                <td>20</td>
                <td>Not Applicable</td>
            </tr>
            <tr>
                <td>DateOfBirth</td>
                <td>
                    Date of birth of card holder
                    format should be yyyyMMdd
                </td>
                <td>8</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>PhoneNumber</td>
                <td>Cardholder phone number</td>
                <td>20</td>
                <td>Not Applicable</td>
            </tr>
            <tr>
                <td>ClientIP</td>
                <td>IP address of the client making the purchase</td>
                <td>15</td>
                <td>Not Applicable</td>
            </tr>
            <tr>
                <td>BillingAddress1</td>
                <td>1st Address line</td>
                <td>100</td>
                <td>Not Applicable</td>
            </tr>
            <tr>
                <td>BillingAddress2</td>
                <td>2nd Address line</td>
                <td>100</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>BillingCity</td>
                <td>City name</td>
                <td>60</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>BillingZipCode</td>
                <td>Zip Code number</td>
                <td>15</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>BillingState</td>
                <td>
                    State - 2 character iso format<br />
                    Required only when BillingCountry is US/CA.

                </td>
                <td>5</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>BillingCountry</td>
                <td>
                    Country - 2 character iso format

                </td>
                <td>5</td>
                <td>Optional</td>
            </tr>

            <tr>
                <td>ConfirmationNum</td>
                <td>Confirmation number</td>
                <td>7</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Order</td>
                <td>Unique Text used to defer one transaction from another</td>
                <td>100</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>Optional text used mainly to describe the transaction</td>
                <td>500</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>TransApprovalID</td>
                <td>
                    Authorized transaction ID. Used to specify the initial pre-auth transaction ID<br />
                    when capturing pre-auth transaction (TransType = 2).

                </td>
                <td>10</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>RefTransID</td>
                <td>
                    Reference transaction ID. Used to specify the original transaction id<br />
                    when TypeCredit = 0 or when needed to complete missing transaction data.
                </td>
                <td>10</td>
                <td>Optional</td>
            </tr>

            <tr>
                <td>TrmCode</td>
                <td>When activated and applied in merchant config, this parameter selects the exact terminal to use</td>
                <td>4</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>AutoCaptureHours</td>
                <td>
                    Authorization only (TransType=1), the number of hours to wait before automatic capture is carried out.<br />
                    If omitted, the authorized transaction will not be captured automatically.
                </td>
                <td>2</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>RetURL</td>
                <td>
                    3D secure only, In cases where 553 is returned.<br />
                    the client should be redirected to bank's site.<br />
                    when the interaction with bank is done, the client is redirected to this URL.
                </td>
                <td>255</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>StoreCc</td>
                <td>
                    Specifies, if the credit card should be stored in case of success:<br />
                    0 = Do not store the card (default)<br />
                    1 = Store the card<br />

                    In order to store the credit card,<br />
                    Credit Card Storage service should be enabled in your account.
                </td>

                <td>1</td>
                <td>No <sup>4</sup></td>
            </tr>
            <tr>
                <td>AutoWalletRegistration</td>
                <td>
                    Send 1 to create new wallet for the customer using customer data and CC details.<br />
                    Wallet is created only in case of success.
                </td>
                <td>1</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Signature</td>
                <td>
                    Signature for verifying the authenticity of the request parameters.<br />
                    Field values to use: <i>CompanyNum + TransType + TypeCredit + Amount + Currency + CardNum + RefTransID + PersonalHashKey</i><br />
                    Refer to BASIC INFO SIGNATURE for detailed explaniation.
                </td>
                <td>50</td>
                <td>Optional</td>
            </tr>

        </tbody>
    </table>

    <h2>
        Recurring:
    </h2>
    <p>
        See Recurring information for detailed description and for some useful examples.

        Pay attention: recurring series is limited in time. The maximum duration is 10 years.
    </p>
    <table>
        <thead>
            <tr>
                <td>RecurringTransType</td>
                <td>
                    Specifies transaction type for subsequent transactions.
                    Does not affect the initial transaction.
                    Accepts the same values as TransType.
                    If omitted, all the subsequent transactions will be of the same type as the initial transaction.
                </td>
                <td>1</td>
                <td>Optional</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Recurring1</td>
                <td>Parameter for first stage in the recurring series</td>
                <td>12</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Recurring2</td>
                <td>Parameter for second stage in the recurring series</td>
                <td>12</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Recurring3</td>
                <td>Parameter for third stage in the recurring series</td>
                <td>12</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Recurring4</td>
                <td>Parameter for fourth stage in the recurring series</td>
                <td>12</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Recurring5</td>
                <td>Parameter for fifth stage in the recurring series</td>
                <td>12</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Recurring6</td>
                <td>Parameter for sixth stage in the recurring series</td>
                <td>12</td>
                <td>Optional</td>
            </tr>
        </tbody>
    </table>
    <h2>Response Fields</h2>


    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TransType</td>
                <td>Transaction type</td>
            </tr>
            <tr>
                <td>Reply</td>
                <td>Reply code (see list below)</td>
            </tr>
            <tr>
                <td>TransID</td>
                <td>Transaction number</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>Transaction time and date</td>
            </tr>
            <tr>
                <td>Order</td>
                <td>Transaction id or order number that was supplied by merchant</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>Transaction amount</td>
            </tr>
            <tr>
                <td>Payments</td>
                <td>Number of payments</td>
            </tr>
            <tr>
                <td>Currency</td>
                <td>Transaction currency</td>
            </tr>
            <tr>
                <td>ConfirmationNum</td>
                <td>Confirmation number</td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>Comment as it was sent by the merchant</td>
            </tr>
            <tr>
                <td>ReplyDesc</td>
                <td>Reply description</td>
            </tr>
            <tr>
                <td>CCType</td>
                <td>Credit card brand name</td>
            </tr>
            <tr>
                <td>Descriptor</td>
                <td>Bank statement descriptor for this transaction</td>
            </tr>
            <tr>
                <td>RecurringSeries</td>
                <td>Recurring series number (only if recurring series has been created)</td>
            </tr>
            <tr>
                <td>Last4</td>
                <td>Last four digits of the credit card number</td>
            </tr>
            <tr>
                <td>CcStorageID <sup>4</sup></td>
                <td>The ID of the credit card in the Credit Card Storage</td>
            </tr>
            <tr>
                <td>WalletID</td>
                <td>The ID of the newly created wallet for the customer</td>
            </tr>
            <tr>
                <td>D3Redirect</td>
                <td>in case Reply=553 the client has to be redirected to this address to complete the transaction.</td>
            </tr>
            <tr>
                <td>signType</td>
                <td>
                    at the moment, this value always equal to SHA256
                </td>
            </tr>
            <tr>
                <td>Signature</td>
                <td>
                    a base64, urlEncoded, SHA256 of response values:
                    to regenerate the value:
                    1. long_values_string = Reply + TransID + Order + Amount + Currency
                    2. urlEncode(base64(sha356( (long_values_string) + (merchant HashKey) )))
                </td>
            </tr>
        </tbody>
    </table>

    <div class="code">
<pre>TransType=0&amp;Reply=000&amp;TransID=12345&amp;Date=01/01/2000 00:00:01
&amp;Order=A1234&amp;Amount=10.99&amp;Payments=1&amp;Currency=0&amp;ConfirmationNum=0123456
&amp;Comment=White box&amp;ReplyDesc=SUCCESS&amp;CCType=VISA&amp;Descriptor=abc ltd.</pre>
    </div>
    <h2>Reply Codes</h2>
    <p>
        000 = Authorized transaction <br />
        001 = Transaction accepted, waiting authorization <br />
        xxx = Transaction was not Authorized, see unauthorized comment explanation
    </p>
    <p>
        (1) Some field requirements are dependent on merchant configuration and can be change on your request
        (2) First option is default when field is empty
        (3) This field must be omitted when charging stored credit card (TransType=3)
        (4) This field is relevant only when Credit Card Storage service is enabled in the merchant account
    </p>
