﻿<h1>HOSTED PAYMENT PAGE VER.2 - MESSAGE FIELDS</h1>
<h2>PAGE URL</h2>
<div>
    <a href="https://services.netpay-intl.com/hosted">https://services.netpay-intl.com/hosted</a>
</div>
<h2>Request Fields</h2>

<table>
    <thead>
        <tr>
            <th>Field<br></th>
            <th>Description</th>
            <th>Max / Length</th>
            <th>Required <sup>1</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>merchantID<br></td>
            <td>Your 7 digits merchant number - #######<br></td>
            <td>7</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>signature<br></td>
            <td>
                Signature for verifying the authenticity of the request parameters.<br>
                Field values to use: All parameters in the order they appear in the request, first GET then POST + PersonalHashKey.<br><br>
                more information can be found at the  Signature section in this page
            </td>
            <td>30</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>trans_amount<br></td>
            <td>Amount to be charge<br>(example: 199.95)<br></td>
            <td>20</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>trans_currency<br></td>
            <td>

                ILS = Israel New Shekel
                <br>
                USD = US Dollar
                <br>
                EUR = Euro
                <br>
                GBP = UK Pound Sterling
                <br>
                AUD = Australian Dollar
                <br>
                CAD = Canadian Dollar
                <br>
                JPY = Japanese Yen
                <br>
                NOK = Norwegian Krone
                <br>
                PLN = Polski zloty
                <br>
                MXN = Mexican Peso
                <br>
                ZAR = South African Rand
                <br>
                RUB = Russian Ruble
                <br>
                TRY = Turkish lira
                <br>
                CHF = Swiss franc
                <br>
                INR = Indian rupee
                <br>
                DKK = Danish krone
                <br>
                SEK = Swedish krona
                <br>
                CNY = Chinese yuan
                <br>
                HUF = Hungarian forint
                <br>
                NZD = New Zealand dollar
                <br>
                HKD = Hong Kong dollar
                <br>
                KRW = South Korean won
                <br>
                SGD = Singapore dollar
                <br>
                THB = Thai baht
                <br>
                BSD = Bahamian Dollar

            </td>
            <td>3</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>trans_type<br></td>
            <td>
                0 = Debit Transaction (Default when field is empty)<br>
                1 = Authorization only<br>

            </td>
            <td>1</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>trans_installments<br></td>
            <td>Number of installments, 1 for regular transaction<br></td>
            <td>2</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>trans_refNum<br></td>
            <td>Unique text used to defer one transaction from another<br></td>
            <td>100</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>trans_comment<br></td>
            <td>Optional text used mainly to describe the transaction</td>
            <td>255</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>trans_storePm<br></td>
            <td>Send value of 1 to save the payment method for future use if the transaction success</td>
            <td>1</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>disp_payFor<br></td>
            <td>Text shown to buyer in payment window, Usually description of purchase (Cart description, Product name)</td>
            <td>40</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>disp_paymentType<br></td>
            <td>
                List of payment types that are available to the client.<br>
                Available values are can be found here: Payment Methods.<br>
                this list is use the abbreviation field from the list.
                If more than one, use comma to separate the values.<br>
                (example: CC,ED)<br>
            </td>
            <td>80</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>disp_lng<br></td>
            <td>
                The default language for the UI text in the window.<br>
                If omitted, language is taken from user's browser settings.<br>
                <br>
                Available values are:<br>

                he-IL = עברית (ישראל)<br>

                en-US = English (United States)<br>

                fr-FR = français (France)<br>

                es-ES = español (España, alfabetización internacional)<br>

                lt-LT = lietuvių (Lietuva)<br>

                ru-RU = русский (Россия)<br>

                de-DE = Deutsch (Deutschland)<br>

                zh = 中文

            </td>
            <td>5</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>disp_lngList<br></td>
            <td>
                Specifies the language(s) available to user in the Language Selector in the window.<br>
                <br>
                Available values are:<br>
                all = all languages are available (default if the field is empty or omitted)<br>
                hide = the language selector is hidden<br>
                comma-separated list of codes for enabling specific language(s).<br>
                <br>
                For example, disp_lngList=en-us,it-it
                will allow user to switch between English and Italian, and disp_lngList=en-us will show English only.<br>
                The available languages are listed in the disp_lng field description.<br>
            </td>
            <td>5</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>disp_recurring</td>
            <td>
                Specifies the deviations from the standard display of the recurring charges.<br>
                <br>
                Available values are:<br>
                0 = standard display (default if the field is empty or omitted)<br>
                1 = hide the number of charges in the last stage of the recurring series<br>
            </td>
            <td>3</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>disp_mobile<br></td>
            <td>
                Specifies that the ui should be sized to small screen.<br>
                <br>
                Available values are:<br>
                auto = auto detect if the client device has small screen<br>
                true = show small size UI for small screens<br>
                false = shows normal UI<br>
            </td>
            <td>3</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_id<br></td>
            <td>available soon</td>
            <td>10</td>
            <td>Optional</td>
        </tr>

        <tr>
            <td>client_AutoRegistration<br></td>
            <td>Send value of 1 to create wallet for the customer if not already exist (match by email) and return the id of the wallet</td>
            <td>1</td>
            <td>Optional</td>
        </tr>


        <tr>
            <td>url_notify<br></td>
            <td>
                The URL for notifying your system with the transaction result.<br>
                Must include http:// or https://.<br>
                This parameter can be configured in Hosted Page V.2 under the Management section.
                If specified in the request, overrides the configured value.<br>
            </td>
            <td>255</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>url_redirect<br></td>
            <td>
                The URL to which the buyer’s browser is redirected to after completing the payment<br>
                Must include http:// or https://.<br>
                This parameter can be configured in Hosted Page V.2 under the Management section.
                If specified in the request, overrides the configured value.<br>
            </td>
            <td>255</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>skin_no<br></td>
            <td>
                The skin number to apply to the window opened by the request.<br>
                The skins can be configured in the Customization page.<br>
            </td>
            <td>2</td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>
<p>
    Automatic filling of form data:
</p>

<table>
    <tbody>
        <tr>
            <td>client_fullName<br></td>
            <td>Cardholder full name</td>
            <td>50</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_email<br></td>
            <td>Cardholder Email address</td>
            <td>50</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_phoneNum<br></td>
            <td>Cardholder phone number</td>
            <td>15</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_idNum<br></td>
            <td>Government issued ID number</td>
            <td>9</td>
            <td>Optional</td>
        </tr>

        <tr>
            <td>client_billAddress1<br></td>
            <td>Client billing address line 1</td>
            <td>50</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billAddress2<br></td>
            <td>Client billing address line 2</td>
            <td>50</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billCity<br></td>
            <td>Client billing city</td>
            <td>20</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billZipcode<br></td>
            <td>Client billing zip code</td>
            <td>20</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billState<br></td>
            <td>Client billing state in 2 char ISO code</td>
            <td>2</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>client_billCountry<br></td>
            <td>Client billing country in 2 char ISO code</td>
            <td>2</td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>
<h2>Recurring:</h2>
<p>
    Recurring information for detailed description and for some useful examples.<br>

    Notice: The customer can see the recurring series description containing the charge amount and the number of charges for each stage.
    If the number of charges in the last stage is 99, that number will not appear in the description.<br>
</p>
        The recurring series is subject to the following configurable limitations:
<ul>
    <li>Overall duration: 3 years</li>
    <li>Number of stages: 4</li>
    <li>Overall number of charges: 400</li>
</ul>

<table>
    <tbody>
        <tr>
            <td>trans_recurringType<br></td>
            <td>
                Specifies transaction type for subsequent transactions.<br>
                Does not affect the initial transaction.<br>
                Accepts the same values as trans_type.<br>
                If omitted, all the subsequent transactions will be of the same type as the initial transaction.
            </td>
            <td>1</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>trans_recurring1<br></td>
            <td>Parameter for first stage in the recurring series<br></td>
            <td>12</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>trans_recurring2<br></td>
            <td>Parameter for second stage in the recurring series<br></td>
            <td>12</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>trans_recurring3<br></td>
            <td>Parameter for third stage in the recurring series<br></td>
            <td>12</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>trans_recurring4<br></td>
            <td>Parameter for fourth stage in the recurring series<br></td>
            <td>12</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>trans_recurring5<br></td>
            <td>Parameter for fifth stage in the recurring series<br></td>
            <td>12</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>trans_recurring6<br></td>
            <td>Parameter for sixth stage in the recurring series<br></td>
            <td>12</td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>
<h2>User defined parameters: </h2>
<table>
    <tbody>
        <tr>
            <td>
                You can append your own fields to the request.<br>
                These fields will be stored during the request processing and returned with the reply.<br>
                Use this to transfer more information to your url_redirect and url_notify pages.
            </td>
            <td>2000 <sup>2</sup></td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>
<h2>Response Fields</h2>

<table>
    <tbody>
        <tr>
            <th>Field</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>replyCode</td>
            <td>Transaction authorization (see list below)</td>
        </tr>
        <tr>
            <td>replyDesc</td>
            <td>Reply description</td>
        </tr>
        <tr>
            <td>trans_id</td>
            <td>Transaction number</td>
        </tr>
        <tr>
            <td>trans_date</td>
            <td>Transaction time and date</td>
        </tr>
        <tr>
            <td>trans_amount</td>
            <td>A returned field from the request</td>
        </tr>
        <tr>
            <td>trans_currency</td>
            <td>A returned field from the request</td>
        </tr>
        <tr>
            <td>trans_installments</td>
            <td>A returned field from the request</td>
        </tr>
        <tr>
            <td>trans_refNum</td>
            <td>A returned field from the request</td>
        </tr>
        <tr>
            <td>client_id</td>
            <td>A returned field from the request</td>
        </tr>
        <tr>
            <td>client_wallet_id</td>
            <td>The id of customer's wallet if request includes client_AutoRegistration=1</td>
        </tr>
        <tr>
            <td>storage_id</td>
            <td>A returned storage_id if request includes trans_storePm=1</td>
        </tr>
        <tr>
            <td>paymentDisplay</td>
            <td>
                Description of the payment method used in the transaction.<br>
                For credit cards, the description consists of the card type and the last four digits of the card number.<br>
                For bank transfers, the description consists of the platform name and the last four digits of the account.<br>
            </td>
        </tr>
        <tr>
            <td>signature<br></td>
            <td>
                Signature for verifying the authenticity of the Response parameters.<br>
                Field value used: <i>replyCode + trans_id + PersonalHashKey</i>

            </td>
        </tr>
        <tr>
            <td>client_fullName</td>
            <td>Cardholder full name <sup>3</sup></td>
        </tr>
        <tr>
            <td>client_phoneNum</td>
            <td>Cardholder phone number <sup>3</sup></td>
        </tr>
        <tr>
            <td>client_email<br></td>
            <td>Cardholder Email address</td>
        </tr>
        <tr>
            <td>recurringSeries_id</td>
            <td>Recurring series ID number (if recurring series has been created)</td>
        </tr>
    </tbody>
</table>
<div class="code">
    <pre>replyCode=000&amp;replyDesc=SUCCESS&amp;trans_id=123456&amp;trans_date=01/01/2000 00:00:01&amp;trans_amount=10.99<br>
&amp;trans_currency=USD&amp;trans_installments=1&amp;trans_refNum=A1234567&amp;client_id=1234</pre>
</div>
<h2>Reply Codes</h2>
<p>
    000 = Authorized transaction<br>
    001 = Transaction accepted, waiting authorization<br />
    xxx = Transaction was not Authorized, see unauthorized comment explanation<br>
</p>
<h2>Signature</h2>
<p>
    The goal of the signature is to verify the request comes form the merchant and not from unauthorized party.<br>
    The idea here is to create a hash string that contains the values from the request plus a security value (personal hash key) that is known only to the merchant and us.<br>
    In order to compute this value you should concatenate all the values in the request in the same order they appear in the request (first GET parameters and then POST parameters),
    to this values string you should concatenate the personal hash key.<br>
    Then hash the result using SHA256, encode it with base64 and add a signature parameter with the result to the request
    (note that if you add the signature parameter to the URL you should also encode the result with URL encoding).<br>
    <br>
    for example:<br>
    assuming merchantID = 1234567, trans_amount = 5.3, trans_currency = ILS, personal hash key = abcd<br>
    then the request string will be: merchantID=1234567&amp;trans_amount=5.3&amp;trans_currency=ILS<br>
    and the values string will be: 12345675.3ILS<br>
    after adding the personal hash key the value string should be: 12345675.3ILSabcd<br>
    base64(SHA256) of it is kXLFnMcwx2e9pVwtPTIAY0X+JkOJlfkbH+sg1CivF2E=<br>
    then you can add to the request a url encoded signature paramter which will make the request looks like:<br>

    merchantID=1234567&amp;trans_amount=5.3&amp;trans_currency=ILS&amp;signature=kXLFnMcwx2e9pVwtPTIAY0X%2BJkOJlfkbH%2Bsg1CivF2E%3D
</p>
<p>
    (1) Some field requirements are dependent on merchant configuration and can be change on your request<br>
    (2) The overall length of the request is subject to the 2000 byte length restriction<br>
    (3) That field is passed only to Notification URL.<br>
</p>
