﻿
    <h1>REFUND REQUESTS - SUBMITTING DATA</h1>
    <p>
        This page describes how to manage refund requests remotely.
    </p>
    <ul>
        <li>Using this interface you can create new refund request and/or check refund request status</li>
        <li>Refund request can be either full or partial <sup>1</sup>.</li>
        <li>Multiple partial refund request can be created for single transaction.</li>
        <li>The overall amount of all refund requests for a single transaction cannot exceed the initial transaction amount.</li>
        <li>Expired credit card cannot be refunded.</li>
        <li>Transaction over a year old cannot be refunded.</li>
    </ul>

    <h2>PAGE URL</h2>
    <p>
        <a href="https://process.netpay-intl.com/member/RefundRequest.aspx">
            https://process.netpay-intl.com/member/RefundRequest.aspx
        </a>
    </p>
    <h2>Request Fields</h2>

    <table>
        <thead>
            <tr>
                <th valign="bottom" width="110">Field</th>
                <th valign="bottom">Description</th>
                <th width="100">Max / Length</th>
                <th valign="bottom" width="80">Required</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MerchantNumber</td>
                <td>Your merchant number - #######</td>
                <td>7</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>RefTransID<br></td>
                <td>Refunded Transaction ID - ID number of the initial transaction (the one to be refunded).<br></td>
                <td>9</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Action<br></td>
                <td>
                    Action to take - Accepts one of the following values:
                    <ul>
                        <li>CREATE - create new refund request.</li>
                        <li>STATUS - check refund request status*.</li>
                        <li>DELETE - delete pending refund request**.</li>
                    </ul>
                    * If there are multiple refund requests for the transaction, status of each request is returned.
                    <br>
                    ** If there are multiple pending refund requests for the transaction, RequestID must be specified.
                </td>
                <td>6</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Amount<br></td>
                <td>
                    Amount to refund<br>
                    When the action is CREATE, a refund amount can be specified.<br>
                    This field is needed only for creating a partial refund request <sup>1</sup> on the transaction.<br>
                    <br>
                    The amount requested to refund cannot exceed the initial transaction amount.<br>
                    If omitted, all the initial transaction amount is requested to refund.<br>
                    <br>
                    If there is a partial refund request already created for the transaction,<br>
                    the new refund request amount cannot exceed the remaining amount.<br>
                    If omitted in this case, all the remaining amount is requested to refund.<br>
                </td>
                <td>10</td>
                <td>No</td>
            </tr>
            <tr>
                <td>RequestID</td>
                <td>Refund Request ID - ID number of the existing unprocessed (pending) refund request for transaction specified in RefTransID.<br></td>
                <td>9</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Signature<br></td>
                <td>
                    Signature for verifying the authenticity of the request parameters.<br>
                    Field values to use: <i>MerchantNumber + PersonalHashKey</i><br><br>
                    Refer to BASIC INFO --&gt; SIGNATURE for detailed explaniation.<br>
                </td>
                <td>30</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Comment<br></td>
                <td>
                    Optional text used mainly to describe the refund request reason and details
                </td>
                <td>300</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
    <h2>REQUEST EXAMPLES <sup>3</sup></h2>
    <p>
        1. Create new refund request:
    
    <div class="code">
        <pre>https://process.netpay-intl.com/member/RefundRequest.aspx?MerchantNumber=7654321&amp;RefTransID=1234567&amp;Action=CREATE&amp;Signature=cHFg9Dykno0W8uR/G35aIQ==</pre>
    </div>

    <p>
        2. Create new refund request (partial) <sup>1</sup>:
    </p>
    <div class="code">
        <pre>https://process.netpay-intl.com/member/RefundRequest.aspx?MerchantNumber=7654321&amp;RefTransID=1234567&amp;Action=CREATE&amp;Amount=1.23&amp;Signature=cHFg9Dykno0W8uR/G35aIQ==</pre>
    </div>
    <p>
        3. Check refund request status:
    </p>
    <div class="code">
        <pre>https://process.netpay-intl.com/member/RefundRequest.aspx?MerchantNumber=7654321&amp;RefTransID=1234567&amp;Action=STATUS&amp;Signature=cHFg9Dykno0W8uR/G35aIQ==</pre>
    </div>
    <p>
        4. Delete refund request:
    </p>
    <div class="code">
        <pre>https://process.netpay-intl.com/member/RefundRequest.aspx?MerchantNumber=7654321&amp;RefTransID=1234567&amp;Action=DELETE&amp;RequestID=123456&amp;Signature=cHFg9Dykno0W8uR/G35aIQ==</pre>
    </div>
    <p>
        (1) Due to the risk management policy, some debit terminals do not allow partial refund requests<br>
        (2) Taken from management --&gt; security settings<br>
        (3) Examples include a sample only signature, for the real request to work replace signiture with your own<br>
    </p>
	<br><br>

    <h1>REFUND REQUESTS - CHECKING REPLY</h1>
    <p>
        After the remote refund request is received and processed, Netpay system returns its reply in QueryString format.<br>
        This reply is for the refund request only.<br>
        To recive notification when refund is processed	use the following setting page GLOBAL SETTINGS NOTIFICATIONS
    </p>
    <h2>Response Fields</h2>

    <table>

        <thead>
            <tr>
                <th>Field</th>
                <th>Description<br></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Reply</td>
                <td>Reply code (see list below).<br></td>
            </tr>
            <tr>
                <td>ReplyDesc</td>
                <td>Reply description</td>
            </tr>
            <tr>
                <td>RequestID</td>
                <td>
                    CurrentDomain number of the created refund request.<br>
                    Appears only when the requested action is CREATE.<br>
                </td>
            </tr>
            <tr>
                <td>RequestCount</td>
                <td>
                    Number of refund requests for the specified transaction.<br>
                    When the requested action is CREATE, includes the created refund request as well as all previous requests.<br>
                    When the requested action is DELETE, the deleted refund request is not counted.<br>
                </td>
            </tr>
            <tr>
                <td>RequestedAmount</td>
                <td>
                    Overall amount of all refund requests for the specified transaction.<br>
                    When the requested action is CREATE, includes the created refund request as well as all previous requests.<br>
                    When the requested action is DELETE, the deleted refund request is not counted.<br>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>REPEATED FIELDS </h2>
    <p>
        These fields appear for each refund request.<br>
        The name of each field instance consists of the field name followed by the refund request index (from 1 to RequestCount).<br>
        In the following description the refund request index is omitted.<br>

    </p>

    <table>
        <tbody>
            <tr>
                <td>ID<br></td>
                <td>CurrentDomain number of the refund request.</td>
            </tr>
            <tr>
                <td>Amount<br></td>
                <td>The amount to be refunded in this request.<br></td>
            </tr>
            <tr>
                <td>Confirm<br></td>
                <td>
                    Refund confirmation number.<br>
                    For status other than ACCEPTED, empty string is returned.<br>
                </td>
            </tr>
            <tr>
                <td>Date<br></td>
                <td>
                    Creation date and time of the refund request.<br>
                    The format is DD/MM/yyyy HH:mm:ss.<br>
                </td>
            </tr>
            <tr>
                <td>Status<br></td>
                <td>
                    The current status of the refund request.	Can be one of the following values:<br>
                    <span>CANCELED</span>, <span>CANCELED BY MERCHANT</span>, <span>CREATED</span>, <span>INVIK BATCH</span>, <span>PENDING</span>, <span>PROCESSED</span>, <span>PROCESSING</span>.

                </td>
            </tr>
        </tbody>
    </table>
    <h2>Response EXAMPLES</h2>
    <p>
        1. Reply in case of success (STATUS - two refund requests found):<br>
    </p>
    <div class="code">
        <pre>Reply=0&amp;ReplyDesc=Success&amp;RequestCount=2&amp;RequestedAmount=123.00<br>
            &amp;ID1=12345&amp;Amount1=100.00&amp;Confirm1=&amp;Date1=31/05/2009 15:59:00&amp;Status1=Pending<br>
            &amp;ID2=12346&amp;Amount2=23.00&amp;Confirm2=&amp;Date2=31/05/2009 16:01:00&amp;Status2=Pending</pre>
    </div>


    <td style="padding-bottom:4px;">
        <p>1. Reply in case of success (STATUS - two refund requests found):</p>
        <div class="code">
     <pre>Reply=0&amp;ReplyDesc=Success&amp;RequestID=13315&amp;RequestCount=2&amp;RequestedAmount=123.00<br>
        &amp;ID1=12345&amp;Amount1=100.00&amp;Confirm1=&amp;Date1=31/05/2009 15:59:00&amp;Status1=Pending<br>
        &amp;ID2=12346&amp;Amount2=23.00&amp;Confirm2=&amp;Date2=31/05/2009 16:01:00&amp;Status2=Pending</pre>
        </div>

        <p> 2. Reply in case of success (STATUS - no refund request found):</p>
        <div class="code">
            <pre>Reply=0&amp;ReplyDesc=Success&amp;RequestCount=0&amp;RequestedAmount=0.00</pre>
        </div>


        <p>3. Reply in case of success (DELETE - the only refund request was deleted):</p>
        <div class="code">
            <pre>Reply=0&amp;ReplyDesc=Success&amp;RequestCount=0&amp;RequestedAmount=0.00</pre>
        </div>




        <p>4. Reply in case of success (CREATE):</p>
        <div class="code">
            <pre> Reply=0&amp;ReplyDesc=Success&amp;RequestID=13315&amp;RequestCount=2&amp;RequestedAmount=123.00<br>
        &amp;ID1=12345&amp;Amount1=100.00&amp;Confirm1=&amp;Date1=31/05/2009 15:59:00&amp;Status1=Pending<br>
        &amp;ID2=12346&amp;Amount2=23.00&amp;Confirm2=&amp;Date2=31/05/2009 16:01:00&amp;Status2=Pending</pre>
        </div>
        <p>5. Reply in case of failure:</p>
        <div class="code">
            <pre>Reply=4&amp;ReplyDesc=Refund amount exceeds the transaction amount</pre>
        </div>

        <h2>Reply Codes</h2>
        <p>
            00 = Success <br />
            01 = Merchant not found or not authorized <br />
            02 = Missing or invalid RefTransID <br />
            03 = Invalid refund amount <br />
            04 = Refund amount exceeds the transaction amount<br />
            05 = Missing or invalid Action  <br />
            06 = Partial refund is not allowed  <br />
            07 = Unapproved IP address  <br />
            08 = Incorrect MD5 signature <br />
            09 = No request for that transaction <br />
            10 = Cannot be deleted, multiple requests for that transaction, specify RequestID<br />
            11 = Invalid RequestID <br />
            12 = Unable to refund transaction that is older then one year
        </p>
        	
