﻿
    <h1>PERSONAL ACCOUNT REGISTRATION - MESSAGE FIELDS</h1>
    <h2>PAGE URL</h2>
   <div>
       <a href="https://process.netpay-intl.com/member/auto_personal_signup.asp">https://process.netpay-intl.com/member/auto_personal_signup.asp</a>
</div>
    <h2>Request Fields</h2>
    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>MaxLength</th>
                <th>Required</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CompanyNum</td>
                <td>Your company number - #######</td>
                <td>7</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>FirstName</td>
                <td>Client first name</td>
                <td>20</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>LastName</td>
                <td>Client surname</td>
                <td>20</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Street</td>
                <td>Client address, including street name &amp; house / flat number</td>
                <td>20</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>City</td>
                <td>Client city name</td>
                <td>20</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>Client country number  (115 = Israel)</td>
                <td>5</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>Client phone number</td>
                <td>15</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Mail</td>
                <td>Client email</td>
                <td>30</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>UserName</td>
                <td>Client user name, minimum of 6 digits</td>
                <td>12</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>IsRead</td>
                <td>End user license agreementIsRead = 1</td>
                <td>1</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>ZIP</td>
                <td>Client zip code.</td>
                <td>10</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>CellPhone</td>
                <td>Client cell phone.</td>
                <td>15</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>CustomerFrom</td>
                <td>Client work email.</td>
                <td>50</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>CardNum</td>
                <td>Credit card number</td>
                <td>20</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>ExpMonth</td>
                <td>Credit card expiration month (MM)</td>
                <td>2</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>ExpYear</td>
                <td>Credit card expiration year (YY)</td>
                <td>2</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>Member</td>
                <td>Cardholder name as it appears on the card.</td>
                <td>50</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>CVV2</td>
                <td>3-5 digits from back of the credit card</td>
                <td>5</td>
                <td>Optional</td>
            </tr>
            <tr>
                <td>PersonalNum</td>
                <td>Cardholder ID number.</td>
                <td>9</td>
                <td>Optional</td>
            </tr>
        </tbody>
    </table>

    <h2>Response Fields</h2>

    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ReplyCode</td>
                <td>Reply code (see list below)</td>
            </tr>
            <tr>
                <td>ReplyDesc</td>
                <td>Reply description</td>
            </tr>
            <tr>
                <td>CustomerNum</td>
                <td>A returned field from the request</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>A returned field from the request</td>
            </tr>
        </tbody>
    </table>
    <div class="code">
        <pre>ReplyCode=00&amp;ReplyDesc=Registration completed successfully&amp;CustomerNum=1234567&amp;Email=name@domain.com</pre>
    </div>

    <h2>Reply Codes</h2>
    <p>
        00 = Registration completed successfully<br />
        10 = Merchant number is missing<br />
        11 = Invalid merchant number<br />
        12 = Merchant does not exist<br />
        13 = Merchant closed or inactive<br />
        14 = Merchant is not allowed to use remote registration<br />
        15 = First name is missing or invalid<br />
        16 = Surname is missing or invalid<br />
        17 = Street &amp; house number is missing or invalid<br />
        18 = City is missing or invalid<br />
        19 = Country is missing<br />
        20 = Invalid country<br />
        21 = Phone is missing<br />
        22 = Invalid phone<br />
        23 = Email is missing or invalid<br />
        32 = Invalid end user license agreement<br />
        33 = Email already exists<br />
        40 = Credit card - invalid number<br />
        41 = Credit card - month expiration is missing or invalid<br />
        42 = Credit card - year expiration is missing or invalid<br />
        43 = Credit card - card holder name is missing or invalid<br />
        44 = Credit card - card holder ID is missing or invalid
    </p>
   