﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="Netpay.MerchantControlPanel.ErrorPage" Codebehind="Error.aspx.vb" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Server Error</title>
</head>
<body>
    <form id="form1" runat="server">
		<div style="text-align:center; color: red; font-size: 45px;  text-align: center;">
		    <br /><br /><br /><br /><br /><br />
			<asp:Label runat="server" ID="lblError"></asp:Label>
		</div>
    </form>
</body>
</html>
