<%@ Page Language="VB" %>
<%
	If Request.ServerVariables("LOCAL_ADDR") <> "" And Request.ServerVariables("LOCAL_ADDR") = Request.ServerVariables("REMOTE_ADDR") Then _
		Response.Write(IIf(Request("DSN") = "2", dbPages.DSN2, dbPages.DSN))
%>