﻿body {}

@maincolor: #e86500;
@import "../../theme.less";

.button-bank {-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;box-shadow:inset 0px 1px 0px 0px #fce2c1;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f58700), color-stop(1, #fb9e25 ) );background:-moz-linear-gradient( center top, #f58700  5%, #fb9e25  100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58700', endColorstr='#fb9e25');background-color:#f58700;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;text-indent:0;border:1px solid #eeb44f;display:inline-block;color:#ffffff;font-family:Arial;font-size:15px;font-weight:bold;font-style:normal;height:28px;line-height:28px;min-width:151px; padding: 0 5px 0 5px; text-decoration:none;text-align:center;text-shadow:1px 1px 0px #cc9f52; margin: 7px 0 0 5px;}
.button-bank:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #f58700) );background:-moz-linear-gradient( center top, #fb9e25  5%, #f58700 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#fb9e25');background-color:#fb9e25;}
