<%@ Page Language="VB" EnableSessionState="False" %>
<%
    If Request.ServerVariables("LOCAL_ADDR") <> "" And Request.ServerVariables("LOCAL_ADDR") = Request.ServerVariables("REMOTE_ADDR") Then _
        Response.Write(IIf(Request("DSN") = "2", Netpay.Web.WebUtils.CurrentDomain.Sql2ConnectionString , Netpay.Web.WebUtils.CurrentDomain.Sql1ConnectionString))
%>