﻿body {
}

@default-color: #295885;
@btn-primary-background: #428bca;
@btn-primary-border: #357ebd;
@btn-primary-hover-background: #3276b1;
@btn-primary-hover-border: #285e8e;
@tempPath:  '../../Templates/Tmp_Jubba/';
@rootPath:  '../../Website/images/';
@import url('../../../../Website/style/login.less');
