﻿body {
}

@maincolor: #7D1C9E;
@menutextcolor: #c1e9ff;
@tempPath:  '../../Templates/Tmp_Jubba/';
@rootPath:  '../../Website/images/';
@import url('../../../../Website/Style/Style.less');

.wrap-notifications {color: #6b6b6b; font-size: 12px; font-family: Arial; text-align: right; direction: rtl; }
.header .header-Text {float: right; top: 40px; color: #515151; right: 20px; position: relative; font-family: 'Open Sans', Arial, sans-serif; font-size: 20px;}

.pager {-moz-box-shadow:inset 0px 1px 0px 0px #d7cafc;-webkit-box-shadow:inset 0px 1px 0px 0px #d7cafc; box-shadow:inset 0px 1px 0px 0px #d7cafc; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9c79ff), color-stop(1, #bf41ee) ); background:-moz-linear-gradient( center top, #9c79ff 5%, #bf41ee 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c79ff', endColorstr='#bf41ee');background-color:#9c79ff;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;text-indent:1px;border:1px solid #9846f5;display:inline-block;  color:#ffffff;font-family: Arial, Helvetica Neue, sans-serif;font-size:15px;margin: 3px; font-weight: bold;font-style:normal;height:32px; min-width:32px; line-height:32px;text-decoration:none;text-align:center;text-shadow:1px 1px 0px #810e05;}
.pager:hover {background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bf41ee), color-stop(1, #9c79ff) ); background: -moz-linear-gradient( center top, #bf41ee 5%, #9c79ff 100% ); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf41ee', endColorstr='#9c79ff'); background-color: #bf41ee;}

.selected {-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;box-shadow:inset 0px 1px 0px 0px #ffffff;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');background-color:#ededed;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;text-indent:0;border:1px solid #dcdcdc;display:inline-block;color:#777777;font-family:Arial; font-size:15px;font-weight:bold;font-style:normal;height:32px;min-width: 32px;line-height:32px;text-decoration:none;text-align:center;text-shadow:1px 1px 0px #ffffff;}
.selected:hover {background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');background-color: #dfdfdf;}

.button {-moz-box-shadow:inset 0px 1px 0px 0px #d7cafc;-webkit-box-shadow:inset 0px 1px 0px 0px #d7cafc; box-shadow:inset 0px 1px 0px 0px #d7cafc; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9c79ff), color-stop(1, #bf41ee) ); background:-moz-linear-gradient( center top, #9c79ff 5%, #bf41ee 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c79ff', endColorstr='#bf41ee');background-color:#9c79ff;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;text-indent:1px;border:1px solid #9846f5;display:inline-block;color:#ffffff;font-family: 'Open Sans', Arial, sans-serif;font-size:15px;font-style:normal;height:32px;line-height:32px;width:155px;text-decoration:none;text-align:center;text-shadow:1px 1px 0px #8e28ce;}
.button:hover {background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bf41ee), color-stop(1, #9c79ff) ); background: -moz-linear-gradient( center top, #bf41ee 5%, #9c79ff 100% ); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf41ee', endColorstr='#9c79ff'); background-color: #bf41ee;}
