﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="MerchantInfo.ascx.vb" Inherits="Netpay.MerchantControlPanel.MerchantInfo" %>
<asp:Literal ID="merchantInfo" runat="server" />
<asp:DropDownList runat="server" ID="ddlMerchantLink" align="absmiddle" CssClass="meduim" onchange="document.location=netpay.Common.addQueryParams(location.href, {'SwitchMerchant': options[selectedIndex].value});" />

