<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="Site.master.cs" Inherits="Netpay.Admin.Site" EnableViewState="true" %>
<!DOCTYPE html>
<html lang="en">
<head runat="server">
	<title>Admin Panel</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
	<meta name="description" content="">
	<meta name="author" content="">
    <link rel="icon" runat="server" id="lnkicon" type="image/png"  />
	<!-- Bootstrap core CSS -->
	<link href="Styles/font-awesome.css" rel="stylesheet" />
	<link href="Styles/bootstrap.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link id="lnkTemplateStyle" runat="server" rel="stylesheet" />
	<link href="Scripts/Plugins/metisMenu-master/dist/metisMenu.min.css" rel="stylesheet" />

	<!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<asp:ContentPlaceHolder ID="HeadContent" runat="server" />
    
</head>
<body class="background-body-wrap">
	<form id="form1" runat="server">
        <netpay:ScriptManager runat="server" EnableBlocker="false" EnableSessionAlerts="true" />
        <asp:ScriptManager runat="server" ID="ScriptManager" ScriptMode="Debug" />
        <script type="text/javascript">
            function showMenu(menuSelection) {
                $('#sideMenu').toggle('slide', null, 'fast', function () {
                    if ($('#sideMenu').is(':visible'))
                        $('#dvMain').removeClass('col-lg-12').addClass('col-lg-10').addClass('col-lg-offset-2') && $('#dvContainer').css("margin-left", "");
                    else $('#dvMain').removeClass('col-lg-10').removeClass('col-lg-offset-2').addClass('col-lg-12') && $('#dvContainer').css("margin-left", "50px");
                });
                if (menuSelection)
                    $('#Menu_' + menuSelection + ' a').trigger('click');
            }

        </script>
                
       <%-- <script src="Scripts/Plugins/tabdrop/js/bootstrap-tabdrop.js" type="text/javascript"></script>--%>
        
        <asp:UpdatePanel ID="UpMiniSideBar" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional">
            <ContentTemplate>
                <asp:PlaceHolder runat="server" ID="phSideBarPageMini">
	                <aside class="sidebar-page-mini">
		                <div class="header-sidebar-mini">
                            <div class="logo-mini"></div>
		                </div>
		                <ul id="side-mini-menu">
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('[data-toggle="tooltip"]').tooltip();
                                });
                            </script>
                            <asp:Repeater runat="server" DataSource='<%# Netpay.Admin.Application.Current.Menu.ChildItems %>'>
	                             <ItemTemplate>
		                             <li id="miniSidebar_<%#(Container.DataItem as ApplicationMenu).GetPath('_').Replace(' ', '_') %>" onclick="showMenu('<%#(Container.DataItem as ApplicationMenu).GetPath('_').Replace(' ', '_') %>');"><a data-toggle="tooltip" data-placement="right" data-original-title="<%# Eval("Title") %>" style="padding: 15px;" ><i class="fa <%# Eval("CssClass") %> fa-fw"></i></a></li>
	                             </ItemTemplate>
                            </asp:Repeater>
                            <li>
                                <asp:HyperLink runat="server" NavigateUrl="~/Login.aspx?DoLogout">
						            <span class="sidebar-nav-item-icon fa fa-power-off fa-fw"></span>
					            </asp:HyperLink>
                            </li>
		                </ul>
	               </aside>
              </asp:PlaceHolder>
           </ContentTemplate>
        </asp:UpdatePanel>

	    <div runat="server" id="dvContainer" class="container-fluid" style="margin-left: 50px;">
		    <div class="row">
                       <aside class="sidebar col-lg-2" id="sideMenu" style="display: none;">
                          <asp:Image runat="server" id="logo" class="img-responsive logo" />
                           
				            <div class="sidebar-nav">
					            <ul id="menu">
                                    <%--<asp:UpdatePanel ID="UpSideMenu" runat="server" UpdateMode="Conditional" ChildrenAsTriggers="false">
                                        <ContentTemplate>--%>
						                        <asp:Repeater ID="rptMenu" runat="server" DataSource='<%# Netpay.Admin.Application.Current.Menu.ChildItems %>' ViewStateMode="Disabled">
							                        <ItemTemplate>
								                        <li id="<%# "Menu_" +  (Container.DataItem as ApplicationMenu).GetPath('_').Replace(' ', '_') %>">
							    		                    <asp:HyperLink runat="server" ID="hMenuItem" NavigateUrl="#">
						    				                    <span class="sidebar-nav-item-icon fa <%# Eval("CssClass") %> fa-fw"></span>
					    					                    <span class="sidebar-nav-item"><%# Eval("Title") %></span>
				    						                    <span class="fa arrow"></span>
			    						                    </asp:HyperLink>
		    							                    <ul>
	    									                    <asp:PlaceHolder ID="PlaceHolder1" runat="server" Visible='<%# !string.IsNullOrEmpty((string)Eval("Url")) %>'>
    											                    <li><asp:HyperLink runat="server" ID="HyperLink2" Text='<%# Eval("Title") + " Management" %>' NavigateUrl='<%# Eval("Url") %>' /></li>
										                        </asp:PlaceHolder>
										                        <asp:Repeater ID="Repeater1" runat="server" DataSource='<%# (Container.DataItem as ApplicationMenu).ChildItems %>'>
											                        <ItemTemplate>
												                        <li><asp:HyperLink runat="server" ID="hMenuItem" Text='<%# Eval("Title") %>' NavigateUrl='<%# Eval("Url") %>' /></li>
											                        </ItemTemplate>
										                        </asp:Repeater>
									                        </ul>
								                        </li>
							                        </ItemTemplate>
						                        </asp:Repeater>
                                       <%--</ContentTemplate>
                                    </asp:UpdatePanel>--%>
                                        <li>
                                            <asp:HyperLink runat="server" NavigateUrl="~/Login.aspx?DoLogout">
                                                <div class="row">
                                                    <span class="col-md-6">
                                                        <span class="sidebar-nav-item-icon fa fa-laptop fa-fw"></span>
                                                        <span class="sidebar-nav-item">IP: <asp:Literal runat="server" Text='<%# Request.UserHostAddress %>' /></span>
                                                    </span>
                                                    <span class="col-md-6 text-right">
                                                        <span class="sidebar-nav-item-icon fa fa-power-off fa-fw"></span>
                                                        <span class="sidebar-nav-item"> Log Out</span>
                                                    </span>
                                                </div>
							                </asp:HyperLink>
                                        </li>
					                </ul>
                                 </div>
                            </aside>
                               
			    <div class="col-lg-12 main" id="dvMain">
				    <nav>
                        <asp:PlaceHolder runat="server" ID="phHeadLine">
					         <section class="head-line">
						        <div class="row">
							        <div class="col-lg-4 col-md-5 col-sm-5">
								        <ul class="navbar-user">
									        <li>
										        <span id="btnSlideMenu" onclick="showMenu()" class="menu-button"><i class="fa fa-bars"></i></span>
									        </li>
									        <li><asp:Image runat="server" Visible="false" ImageUrl="~/Images/Profile/avatar.png" CssClass="user-info-pic" />
								
										        Hello, <%# Netpay.Web.WebUtils.IsLoggedin ? Netpay.Web.WebUtils.LoggedUser.UserName : "" %>
									        </li>
								        </ul>
							        </div>
                                    <asp:UpdatePanel runat="server" ID="UserMenuUpdatePanel" ChildrenAsTriggers="false" UpdateMode="Conditional">
                                        <ContentTemplate>
							                    <div class="col-lg-8 col-md-7 col-sm-7">
								                    <ul class="navbar-head">
                                                        <asp:Repeater ID="UserMenuRepeater" runat="server" DataSource='<%# Netpay.Admin.Application.Current.UserMenu.ChildItems %>'>
										                     <ItemTemplate>
											                     <li>
												                    <asp:HyperLink runat="server" NavigateUrl='<%# Eval("Url") %>'><i class="fa <%# Eval("CssClass") %> fa-fw white-color"></i>
                                                                         <%# Eval("Title") %></asp:HyperLink>
											                     </li>
										                    </ItemTemplate>
									                    </asp:Repeater>
                                                    </ul>
							                   </div>
                                        </ContentTemplate>
                                   </asp:UpdatePanel>
						        </div>
					        </section>
                        </asp:PlaceHolder>
                        <asp:PlaceHolder runat="server" ID="phWrapBradCramps">
					        <section class="wrap-brad-cramps">
						        <div class="row">
							        <div class='<%#Page.TemplateSourceDirectory.Contains("DataManager")? "col-lg-8 col-md-8 col-sm-8" : "col-lg-5 col-md-5 col-sm-5" %>'>
									    <ul class="brad-cramps">
										    <li><i class="fa fa-home fa-fw"></i>
											    <asp:HyperLink runat="server" NavigateUrl="~/" class="white-color">HOME</asp:HyperLink>
										    </li>
										    <asp:Repeater runat="server" ID="rptTitlePart">
											    <ItemTemplate>
												    <li><i class="fa fa-caret-right"></i>
													    <asp:HyperLink runat="server" CssClass="white-color" NavigateUrl='<%# Eval("Url") %>' Text='<%# Eval("Title") %>' /></li>
											    </ItemTemplate>
										    </asp:Repeater>
									    </ul>
							        </div>
                                
                                    <div class='<%#Page.TemplateSourceDirectory.Contains("DataManager")?"col-lg-0 col-md-0 col-sm-0" : "col-lg-4 col-md-4 col-sm-4" %>'>
								        <asp:PlaceHolder runat="server" id="phTopButtons" />
                                    </div>

							        <div class='<%#Page.TemplateSourceDirectory.Contains("DataManager")?"col-lg-4 col-md-4 col-sm-4 text-right" : "col-lg-3 col-md-3 col-sm-3 text-right" %>'>
                                               <div class="input-group">
                                                        <admin:AccountPicker PlaceHolder="Search account" style="float:right" ID="apAccount" runat="server" UseTargetID="false" />
                                                   <span class="input-group-btn">
                                                             <asp:Button runat="server" Text="GO" class="btn btn-info" OnCommand="QuickSearch_Command" CommandArgument="apAccount" />
                                                        </span>
                                              </div>
							        </div>
						        </div>
					        </section>
                        </asp:PlaceHolder>
					    <section class="dashboard-line">
						    <div class="row">
							    <div class="col-lg-2">
								    <i class="fa <%# CurrentItem.CssClass %> fa-fw"></i><%# CurrentItem.Title %>
							    </div>
							 
							    <div class="col-lg-4">
								    <div class="text-right">
									    <script>
									        $(document).ready(function () {
									            $(".close-info").click(function () {
									                $("#info").animate({ left: "+=10px" }).animate({ left: "-5000px" });
									            });
									            $("#info").fadeOut(800).fadeIn(800).fadeOut(400).fadeIn(400)
											    .fadeOut(400).fadeIn(400);
									        });
									    </script>
									    <div id="info">
										    <i class="fa fa-flag red-color"></i>
										    <span class="close-info">This is an animated info message. Do you see it? </span>
									    </div>
								    </div>
							    </div>
						    </div>
					    </section>
				    </nav>
				    <div class="row padding-20">
                        <asp:MultiView runat="server" ActiveViewIndex='<%# GetBodyContentActiveViewIndex ? 0 : 1 %>'>
                                <asp:View runat="server">
                                    <asp:ContentPlaceHolder ID="BodyContent" runat="server">
                                    </asp:ContentPlaceHolder>
                                </asp:View>
                                <asp:View runat="server">
                                    <div class="alert alert-danger">
                                    <b><%# CurrentModuleName %> Module not active.</b>
                                    </div>
                                </asp:View>
                       </asp:MultiView>

                        <asp:ContentPlaceHolder runat="server" ID="PeriodicFeesContent">
                        </asp:ContentPlaceHolder>
				    </div>
				    <div class="row spacer">
					    <footer class="col-lg-12">
						    <!-- child of the body tag -->
						    <span id="top-link-block" class="hidden top-link-button">
						    <a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
							    <i class="fa fa-chevron-up  white-color"></i>
						    </a>
						    </span>
						    <!-- /top-link-block -->
						    <script>
						        if (($(window).height() + 100) < $(document).height()) {
						            $('#top-link-block').removeClass('hidden').affix({
						                offset: { top: 100 }
						            });
						        }
						    </script>
					    </footer>
				    </div>
			    </div>
		    </div>
         </div>
         <asp:UpdateProgress runat="server" ID="prgLoadingStatus"  DynamicLayout="true"  DisplayAfter="0">
            <ProgressTemplate>
                  <div class="wrap-loader-svg"></div>
                  <asp:Image runat="server" CssClass="loader-svg" ImageUrl="Images/loaders/ring.svg" />
            </ProgressTemplate>
        </asp:UpdateProgress>
	</form>
  <script>
        
        window.addEventListener('beforeunload', function() {
            $('#<%=prgLoadingStatus.ClientID %>').show();
        });

        $(window).load(function () {
            $('#<%=prgLoadingStatus.ClientID %>').hide();
        });
   </script>
</body>
        
</html>
