﻿body {}

h2 {font-size: 19px; font-weight: lighter; color: @maincolor; padding: 10px 0 10px 0;}
#content .summary-line {background:url(../images/gradient.png) repeat-x;width:662px;height:47px;margin-left:-7px;margin-top:15px}
/* Steps */

#step .step-01-off {background: url(../images/step-1-off.png) no-repeat;}
#step .step-02-off {background: url(../images/step-2-off.png) no-repeat;}
#step .step-03-off {background: url(../images/step-3-off.png) no-repeat;}
#step .step-04-off {background: url(../images/step-4-off.png) no-repeat;}

#step .step-01-on {background: url(../images/step-1.png) no-repeat;}
#step .step-02-on {background: url(../images/step-2.png) no-repeat;}
#step .step-03-on {background: url(../images/step-3.png) no-repeat;}
#step .step-04-on {background: url(../images/step-4.png) no-repeat;}

.edit-form a:hover {color:@maincolor;}
.edit-form a:link,.edit-form a:active,.edit-form a:visited {color:@maincolor;}
.check-detalis  a:hover {color:@maincolor;}
.check-detalis  a:link,.check-detalis  a:active,.check-detalis  a:visited {color: @maincolor;}
.account-detalis {color: @maincolor;}
.link-form a:hover {color:@maincolor;}
.link-form a:link,.link-form a:active,.link-form a:visited {color:@maincolor;}
.wallet-user-logout a:hover {color:@maincolor;}
.wallet-user-logout a:link,.wallet-user-logout a:active,.wallet-user-logout a:visited{color:@maincolor;}
.title-bankname {color:@maincolor;}
#content .menu-back a:link {color:@maincolor;}
input[type=button],input[type=submit]{background-color:@maincolor !important;}

#corners .corner-right {float:right;background:url(../images/sprite.png) no-repeat -34px -80px;width:7px;height:6px}
#corners .corner-left {float:left;background:url(../images/sprite.png) no-repeat -25px -80px;width:7px;height:6px}

.loader .loader-image {background: url(../images/ajax-loader.gif) no-repeat center; height: 15px; text-align: center;}

.btn-finish {width:250px; background-color: @maincolor !important; color: white !important; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}
.btn-finish a:link {width:250px; background-color: @maincolor !important; color: white !important; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}
.btn-finish a:hover {width:250px; background-color: @maincolor !important; color: white !important; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: underline}
.btn-finish a:active {width:250px; background-color: @maincolor !important; color: white !important; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}
.btn-finish a:visited {width:250px; background-color: @maincolor !important; color: white !important; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}