﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Sample.aspx.cs" Inherits="Netpay.Admin.Modules.Sample.Sample" %>
<asp:Content  ContentPlaceHolderID="BodyContent" runat="server">
    Sample module test.
</asp:Content>

