﻿body { font-family:Verdana,Arial,Helvetica,sans-serif; background-color:#000000; color:#CCCCCC;  direction:ltr; margin-top:10px; }
body.menu { background-color:rgb(238, 238, 238); }
FORM { margin:0; padding:0; }
TABLE { margin:0; padding:0; }
DIV { margin:0; padding:0; }
a { color:#CCCCCC; font-size:11px; text-decoration:underline; cursor:pointer; }

.itext { scrollbar-3dlight-color:#000000;scrollbar-arrow-color:#909090;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#000000;scrollbar-track-color:#F3F3F3; }
.itextm3 { scrollbar-3dlight-color:#C0C0C0;scrollbar-arrow-color:#C0C0C0;scrollbar-darkshadow-color:#FFFFFF;scrollbar-face-color:#F5F5F5;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#C0C0C0;scrollbar-track-color:#F5F5F5;}
.key { color:#ffa500; vertical-align:top!important; border-top:0px solid #303030; padding-bottom:4px!important; }
.keyvalue { vertical-align:top!important; border-top:0px solid #303030; padding-bottom:4px!important; }
.btnStandard { height:18px; font-size:11px; border:solid 1px #939393; color:#939393; background-color:#555555; cursor:pointer; }
.selStandard { height:18px; font-size:11px; color:#939393; background-color:#555555; }
.btnHighlight { height:18px; font-size:11px; border:solid 1px #FFFFFF; color:#FFFFFF; background-color:#b93b3b; cursor:pointer; }

/* tables  */
.formThin Table { padding:0px; margin:0px; border:0px; }
.formThin Th { font-size:12px; color:#003366; text-decoration:none; text-align:left; font-weight:normal; }
.formThin Td { font-size:12px; color:#ffffff; text-align:left; }
.formThin Input { font-size:12px; color:#ffffff; background-color:#f5f5f5; }
.formThin Input[type='submit'] { font-size:12px; color:#ffffff; background-color:#e5e5e5; cursor:pointer; }
.formThin Input[type='button'] { font-size:12px; color:#ffffff; background-color:#e5e5e5; cursor:pointer; }
.formThin Select { font-size:12px; color:#000000; background-color:#f5f5f5; }

.formNormal Table { padding:0px; margin:0px; border:0px; direction:ltr; }
.formNormal Th { font-size:11px; background-color:#555555; text-align:left; padding:0px 4px 0px 4px; border-bottom:1px solid gray; font-weight:bold; vertical-align:middle; }
.formNormal Td { font-size:11px; text-align:left; padding:0px 4px 0px 4px; }
.formNormal Td.Numeric { font-size:11px; color:#ffffff; direction:ltr; }
.formNormal Td A{ font-size:11px; text-decoration:underline; }
.formNormal Input { font-size:11px; vertical-align:middle;}
.formNormal Input[type='submit'] { font-size:11px; cursor:pointer; }
.formNormal Input[type='button'] { font-size:11px; cursor:pointer; }
.formNormal Select { font-size:11px; background-color:#f5f5f5; }

.dataList Table { padding:0px; margin:0px; border:0px; }
.dataList Th { font-size:12px; color:#003366; text-decoration:none; text-align:left; font-weight:normal; padding-right:3px; }
.dataList Td { font-size:12px; color:#ffffff; text-align:left; padding-right:2px; }
.dataList .fieldHeadings Td { font-size:11px; text-decoration:underline; padding-right:2px; vertical-align:bottom; }

/* Security  */
.pageSecurityNumOn { font-family:Aria; font-weight:bold; font-size:14px; color:#f5f5f5; background-color:#FF8000; padding-left:3px; padding-right:3px; margin:1px; border:1px solid #FF8000; }
.pageSecurityNumOff { font-family:Aria; font-weight:bold; font-size:9px; color:#f5f5f5; background-color:#ffbf72; padding-left:3px; padding-right:3px; margin:1px; border:1px solid #FF8000; }
span.security { font-weight:bold;	font-size:12px;	color:rgb(245, 245, 245);	background-color:rgb(255, 128, 0);	padding-left:3px; padding-right:3px; vertical-align:middle; }
span.securityManaged { cursor:pointer; }

/* pages heading  */
#pageMainHeading{ font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; font-weight:bold; color:#FF8000; padding:0px; margin:0px; }
#pageMainSubHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#000000; padding:0px; margin:0px; }
#pageSecurityHeading { font-weight:bold; font-size:11px; color:#f5f5f5;background-color:#FF8000;  padding-left:3px; padding-right:3px; border:1px solid #FF8000; }

/* main page  */
.sectionHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:16px; font-weight:bold; color:#FF8000; padding:0px; margin:0px; }
.subSectionHeading { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; color:#000000; padding:0px; margin:0px; }


/* Filter pages  */
.filterNormal Table { padding:1px; margin:0px; border:0px; }
.filterNormal Th { font-size:12px; color:#003366; text-align:left; font-weight:normal; text-decoration: underline; }
.filterNormal Td { font-size:11px; color:#ffffff; text-align:left; }
.filterNormal Input { font-size:11px; color:#ffffff; background-color:#f5f5f5; }
.filterNormal Input[type='submit'] { font-size:12px; color:#ffffff; background-color:#e5e5e5; cursor:pointer; }
.filterNormal Input[type='button'] { font-size:12px; color:#ffffff; background-color:#e5e5e5; cursor:pointer; }
.filterNormal Select { font-size:12px; color:#ffffff; background-color:#f5f5f5; }

table.pagerBlack {font-size:11px;}
table.pagerBlack td {padding:1px 10px;border:1px solid silver;cursor:pointer;color:#939393;background-color:Black;}
table.pagerBlack td.on {background-color:#555555;}
table.pagerBlack th {padding:1px 10px 2px;border:1px solid silver;font-weight:normal;color:#939393;background-color:#555555;}

.radio {font-size:11px;vertical-align:middle;}
.radio input {vertical-align:middle;}

.archiveOption {cursor:pointer;text-decoration:underline;}
.current {color:Orange;}

.dataHeading { text-decoration:underline; white-space:nowrap; }

textarea
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	overflow:auto;
	overflow-x:auto;
	overflow-y:auto;
	background-color:transparent;
	color:#CCCCCC;
	font-size:11px;
	border-style:none;
	height:100px;
}