﻿body {
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700);

body {background: url('../Images/background-image.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; color: #fff;}
.panel-text {color:#686866!important;font-family:"Roboto Condensed",Arial,sans-serif;font-size:18px !important;text-transform:uppercase !important; padding: 0 !important; margin: 0 !important;}
.modal-header {background: #eee; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;  font-size: 15px; text-transform: uppercase; color: #686866;}
.modal-body {color: #686866;}
#loginbox {margin-top: 10%;}
.primary-color {color: #686866}