﻿
span.textBox {
	border:1px solid #c0c0c0;
	display:inline-block;
	text-align:center;
	min-width:10px;
}
.floatLeft { float:left; }
.floatRight { float:right; }

input.numeric { width:60px; }
.numericMinus { color: red; }
span.smallCircle { width:8px;height:8px;border-radius:4px; display:inline-block; vertical-align:middle; user-select:none; }

div.groupPart { padding:15px; border-left:1px solid #f0f0f0; margin:5px; padding-top:2px; }
h3 { font-size:13px; font-weight:bold; border-bottom:1px solid #202020; margin-bottom:5px; margin-top:10px; padding-bottom:1px; }
span.Notification {display: block; padding: 7px; background-color: #e0e0e0; font-weight: bold;}

td#HeaderTitle { font-size:14px;  }
td#HeaderTitle span.HeaderTitleText { font-size:14px; color:#2566ab; font-weight:bold; }

table.dataList { padding:0px; margin:0px; border:0px; }
table.dataList th { text-align:left; text-decoration:underline; font-weight:bold; padding-right:3px; }
table.dataList td { padding-right:2px; vertical-align:top; }
table.dataList th.section { text-decoration:none; background-color:#f7f7f7; padding-top:4px; padding-bottom:4px; }

table.dataListSortable { padding:0px; margin:0px; border:0px; }
table.dataListSortable th { text-align:left; font-weight:bold; border-bottom:1px solid #a0a0a0; padding:5px; }
table.dataListSortable th a { text-decoration:none; }
table.dataListSortable td { padding-right:2px; vertical-align:top; }
table.dataListSortable tr.alternate  { background-color:#f0f0f0; }
table.dataListSortable tr.rowDetails td { padding:0px; border-bottom:1px solid #a0a0a0; }

table.dataForm { }
table.dataForm th { text-align:left; font-weight:normal; }
table.dataForm td input, table.dataForm td textarea, table.dataForm td select { width:90%; }

div.filter { background-color:#f0f0f0; padding:5px; margin-bottom:5px; }
td.dataPageSeperator
{
	background-image:url(../images/AdminListSeperatorBG.png);
	padding:0px;
	width:12px;
}

div.dataButtons
{
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #c0c0c0;
	padding:10px;
	text-align:left;
	min-height:25px;
}
div.dataButtons span.currentPage { text-decoration:underline; }

.Button
{
	background-color:#f0f0f0;
	border:1px solid #d0d0d0;
	color:#606060;
	min-width:60px;
	padding:5px;
	font-weight:bold;
	display:inline-block;
	text-align:center;
	cursor:pointer;
}

div.form-vertical { }
div.form-vertical div.form-group { margin-top:10px; margin-bottom:10px; }
div.form-vertical span.fieldText { display:block; font-weight:bold; color:#226; text-decoration:underline; margin-bottom:3px; }
div.form-vertical span.fixed { display:inline-block!important; width:160px; text-decoration:none;  }

div.form-col-details { }
div.form-col-details.form-group { margin-top:3px; margin-bottom:3px; }
div.form-col-details span.fieldText { float:left; clear:both; }
div.form-col-details div.fieldValue { float:right; font-weight:bold;  color:#2566ab; }

div.LegendColors { font-weight:normal; }



/**************************JQUERY UI OVERRIDE********************************/
.ui-menu-item a
{
    white-space: nowrap;
}  

.search_filter {transform:rotate(90deg); -ms-transform:rotate(90deg); /* IE 9 */ -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */ font-size: 16px; font-family: Arial; top: 20px; font-size: 20px; color: #686866; font-family: "Fjalla One",Arial; }



