﻿<%@ Page Language="VB" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script runat="server">
	Sub Page_Load()
		For i As Integer = 0 To 20
			Response.Write(i.ToString("<br>00") & " = " & GlobalData.Value(GlobalDataGroup.RECURRING_MODIFICATION_STATUS, i).Text)
		Next
	End Sub
</script>
