﻿<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="Header.ascx.cs" Inherits="Netpay.Admin.Merchants.Header" %>
<%@ Register Src="../Toolbar.ascx" TagPrefix="AUC" TagName="Toolbar" %>

<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr>
		<td id="HeaderTitle">
			<span class="HeaderTitleText">MERCHANT MANAGEMENT</span> -
			<asp:Literal runat="server" ID="ltMerchantName" />
		</td>
		<td align="right">
			Status: <netpay:EnumDropDown runat="server" ID="ddlStatus" ViewEnumName="Netpay.Infrastructure.MerchantStatus" AutoPostBack="true" OnSelectedIndexChanged="Status_Changes" EnableBlankSelection="false" />
		</td>
		<td align="right">
			<asp:HyperLink runat="server" ID="hlEmail" ><asp:Image runat="server" ImageUrl="~/images/img/post_button_2.gif" title="send e-mail" width="25" height="21" border="0" /></asp:HyperLink>
			<asp:HyperLink runat="server" ID="hlDeposits" ><asp:Image runat="server" ImageUrl="~/images/img/post_button_4.gif" title="deposit" width="25" height="21" border="0" /></asp:HyperLink>
			<asp:LinkButton runat="server" ID="hlMerchantUI" OnClick="MerchantUI_Click"><asp:Image runat="server" ImageUrl="~/images/img/post_button_1.gif" title="to client interface" width="40" height="21" border="0" /></asp:LinkButton>
		</td>
	</tr>
</table>
<br />
<AUC:Toolbar runat="server" ID="tbTop" />
