﻿@import 'https://fonts.googleapis.com/css?family=Arimo';
body,
html {
  direction: rtl;
}
h2 {
  font-family: 'Arimo', sans-serif;
}
input[type=button],
input[type=submit] {
  font-family: 'Arimo', sans-serif;
}
.info-notifaction {
  background-position: right;
  padding-left: 0;
  padding-right: 30px;
}
.error-notifaction {
  background-position: right;
  padding-left: 0;
  padding-right: 30px;
}
.success-notifaction {
  padding-right: 15px;
  padding-left: 0;
}
.accordion {
  padding-left: 0;
  padding-right: 10px;
}
.accordion .arrow-close {
  float: left;
  background: url('../Images/arrow-close-rtl.png');
  left: 17px;
  right: -17px;
}
.accordion .arrow {
  float: left;
  left: 17px;
  right: -17px;
}
.accordion .text {
  float: right;
  font-family: 'Arimo', sans-serif;
}
.content-section {
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
}
.content-section .table-section .tr-table .td-cell-text {
  padding-right: 0;
  padding-left: 10px;
}
.PaymentSolutions-header .arrow {
  float: left;
  left: 17px;
  right: -17px;
}
.wrap-button {
  float: right;
  padding-left: 0;
  padding-right: 395px;
}
.footer .card {
  float: left;
}
.footer .copyright {
  float: right;
}
div.LanguageDropdown {
  text-align: right;
  right: 1%;
}
div.LanguageDropdown div {
  right: -15px;
  margin: 0 10px 0 0;
  padding: 40px 0 5px;
}
div.LanguageDropdown a.SelectedText {
  background: url('../Images/arrow-language.png') no-repeat left;
  margin: -5px -5px 0 0;
  padding: 11px 11px 0 0;
  width: 90px;
  height: 37px;
}
.langSelector {
  padding: 0 10px 0 0;
}
.line-hr {
  margin: 10px 10px 10px 0 ;
  border: 0;
}
.loader {
  font-family: 'Arimo', sans-serif;
}
.PaymentSolutions-header {
  padding-left: 0;
  padding-right: 10px;
}
.PaymentSolutions-header .text {
  float: right;
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
}
.install-app,
.install-app:link,
.install-app:active,
.install-app:visited {
  font-family: 'Arimo', sans-serif;
}
