﻿@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
*,
form {
  margin: 0;
}
/* Fix IE 8 7 6 */
header,
nav,
section,
article,
aside,
footer {
  display: block;
}
ul {
  display: block;
  padding: 0;
}
h2 {
  font-size: 16px !important;
  font-weight: lighter;
  color: #076699;
  padding: 10px 0 10px 0;
}
body,
html {
  background-color: #e9e9e9;
  height: 100%;
  font-family: Arial;
}
input[type=button],
input[type=submit] {
  background-color: #076699;
  border: 0;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  font-size: 13px;
  padding: 5px 15px;
  text-transform: uppercase;
}
input[type=text],
input[type=password],
input[type=email],
select {
  border: 1px solid #ccc;
  height: 29px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: url('../Images/input-background.png') repeat-x;
  font-size: 13px;
  color: #545454;
  padding: 0 10px;
}
input:focus {
  border: 1px solid #91a244;
}
.spacer {
  clear: both;
}
.header-top {
  width: 100%;
  height: 34px;
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
}
#container {
  width: 320px;
  min-height: 100%;
  position: relative;
  clear: left;
  background-color: #fff;
  margin: 0 auto;
}
.top-bar {
  background-color: #e9e9e9;
}
.top-bar .logo {
  float: left;
  background: url('../Images/sprite.png') no-repeat -24px -27px;
  width: 137px;
  height: 31px;
  margin: 10px 0;
  display: none;
}
.top-bar .secure-text {
  float: right;
  color: #545454;
  font-size: 12px;
  font-weight: 700;
  line-height: 59px;
  background: url('../Images/icon-secure.png') no-repeat left;
  padding-left: 19px;
  display: none;
}
.wrap-content {
  padding: 6px;
  margin-top: 10px;
}
#content {
  border: 1px solid #ededed;
  background-color: #fafafa;
  min-height: 100%;
}
#content .logo-merchant {
  margin: 10px;
}
#content .logo-merchant img {
  max-width: 285px;
  max-height: 80px;
}
#content .line-hr {
  background: url('../Images/line.png') repeat-x;
  width: 285px;
  height: 2px;
}
#content .text-product {
  padding-left: 10px;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  color: #484848;
  font-size: 18px;
}
#content .menu-back {
  padding-right: 10px;
  font-family: Arial, Helvetica Neue, sans-serif;
  color: #076699;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 23px;
}
#content .menu-back a:link {
  padding-left: 10px;
  font-family: Arial, Helvetica Neue, sans-serif;
  color: #076699;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 23px;
}
#content .menu-back a:hover {
  color: #076699;
  text-decoration: underline;
}
#content .menu-back a:active {
  color: #076699;
  text-decoration: none;
}
#content .menu-back a:visited {
  color: #076699;
  text-decoration: none;
}
#content .summary-line {
  background: url('../Images/gradient.png') repeat-x;
  width: 320px !important;
  height: 47px;
  margin-left: -7px;
  margin-top: 24px;
}
#content .summary-text {
  padding-left: 20px;
  line-height: 46px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  font-size: 18px;
}
#corners {
  margin: 0 -7px;
}
#corners .corner-right {
  float: right;
  background: url('../Images/sprite.png') no-repeat -34px -80px;
  width: 7px;
  height: 6px;
}
#corners .corner-left {
  float: left;
  background: url('../Images/sprite.png') no-repeat -25px -80px;
  width: 7px;
  height: 6px;
}
.wrap-accordion {
  padding-top: 10px;
}
.accordion {
  min-height: 50px;
  background-color: #e9e9e9;
  text-transform: uppercase;
  color: #484848;
  line-height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #f5f5f5;
  display: block;
  margin: 0;
}
.accordion .arrow-close {
  float: right;
  background: url('../Images/arrow-close.png');
  width: 8px;
  height: 15px;
  top: 19px;
  right: 17px;
  position: relative;
}
.accordion .arrow {
  float: right;
  background: url('../Images/arrow.png');
  width: 15px;
  height: 8px;
  top: 22px;
  right: 17px;
  position: relative;
}
.accordion .text {
  float: left;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  font-size: 18px;
}
.content-section {
  width: 285px;
  background-color: #fff;
  font-family: Arial, Helvetica Neue, sans-serif;
  color: #484848;
  margin: 2px 0 0;
  padding: 10px;
  border-bottom: 1px solid #EDEDED;
}
.content-section .table-section {
  display: table;
  line-height: 25px;
  padding-bottom: 15px;
  font-size: 13px;
}
.content-section .table-section .tr-table {
  display: block;
}
.content-section .table-section .tr-table img {
  vertical-align: middle;
  border: 1px solid #c9c9c9;
  margin-left: 5px;
}
.content-section .table-section .tr-table .td-cell-text {
  padding-right: 10px;
  word-wrap: break-word;
  width: 285px;
}
.content-section .table-section .tr-table .td-cell {
  display: block;
}
.error-notifaction {
  width: 89%;
  background-color: #ffcece;
  border: 1px solid #df8f8f;
  min-height: 40px;
  font-family: Arial;
  color: #545454 !important;
  font-size: 12px;
  text-transform: none;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  background-image: url('../Images/error-icon.png');
  background-repeat: no-repeat;
  padding-left: 30px;
}
.error-notifaction img {
  vertical-align: middle;
}
.success-notifaction {
  width: 89%;
  background-color: #d5ffce;
  border: 1px solid #9adf8f;
  height: 40px;
  font-family: Arial;
  color: #545454 !important;
  font-size: 12px;
  text-transform: none;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  background-image: url('../Images/thick-icon.png');
  background-repeat: no-repeat;
  padding-left: 30px;
}
.success-notifaction img {
  vertical-align: middle;
}
.field_40 {
  width: 40px;
}
.field_80 {
  width: 80px;
}
.field_385 {
  width: 260px !important;
}
.padding-top-10 {
  padding-top: 10px;
}
.imgCredit {
  width: 22px;
  height: 13px;
  border: solid 1px #c9c9c9 !important;
}
#step img {
  padding: 30px 45px 20px;
}
.wrap-button {
  padding-left: 205px;
}
.tick {
  bottom: 0;
  background: url('../Images/sprite.png') no-repeat -316px -59px;
  width: 56px;
  height: 56px;
  position: relative;
  float: right;
  margin: -10px;
}
.footer {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 10px 0 20px;
  text-align: center;
}
.footer-shadow {
  background: url('../Images/sprite.png') no-repeat -24px -173px;
  width: 320px;
  height: 12px;
  position: relative;
  clear: left;
  margin: 0 auto;
}
.footer .card {
  background: url('../Images/sprite.png') no-repeat -22px -94px;
  width: 286px;
  height: 24px;
  margin-left: 20px;
}
.footer .copyright {
  color: #545454;
  font-size: 10px;
  line-height: 26px;
  font-weight: 700;
}
div.LanguageDropdown {
  color: #545454;
  width: 143px;
  position: relative;
  height: 17px;
  text-align: left;
  left: 1%;
}
div.LanguageDropdown div {
  background: #fff;
  position: absolute;
  top: -12px;
  left: -20px;
  z-index: 100;
  width: 135px;
  display: none;
  margin-left: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  padding: 40px 0 5px;
}
div.LanguageDropdown div li a {
  color: #545454;
  display: block;
  font-family: arial;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  padding: 6px 15px;
  list-style-type: square;
}
div.LanguageDropdown div li a:hover {
  background: #076699;
  color: #FFF;
  text-decoration: none;
}
div.LanguageDropdown a.SelectedText {
  font-size: 11px;
  line-height: 16px;
  color: #545454;
  position: absolute;
  z-index: 110;
  display: block;
  height: 28px;
  width: 121px;
  text-decoration: none;
  background: url('../Images/arrow-language.png') 116px 17px no-repeat;
  cursor: pointer;
  margin: -5px 0 0 -10px;
  padding: 11px 0 0 11px;
}
.langSelector {
  cursor: pointer;
  border: 0 solid #000000;
  font-size: 12px;
  width: 92%;
  padding-left: 10px;
  height: 30px;
  text-transform: capitalize;
  list-style-type: none;
  line-height: 30px;
  background-color: #ffffff;
}
/* PaymentSolutions */
.PaymentSolutions-header {
  min-height: 50px;
  background-color: #e6e6e6;
  text-transform: uppercase;
  color: #484848;
  line-height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  display: block;
  margin: 0;
  margin: 20px 0 20px 0;
}
.PaymentSolutions-header .arrow-close {
  float: right;
  background: url('../Images/arrow-close.png');
  width: 8px;
  height: 15px;
  top: 22px;
  right: 17px;
  position: relative;
}
.PaymentSolutions-header .arrow {
  float: right;
  background: url('../Images/arrow.png');
  width: 15px;
  height: 8px;
  top: 22px;
  right: 17px;
  position: relative;
}
.PaymentSolutions-header .text {
  float: left;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  font-size: 18px;
}
#Payment-solutions {
  display: table;
  padding: 8px;
}
#Payment-solutions .tr-payment {
  display: table-row;
  cursor: pointer;
}
#Payment-solutions .tr-payment .td-payment {
  display: table-cell;
  width: 132px;
  height: 98px;
  background-color: #F5F5F5;
  text-align: center;
  vertical-align: middle;
}
#Payment-solutions .tr-payment .td-payment .frame-image {
  width: 121px;
  height: 88px;
  background-color: #fdfdfd;
  border: 1px solid #e8e8e8;
  margin: 4px auto;
  text-align: center;
}
#Payment-solutions .tr-payment .td-payment .frame-image img {
  vertical-align: middle;
  margin: 3px;
}
#Payment-solutions .tr-payment .td-payment-text {
  display: table-cell;
  vertical-align: top;
  font-family: Arial, Helvetica Neue, sans-serif;
  padding-left: 8px;
  margin-top: 3px;
}
#Payment-solutions .tr-payment .td-payment-text h3 {
  color: #868484;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: lighter;
}
#Payment-solutions .tr-payment .td-payment-text p {
  color: #545454;
  font-size: 12px;
}
.line-hr {
  background: url('../Images/line.png') repeat-x;
  width: 614px;
  height: 2px;
  margin: 10px 0 10px 10px;
  border: 0;
}
.loader {
  text-align: center;
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  text-transform: uppercase;
  padding: 10px;
}
.loader .loader-text {
  padding: 10px;
  font-size: 19px;
  color: #545454;
}
/* PaymentConfirm */
div.terms {
  background: none repeat scroll 0 0 #F2F2F2;
  border: 1px solid #CCC;
  height: 200px;
  overflow: auto;
  padding: 6px;
  font: arial;
}
div.terms p,
div.terms li {
  color: #545454;
  font: 11px/15px arial;
}
div.terms h3 {
  color: #000;
  font: bold 14px/19px arial;
}
div.terms h4 {
  color: #000;
  font: bold 12px/17px arial;
}
div.terms strong {
  color: #000000;
}
#wrap-review {
  padding-bottom: 20px;
  font-size: 12px;
}
#wrap-review .wrap-billing {
  line-height: 19px;
}
#wrap-review .wrap-personalinfo {
  line-height: 19px;
}
#wrap-review .wrap-creditCard {
  line-height: 19px;
}
.wrap-terms {
  border-top: 1px dashed #A6A6A6;
  padding-top: 20px;
  width: 285px;
}
#wrap-agreement {
  font-family: Arial;
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 10px;
}
#wrap-agreement .agree-check {
  float: left;
  min-height: 35px;
  padding-top: 32px;
  text-align: center;
}
#wrap-agreement .agree-text {
  float: left;
  min-height: 35px;
  line-height: 20px;
  width: 260px;
  padding-left: 10px;
}
#wrap-registration {
  font-family: Arial;
  font-size: 12px;
  padding-top: 10px;
}
#wrap-registration .registration-check {
  float: left;
  min-height: 35px;
  text-align: center;
}
#wrap-registration .registration-text {
  float: left;
  width: 260px;
  padding-left: 10px;
}
.edit-form {
  float: left;
  padding: 10px 0;
}
.edit-form a:hover {
  color: #076699;
  text-decoration: underline;
}
.wrap-button-charge {
  float: right;
  text-transform: uppercase;
  padding: 10px;
}
.edit-form a:link,
.edit-form a:active,
.edit-form a:visited {
  color: #076699;
  text-decoration: none;
}
/* PaymentMsg*/
.wrap-payment-msg {
  padding: 10px;
  line-height: 30px;
}
.check-detalis {
  font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;
  text-transform: uppercase;
  margin: 10px 0 10px 0;
}
.check-detalis a:hover {
  color: #076699;
  text-decoration: underline;
}
.check-detalis a:link,
.check-detalis a:active,
.check-detalis a:visited {
  color: #076699;
  text-decoration: none;
}
.MsgMerchant {
  font-size: 13px;
  font-weight: lighter;
  color: #545454;
  padding: 5px 0 5px 0;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
#dvBankCountryFixed {
  padding: 4px 0 4px 0;
}
/* Steps */
#step {
  display: block;
  height: 50px;
  padding: 15px 0 15px 0;
  text-align: center;
}
#step .step-01-off {
  background: url('../Images/step-1-off.png') no-repeat;
  width: 41px;
  height: 41px;
  display: inline-block;
  margin: 10px;
}
#step .step-02-off {
  background: url('../Images/step-2-off.png') no-repeat;
  width: 41px;
  height: 41px;
  display: inline-block;
  margin: 10px;
}
#step .step-03-off {
  background: url('../Images/step-3-off.png') no-repeat;
  width: 41px;
  height: 41px;
  display: inline-block;
  margin: 10px;
}
#step .step-04-off {
  background: url('../Images/step-4-off.png') no-repeat;
  width: 41px;
  height: 41px;
  display: inline-block;
  margin: 10px;
}
#step .step-01-on {
  background: url('../Images/step-1.png') no-repeat;
  width: 41px;
  height: 41px;
  display: inline-block;
  margin: 10px;
}
#step .step-02-on {
  background: url('../Images/step-2.png') no-repeat;
  width: 41px;
  height: 41px;
  display: inline-block;
  margin: 10px;
}
#step .step-03-on {
  background: url('../Images/step-3.png') no-repeat;
  width: 41px;
  height: 41px;
  display: inline-block;
  margin: 10px;
}
#step .step-04-on {
  background: url('../Images/step-4.png') no-repeat;
  width: 41px;
  height: 41px;
  display: inline-block;
  margin: 10px;
}
.month-select select {
  background: transparent;
  width: 150px;
  padding: 6px;
  font-size: 13px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 29px;
  -webkit-appearance: none;
}
.month-select {
  vertical-align: middle;
  display: inline-block;
  width: 120px;
  height: 29px;
  overflow: hidden;
  background: url('../Images/dp-arrow.png') no-repeat right #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 29px;
}
.year-select select {
  background: transparent;
  width: 100px;
  padding: 6px;
  font-size: 13px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 29px;
  -webkit-appearance: none;
}
.year-select {
  vertical-align: middle;
  display: inline-block;
  width: 70px;
  height: 29px;
  overflow: hidden;
  background: url('../Images/dp-arrow.png') no-repeat right #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 29px;
}
.state-select select {
  background: transparent;
  width: 310px;
  padding: 6px;
  font-size: 13px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 29px;
  -webkit-appearance: none;
}
.state-select {
  vertical-align: middle;
  display: inline-block;
  width: 280px;
  height: 29px;
  overflow: hidden;
  background: url('../Images/dp-arrow.png') no-repeat right #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 29px;
}
.country-select select {
  background: transparent;
  width: 310px;
  padding: 6px;
  font-size: 13px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 29px;
  -webkit-appearance: none;
}
.country-select {
  vertical-align: middle;
  display: inline-block;
  width: 280px;
  height: 29px;
  overflow: hidden;
  background: url('../Images/dp-arrow.png') no-repeat right #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 29px;
}
.bank-country-select select {
  background: transparent;
  width: 305px;
  padding: 6px;
  font-size: 13px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 29px;
  -webkit-appearance: none;
}
.bank-country-select {
  vertical-align: middle;
  display: inline-block;
  width: 280px;
  height: 29px;
  overflow: hidden;
  background: url('../Images/dp-arrow.png') no-repeat right #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ImageRadioList {
  text-align: center;
}
.account-detalis {
  border-top: 1px dashed #ccc;
  font-size: 19px;
  font-weight: lighter;
  color: #076699;
  margin-top: 15px;
}
/* Push Transfer info */
#wrap-review .wrap-transfer {
  float: left;
  line-height: 25px;
  width: 39%;
}
#wrap-review .wrap-bankinfo {
  float: left;
  line-height: 25px;
  width: 30%;
}
#wrap-review .wrap-to {
  float: right;
  line-height: 25px;
  padding-bottom: 40px;
  width: 30%;
}
.link-form {
  padding: 10px 0;
}
.link-form a:hover {
  color: #076699;
  text-decoration: underline;
}
.link-form a:link,
.link-form a:active,
.link-form a:visited {
  color: #076699;
  text-decoration: none;
  text-transform: uppercase;
}
/* Customer-login Wallet */
.required-wallet {
  font-size: 12px;
  font-family: Arial;
}
.wallet-user {
  padding: 10px 10px 10px 0;
  font-size: 13px;
}
.wallet-user-logout {
  padding: 10px 0;
  font-size: 13px;
}
.wallet-user-logout a:hover {
  color: #076699;
  text-decoration: underline;
}
.wallet-user-logout a:link,
.wallet-user-logout a:active,
.wallet-user-logout a:visited {
  color: #076699;
  text-decoration: none;
  text-transform: uppercase;
}
.wrap-selectcard {
  border-top: 1px dashed #ccc;
  margin-top: 9px;
}
.rptCard {
  line-height: 45px;
  font-size: 13px;
}
.wrap-button-pay {
  border-top: 1px dashed #ccc;
  padding-top: 9px;
  margin-top: 15px;
}
.box-account {
  border: 1px dashed #8d8d8d;
  background-color: #e6e6e6;
  width: 160px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.title-bankname {
  font-size: 19px;
  font-weight: lighter;
  color: #076699;
  display: block;
  text-transform: uppercase;
}
.SolutionDisabled {
  font-size: 13px;
  font-weight: lighter;
  color: #545454;
  padding: 20px;
  display: block;
  border-top: 1px dashed #ccc;
  margin-top: 20px;
}
.button-bank {
  -moz-box-shadow: inset 0 1px 0 0 #cae3fc;
  -webkit-box-shadow: inset 0 1px 0 0 #cae3fc;
  box-shadow: inset 0 1px 0 0 #cae3fc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee));
  background: -moz-linear-gradient(center top, #79bbff 5%, #4197ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color: #79bbff;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0;
  border: 1px solid #469df5;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 28px;
  line-height: 28px;
  min-width: 151px;
  padding: 0 5px 0 5px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #287ace;
  margin: 7px 0 0 5px;
}
.button-bank:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff));
  background: -moz-linear-gradient(center top, #4197ee 5%, #79bbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color: #4197ee;
}
.button-bank:active {
  position: relative;
  top: 1px;
}
/* InstantDebitForm */
.BankCountryFlag {
  border: 1px solid #c9c9c9 !important;
}
.IpCountry {
  border: 1px solid #c9c9c9;
  margin: 0 15px 0 15px;
}
.SelectedMethod {
  border: 1px solid #c9c9c9 !important;
  margin-top: 10px;
}
.wrapSelectMethod {
  padding: 4px 0 4px 0;
}
.Selected-Bank {
  float: left;
}
.wrap-title-bank {
  border-top: 1px dashed #ccc;
  margin-top: 20px;
}
.MerchantBottomText {
  font-size: 12px;
  padding: 7px;
  color: #868484;
}
.MerchantTopText {
  font-size: 12px;
  padding: 7px;
  color: #868484;
}
.button-bank {
  -moz-box-shadow: inset 0px 1px 0px 0px #cae3fc;
  -webkit-box-shadow: inset 0px 1px 0px 0px #cae3fc;
  box-shadow: inset 0px 1px 0px 0px #cae3fc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee));
  background: -moz-linear-gradient(center top, #79bbff 5%, #4197ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color: #79bbff;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0;
  border: 1px solid #469df5;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 28px;
  line-height: 28px;
  min-width: 151px;
  padding: 0 5px 0 5px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #287ace;
  margin: 7px 0 0 5px;
}
.button-bank:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff));
  background: -moz-linear-gradient(center top, #4197ee 5%, #79bbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color: #4197ee;
}
