﻿body {}

@maincolor: #076699;
@import "../../theme.less";

.button-bank {-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;box-shadow:inset 0px 1px 0px 0px #d9fbbe;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b7e057), color-stop(1, #8fb342 ) );background:-moz-linear-gradient( center top, #b7e057  5%, #8fb342  100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7e057', endColorstr='#8fb342');background-color:#b7e057;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;text-indent:0;border:1px solid #83c41a;display:inline-block;color:#ffffff;font-family:Arial;font-size:15px;font-weight:bold;font-style:normal;height:28px;line-height:28px;min-width:151px; padding: 0 5px 0 5px; text-decoration:none;text-align:center;text-shadow:1px 1px 0px #57ad47; margin: 7px 0 0 5px;}
.button-bank:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8fb342), color-stop(1, #b7e057) );background:-moz-linear-gradient( center top, #8fb342  5%, #b7e057 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');background-color:#8fb342;}
