﻿/* RESETS */
 html { height: 100%; }
 body { min-height:100.1%; margin:0px 0px 10px 0px; font:normal 62.5% Verdana,arial,helvetica,sans-Serif; background:url('../../images/PageMainBkg.jpg') #dfe3e8 repeat-y 50% 50%; color:#333; }
 ul { list-style:none; padding:0; margin:0;}
 input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
 a img { border:none;}
 form {padding:0px; margin:0px;}
/* END RESET */

p { margin:5px 0 0 0;}
ul.aboutList { list-style: circle; }
td {font-size:11px;}
a {font-size:11px; color:#003366; text-decoration:underline; cursor:pointer;}
em {font-size:10px;}
pre {padding:0px; margin:0px; white-space:pre-wrap!important;}
input { font-size:11px; background-color:#f5f5f5; }
select { font-size:11px; background-color:#f5f5f5; }
/*input[type="text"] { font-size:11px; background-color:#f5f5f5; }*/
input submit { background-color:#ffffff; font-size:11px; cursor:pointer; }
.option input {background-color:transparent;vertical-align:middle;}
input.long { width:500px!important; }
input.short { width:120px!important; }

.short { width:120px!important; }
.xshort { width:90px!important; }
.xxshort { width:70px!important; }

body.pdf { background-color: #ffffff; background-image: none!important; margin:0px 20px 0px 20px; orphans:50px }

.TreeViewRootNode { font-weight:Normal!important; text-decoration:underline!important; font-size:11px!important; }
.TreeViewParentNode {  font-weight:bold; color:#000000; font-size:10px; }
.TreeViewNode { font-weight: Bold; color: #515151; font-size: 10px; }
.TreeViewLeafNode { font-weight:Normal!important; color:#000000!important; }

.HeaderTd1 {height:19px; font-size:10px; color:White; padding-left:4px;}
.HeaderTd2 {height:19px; font-size:10px; color:White; padding-right:12px; text-align:right;}
.HeaderTd2 a {color:White; font-size:10px;}

.MenuTd {background-color:#E1E1E7; border-right:1px solid #B4B4B4; height:100%; vertical-align:text-top; padding-top:20px;}
.MenuHeading {font-size:12px;}
.MenuLinks {font-size:12px; text-decoration:underline;}

.PageHeading {font-size:11px; font-weight:bold; color:#2566AB;}
.PageSubHeading {font-size:11px; color:#000000;}

.SecHeading { font-size: 11px; font-weight: bold; color: #4B4B4B; text-transform: uppercase; }
.SecExpandTxt { font-size:11px; color:#000000; background-color:#f7f7f7; }
.SecExpandLink { font-size:11px; color:#000000; padding-top:5px; }
.SecExpandLink a { font-size:11px; color:#003366; text-decoration:underline; cursor:pointer; }

.FieldsTable th { text-align:left; font-size:11px; background-color:#e9e9e9; }
.FieldsTable td { vertical-align:text-top; }
.FieldSecHeading { font-weight: bold; color: #666666; padding-bottom:4px; }
.FieldsTable, .FieldsTable th, .FieldsTable td {border:1px solid #e0e0e0;}

.FormTable td { vertical-align:text-top; padding-right:14px; }

Table.FAQ { font-size:11px; }
Table.FAQ a { color:#003366; font-weight:normal; font-size:11px; text-decoration:underline; cursor:pointer; }
Table.FAQ .question { color:#003366; font-weight:bold; font-size:11px; }

#loginForm th { text-align:left; font-weight:normal; font-size:12px; width:120px; }
#loginForm input { text-align:left; font-size:11px; background-color:#ffffff; width:150px; }
#loginForm .submit { text-align:center; background-color:#ffffff; font-size:11px; width:110px; cursor:pointer; }
#loginForm .submit2 { text-align:center; background-color:#f5f5f5; font-size:11px; width:110px; cursor:pointer; }

.pageMenuOn { font-family:Aria; font-weight:bold; font-size:11px; color:#f5f5f5; background-color:#FF8000; padding-left:3px; padding-right:3px; margin:1px; border:1px solid #FF8000; cursor:pointer; }
.pageMenuOff { font-family:Aria; font-weight:bold; font-size:11px; color:#f5f5f5; background-color:#ffbf72; padding-left:3px; padding-right:3px; margin:1px; border:1px solid #FF8000; }

.AlertMsg { width:100%; background-color:#f5f5f5; border-top:1px solid silver; border-bottom:1px solid silver; color:gray; display:block; margin-top:18px;}
.AlertMsg img { margin:5px; }

a.asterisk{text-decoration:none;color:Red;}

#ctl00_TreeView1n0 img{ display:none; }
#ctl00_TreeView2n0 img{ display:none; }
#ctl00_TreeView3n0 img{ display:none; }
#ctl00_TreeView4n0 img{ display:none; }

textarea.sampleCode {border:0px none;background-color:#f7f7f7;font-family:Monospace;font-size:11px;width:700px;height:30px;overflow:auto;}

img.partnerLogo {display:block;margin:20px 0 5px;}

div.error { background-position: left center; color: #A80000; background-color: #f5f5f5; border: 1px solid silver; padding: 5px 5px 5px 30px; margin-top: 16px; margin-bottom: 16px; background-repeat: no-repeat; background-image: url('/NPCommon/images/alert_small.png'); } /*Language dependent*/

.centered {text-align:center;}

Table.TabControl SPAN.SelectedTab { background-color: #F8F8F8; height:25px; border:solid 1px black; padding-top:5px; padding-left:8px; padding-right:8px; cursor:pointer; border-bottom:solid 1px #F8F8F8; border-right:none; }
Table.TabControl SPAN.NonSelectedTab { background-color: white; height:25px; border:solid 1px black; padding-top:5px; padding-left:8px; padding-right:8px; cursor:pointer; border-right:none; }
Table.TabControl TR.TabItemRow TD.TabItemCell { padding:5px; background-color: #F8F8F8; border:solid 1px black; border-top:none; }
Table.TabControl TR.TabHeadRow TD.TabHeadSpace { border-bottom:solid 1px black; border-left:solid 1px black; text-align:right; padding:1px; }

.merchantIDlink {word-wrap:break-word; width: 700px;}

#attention-version {width:100%; background-color: #e9e9e9;height: 54px;margin-top: 12px; border: 1px solid #808080; padding: 5px;}
#attention-version h3 {margin: 0;}