﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ShowTotals.aspx.cs" Inherits="Netpay.PartnerControlPanel.ShowTotals" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Trans Total</title>
</head>
<body style="padding:10px; background-color:White!important; background-image:none!important;">
	<netpay:Totals runat="server" ID="Total1" />
	<br /><br />
   <table width="100%"  border="0" cellspacing="0" cellpadding="0">	
		<tr>
			<td align="left">
				<asp:Literal ID="litCloseWindow" runat="server" />
			</td>
		</tr>
	</table>
</body>
</html>
