﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Mobile.master.vb" Inherits="Netpay.MerchantControlPanel.Tmp_Jubba_Mobile" %>

<!DOCTYPE>
<html>
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="../Templates/Tmp_Jubba/Website/styles/mobile-Style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <script type="text/javascript" src="Plugins/jquery-ui-1.8.10.custom/js/jquery-1.4.4.min.js"></script>
    <netpay:ScriptManager ID="ScriptManager1" runat="server" EnableSessionAlerts="true" />
    <asp:ContentPlaceHolder ID="cphHead" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="cphTitle" runat="server" Visible="false"></asp:ContentPlaceHolder>
		<h1 runat="server" id="pageTitle"></h1>
		<asp:ContentPlaceHolder ID="cphBody" runat="server">
			<!--Here Comes Content-->
		</asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
