﻿body {
}
@import 'https://fonts.googleapis.com/css?family=Arimo';

body,html{direction: rtl;}
input[type=button],input[type=submit]{font-family: 'Arimo', sans-serif;}

#content .menu-back {padding-right: 10px; padding-left: 0; font-family: 'Arimo', sans-serif; float: right;}
#content .text-product {padding-left: 0; padding-right: 10px; font-family: 'Arimo', sans-serif; float: right;}
#content .summary-line {margin-left:0;margin-right: -7px; margin-top:24px}
#content .summary-text {padding-left: 0; padding-right: 20px; font-family: 'Arimo', sans-serif; font-size:18px}

.accordion{padding-left:0; padding-right:10px; }
.accordion .arrow-close{float:left;background:url('@{tempPath}arrow-close-rtl.png');left:17px; right: -17px;}
.accordion .arrow{float:left;left:17px; right: -17px;}
.accordion .text{float:right;font-family: 'Arimo', sans-serif;}
.content-section{font-family: 'Arimo', sans-serif;}
.content-section .table-section .tr-table .td-cell-text{padding-right: 0; padding-left: 10px;}
.error-notifaction{padding-right:30px;  padding-left: 0; background-position: right;}
.wrap-button{float:right;padding-left: 0; padding-right: 205px;}
.footer .card{float:left;}
.footer .copyright{float:right;}

div.LanguageDropdown {text-align:right; right: 1%;}
div.LanguageDropdown div {right:-15px; margin: 0 10px 0 0;padding:40px 0 5px}
div.LanguageDropdown a.SelectedText {background:url('@{tempPath}arrow-language.png') no-repeat left; margin:-5px -5px 0 0; padding: 11px 11px 0 0; width: 75px;}
.langSelector {padding: 0 10px 0 0;}

#wrap-review .wrap-billing{float:left;line-height:25px;width:32%; text-align: right;}

/* PaymentSolutions */
.PaymentSolutions-header {padding-left:0; padding-right:10px;}
.PaymentSolutions-header .arrow-close{float:left;background:url('@{tempPath}arrow-close-rtl.png'); left: 17px; right: -17px;}
.PaymentSolutions-header .arrow {float:left; left: 17px; right: -17px;}
.PaymentSolutions-header .text {float:right;font-family: 'Arimo', sans-serif;}
#Payment-solutions .tr-payment .td-payment-text {font-family: 'Arimo', sans-serif; padding-right: 8px; padding-left: 0;}

.line-hr {margin:10px 10px 10px 0 ;border: 0;}
.loader {font-family: 'Arimo', sans-serif;}

/* DropDown */
.month-select {vertical-align: middle;display: inline-block;width: 120px;height: 29px;overflow: hidden;background: url('@{tempPath}dp-arrow.png') no-repeat left #fff;border: 1px solid #ccc; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px;}
.year-select {vertical-align: middle;display: inline-block;width: 70px;height: 29px;overflow: hidden;background: url('@{tempPath}dp-arrow.png') no-repeat left #fff;border: 1px solid #ccc; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px;}
.country-select {vertical-align: middle;display: inline-block;width: 280px;height: 29px;overflow: hidden;background: url('@{tempPath}dp-arrow.png') no-repeat left #fff;border: 1px solid #ccc; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px;}
.state-select {vertical-align: middle;display: inline-block;width: 280px;height: 29px;overflow: hidden;background: url('@{tempPath}dp-arrow.png') no-repeat left #fff;border: 1px solid #ccc; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px;}

.wrap-button-charge {float: left;}
.edit-form {float: right;}
#wrap-agreement .agree-check {float: right; padding-top: 4px;}

#wrap-registration .registration-check{float:right;}
#wrap-registration .registration-text{float:right; padding-left: 0; padding-right: 10px;}

/* Wallet */
.wallet-user {float: right;}
.wallet-user-logout {float: left;}

.tick{bottom:0;background:url('@{tempPath}sprite.png') no-repeat -374px -59px;width:56px;height:56px;position:relative;float:left;margin:-10px}
.bank-country-select {background: url('@{tempPath}dp-arrow.png') no-repeat left #fff;}
.Selected-Bank {float: right;}

.success-notifaction {padding-right: 15px; padding-left: 0;}