﻿body {
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

*,form{margin:0; padding: 0;}
/* Fix IE 8 7 6 */
header, nav, section, article, aside, footer {display:block;}

ul {display:block;padding:0}
h2 {font-size: 19px; font-weight: lighter; color: @maincolor; padding: 10px 0 10px 0; font-family: 'Fjalla One', Arial, Helvetica Neue, sans-serif;}
body,html{background-color:#e9e9e9;height:100%;font-family:Arial}
input[type=button],input[type=submit]{background-color:@maincolor;border:0;cursor: pointer;color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-family:'Fjalla One' ,Arial, Helvetica Neue, sans-serif;font-size:16px;padding:5px 15px; text-transform: uppercase;}
input[type=text],input[type=password],input[type=email],select{border:1px solid #ccc;height:29px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:url('@{tempPath}input-background.png') repeat-x; font-size:13px;color:#545454;padding:0 10px}
input:focus{border:1px solid #91a244}
.spacer {clear:both}
.header-top{width:100%;height:34px;background-color:#fff;border-bottom:1px solid #c8c8c8}
#container{width:662px;height:100%;position:relative;clear:left;background-color:#fff;margin:0 auto}
.top-bar {background-color:#e9e9e9;}
.top-bar .secure-text{float:right;color:#545454;font-size:12px;font-weight:700;line-height:59px; background:url('@{tempPath}icon-secure.png') no-repeat left; padding-left: 19px;}
.top-bar .logo {float: left;background: url('@{tempPath}sprite.png') no-repeat scroll -18px -7px transparent;width: 198px;height: 60px;}
.wrap-content{padding:6px;}
#content{border:1px solid #ededed;background-color:#fafafa; height: 100%;}
#content .logo-merchant{height:80px;margin:20px 10px 10px}
#content .text-product {padding-left:10px;font-family:'Fjalla One' ,Arial, Helvetica Neue, sans-serif;color:#545454;font-size:18px; float: left;}
#content .menu-back {padding-right:10px;font-family:'Fjalla One' ,Arial, Helvetica Neue, sans-serif;color:@maincolor;font-size:14px; float: right; text-transform: uppercase; text-decoration: none; line-height: 23px;}
#content .menu-back a:link {padding-right:10px;font-family:'Fjalla One' ,Arial, Helvetica Neue, sans-serif;color:@maincolor;font-size:14px; float: right; text-transform: uppercase; text-decoration: none; line-height: 23px;}
#content .menu-back a:hover {color:@maincolor; text-decoration: underline;}
#content .menu-back a:active {color:@maincolor; text-decoration: none;}
#content .menu-back a:visited {color:@maincolor; text-decoration: none;}
#content .summary-text{padding-left:20px;line-height:46px;color:#fff;text-transform:uppercase;font-family:'Fjalla One' ,Arial, Helvetica Neue, sans-serif;font-size:18px}
#content .summary-line{background:url('@{tempPath}gradient.png') repeat-x;width:662px;height:47px;margin-left:-7px;margin-top:15px}
#corners {margin:0 -7px}
#corners .corner-right{float:right;background:url('@{tempPath}sprite.png') no-repeat -34px -80px;width:7px;height:6px}
#corners .corner-left{float:left;background:url('@{tempPath}sprite.png') no-repeat -25px -80px;width:7px;height:6px}
.wrap-accordion{padding-top:10px}
.accordion{min-height:50px;background-color:#e9e9e9;text-transform:uppercase;color:#545454;line-height:50px;padding-left:10px;border-bottom:1px solid #d8d8d8;border-top:1px solid #f5f5f5;display:block;margin:0}
.accordion .arrow-close{float:right;background:url('@{tempPath}arrow-close.png');width:8px;height:15px;top:19px;right:17px;position:relative}
.accordion .arrow{float:right;background:url('@{tempPath}arrow.png');width:15px;height:8px;top:22px;right:17px;position:relative}
.accordion .text{float:left;font-family:'Fjalla One' ,Arial, Helvetica Neue, sans-serif;font-size:18px}
.content-section{width:628px;background-color:#fff;font-family: Arial, Helvetica Neue, sans-serif; font-size: 13px; color:#545454;margin:2px 0 0;padding:10px;border-bottom: 1px solid #EDEDED;}
.content-section .table-section {display:table;line-height:45px;padding-bottom:15px}
.content-section .table-section .tr-table{display:table-row}
.content-section .table-section .tr-table img{vertical-align:middle;border:1px solid #c9c9c9;margin-left:5px}
.content-section .table-section .tr-table .td-cell-text{display:table-cell;padding-right:10px}
.content-section .table-section .tr-table .td-cell{display:table-cell}

.version {color: #9a9a9a; font-size: 10px;}
.notifaction {width:95%;height:40px;font-family:Arial;font-size:12px;text-transform:none;font-weight:700;line-height:41px;margin-bottom:20px;-webkit-border-radius:2px;-moz-border-radius:2px; border-radius:2px; display: block; padding-left: 30px;}
.error {background-color:#ffcece;border:1px solid #df8f8f;color: #545454 !important; background-image: url('@{tempPath}error-icon.png'); background-repeat: no-repeat;}
.success {background-color:#d5ffce;border:1px solid #9adf8f;color: #545454 !important; background-image: url('@{tempPath}thick-icon.png'); background-repeat: no-repeat;}
.info {background-color:#DBE3FF;border:1px solid #A2B4EE;color: #545454 !important; background-image: url('@{tempPath}thick-icon.png'); background-repeat: no-repeat;}

.field_40{width:40px}
.field_80{width:80px}
.field_385{width:385px}
.padding-top-10 {padding-top: 0;}
.imgCredit {width: 50px; height:30px; border: solid 1px #c9c9c9 !important;}
.wrap-button{float:left;padding-left:480px}
.tick{bottom:0;background:url('@{tempPath}sprite.png') no-repeat -316px -59px;width:56px;height:56px;position:relative;float:right;margin:-10px}
.footer{position:relative;clear:left;width:642px;margin:0 auto;padding:10px 0 20px}
.footer-shadow{background:url('@{tempPath}sprite.png') no-repeat -24px -130px;width:642px;height:25px;position:relative;clear:left;margin:0 auto}
.footer .card{float:right;background:url('@{tempPath}sprite.png') no-repeat -22px -94px;width:286px;height:24px}
.footer .copyright{float:left;color:#757575;font-size:12px;line-height:26px;font-weight:700}

div.LanguageDropdown {color:#545454;width:143px;position:relative;height:17px;text-align:left; left: 1%;}
div.LanguageDropdown div {background:#fff;position:absolute;top:-12px;left:-20px;z-index:100;width:135px;display:none;margin-left:10px;border-radius:6px;box-shadow:0 2px 8px rgba(0,0,0,0.45);padding:40px 0 5px}
div.LanguageDropdown div li a {color:#545454;display:block;font-family:arial;font-weight:700;cursor:pointer;text-decoration:none;padding:6px 15px; list-style-type: square;}
div.LanguageDropdown div li a:hover {background:@maincolor;color:#FFF;text-decoration:none}
div.LanguageDropdown a.SelectedText {font-size:11px;line-height:16px;color:#545454;position:absolute;z-index:110;display:block;height:28px;width:121px;text-decoration:none;background:url('@{tempPath}arrow-language.png') 116px 17px no-repeat;cursor:pointer;margin:-5px 0 0 -10px; padding: 11px 0 0 11px;}
.langSelector {cursor:pointer; border:0 solid #000000; font-size:12px; width:92%; padding-left: 10px; height:30px; text-transform:capitalize; list-style-type: none; line-height: 30px; background-color:#ffffff;}

/* PaymentSolutions */
.PaymentSolutions-header{min-height:50px;background-color:#e9e9e9;text-transform:uppercase;color:#545454;line-height:50px;padding-left:10px;border-bottom:1px solid #d8d8d8;border-top:1px solid #d8d8d8;display:block;margin:0; margin: 10px 0;}
.PaymentSolutions-header .arrow-close{float:right;background:url('@{tempPath}arrow-close.png');width:8px;height:15px;top:22px;right:17px;position:relative}
.PaymentSolutions-header .arrow{float:right;background:url('@{tempPath}arrow.png');width:15px;height:8px;top:22px;right:17px;position:relative}
.PaymentSolutions-header .text{float:left;font-family:'Fjalla One' ,Arial, Helvetica Neue, sans-serif;font-size:18px}

#Payment-solutions {display: table; padding: 8px;}
#Payment-solutions .tr-payment {display: table-row; cursor: pointer;}
#Payment-solutions .tr-payment .td-payment {display: table-cell; width: 132px; height: 98px; background-color: #f4f4f4; text-align: center; vertical-align: middle;}
#Payment-solutions .tr-payment .td-payment .frame-image {width: 121px; height: 88px; background-color: #fdfdfd; border: 1px solid #e8e8e8;margin: 4px auto; text-align: center;}
#Payment-solutions .tr-payment .td-payment .frame-image img {vertical-align: middle; margin: 3px;}
#Payment-solutions .tr-payment .td-payment-text {display: table-cell; vertical-align: top; padding-left: 8px;margin-top: 3px;}
#Payment-solutions .tr-payment .td-payment-text h3 {color: #868484; font-family: 'Fjalla One' ,Arial, Helvetica Neue, sans-serif; font-size: 18px; text-transform: uppercase; font-weight: lighter;}
#Payment-solutions .tr-payment .td-payment-text p {color: #545454; font-family: Arial, Helvetica Neue, sans-serif; font-size: 13px;}

.line-hr {background:url('@{tempPath}line.png') repeat-x;width:614px;height:2px;margin:10px 0 10px 10px;border: 0;}
.loader {text-align: center; font-family:'Fjalla One' ,Arial, Helvetica Neue, sans-serif; text-transform: uppercase; padding:10px;}
.loader .loader-text {padding: 10px; font-size: 19px; color: #484848;}


/* PaymentConfirm */

div.terms{background:none repeat scroll 0 0 #F2F2F2;border:1px solid #CCC;height:250px;overflow:auto;padding:6px; font: arial;}
div.terms p,div.terms li{color:#333;font:11px/15px arial}
div.terms h3{color:#000;font:bold 14px/19px arial}
div.terms h4{color:#000;font:bold 12px/17px arial}
div.terms strong{color:#000}
.wrap-terms{border-top:1px dashed #A6A6A6;padding-top:20px;width:614px}

#wrap-agreement{font-family:Arial;font-size:12px; padding-top:10px}
#wrap-agreement .agree-check{float:left;text-align:center;line-height: 25px}
#wrap-agreement .agree-text {float: right; line-height: 20px; padding: 0 50px 5px 0; width: 551px; border-bottom: 1px solid #eee; margin-bottom: 5px;}

#wrap-registration {font-family:Arial;font-size:12px;}
#wrap-registration .registration-check {float:left; text-align:center; line-height: 25px;}
#wrap-registration .registration-text {float: right; line-height: 20px; padding: 0 50px 0 0; width: 551px;}

.edit-form{float:left;padding:10px 0;line-height: 35px;font-weight: 700;}
.edit-form a:hover{color:@maincolor;text-decoration:underline}
.wrap-button-charge{float:right;text-transform:uppercase;padding:10px}
.edit-form a:link,.edit-form a:active,.edit-form a:visited{color:@maincolor;text-decoration:none}

/* PaymentMsg*/

.wrap-payment-msg {padding: 20px; line-height: 30px;}
.check-detalis {font-family:'Fjalla One' ,Arial, Helvetica Neue, sans-serif; text-transform: uppercase; margin: 10px 0 10px 0; }
.check-detalis  a:hover {color: @maincolor;text-decoration:underline}
.check-detalis  a:link,.check-detalis  a:active,.check-detalis a:visited{color:@maincolor;text-decoration:none}
.MsgMerchant {font-size:13px; font-weight:lighter; color: #484848;  padding: 5px 0 5px 0; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc;}
#dvBankCountryFixed {padding: 4px 0 4px 0;}

/* Steps */
#step {display: block; text-align: center;}
#step img{padding:30px 45px 20px}
#step .step-01-off {background: url('@{tempPath}step-1-off.png') no-repeat; width: 41px; height: 41px; display: inline-block; margin: 10px 25px 10px 25px;}
#step .step-02-off {background: url('@{tempPath}step-2-off.png') no-repeat; width: 41px; height: 41px; display: inline-block; margin: 10px 25px 10px 25px;}
#step .step-03-off {background: url('@{tempPath}step-3-off.png') no-repeat; width: 41px; height: 41px; display: inline-block; margin: 10px 25px 10px 25px;}
#step .step-04-off {background: url('@{tempPath}step-4-off.png') no-repeat; width: 41px; height: 41px; display: inline-block; margin: 10px 25px 10px 25px;}
#step .step-01-on {background: url('@{tempPath}step-1.png') no-repeat; width: 41px; height: 41px; display: inline-block; margin: 10px 25px 10px 25px;}
#step .step-02-on {background: url('@{tempPath}step-2.png') no-repeat; width: 41px; height: 41px; display: inline-block; margin: 10px 25px 10px 25px;}
#step .step-03-on {background: url('@{tempPath}step-3.png') no-repeat; width: 41px; height: 41px; display: inline-block; margin: 10px 25px 10px 25px;}
#step .step-04-on {background: url('@{tempPath}step-4.png') no-repeat; width: 41px; height: 41px; display: inline-block; margin: 10px 25px 10px 25px;}

.month-select select {background: transparent;width: 150px;padding: 6px;font-size: 13px; line-height: 1; border: 0; border-radius: 0; height: 29px;-webkit-appearance: none;}
.month-select {vertical-align: middle;display: inline-block;width: 120px;height: 29px;overflow: hidden;background: url('@{tempPath}dp-arrow.png') no-repeat right #fff;border: 1px solid #ccc; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px; line-height: 29px;}

.year-select select {background: transparent;width: 100px;padding: 6px;font-size: 13px; line-height: 1; border: 0; border-radius: 0; height: 29px;-webkit-appearance: none;}
.year-select {vertical-align: middle;display: inline-block;width: 70px;height: 29px;overflow: hidden;background: url('@{tempPath}dp-arrow.png') no-repeat right #fff;border: 1px solid #ccc; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px; line-height: 29px;}

.state-select select {background: transparent;width: 435px;padding: 6px;font-size: 13px; line-height: 1; border: 0; border-radius: 0; height: 29px;-webkit-appearance: none;}
.state-select {vertical-align: middle;display: inline-block;width: 405px;height: 29px;overflow: hidden;background: url('@{tempPath}dp-arrow.png') no-repeat right #fff;border: 1px solid #ccc; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px; line-height: 29px;}

.country-select select {background: transparent;width: 435px;padding: 6px;font-size: 13px; line-height: 1; border: 0; border-radius: 0; height: 29px;-webkit-appearance: none;}
.country-select {vertical-align: middle;display: inline-block;width: 405px;height: 29px;overflow: hidden;background: url('@{tempPath}dp-arrow.png') no-repeat right #fff;border: 1px solid #ccc; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px; line-height: 29px;}

.bank-country-select select {background: transparent;width: 435px;padding: 6px;font-size: 13px; line-height: 1; border: 0; border-radius: 0; height: 29px;-webkit-appearance: none;}
.bank-country-select {vertical-align: middle;display: inline-block;width: 405px;height: 29px;overflow: hidden;background: url('@{tempPath}dp-arrow.png') no-repeat right #fff;border: 1px solid #ccc; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px; line-height: 29px;}

.ImageRadioList {text-align: center;}
.account-detalis {border-top: 1px dashed #ccc; font-size: 19px; font-weight: lighter; color: @maincolor; margin-top: 15px; font-family: 'Fjalla One'}


/* Push Transfer info */
#wrap-review {padding-bottom: 20px;}
#wrap-review .wrap-billing{float:left;line-height:25px;width:32%; font-family: Arial; font-size: 13px;}
#wrap-review .wrap-personalinfo{float:left;line-height:25px;width:32%; font-family: Arial; font-size: 13px;}
#wrap-review .wrap-creditCard{float:right;line-height:25px;padding-bottom:40px;width:32%; font-family: Arial; font-size: 13px;}
#wrap-review .wrap-transfer {float:left;line-height:25px;width:39%}
#wrap-review .wrap-bankinfo {float:left;line-height:25px;width:30%}
#wrap-review .wrap-to {float:right;line-height:25px;padding-bottom:40px;width:30%}
.link-form {padding:10px 0;}
.link-form a:hover {color:@maincolor;text-decoration:underline;}
.link-form a:link,.link-form a:active,.link-form a:visited {color:@maincolor;text-decoration:none; text-transform: uppercase;}

/* Customer-login Wallet */ 

.required-wallet {font-size: 12px; font-family: Arial;}
.wallet-user {float: left; padding: 10px 10px 10px 0;}
.wallet-user-logout {float: right;padding: 10px 0;}
.wallet-user-logout a:hover {color:@maincolor;text-decoration:underline;}
.wallet-user-logout a:link,.wallet-user-logout a:active,.wallet-user-logout a:visited{color: @maincolor;text-decoration:none; text-transform: uppercase;}
.wrap-selectcard {border-top: 1px dashed #ccc; margin-top: 9px;}
.rptCard {line-height: 45px;}
.wrap-button-pay {border-top: 1px dashed #ccc; padding-top: 9px; margin-top: 15px;}
.box-account {border: 1px dashed #8d8d8d; background-color:#e9e9e9; width: 160px; display: block; text-align: center; text-transform: uppercase;}
.title-bankname {font-size: 19px; font-weight: lighter; color: @maincolor; display: block; text-transform: uppercase;}
.SolutionDisabled {font-size:13px; font-weight:lighter; color: #545454;  padding: 20px; display: block; border-top: 1px dashed #ccc; margin-top: 20px;}

.button-bank {-moz-box-shadow:inset 0 1px 0 0 #cae3fc;-webkit-box-shadow:inset 0 1px 0 0 #cae3fc;box-shadow:inset 0 1px 0 0 #cae3fc;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');background-color:#79bbff;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;text-indent:0;border:1px solid #469df5;display:inline-block;color:#ffffff;font-family:Arial;font-size:15px;font-weight:bold;font-style:normal;height:28px;line-height:28px;min-width:151px; padding: 0 5px 0 5px; text-decoration:none;text-align:center;text-shadow:1px 1px 0 #287ace; margin: 7px 0 0 5px;}
.button-bank:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');background-color:#4197ee;}
.button-bank:active {position:relative;top:1px;}

/* Shipping Adress*/

.ShippingAddress {background: #f8f8f8; padding: 10px; border: 1px solid #eee; margin-bottom: 10px;}
.ShippingAddress span {padding-left: 5px;}
.ShippingAddress input[type="checkbox"] {position: relative; top: 2px;}


/* InstantDebitForm */
.BankCountryFlag {border: 1px solid #c9c9c9 !important;}
.IpCountry {border: 1px solid #c9c9c9; margin: 0 15px 0 15px;}
.SelectedMethod {border: 1px solid #c9c9c9 !important;}
.wrapSelectMethod {padding: 4px 0 4px 0}
.Selected-Bank {float: left;}
.wrap-title-bank{border-top: 1px dashed #ccc; margin-top: 20px;}

.MerchantBottomText {font-size: 12px; padding: 7px; color: #868484;}
.MerchantTopText {font-size: 12px; padding: 0 7px; color: #868484;}

#lbRecurringText ul {margin: 0 20px; padding: 0; font-size: 12px; color: #545454; line-height: 24px;}
#lbRecurringText li {list-style-type: square;}

#btnFinish {background-color: @maincolor; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}
#btnFinish a:link {background-color: @maincolor; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}
#btnFinish a:hover {background-color: @maincolor; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: underline}
#btnFinish a:active {background-color: @maincolor; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}
#btnFinish a:visited {background-color: @maincolor; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}


.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {width: 50%; height: 10%; padding: 0;}
.percent100 {
  width: 100%;
}

.input-group-addon {padding: 3px 12px; font-size: 11px;}
.form-control {font-size: 12px;height: 22px;padding: 2px 8px;}