﻿body { direction:ltr; }
.reverse { text-align:right; }

Table.FormView Th, Table.Form TH { text-align:left!important; }

Div.langSelector { text-align:left!important; }

.ValidSummery { padding-left:34px!important; background-position:left!important; }