﻿@charset 'utf-8';
html,form,body {margin: 0px; padding:0px;}
body {font-family: 'Open Sans', Arial, sans-serif;color: rgb(51, 51, 51);}
body > h2 {margin: 30px 0 15px; text-shadow: 1px 1px 0 white; border-bottom: 2px solid #333; padding-bottom: 5px;}
h1 {color: white;margin: 0px;padding-top: 20px;}
h3 {margin: 0;padding: 0px;}
strong + p {margin-top: 0;}
dt {font-weight: bold;}
dd {margin: 0;}
figure {display: block;width: 100%;height: 100%;margin: 0;}
td {vertical-align: top;padding-right: 14px;}

input[type='text'], input[type='password'] {
    padding: 5px;
    font-size: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
    background: #d8d8d8;
    background: -webkit-gradient(linear, left top, left bottombottom, from(#d8d8d8), to(#ffffff));
    background: -moz-linear-gradient(top, #d8d8d8, #ffffff);
    background: -webkit-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=1 );
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
}

#upload-file-container   
{
    padding: 3px;
    font-size: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
    background: #d8d8d8;
    background: -webkit-gradient(linear, left top, left bottombottom, from(#d8d8d8), to(#ffffff));
    background: -moz-linear-gradient(top, #d8d8d8, #ffffff);
    background: -webkit-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=1 );
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
  }
    
    
input:focus {-webkit-box-shadow: 0px 0px 5px #007eff;-moz-box-shadow: 0px 0px 5px #007eff;box-shadow: 0px 0px 5px #007eff;}

textarea {
    padding: 5px;
    font-size: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
    background: #d8d8d8;
    background: -webkit-gradient(linear, left top, left bottombottom, from(#d8d8d8), to(#ffffff));
    background: -moz-linear-gradient(top, #d8d8d8, #ffffff);
    background: -webkit-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=1 );
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
}

textarea:focus {-webkit-box-shadow: 0px 0px 5px #006cda;-moz-box-shadow: 0px 0px 5px #006cda;box-shadow: 0px 0px 5px #006cda;}

select {
    padding: 5px;
    font-size: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
    background: #d8d8d8;
    background: -webkit-gradient(linear, left top, left bottombottom, from(#d8d8d8), to(#ffffff));
    background: -moz-linear-gradient(top, #d8d8d8, #ffffff);
    background: -webkit-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    background: linear-gradient(top, #d8d8d8 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=1 );
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
}

select:focus {-webkit-box-shadow: 0px 0px 5px #006cda;-moz-box-shadow: 0px 0px 5px #006cda;box-shadow: 0px 0px 5px #006cda;}
.liteAccordion {text-align: left;font-size: 16px;line-height: 24px; font: 'Helvetica Neue', Verdana, Arial, sans-serif;-webkit-backface-visibility: hidden;-webkit-perspective: 1000;-webkit-tap-highlight-color: transparent;}

    .liteAccordion, .liteAccordion * {
        box-sizing: content-box;
    }

        .liteAccordion > ol {
            position: relative;
            overflow: hidden;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

            .liteAccordion > ol > li {
                list-style-type: none;
            }

        .liteAccordion .slide > h2 {
            color: black;
            font-size: 16px;
            font-weight: normal;
            margin: 0;
            z-index: 100;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden; /* fixes chrome bug */
            -webkit-transform: translateX(-100%) rotate(-90deg);
            -webkit-transform-origin: right top;
            -moz-transform: translateX(-100%) rotate(-90deg);
            -moz-transform-origin: right top;
            -o-transform: translateX(-100%) rotate(-90deg);
            -o-transform-origin: right top;
            transform: translateX(-100%) rotate(-90deg);
            transform-origin: right top;
        }

            .liteAccordion .slide > h2 span {
                display: block;
                padding-right: 8%;
                text-align: right;
                height: 90%;
                margin-top: 5px;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .liteAccordion .slide > h2 b {
                display: inline-block;
                position: absolute;
                top: 13%;
                left: 10%;
                text-align: center;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }

            .liteAccordion .slide > h2:hover {
                cursor: pointer;
            }

        .liteAccordion .slide > div {
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 10;
            overflow: hidden;
            background: white;
        }

        .liteAccordion .ap-caption {
            padding: 10px 15px;
            position: absolute;
            bottom: 20px;
            right: 30px;
            z-index: 3;
            background: black;
            background: rgba(0,0,0,0.7);
            color: white;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
			cursor:pointer;
			
        }

        .liteAccordion noscript p {
            padding: 10px;
            margin: 0;
            background: white;
        }

        /****************************************** Basic */
        .liteAccordion.basic .slide > h2 {
            background: #333;
            color: white;
            line-height: 225%;
        }

        /****************************************** Dark */
        .liteAccordion.dark {
            border: 9px solid #353535;
            border-bottom-width: 8px;
            padding: 5px 5px 6px 0;
            background: #030303;
            -webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
            -ms-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
            -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
            box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
        }

            .liteAccordion.dark .slide > h2 {
                background: #030303;
                text-shadow: 0 -1px 0 #030303;
                line-height: 265%;
            }

                .liteAccordion.dark .slide > h2 span {
                    background: #353535;
                    color: white;
                }

                .liteAccordion.dark .slide > h2 b {
                    background: #353535;
                    color: #030303;
                    text-shadow: -1px 1px 0 #5b5b5b;
                }

                .liteAccordion.dark .slide > h2.selected span, .liteAccordion.dark .slide > h2.selected span:hover {
                    background: #353535;
                    background: -moz-linear-gradient(left, #353535 0%, #555555 100%);
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#353535), color-stop(100%,#555555));
                    background: -webkit-linear-gradient(left, #353535 0%,#555555 100%);
                    background: -o-linear-gradient(left, #353535 0%,#555555 100%);
                    background: -ms-linear-gradient(left, #353535 0%,#555555 100%);
                    background: linear-gradient(left, #353535 0%,#555555 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#555555',GradientType=1 );
                }

                .liteAccordion.dark .slide > h2.selected b {
                    background: #383838;
                    background: -moz-linear-gradient(top, #3a3a3a 0%, #363636 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(100%,#363636));
                    background: -webkit-linear-gradient(top, #3a3a3a 0%,#363636 100%);
                    background: -o-linear-gradient(top, #3a3a3a 0%,#363636 100%);
                    background: -ms-linear-gradient(top, #3a3a3a 0%,#363636 100%);
                    background: linear-gradient(top, #3a3a3a 0%,#363636 100%);
                }

            .liteAccordion.dark .slide > div {
                background: #030303;
                margin-left: 5px;
            }

        /***************************************** Light */
        .liteAccordion.light {
            border: 9px solid white;
            border-bottom-width: 8px;
            padding: 5px 5px 6px 0;
            background: #a0a0a0;
            -webkit-box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
            -ms-box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
            -o-box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
            box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
        }

            .liteAccordion.light .slide > h2 {
                background: #a0a0a0;
                text-shadow: 0 -1px 0 white;
                line-height: 265%;
            }

                .liteAccordion.light .slide > h2 span {
                    background: #fcfcfc;
                    background: -moz-linear-gradient(left, #fcfcfc 0%, #ededed 100%);
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fcfcfc), color-stop(100%,#ededed));
                    background: -webkit-linear-gradient(left, #fcfcfc 0%,#ededed 100%);
                    background: -o-linear-gradient(left, #fcfcfc 0%,#ededed 100%);
                    background: -ms-linear-gradient(left, #fcfcfc 0%,#ededed 100%);
                    background: linear-gradient(left, #fcfcfc 0%,#ededed 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=1 );
                    -webkit-box-shadow: -1px -1px 0 #909090 inset, 1px 1px 0 #909090 inset;
                    -moz-box-shadow: -1px -1px 0 #909090 inset, 1px 1px 0 #909090 inset;
                    -o-box-shadow: -1px -1px 0 #909090 inset, 1px 1px 0 #909090 inset;
                    box-shadow: -1px -1px 0 #909090 inset, 1px 1px 0 #909090 inset;
                    color: #909090;
                }

                .liteAccordion.light .slide > h2 b {
                    background: #ffffff;
                    color: #909090;
                    text-shadow: -1px 1px 0 white;
                }

                .liteAccordion.light .slide > h2.selected span, .liteAccordion.light .slide h2.selected span:hover, .liteAccordion.light .slide > h2.selected b {
                    background: #ffffff;
                }

            .liteAccordion.light .slide > div {
                background: #a0a0a0;
                margin-left: 5px;
            }

        /**************************************** Stitch */
        .liteAccordion.stitch {
            position: relative;
            padding: 5px 0 5px 5px;
            border: 11px solid #353535;
            background: #353535;
            
        }

            .liteAccordion.stitch:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: -9px;
                left: -9px;
                background: #353535;
                border: 9px solid transparent;
                -webkit-border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                -moz-border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                -o-border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
            }

            .liteAccordion.stitch .slide > h2 {
                background: #353535;
            }

                .liteAccordion.stitch .slide > h2 span {
                    height: auto;
                    padding-right: 5%;
                    color: white;
                    text-shadow: -1px 1px 0 #5b5b5b;
                    border: 9px solid transparent;
                    background-image: url('bg_noise.png');
                    margin-top: 0;
                    -webkit-border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                    -moz-border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                    -o-border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                    border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                }

                .liteAccordion.stitch .slide > h2.selected:after {
                    content: '';
                    display: block;
                    height: 11px;
                    width: 11px;
                    position: absolute;
                    bottom: -3px;
                    right: 38px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
                    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
                    border: 9px solid transparent;
                    border-top: 0;
                    border-left: 0;
                    -webkit-border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                    -moz-border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                    -o-border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                    border-image: url('../../images/QrWizard/bg_stitch.png') 9 repeat;
                    background-image: url('../../images/QrWizard/bg_noise.png');
                }

            .liteAccordion.stitch .slide:nth-child(1) > h2 span, .liteAccordion.stitch .slide:nth-child(1) > h2:after {
                background-color: #727272;
            }

            .liteAccordion.stitch .slide:nth-child(2) > h2 span, .liteAccordion.stitch .slide:nth-child(2) > h2:after {
                background-color: #727272;
            }

            .liteAccordion.stitch .slide:nth-child(3) > h2 span, .liteAccordion.stitch .slide:nth-child(3) > h2:after {
                background-color: #727272;
            }

            .liteAccordion.stitch .slide:nth-child(4) > h2 span, .liteAccordion.stitch .slide:nth-child(4) > h2:after {
                background-color: #727272;
            }

            .liteAccordion.stitch .slide:nth-child(5) > h2 span, .liteAccordion.stitch .slide:nth-child(5) > h2:after {
                background-color: #727272;
            }

            .liteAccordion.stitch .slide > h2 b {
                top: 19%;
                color: white;
                text-shadow: 1px 1px 0 #5b5b5b;
            }

            .liteAccordion.stitch .slide > div {
                margin-right: 6px;
            }

            .liteAccordion.stitch.rounded > ol {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                border-radius: 0;
            }

        /*************************************** Rounded */
        .liteAccordion.rounded, .rounded > ol {
          
        }

            .liteAccordion.rounded .slide > h2 span {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                border-radius: 4px;
            }

        /******************************************** IE */
        /* stitch */
        .liteAccordion.ie.stitch .slide > h2 { /*line-height: 265%*/
        }

            .liteAccordion.ie.stitch .slide > h2 span { /*height: 89%; padding-right: 8%*/
            }

            .liteAccordion.ie.stitch .slide > h2.selected:after {
                display: none;
            }

        .liteAccordion.ie.stitch .slide-0 > h2 span {
            background-color: #727272;
        }

        .liteAccordion.ie.stitch .slide-1 > h2 span {
            background-color: #727272;
        }

        .liteAccordion.ie.stitch .slide-2 > h2 span {
            background-color: #727272;
        }

        .liteAccordion.ie.stitch .slide-3 > h2 span {
            background-color: #727272;
        }

        .liteAccordion.ie.stitch .slide-4 > h2 span {
            background-color: #727272;
        }

        .liteAccordion.ie.stitch .slide-5 > h2 span {
            background-color: #727272;
        }

        .liteAccordion.ie.stitch .slide-6 > h2 span {
            background-color: #a10c02;
        }

        .liteAccordion.ie.stitch .slide-7 > h2 span {
            background-color: #96ba5f;
        }

        .liteAccordion.ie.stitch .slide-8 > h2 span {
            background-color: #59abb7;
        }

        .liteAccordion.ie.stitch .slide-9 > h2 span {
            background-color: #bb6098;
        }

        /* transforms */
        .liteAccordion.ie .slide > h2,
        .liteAccordion.ie .slide > h2 span,
        .liteAccordion.ie .slide > h2 b {
            filter: none;
            -ms-filter: none;
            -ms-transform: none;
        }

        .liteAccordion.ie7 .slide > h2 {
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }

            .liteAccordion.ie7 .slide > h2 b {
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
            }

        .liteAccordion.ie8 .slide > h2 {
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
        }

            .liteAccordion.ie8 .slide > h2 b {
                -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
            }

        .liteAccordion.ie9 .slide > h2 {
            -ms-transform: translateX(-100%) rotate(-90deg);
            -ms-transform-origin: right top;
        }

            .liteAccordion.ie9 .slide > h2 b {
                -ms-transform: rotate(90deg);
            }

        /* misc */
        .liteAccordion.ie7 .slide > h2 b, .liteAccordion.ie8 .slide > h2 b {
            top: 44%;
            left: 5%;
        }

        .liteAccordion.ie7.stitch .slide > h2 b, .liteAccordion.ie8.stitch .slide > h2 b {
            top: 36%;
        }

        .liteAccordion.ie9.stitch {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
        }

.slide-one-wrap {background: url('../../images/QrWizard/empty.jpg') no-repeat; width: 536px; height: 340px;}
.slide-one-wrap .spacing {padding: 15px;}
.slide-one-wrap .spacing .slide-one-form {color: white; padding-top: 20px; line-height: 30px;}
.slide-one-wrap .spacing .slide-one-form .copy-qr {float: left;}

.slide-one-wrap .spacing .slide-one-form .copy-qr .copytext {width: 200px; font-style: italic; color: #a0a0a0; font-size: 12px;}

.slide-one-wrap .spacing .slide-one-form .copy-qr .clipboard {font-size: 12px;}
.slide-one-wrap .spacing .slide-one-form .copy-qr .clipboard img {font-size: 12px; vertical-align: middle;}

.slide-one-wrap .spacing .slide-one-form .copy-qr .clipboard a:link {text-decoration: none; color: white;}
.slide-one-wrap .spacing .slide-one-form .copy-qr .clipboard a:visited {text-decoration: none; color: white;}
.slide-one-wrap .spacing .slide-one-form .copy-qr .clipboard a:active {text-decoration: none; color: white;}
.slide-one-wrap .spacing .slide-one-form .copy-qr .clipboard a:hover {text-decoration: underline; color: white;}


.slide-one-wrap .spacing .slide-one-form .qr-code {float: right; position: relative; bottom: 20px; right: 10px;}

.slide-one-wrap .spacing .slide-one-form .qr-code .wrap-qrcode {border-radius: 6px; background-color: #fff; width: 170px; height: 170px; padding: 10px;}

.slide-one-wrap .spacing .slide-one-form .qr-code .sqr{text-align: center; padding-top: 10px;}

.slide-one-wrap .spacing .slide-one-form .qr-code .sqr a:link {text-decoration: none; color: white;}
.slide-one-wrap .spacing .slide-one-form .qr-code .sqr a:active {text-decoration: none; color: white;}
.slide-one-wrap .spacing .slide-one-form .qr-code .sqr a:visited {text-decoration: none; color: white;}
.slide-one-wrap .spacing .slide-one-form .qr-code .sqr a:hover {text-decoration: underline; color: white;}


    /* Forms Size */
.field_75 {width: 75px;}
.field_105 {width: 105px;}
.field_115 {width: 115px;}
.field_230 {width: 230px;}
.field-text_230{width: 230px; height: 46px;}


    /*Frame 5 */
   #frame-five {background: url('../../images/QrWizard/Frame-5.png'); width: 760px; height: 371px;}
   #frame-five a:link{color: #fff;text-decoration: none;}
   #frame-five a:active{color: #fff; text-decoration: none;}
   #frame-five a:hover{color: #fff; text-decoration: underline;}
   #frame-five a:visited{color: #fff; text-decoration: none;}
   #frame-five .frame-five-left {float: left; padding: 20px 20px 20px 40px;}
   #frame-five .frame-five-left .copylink{font-size: 22px; font-weight: bold; color: #fff; padding-top: 20px; padding-bottom: 10px;}
   #frame-five .frame-five-left .link-input {width: 300px; font-style: italic; color: #9e9e9e;}
   #frame-five .frame-five-left .clipboard {color: #fff; font-size: 13px; padding-top: 10px;}
   #frame-five .frame-five-left .clipboard img{vertical-align: middle; border: 0px;}
   
   
   #frame-five .frame-five-right {float: right; padding: 40px 80px 20px 20px;}
   #frame-five .frame-five-right .qrcode {border-radius: 6px 6px 6px 6px; background-color: rgb(255, 255, 255);width: 170px; height: 170px; padding: 10px;}
   #frame-five .frame-five-right .sqr-download {font-size: 19px; font-weight: bold; color: #fff; padding-top: 10px; padding-left: 15px; padding-bottom: 10px;}
   #frame-five .frame-five-right .create-sqr  {background-color: #000; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #fff; padding: 10px 17px; width: 110px; text-align: center; margin-left: 23px;}