﻿body {
}

@default-color: #ac2925;
@btn-primary-background: #d9534f;
@btn-primary-border: #d43f3a;
@btn-primary-hover-background: #d2322d;
@btn-primary-hover-border: #ac2925;
@tempPath:  '../../Templates/Tmp_MahalaUS/';
@rootPath:  '../../Website/images/';
@import url('../../../../Website/style/login.less');
