﻿body {
}

@maincolor: #ca1a01;
@menutextcolor: #ff6b71;
@tempPath:  '../../Templates/Tmp_MahalaUS/';
@rootPath:  '../../Website/images/';
@import url('../../../../Website/Style/Style.less');

#Notifications {color: #6b6b6b; font-size: 12px; font-family: Arial; text-align: right; direction: rtl; }
.main .top-nav-main {width: 760px; min-height: 369px;}
.header {background: url(../../images/mahala-top.png); background-repeat: repeat-x; height: 83px;}
.header .header-Text {float: right; top: 40px; right: 20px;  position: relative; color: #fff; font-family: 'Open Sans', Arial, sans-serif; font-size: 20px;}

.pager {-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;box-shadow:inset 0px 1px 0px 0px #f5978e;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');background-color:#f24537;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;text-indent:1px;border:1px solid #d02718;display:inline-block;  color:#ffffff;font-family: Arial, Helvetica Neue, sans-serif;font-size:15px;margin: 3px; font-weight: bold;font-style:normal;height:32px; min-width:32px; line-height:32px;text-decoration:none;text-align:center;text-shadow:1px 1px 0px #810e05;}
.pager:hover {background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );background: -moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');background-color: #c62d1f;}

.selected {-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;box-shadow:inset 0px 1px 0px 0px #ffffff;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');background-color:#ededed;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;text-indent:0;border:1px solid #dcdcdc;display:inline-block;color:#777777;font-family:Arial; font-size:15px;font-weight:bold;font-style:normal;height:32px;min-width: 32px;line-height:32px;text-decoration:none;text-align:center;text-shadow:1px 1px 0px #ffffff;}
.selected:hover {background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');background-color: #dfdfdf;}

.button {-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;box-shadow:inset 0px 1px 0px 0px #f5978e;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');background-color:#f24537;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;text-indent:1px;border:1px solid #d02718;display:inline-block;color:#ffffff;font-family: 'Open Sans', Arial, sans-serif;font-size:15px;font-weight: normal;font-style:normal;height:32px;line-height:32px;width:155px;text-decoration:none;text-align:center;text-shadow:1px 1px 0px #810e05;}
.button:hover {background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );background: -moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');background-color: #c62d1f;}
