﻿body {}

@maincolor: #990766;
@import "../../theme.less";

.button-bank {-moz-box-shadow:inset 0px 1px 0px 0px #e184f3;-webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;box-shadow:inset 0px 1px 0px 0px #e184f3;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd ) );background:-moz-linear-gradient( center top, #c123de  5%, #a20dbd  100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');background-color:#c123de;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;text-indent:0;border:1px solid #a511c0;display:inline-block;color:#ffffff;font-family:Arial;font-size:15px;font-weight:bold;font-style:normal;height:28px;line-height:28px;min-width:151px; padding: 0 5px 0 5px; text-decoration:none;text-align:center;text-shadow:1px 1px 0px #9b14b3; margin: 7px 0 0 5px;}
.button-bank:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de) );background:-moz-linear-gradient( center top, #a20dbd  5%, #c123de 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');background-color:#a20dbd;}
