﻿<%@ Page Language="VB" %>

<%@ import namespace="System.Collections.Generic" %>
<script runat="server">
    Sub Page_Load(ByVal sender As Object, ByVal e As System.EventArgs)
        If Not IsNumeric("" & Request("id")) Or Not IsNumeric(Request("hlight")) Then Exit Sub
        dbPages.ExecSql("Update tblErrorNet Set IsHighlighted=" & Request("hlight") & " Where ID IN(Select ID From fnGetErrorsInSameGroup(" + Request.QueryString("id") + "))")
        Response.Write("Default.aspx")
    End Sub
</script>

