﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="Hosted.Master" CodeBehind="HostWindow.aspx.cs" Inherits="Netpay.PaymentPage.Hosted.HostWindow" %>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
    <br /><br />
    <h2><asp:Literal runat="server" Text="<%$ Resources: Main, PayInNewWindow %>" /></h2>
</asp:Content>