﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="HostFrames.aspx.cs" Inherits="Netpay.PaymentPage.Hosted.HostFrames" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <frameset rows="120, *" border="0">
        <frame src="<%=TopContentUrl %>" scrolling="no" style="border-bottom:1px solid #f7f7f7;"></frame>
        <frame src="<%=Request["content"]%>" style="border-top:1px solid #808080;"></frame>
    </frameset>
</head>
<body></body>
</html>
