﻿<%@ Page Language="C#" AutoEventWireup="True" MasterPageFile="Hosted.Master" CodeBehind="HostIFrame.aspx.cs" Inherits="Netpay.PaymentPage.Hosted.HostIFrame" %>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
    <iframe runat="server" id="contentFrame" name="contentFrame" frameborder="0" style="width:100%; height:800px; border:1px solid dotted;" ></iframe>
</asp:Content>