﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="Hosted.Master" CodeBehind="TopFrame.aspx.cs" Inherits="Netpay.PaymentPage.Hosted.TopFrame" %>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
    <br /><br /><br /><br /><br />
</asp:Content>
