﻿body {
}

@maincolor: #076699;
@tempPath:  '../Images/';
@import "../../../../../Designs/New/styles/style.less";

.top-bar .logo {float: left;background: url("../images/sprite.png") no-repeat scroll -18px -7px transparent;width: 198px;height: 60px;}

