<%@ Page Language="VB" %>

<script runat="server">
	
</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body style="background-color:#<%=IIF(Trim(Request("color"))<>"",Trim(Request("color")),"ffffff")%>;">

</body>
</html>
