﻿<%@ Page Title="" Language="C#" MasterPageFile="ContentFrame.master" AutoEventWireup="true" CodeFile="ContentFrame.aspx.cs" Inherits="Netpay.Admin.ContentFrame" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" Runat="Server">
	<asp:PlaceHolder runat="server" ID="phControl" />
</asp:Content>

