<%@ Master Language="VB" CodeFile="FiltersMaster.master.vb" Inherits="AdminCash_FiltersMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<link rel="stylesheet" type="text/css" href="../StyleSheet/StyleAdminNetEng.css" />
    <title>Control Panel Filter</title>
    <asp:ContentPlaceHolder id="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body class="menu">
    <script type="text/javascript">
        function filterForm_Submit(thisForm, actionUrl) {
        	if (!thisForm) thisForm = document.forms['aspnetForm'];
        	if (actionUrl) thisForm.action = actionUrl;
            if (parent.fraButton) parent.fraButton.FrmResize();
            for (var i = 0; i < thisForm.elements.length; i++) {
                var valueName = thisForm.elements[i].name;
                var includeValue = valueName.substring(0, 2) != '__';
                if (includeValue) {
                	var lIndex = valueName.lastIndexOf('$') + 1;
					if (lIndex > 0) thisForm.elements[i].name = valueName.substring(lIndex);
                } else thisForm.elements[i].disabled = true;
            }
			return true;
        }
    </script>
    <asp:ContentPlaceHolder id="body" runat="server"></asp:ContentPlaceHolder>
</body>
</html>
