<%@ Page Language="VB" %>
<%
	Dim sExt As String = Request.Files(0).FileName.Substring(Request.Files(0).FileName.LastIndexOf(".")).ToLower
	If ".xls.xlsx.csv.txt.".Contains(sExt + ".") Then
		Request.Files(0).SaveAs(Server.MapPath("/Data/Uploads/TransBatch/PendingProgress.xls"))
	End If
	Response.Redirect("merchant_transPending.asp?AfterFileUpload=1")
%>