﻿@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
	
    * { margin: 0; padding: 0;  } /*font-size: 12px;*/
	body {font-family: Arial; font-size: 12px;  color: #333333; background-color: #fff;  }
	H1 { font-size: 20px; color: #C0C0C0; font-weight: bold; height: 40px; }
	.spacer {clear: both;}
	A {color: #c10b0b; text-decoration: none; font-size: 14px; }
	INPUT, TEXTAREA, SELECT { font-size: 15px;  color: #485257; vertical-align: top; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif;  }
	input.option {vertical-align:middle; background-color:transparent; }
	Table.Form INPUT, Table.Form TEXTAREA, Table.Form SELECT { }
	Table {font-size: 12px;}
	Table.Form { }
	Table.ImageRadioList TD { text-align:center; }
	Table.ImageRadioList DIV { cursor:pointer; background-color:inherit; border:solid 2px #F5F5F5; margin-right:3px; margin-bottom:3px; height:70px; }
	Table.ImageRadioList DIV.MouseOver { background-color:#F5F5F5; }
    #chkRegisterWallet {width: 20px;}
	Span.asterisk {color:#000000; padding:0px 2px; font-weight:bold !important; font-size:13px !important; }
	Span.Required {color: Red; }
   .td-master {background-color: #ff6600;}
    .MerchantMsg {text-align: left;}
    .merchantLogo {text-align: left; padding: 5px;}
      .mainHeading {font-size: 16px; text-transform: uppercase; color: #666666; text-align: left; }
	    .subHeading { font-weight: bold;}
	    .PayByMsg { font-size:16px; color:#484848; text-align: left; }
    	.MerchantTopMsg { font-size:13px; }
    	.PayForBox {background-color: #ff6600;}
    	.PayingMethodOn { border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5; background-color: #f5f5f5; padding: 1px 4px; color: #CECECE; text-decoration: underline; }
    	.PayingMethodOn span { color:#333333; }
	    .PayingMethodOff { border-left:1px solid #c5c5c5; border-right:1px solid #c5c5c5; background-color:#ffffff; padding:1px 4px; color:#333333; text-decoration:none; }
        .preview-text {text-align: left;}
        .amount-proudct {text-align: right !important;}
    
         #search {padding: 0 0 10px 0 ; text-align: right; float: right;}
         #search input[type="text"] {background: url('../../Tmp_MahalaUS/Images/search-white.png') no-repeat 10px 6px #F8F8F8; border: 1px solid #d1d1d1; font: 16px 'Fjalla One', Arial,Helvetica,Sans-serif; color: #66667E; width: 200px; padding: 6px 15px 6px 35px; -webkit-transition: all 0.7s ease 0s; -moz-transition: all 0.7s ease 0s; -o-transition: all 0.7s ease 0s; transition: all 0.7s ease 0s;}
         #search input[type="text"]:focus {width: 250px;}

	/*
       .PayingMethodLink a { color: #D3D3D3; }
       .PayingMethodLink span { color: #336699; text-decoration:underline; }
        */
    
	.MainSelectTxtHead {font-size: 17px; color: #484848; text-align: left; }
	.MainSelectTxtBody {font-weight:normal; font-size:13px; text-align: left; }

	TR.Header { background-color: Black; color: Silver;}
    
	Table.Inner { margin: 0 8px; width: 620px; padding: 0; margin: 0; text-align: left;}
	Table.PayMsg td {font-size: 19px; color: #fff; text-align: left; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif; }
	
	Table.PspBox { border: 1px solid #ACACAC; }
	Table.PspBox td { padding: 0px 0px;}

	Table.Footer {color: #666666; margin:30px 0 15px 0; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif;  }

	Table.FormView  {padding: 1px; margin: 1px; border: `0px; }
	Table.FormView Th {color: #a90000; font-size: 16px; padding-bottom: 5px; padding-top: 20px; font-weight: normal; } /*Language dependent*/
	Table.FormView Td {color: #5c5c5c; font-size: 12px; text-align: left;}
	Table.FormView Td.Heading { font-weight: bold; font-size: 12px; color: #161616; text-transform: uppercase; padding-bottom: 3px; padding-top: 20px; }
	Table.FormView Input { width: 180px; font-size: 13px; border: 1px silver solid; color: #000000; font-family: Verdana,Arial, Helvetica, sans-serif; }
	Table.FormView Input.distinct { width: 20px !important; border: 0px;}
	Table.FormView Span.distinct Input { width: 20px !important; border: 0px; }
	Table.FormView Select { width: 180px; font-size: 12px; border: 1px silver solid; color: #000000; background-color: white; font-family: Verdana,Arial, Helvetica, sans-serif;  }
	
	INPUT.Button {font-size: 12px; color: #000000; background-color: #e5e5e5; cursor: pointer; padding: 4px;  font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif !important; text-transform: uppercase; }
	.FormButton { width: 100px; font-size: 13px; border: 1px silver solid; color: #000000; font-family: Verdana,Arial, Helvetica, sans-serif; cursor:pointer;}
	Div.langSelector { cursor: pointer; border:0px solid #000000; width:100%; height:17px; padding-top:3px; background-color:#ffffff; } /*Language dependent*/
	Span.langSelector { text-decoration:underline; }
	.ValidSummery { background-color: #f5f5f5; color: Black !important; padding: 5px; border: 1px dotted maroon; margin-bottom: 20px; background-image: url('/NPCommon/Images/alert_small.png'); background-repeat: no-repeat; background-position: top; } /*Language dependent*/
		
	.MethodTypeTitle{ border:1px solid silver; background-color:#f8f8f8; }
	
	.Public-head {float:left; text-align: left; font-size: 22px; text-transform: uppercase; color: #66667E; padding: 5px; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif;}
	.radio-head {color: rgb(153, 102, 51);  font-size: 13px;}
	
	/* Public */
	
	#public-page {}
	#public-page h2 {color: #ff6600; font-weight: normal; font-size: 24px; text-transform: uppercase; background: url('../../Tmp_MahalaUS/Images/arrow.png'); background-repeat: no-repeat; background-position: left; padding: 5px 5px 5px 15px;}
	#public-page h3 {font-weight: normal; color: #707070; font-size: 16px; padding: 2px 0 4px 0;}
	#public-page .section-public {width: 612px; min-height: 148px; margin: 15px 0 15px 0; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif; border-bottom: 1px dashed #616161; padding: 1px 0 19px 0;}
	#public-page .pic-box {-webkit-box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.75); -moz-box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.75); box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.75); width: 613px; height: 193px;}
	#public-page .public-left {margin-top: 11px; width: 46%;}
	
    #public-page .public-right {text-align: left;}
    #public-page .public-right .title-public {color: #ff6600; font-weight: normal; font-size: 22px; text-transform: uppercase; padding-top: 10px;}
    #public-page .public-right .price {color: #ff6600; padding: 5px; max-width: 190px; border-radius: 6px; font-size: 22px; }
    #public-page .public-right .sku-wrap {font-weight: normal; color: #707070; font-size: 16px; padding: 5px 0 0 8px; float: left; text-transform: uppercase;}
    #public-page .public-right .Quantity {color: #707070; font-size: 16px; padding-right: 10px; border-right: 5px solid #e5e5e5; float: left; text-transform: uppercase; margin-top: 5px;}
    #public-page .public-right .title-public .read-more {color: #ff6600; font-size: 22px; padding: 13px 3px 5px 0; cursor: pointer;}
    #public-page .public-left .read-more a:link {color: #ff6600; text-decoration: none;}
    #public-page .public-left .read-more a:visited {color: #ff6600; text-decoration: none;}
    #public-page .public-left .read-more a:active {color: #ff6600; text-decoration: none;}
    #public-page .public-left .read-more a:hover {color: #ff6600; text-decoration: underline;}
    
    #public-page .public-right .wrap-pursace {float: right; padding-bottom: 8px;}
    #public-page .public-right .wrap-pursace .pursace {font-size: 16px; color: #fff; border-radius: 6px;}
    #public-page .public-right .call-to-action {padding-top: 5px; text-align: right; padding-right: 10px;}
    #public-page .public-right-custom {float: right;text-align: left;width: 25%;}
    #public-page .public-right-custom .price-custom {background-color: #707070; color: #fff; padding: 5px; min-width: 69px; text-align: center; border-radius: 6px; font-size: 24px; margin: 13px 10px 0 0; float: right;}
    #public-page .public-right-custom .call-to-action {padding-top: 5px; text-align: right; padding-right: 10px;}
    #public-page .public-right-custom .title-public {}
    #public-page .spacer {clear: both;}
    #public-page .section-custom {width: 612px; min-height: 107px; border: 1px solid #cecece; margin: 15px 0 15px 0; background-color: #f8f8f8; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif;}
    #public-page .public-left-custom  {float: left; margin-top: 6px; margin-left: 10px; width: 73%; vertical-align: middle;}
    #public-page .public-left-custom h2 {color: #ff6600; font-weight: normal;  font-size: 22px; margin: 3px 0 0 0; text-transform: uppercase; background: url('../../Tmp_MahalaUS/Images/arrow.png'); background-repeat: no-repeat; background-position: left; padding: 5px 5px 5px 15px;}
    #public-page .public-left-custom .text-forms {color: rgb(112, 112, 112); font-size: 16px; padding-top: 9px; text-transform: uppercase;}
    #public-page .public-left-custom .text-forms .input-amount {height: 22px; width: 69px; padding-left: 5px;}
    #public-page .public-left-custom .text-forms .input-currency {height: 22px; width: 69px; padding-left: 5px;}
    #public-page .description {border: 1px solid #cecece; background-color: #f8f8f8; display: none; padding: 5px; margin-top: 10px;}
    #public-page .description .title-read-more {font-weight: normal; color: #707070; font-size: 22px; text-transform: uppercase; float: left; padding-bottom: 6px;}
    #public-page .description .close-box {float: right; margin-top: 9px; cursor: pointer;}
    #public-page .description .text-paragraph {border-top: 1px dashed #9b9b9b; padding-top: 6px; padding-bottom: 6px; color: #707070; font-size: 16px;}
    #public-page .description .wrap-pay{float: right; padding-top: 19px;}

    #comment {border-top: 1px dashed #b2b2b2;}
    #comment h2{color: #ff6600; font-weight: normal; font-size: 24px; text-align: left; text-transform: uppercase; background: url('../../Tmp_MahalaUS/Images/arrow.png'); background-repeat: no-repeat; background-position: left; padding: 12px 5px 5px 15px; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif;}
	
	
    /* Button */
   .button-pay {-moz-box-shadow:inset 0px 1px 0px 0px #f29c93; -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93; box-shadow:inset 0px 1px 0px 0px #f29c93; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) ); background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');background-color:#fe1a00; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; border:1px solid #d83526; display:inline-block; color:#ffffff; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif; font-size:22px;padding: 2px 8px; text-decoration:none; text-shadow:1px 1px 0px #b23e35;}
   .button-pay:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) ); background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00'); background-color:#ce0100;}
   .button-pay:active {position:relative; top:1px;}
   .button-search {background-color: #949494; color:#ffffff; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif; font-size:17px; text-transform:uppercase; border-radius: 50%;width: 34px; height: 34px; border: none; }
   .button-search:hover {border: none; background-color: #ff6600;}
   .Require {color: #f80000 !important; font-size: 12px !important;}
   .align-right {text-align: right !important;}
   .align-left {text-align: left !important;}
   
   /* Product */
   #product {width: 614px; height: 191px; -webkit-box-shadow: 2px 1px 5px #dfdcdb;-moz-box-shadow: 2px 1px 5px #dfdcdb; box-shadow: 2px 1px 5px #dfdcdb;}
   .price-product {float: right; font-weight: normal; color: rgb(210, 35, 42); font-size: 25px; font-family: 'Fjalla One',Arial,Helvetica Neue,sans-serif; display: block; margin: 15px 0px 5px;}
   .title-product {font-weight: normal; color: #ff6600; margin: 15px 0 5px 0; font-size: 25px; font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif; float: left;}
   #wrap-detalis  {width: 594px; min-height: 150px; background: #efefef; padding: 10px; color: #707070;  font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif;}
   #wrap-detalis .arrow-down {background: url('../../Tmp_MahalaUS/Images/spriteMahala.png') no-repeat -111px -82px; width: 15px; height: 13px; margin: -10px 0 0 0;}
   #wrap-detalis .description-product {font-size: 18px; line-height: 26px; padding-bottom: 10px;}
   #wrap-detalis .choose-quantity {font-size: 20px; padding: 20px 0;}
   #wrap-detalis .choose-quantity .quantity-proudct {padding-right: 7px; padding-left: 0; display: block; float: left;}
   #wrap-detalis .choose-installments {font-size: 20px; padding: 20px 0}
   #wrap-detalis .choose-installments .installments-proudct {text-transform: uppercase; display: block; padding-right: 7px; padding-left: 0; float: left;}
   #wrap-detalis .choose-installments .alert-installments {font-size: 15px; vertical-align: middle; padding-left: 5px;}
   #total-purchase {float: right; font-size: 14px; margin-right: 7px; padding-top: 10px; text-align: center; font-family: Arial, Helvetica Neue, sans-serif;}
   #total-purchase .summary {color: #ff6600; line-height: 30px; padding-bottom: 5px;}
   #total-purchase .purchase {background-color: #ff6600; padding: 5px 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-transform: uppercase;}
   #total-purchase .purchase a:link {color: #fff !important; font-size: 24px; text-decoration: none;}
   #total-purchase .purchase a:hover {color: #fff !important; font-size: 24px; text-decoration: underline;}
   #total-purchase .purchase a:active {color: #fff !important; font-size: 24px; text-decoration: none;}
   #total-purchase .purchase a:visited {color: #fff !important; font-size: 24px; text-decoration: none;}
   #share-friends  {float: left; padding-top: 10px;  font-family: 'Fjalla One',Arial, Helvetica Neue, sans-serif;}
   #share-friends .text-share {font-size: 15px; color: #8f8d8d; padding-left: 4px;}
   .social {float: left;}
   .line-space {background: url('../../Tmp_MahalaUS/Images/spriteMahala.png') repeat-x 0 -174px; height: 2px; border: none; margin: 0 -10px;}
   .line-space-v2 {width: 100%; background: url('../../Tmp_MahalaUS/Images/spriteMahala.png') repeat-x; background-position: 0 -168px; height: 1px; margin-top: 30px;}
   .banner {width: 100%; height: 100px; background-color: #f6f6f6; border: 1px solid #8f8f8f; margin-top: 40px; text-align: center;}
   .input-quantity {width: 64px; height: 30px; border: 1px solid #e8e8e8; -webkit-box-shadow: 2px 1px 5px #dfdcdb; -moz-box-shadow: 2px 1px 5px #dfdcdb; box-shadow: 2px 1px 5px #dfdcdb; margin: -3px 6px; text-align: center;}
   .total-arrow{background: url('../../Tmp_MahalaUS/Images/spriteMahala.png') no-repeat -56px -7px; width: 91px; height: 36px; margin-right: 50px; margin-left: 470px;}
   .submit-button{background: none; border: none; color: White; font-size: 22px; text-transform: uppercase; cursor: pointer; }
   .DynamicAmount {width: 100px; height: 30px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #c8c8c8; padding: 0 10px; font-family: Arial; font-size: 12px;}
   .btn-finish {background-color: #ff6600; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}
   .btn-finish a:link {background-color: #ff6600; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}
   .btn-finish a:hover {background-color: #ff6600; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: underline}
   .btn-finish a:active {background-color: #ff6600; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}
   .btn-finish a:visited {background-color: #ff6600; color: white; font-size: 15px; font-family: Arial !important; font-weight: 700; padding: 5px; text-decoration: none}

   .icon-facebook {display: block; float: left; margin: 0 5px; width: 32px; height: 32px; background: url('../../Tmp_MahalaUS/Images/1389631471_facebook.png')}
   .icon-twitter {display: block; float: left; margin: 0 5px; width: 32px; height: 32px; background: url('../../Tmp_MahalaUS/Images/1389631463_twitter.png')}
   .icon-googleplus {display: block; float: left; margin: 0 5px; width: 32px; height: 32px; background: url('../../Tmp_MahalaUS/Images/1389631895_googleplus.png')}
   .icon-envelope {display: block; float: left; margin: 0 5px; width: 32px; height: 32px; background: url('../../Tmp_MahalaUS/Images/1389634503_Mail_32x32.png')}