﻿@import url(https://fonts.googleapis.com/css?family=Alef);

A {font-size: 12px;}
body {direction:rtl; overflow-X: hidden; } /* Need to Check */
.reverse {text-align:left; }

INPUT, TEXTAREA, SELECT {font-size: 15px;  color: #485257; vertical-align: top; font-family: Arial;}

Table.FormView Th, Table.Form TH {text-align:right !important;}
.mainHeading {font-size: 16px; text-transform: uppercase; color: #666666; text-align: right; }
Div.langSelector { text-align:right!important; }
Table.PayMsg td {font-size: 19px; color: #fff; text-align: right;}
.ValidSummery { padding-right:34px; background-position:right;  text-align: right;}
.MainSelectTxtBody {text-align: right;}
.columnSeparator {border-right:1px solid Silver;}
.preview-text {text-align: right;}
Table.FormView Td {text-align: right}
.PayByMsg {text-align: right;}
.MerchantMsg {text-align: right;}

#public-page .public-left-custom .text-forms {float: right;}
#public-page .public-right .wrap-pursace {float: left;}
#public-page .public-right .sku-wrap {float: right; padding: 5px 8px 0px 0px; font-family: Arial; font-size: 14px;}
#public-page .public-right .Quantity {float: right; padding-right:0px; padding-left: 10px; border-left: 5px solid #e5e5e5; border-right: none; font-family: Arial; font-size: 14px; margin-top: 3px;}
#public-page .public-right .title-public {font-size: 20px; font-family: Arial;}
#public-page .public-right .title-public .read-more {padding: 13px 0px 5px 3px; font-size: 20px;}

.Public-head  {text-align: right; float: right; font-family: 'Alef',Arial, Helvetica Neue, sans-serif;}
#public-page .public-right {text-align: right;}
#public-page .description .close-box {float: left;}
#public-page .description .title-read-more {float: right;}
#public-page .public-left-custom h2 {background: url('../../Tmp_netpayintl/Images/arrow-rtl.png'); background-position: right; background-repeat: no-repeat; padding: 5px 15px 5px 5px; text-align: right;}
#public-page .public-left-custom {float: right; margin-right: 10px; margin-left: 0px;}
#public-page .public-right .price-custom {margin: 8px 0 0px 10px; float: left;}
#public-page .public-right .call-to-action {text-align: left; padding-left: 10px;}
#comment h2 {text-align: right; padding: 12px 15px 5px 5px; background: url('../../Tmp_netpayintl/Images/arrow-rtl.png'); background-position: right;  background-repeat: no-repeat; font-size: 20px; }
#public-page .description .wrap-pay {float: left;}
.amount-proudct {text-align: left !important;}
#public-page .description .text-paragraph {text-align: right; direction: rtl;}
#public-page .public-right-custom {float: right;text-align: right;width: 25%;}
#public-page .public-right-custom .price-custom {margin: 13px 0px 0px 10px; float: left;}
#public-page .public-right-custom .call-to-action {padding-top: 5px; text-align: left; padding-left: 10px;}

.align-right {text-align: left !important;  }
.align-left {text-align: right !important;}
 
.title-product {text-align: right;float: right; font-family: Arial; font-size: 22px;}
#wrap-detalis .choose-quantity {text-align: right; font-size: 17px;}
#wrap-detalis .choose-installments {text-align: right; font-size: 17px;}
#wrap-detalis .description-product {text-align: right; direction: rtl; font-size: 15px; font-family: Arial; padding-top: 5px;}                                    
#wrap-detalis .choose-quantity .quantity-proudct {padding-right: 0px; padding-left: 7px; display: block; float: right;}
#wrap-detalis .choose-installments .installments-proudct {padding-left: 7px; padding-right: 0; float: right;}
#wrap-detalis .choose-installments .alert-installments {font-family: Arial; padding-right: 4px; padding-bottom: 7px;} 

#share-friends {float: right;}
#total-purchase {float: left; font-size: 22px; margin-right: 0px; margin-left: 7px; font-family: Arial;}
#share-friends .text-share {text-align: right; font-weight: bold; }
.total-arrow {margin-right: 470px; margin-left: 0px;}
#total-purchase .purchase a:link {font-size: 21px;}
.price-product{float: left; font-family: Arial; font-size: 22px;}
Table.Footer {text-align: right; font-family: Arial;}
#search {float: left;}
#public-page .section-public {font-family: 'Alef';}
.button-pay {font-family: 'Alef';}

