﻿.pageHelpBoxContainer
{
	margin: 0px;
	border-top: 1px solid #FFCC00;
	border-left: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	background-color: #FFFFCC;
	width: 100%;
	padding:0px;
	text-align:left;
}

.pageHelpBoxContent
{
	margin: 0px;
	border: 0px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding:5px;
	text-align:left;
}

.pageHelpBoxMinimizeContainer
{
	
}

.pageHelpBoxMinimize
{
	margin-bottom: 5px;
	border-bottom: 1px solid #FFCC00;
	border-left: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	background-color: #FFFFCC;
	cursor: pointer;
	width: 100%;
}

.pageHelpBoxMinimizeHover
{
	margin-bottom: 5px;
	border-bottom: 1px solid #FFCC00;
	border-left: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	background-color: #FEFFBC;
	cursor: pointer;
	width: 100%;
}

.pageHelpBoxMinimizeClick
{
	margin-bottom: 5px;
	border-bottom: 1px solid #FFCC00;
	border-left: 1px solid #FFCC00;
	border-right: 1px solid #FFCC00;
	background-color: #FDFF20;
	cursor: pointer;
	width: 100%;
}