﻿.title {color:#2566ab; font-size:14px;}
.subTitle {color:#000000; font-size:13px; font-weight:normal;text-transform: capitalize;}
.totals th {font-size:1.2em; background-color:#e9e9e9; border-bottom:1px solid gray; text-align:left !important; }
.totals td {font-size: 0.9em;}
.totals tr.subTotal td  {font-size: 0.9em; border-top:1px solid #C0C0C0; }
.totals tr.grandTotal td  {font-size: 0.9em; border-top:1px solid #C0C0C0; font-weight:bold; }
.totals tr.groupName td {font-size: 0.9em; font-weight:bold; font-weight:bold; }
.negativeNumber {color:red;}
