﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Finish.aspx.cs" Inherits="Netpay.PaymentPage.Cart.Finish" MasterPageFile="~/Cart/Cart.master" %>
<%@ Import Namespace="Netpay.Infrastructure.VO" %>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
	<asp:Literal runat="server" Text="Thank you" />
</asp:Content>
