﻿body {
}

@default-color: #ac2925;
@btn-primary-background: #d9534f;
@btn-primary-border: #d43f3a;


@btn-primary-hover-background: #d2322d;
@btn-primary-hover-border: #ac2925;

@import url('../../../Website/Styles/login.less');