﻿body {font-family: Arial;}

/* GENERAL */

form,html, body {margin: 0; padding: 0;}
.container {width: 1180px;margin: 0 auto; }
.clearfix {clear: both;}
.cursor {cursor: pointer;}
.color-icon-header {color: #b3b3b3;}
.info-alert {border: 1px solid #BCE8F1; background-color: #D9EDF7; color: #31708F; width: 100%; font-size: 12px; box-sizing:border-box; padding: 5px 10px; margin-top: 10px; line-height: 20px;}
.info-warning {border: 1px solid #E6DB55; background-color: #FFFBCC; color: #666452; width: 100%; font-size: 12px; box-sizing:border-box; padding: 5px 10px; margin-top: 10px; line-height: 20px;}
.pdf-color {color: #CC181E;}
.flexible {display: -webkit-flex; display: flex;}

/* COLOR */
.secondary-color {color: @maincolor;}
.primary {background-color: @maincolor;}
.danger {background-color: #d9534f;}
.warning {background-color: #f0ad4e;}

/* SIZE*/
.margin-right-10 {margin-right: 10px;}

/* BUTTON */
.btn {background: @maincolor; padding: 5px 10px; color: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-decoration: none; font-size: 14px;  text-transform:uppercase; -webkit-box-shadow: inset 0 0 5px 0 rgba(92,92,92, 0.4); -moz-box-shadow: inset 0 0 5px 0 rgba(92,92,92, 0.4); box-shadow: inset 0 0 5px 0 rgba(92,92,92, 0.4);}
.btn:hover {background: #1f6bad; cursor: pointer; }
.header {background: #ececec; border-bottom: 1px solid #DCDCDC; padding: 20px;}

/* BOX INFO */
.wrap-box-info {background: #fff;  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing: border-box; padding: 40px 0;}
.box-info {margin: 0; padding: 0;}
.box-info li.box {width: 30%; position:relative; height: 205px; background:#f9f9f9;color:#646566;border:3px solid #f1f1f1;float:left;margin-right:59px;padding:20px; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing:border-box;font-size:12px; list-style-type: none;}
.box-info li.box:last-child {margin-right: 0; background-color: #D9EDF7; border-color: #BCE8F1; color: #31708F }
.box-info h4 {margin:0 0 10px 0;padding:0 0 10px;border-bottom:1px solid #ddddde;font-family:'Lato',sans-serif;font-weight:400;font-size:14px; text-transform: uppercase}
.box-info h4.dev-title {border-color: #bce1f4;}

.box-info p {margin: 0; padding: 0; line-height: 30px; margin-bottom: 10px;}
.box-info p:last-child {margin-bottom: 10px;}
.box-info ul{margin-bottom: 10px;padding:0}
.box-info ul li{margin:0;padding:0;list-style:none;line-height:30px}
.box-info ul li a:link, .box-info ul li a:visited, .box-info ul li a:active  {color: #646566; text-decoration: none}
.box-info ul li a:hover  {color: #646566; text-decoration: underline}
.box-info ul li .list-color{color: @maincolor;}
.box-info .button-wrap {text-align: right;}

/* API DOCUMENTS */

.wrap-content-area-api {background: #fff; padding: 50px 0;}
.wrap-api-documents {height: 100px;}
.api-documents {width: 100%; margin-bottom: 10px;}
.api-documents td {color: #595a5d; padding: 6px 0;}
.api-documents td a {color: @maincolor; text-decoration: none;}
.api-documents td a:hover {color: @maincolor; text-decoration: underline;}
.api-documents td.updated-file {color: #a4a3a2; font-style: italic; text-align: right;}
.api-documents td.date {text-align: right;}

/* NOTIFICATION */
.wrap-content-area {background: #e8e8e8; border: 1px solid #dcdcdc; padding: 40px 0;}
.notifications {width: 740px; min-height: 480px; border: 5px solid #fff; background: #f6f6f7; padding: 15px; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing: border-box; color: #646566; float: left;  position: relative;}
.header-notifications {border-bottom: 1px solid #DDDDDE;}
.notifications h4 {margin: 0 0 10px; padding: 0 0 10px;  font-family: 'Lato',sans-serif; font-weight: 400; font-size: 14px; text-transform: uppercase;}
.notification {padding: 20px 30px;}
.notification .date{color: #a4a3a2; font-style: italic; margin-right: 10px; position: relative; top: 9px; float: left;}
.notification .wrap-icon {-webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; margin: 0 auto; height: 40px; width: 40px; color: #fff; position: relative; float: left;}

.notification i{position: absolute; top: 13px; left: 12px;}
.notification .content {padding-left: 20px; float: left; width: 480px;}
.notification .content h5 {margin: 0; padding: 0; font-size: 16px; color: #646566; font-weight: normal;}
.notification .content p {margin: 0; padding: 2px 0; color: #646566; font-size: 12px;}

/* API DOCUMENTS */
.api-preview h4 {margin: 0; color: #646566; font-family: 'Lato', sans-serif; font-weight: normal;}
.api-preview p {margin: 0; padding: 0; font-size: 12px; color: #808080; line-height: 22px; padding-top: 15px;}
.api-preview .login-button {text-decoration: none; background-color: #428BCA; font-family: 'Lato', sans-serif; font-size: 14px; color: #fff; padding: 6px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

.wrap-api-table {width:580px;  border: 5px solid #fff; background: #F6F6F7;padding: 15px; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing: border-box; color: #646566; float: left; position: relative;}
.header-api-table {border-bottom: 1px solid #DDDDDE;}
.wrap-api-table h4 {margin: 0 0 10px; padding: 0 0 10px;  font-family: 'Lato',sans-serif; font-weight: 400; font-size: 14px; text-transform: uppercase;}
.api-table {width: 100%;  margin-top: 0; padding-top: 15px;   border-spacing: 0;}
.api-table tr:nth-child(even) {background: #f6f6f7;}
.api-table tr:nth-child(odd) {background: #f9f9f9;}
.api-table tr:nth-last-child(-n+2) {border-bottom: none;}
.api-table th {background: @maincolor; color: #ffffff; font-weight: normal; font-family: 'Lato',sans-serif; text-align: left; font-size: 14px; padding: 15px 10px; border-right: 1px solid #6fa7d7;}
.api-table td {font-size: 11px; padding: 14px 0 14px 10px; text-align: left;  border-bottom: 1px solid #dcdcdc;}
.api-table td.document-name {text-align: left; padding-left: 10px;}
.api-table td a:link {text-decoration: none; color: #646566;}
.api-table td a:visited {text-decoration: none; color:#646566;}
.api-table td a:active {text-decoration: none; color: #646566;}
.api-table td a:hover {text-decoration: underline; color: #646566;}
.api-table td:first-child {color: #646566;}
.api-table td:last-child {text-align: right; padding-right: 10px; width: 60px;}
.api-table th:last-child {text-align: center;}
                          
/* FAQ */
.wrap-faq-table {width:740px; min-height: 480px; border: 5px solid #fff; background: #F6F6F7;padding: 15px; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing: border-box; color: #646566; float: left; position: relative; margin-bottom: 30px;}
.wrap-faq-table h4 {margin: 0 0 10px; padding: 0 0 10px;  font-family: 'Lato',sans-serif; font-weight: 400; font-size: 14px; text-transform: uppercase;}
.wrap-faq-list {height: 100px}
.faq-list {margin: 0; padding: 15px 0 0 0; line-height: 30px;}
.faq-list li {color: #646566; font-size: 12px; list-style: none;}
.faq-list li a:link {color: #646566; text-decoration: none}
.faq-list li a:active {color: #646566; text-decoration: none}
.faq-list li a:visited {color: #646566; text-decoration: none}
.faq-list li a:hover {color: #646566; text-decoration: underline}


/* LOGIN BOX */
.login-box {width: 395px; position: relative; height: 480px; border: 5px solid #fff; background: #f6f6f7; padding: 15px; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing: border-box; color: #646566; float: right; margin-left: 45px;}
.header-login-box {border-bottom: 1px solid #DDDDDE;}
.login-box h4 {margin: 0 0 10px; padding: 0 0 10px;  font-family: 'Lato',sans-serif; font-weight: 400; font-size: 14px; text-transform: uppercase;}
.login-box .form-group {border-bottom: 1px solid #ddddde; padding: 15px 0;}
.login-box .form-group .title {color: #646464; font-size: 14px; margin-bottom: 10px;}
.login-box .form-group .title  i {padding-right: 5px; margin-right: 5px; border-right: 1px solid #ddddde;}
.form-control {width: 100%; -webkit-border-radius: 3px; border: 1px solid #ddd; -moz-border-radius: 3px; border-radius: 3px; height: 30px; padding: 0 10px; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing: border-box}
.login-box .wrap-action-form {margin-bottom: 20px;}
.login-box .wrap-action-form .sign-up {color: #646464; font-size: 12px; padding-top: 20px;}

.login-box .wrap-action-form .sign-up a:link {color: #646464; text-decoration: none;}
.login-box .wrap-action-form .sign-up a:visited {color: #646464; text-decoration: none;}
.login-box .wrap-action-form .sign-up a:active {color: #646464; text-decoration: none;}
.login-box .wrap-action-form .sign-up a:hover {color: #646464; text-decoration: underline;}

.login-box .wrap-action-form .wrap-login-box-button{padding-top: 20px; text-align: right;}
.alert-error {background: #fff6f4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #f8cdcd; color: #e76e70; padding: 10px; font-size: 14px;}

/* FOOTER */
.footer {padding: 40px 0; background: #fff;}
.footer-list {margin: 0; padding: 0; }
.footer-list li {display: inline; list-style-type: none; width: 25%; height:170px; border-right: 1px solid #e8e8e8; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing: border-box; float: left; padding: 0 20px;}
.footer-list li:first-child {padding: 0 20px 0 0;}
.footer-list li h4 {margin: 0 0 5px; padding: 0 0 5px; font-family: 'Lato',sans-serif; font-weight: 400; font-size: 15px; color: #646464;}
.footer-list li p {color: #949494; font-size: 12px; line-height: 30px;}
.footer-list li p a:link {color: #646464; text-decoration: none}
.footer-list li p a:active {color: #646464; text-decoration: none}
.footer-list li p a:visited {color: #646464; text-decoration: none}
.footer-list li p a:hover {color: #a6a6a6; text-decoration: underline}
.social-media-icons {float: right; text-align: right;}
.newsletter-panel {margin-bottom: 3px;}
.wrap-register {text-align: right;}

/* COPYRIGHT */
.copyright {background: #e8e8e8; border:1px solid #dcdcdc; padding: 20px 0;}
.copyright p {color: #646464; font-size: 12px;}

/* SHADOWS */

.shadow-middle {position: absolute;  bottom: -30px;}
.shadow-middle img {width: 100%;}

.shadow-documents {position: absolute;  bottom: -24px;}
.shadow-documents img {width: 100%;}

.shadow-box {position: absolute;bottom: -28px;left: -5px;}
.shadow-box img {width: 100%;}

.shadow-login {position: absolute; bottom: -32px;}
.shadow-login img {width: 100%;}

.show-more {background: #fff; padding: 10px 20px; text-align: center; width: 100%; border: 1px solid #DDD; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; margin-top: 20px; font-size: 14px;}
.show-more a:link {font-size: 12px; color: #808080; text-decoration: none; text-transform: uppercase;}
.show-more a:active {text-decoration: none;}
.show-more a:visited {text-decoration: none;}
.show-more a:hover {text-decoration: underline;}

.wrap-show-button {text-align: center; padding-bottom: 15px;}
.show-button {line-height: 40px; background-color: #428BCA; color: #fff; text-decoration: none; cursor:pointer; padding: 11px; font-size: 14px; font-family: 'Lato',sans-serif;  -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;}

/* LOADER */

.wrap-loader {position: fixed; z-index: 2147483647 !important; opacity: 1.0; background: rgba(0, 0, 0, 0.2); text-align: center; top: 0; left: 0; height: 100%; width: 100%;}
.loader {background: #fff; padding: 20px; border-radius: 20px; width: 200px; margin: 10% auto; opacity: 0.9;}
.loader p {font-size: 20px; font-weight: 700; padding: 5px 0 20px; margin: 0; font-family:'Lato',sans-serif, Arial;}


.wrap-fb-like {padding: 10px 20px;}

.download-zip {text-decoration: none; color: #005cab; padding: 5px 10px; border-radius: 2px; border: 1px solid #005cab; font-size: 12px; background: #fff;}
.download-zip:hover {-webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.45); -moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.45); box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.45); background: #428BCA; color: #fff;}