﻿body {
}
/* Fix IE 8 7 6 */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 	margin: 0;
 }
html, form, body {background-image:url('@{rootPath}Images.Login/background-login.png');font-family:Arial;font-size:14px;color:#55606E;direction:ltr;text-align:left; height: 100%;}
.wrapper {min-height: 100%; height: auto !important; margin: 0 auto -155px; position: relative;width: 484px; padding: 10px; }
.footer {position: relative; margin: 0 auto; padding: 20px; background-color: #fff; width: 100%;}
.wrap-footer {width: 910px; margin: 0 auto;}
.push, .footer {height: 155px;}
.language-selector {text-align: center;  font-size: 12px; line-height: 49px;  width: 158px; float: right; font-family: Arial;background-color: #F6F6F7;height: 49px;-webkit-border-bottom-right-radius: 20px; -webkit-border-bottom-left-radius: 20px; -moz-border-radius-bottomright: 20px; -moz-border-radius-bottomleft: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; margin-top: -8px;margin-bottom: 10px;}
.language-selector > ul {margin:0; padding: 0; font-family: Arial, sans-serif; direction: ltr}
.language-selector > ul > li {display: inline; padding: 0 4px; }

header,nav,section,article,aside,footer{display:block;}

/* Login box */ 
.wrap-login-box {background: #fff; padding: 6px; margin-top: 20px;}
.login-box {position:relative; top:5%;background: #f6f6f7;border: 1px solid #EDEDED; text-align:left;padding:20px; margin: 0 auto;}
.login-box .logo{text-align:left}
.header-top{min-height:40px}
.wrap-account {text-align: center; margin-top: 10px;}
.login-box .sign-up {color:#f16723;}
.login-box .login {height:10px;text-align:right}
.help {color: #A7ABB1; font-size: 12px;}
hr.style-line {border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/* Grid */
.grid-1 {width: 33%; float: left; text-align: center}
.grid-2 {width: 33%; float: left; color: #BBB; font-size: 12px; line-height: 160%;  text-align: center}
.grid-3 {width: 33%; float: left;  text-align: center; padding-left: 10%; }
.grid-3 > ul {font-size: 13px; list-style: none outside none; margin: 0; padding: 0; text-align: left}
.grid-3 > ul > li {font-size: 12px; color: #bbb; margin-bottom: 8px;}
         
 /* Size */
.align-right {text-align: right}
.align-left {text-align: left}
.align-center {text-align: center}
.margin-10-top {margin-top: 10px;}
.margin-10-bottom {margin-bottom: 10px;}
.line-height-30 {line-height: 30px;}
.padding-10-top {padding-top: 10px;}
.padding-10 {padding: 10px;}
.padding-5-right {padding-right: 5px;}
.padding-5-left {padding-left: 5px;}
.padding-10-both {padding: 0 10px 0 10px;}
.clearfix {clear: both}

.pull-right {float: right}
.pull-left {float: left;}
.width-100-precent {width: 100%;}
.width-5-precent {width: 5%;}
.width-95-precent {width: 92%;}

/* Alert */
.alert-info {padding: 10px; color: #246a8e;background-color: #ebf6fb; border: 1px solid #bfd4de;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; line-height: 24px;}
.alert-warning {padding: 10px; color: #CE8F22;background-color: #FFFCEE; border: 1px solid #F0DBB4;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; line-height: 24px;}
.error {padding: 10px; color: #E76E70 !important; background-color: #FFF6F4; border: 1px solid #F8CDCD;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; line-height: 24px;}


/* Forms */
input, select , textarea {box-sizing: border-box;-moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
input[type=text] textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-appearance:none!important;color:#282323 outline: 0;height:16px;line-height:15px;font-size:13px;font-weight:400;vertical-align:top;background-color:#fff;min-height:37px;filter:none!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:1px solid #dddddd;transition:background .2s linear 0 box-shadow .2s linear 0;padding:6px 11px!important}
input[type='text']:disabled  textarea:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="date"]:disabled, input[type="month"]:disabled, input[type="time"]:disabled, input[type="week"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="url"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="color"]:disabled, select:disabled {background-color: #F4F5F7;}
input:focus, textarea:focus, select:focus {border-color: #E5E9EC; outline: 0 none !important; box-shadow: none; background-color: #F4F5F7;}

/* Button */
.btn {display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.428571429;text-align:center;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-radius:4px;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn:hover,.btn:focus{color:#333;text-decoration:none}
.btn:active,.btn.active {outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;pointer-events:none;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}
.btn-default{color:#333;background-color:#fff;border-color:#ccc}.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {color:#333;background-color:#ebebeb;border-color:#adadad}
.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{background-image:none}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {background-color:#fff;border-color:#ccc}
.btn-danger{color:#fff;background-color:#428bca;border-color:#357ebd}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {color:#fff;background-color:#3276b1;border-color:#285e8e}
.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{background-image:none}
.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active{background-color:#428bca;border-color:#357ebd}
.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{color:#fff;background-color:#ed9c28;border-color:#d58512}
.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{background-image:none}
.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active{background-color:#f0ad4e;border-color:#eea236}
.btn-primary{color:#fff;background-color: @btn-primary-background;border-color: @btn-primary-border}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {color:#fff;background-color: @btn-primary-hover-background;border-color: @btn-primary-hover-border;}
.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {background-image:none}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#d9534f;border-color:#f37f1b}
.btn-success{color:#fff;background-color:#61ba9e;border-color:#4fb393}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {color:#fff;background-color:#49a98a;border-color:#3b8970}
.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{background-image:none}
.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active{background-color:#61ba9e;border-color:#4fb393}
.btn-info {color:#fff;background-color:#545454;border-color:#8a8a8a}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {color:#fff;background-color:#757575;border-color:#8a8a8a}
.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{background-image:none}
.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active{background-color:#5bc0de;border-color:#46b8da}
.btn-link {color:#21b384;font-weight:normal;cursor:pointer;border-radius:0}.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}
.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active{border-color:transparent}
.btn-link:hover,.btn-link:focus{color:#198764;text-decoration:underline;background-color:transparent}
.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus{color:#999;text-decoration:none}
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}
.btn-sm,.btn-xs{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}
.btn-xs{padding:1px 5px}
.btn-block{display:block;width:100%;padding-left:0;padding-right:0}
.btn-block+.btn-block {margin-top:5px}
.btn-cons-short {margin-right: 5px; min-width: 110px; margin-bottom: 8px;}

/* Link */
.hyperlink:link {color:#555; text-decoration:none}     
.hyperlink:visited {color:#555; text-decoration:none} 
.hyperlink:hover {color:#979797; text-decoration:underline}  
.hyperlink:active {color:#555; text-decoration:none}  

.footer-link:link {font-size: 12px; color: #bbb; text-decoration: none;}
.footer-link:visited {font-size: 12px; color: #bbb; text-decoration: none;}
.footer-link:hover {font-size: 12px; color: #bbb; text-decoration: underline;}
.footer-link:active {font-size: 12px; color: #bbb; text-decoration: none;}

#Captcha a:link {color:#555; text-decoration:none}
#Captcha a:visited {color:#555; text-decoration:none} 
#Captcha a:hover {color:#979797; text-decoration:underline}  
#Captcha a:active  {color:#555; text-decoration:none}

/* Merchant Regestration */
.font-arial {font-family: Arial;}
.RequiredFieldValidator {color: #ff4d4d !important; font-size: 12px;}
.block-head {background-color: #EEEEEE; border: 1px solid #E5E9EC ; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: @default-color; padding: 10px;}
input#dateOwnerDob_datePicker {width: 100% !important;}
input#dateBusinessStart_datePicker {width: 100% !important;}



.social-media-icons {margin-top: 20px; text-align: center;}