﻿
body {}

.pull-right {float: left}
.pull-left {float: right}
.login-box {text-align: right; direction: rtl;}
.login-box .form-group .title i {padding-left: 5px; margin-left: 5px; border-left: 1px solid #ddddde; padding-right: 0; margin-right: 0;border-right: 0;}
.login-box .wrap-action-form .sign-up {float: right;}
.login-box .wrap-action-form .wrap-login-box-button {float: left;}
.box-info li.box {text-align: right; direction: rtl;}
.footer-list li {float: right; text-align: right; direction: rtl;}
.info-alert {text-align: right; direction: rtl;}

.footer-list li:first-child {padding: 0 20px;}
.notification .content p {text-align: right; direction: rtl;}
.notification .date { margin-left: 10px; margin-right: 0; float: right;}
.notification .wrap-icon {float: right;}
.copyright p {text-align: right; direction: rtl;}

.notification i {top: 13px;left: 11px;}
.fa-arrow-circle-right:before {content: "\f0a8";}
.api-table {direction: rtl;}
.api-table th {border-left: 1px solid #6fa7d7; border-right: 0; text-align: right;}
.api-table td {font-size: 11px; padding: 14px 10px 14px 0; text-align: right;border-bottom: 1px solid #DCDCDC;}
.api-table td.document-name {text-align: right; padding-right: 10px; padding-left: 0;}
.api-preview p {text-align: right; direction: rtl;}
.faq-list li {color: #646566; font-size: 12px; list-style: none; text-align: right; direction: rtl;}
.api-documents td.updated-file {text-align: left;}
.box-info .button-wrap {text-align: left;}
.api-table td:last-child {text-align: left; padding: 0 0 0 10px;}
.social-media-icons {float: left; text-align: left;}