﻿body {
}

*{margin:0;padding:0;}

.spacer {clear: both;}
.white-color {color: #ffffff;}
.grey-color {color: #434343;}
.dark-grey {color: #484848; font-weight: bold;}
.grey-color-link {color: #a7a7a7; font-weight: bold; text-decoration: none;}
.align-left {float: left;}
.align-right {float: right;}
.bold {font-weight: bold;}
.pageItemHelpTable {z-index:10;}
hr.style-line {border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.emptyOption {color:#999999;}
a:link {text-decoration: none;}        
.url-input {direction: ltr; text-align: left;}
a:hover {text-decoration: underline;}  
img {border: 0;}
.block {display: block !important;}
.cursor {cursor: pointer}
.flex {display: flex;  display: -webkit-flex; width: 400px;}
th {text-align: left; font-size: 12px; font-weight: normal;}
/* Fix IE 8 7 6 */
header, nav, section, article, aside, footer {display:block;}

/*button Export Excel*/
.xls-wrap {text-align: left; font-size: 0.8em; padding: 9px; font-weight: bold;}
.xls-wrap .xls {vertical-align: middle; padding-right: 3px;}
.ExportExcelTxt {color: #3b7c17; text-decoration: none; vertical-align: middle;}
.ExportExcelTxt a:link {color: #3b7c17; text-decoration: none;}
.ExportExcelTxt a:visited {color: #3b7c17;}
.ExportExcelTxt a:hover {color: #3b7c17; text-decoration: underline;}
.ExportExcelTxt a:active {color: #3b7c17;}

/*Opera Fix stickey footer*/
body:before {content:"";height:100%;float:left;width:0; margin-top:-32767px;}

/*html, */
form {height: 100%; width: 100%;}   
body {height: 100%;  width: 100%; margin: 0; font-family: Arial; font-size: 1.000em; color: #434343; background: #fbfbfb;}   
html.iframe, body.iframe, form.iframe {height: 100%; background: none !important; -pie-background: none; behavior: none; width: 100%; background-repeat: repeat-x; margin: 0; font-family: Arial; font-size: 1.000em; color: #434343; -ms-filter:none; filter:none; /* for Internet Explorer 8 */}
#Sub-menu {padding-bottom: 86px;}  /* must be same height as the footer */
#Sub-menu .Language {float: left; padding-top: 5px; padding-right: 10px; font-size: 0.8em;}  /* Convert in Hebrew */
div#wrapper {width: 1000px;  position: relative; margin-top: 0px; margin-left: auto; margin-right: auto; text-align: left; background-color: #FFFFFF; min-height: 100%;}
.shadow { -webkit-box-shadow: 2px 1px 5px #dfdcdb; -moz-box-shadow: 2px 1px 5px #dfdcdb; box-shadow: 2px 1px 5px #dfdcdb;}
h1 {text-indent: -500em;}
h2 {padding: 0 0 0.6em; color: @maincolor; font: 1.4em arial,helvetica,sans-serif;}
h3 {padding: 0 0 0.6em; color: @maincolor; font: 1em arial,helvetica,sans-serif; font-weight: bold;}
p {padding: 0 0 1em; color: #666; font: 1em/1.4em helvetica,arial,sans-serif;}

/* top-header STYLE */
.top-header {background: url('@{rootPath}top-nav.png'); background-repeat: repeat-x; height: 31px;}
.top-header #navlist {margin: 0; padding: 5px 0 0 8px; list-style-image:url('@{rootPath}list-image.png'); }
.top-header #navlist li {display: inline;  padding: 0 15px 0 3px; color: #555; font-size: 11px;}
.top-header #navlist li a:link {color: #555; text-decoration: none;}
.top-header #navlist li a:visited {color: #555;}
.top-header #navlist li a:hover {color: #555; text-decoration: underline;}
.top-header #navlist li a:active {color: #555;}
.top-header #navlist li img {height: 20px; vertical-align: top;}
.top-header .top-text {float: right; margin-right: 2px;} /* Convert in Hebrew */
 
/* header STYLE */

.header {background: url('@{rootPath}pattern.png');  background-repeat: repeat-x; height: 83px;}
.header .Logo {float: left; top: 23px; left: 20px; position: relative;}
.header .header-Text {float: right; top: 40px; right: 20px; position: relative; color: #fff; font-family: 'Open Sans', Arial, sans-serif; font-size: 20px;}


.top-nav-bar #navbarlist {padding: 20px;}
.top-nav-bar #navbarlist li {display: inline; list-style-type: none; padding:0 15px 0 3px; font-size: 1em; color: #ffffff; }
.top-nav-bar #navbarlist li a:link {color: #ffffff; text-decoration: none;}
.top-nav-bar #navbarlist li a:visited {color: #ffffff;}
.top-nav-bar #navbarlist li a:hover {color: #ffffff; text-decoration: underline;}
.top-nav-bar #navbarlist li a:active {color: #ffffff;}

/* Menu Fix */
#MenuBar_riskMng {min-width: 30px;}
#MenuBar_virtualTerminal {min-width: 107px;}

.main {background-color: #ffffff;}
.main .header-main {z-index: 99;}

.wrapper a {color: #000; text-decoration: none; border-bottom: 2px solid #0bf;}
strong {font-weight: normal;}

.main .left-menu {float: left; width: 220px; min-height: 720px; background-color: #ffffff;height: 18px;} /* Convert in Hebrew */
.main .left-menu .icon-list-first {padding: 0 30px 0 19px;} /* Convert in Hebrew */
.main .left-menu .icon-list {padding: 28px 30px 0 19px;} /* Convert in Hebrew */
.main .left-menu .icon-list .icon-list-back {background: url('@{rootPath}background-button.png'); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; height: 123px; -webkit-box-shadow: 2px 1px 5px #dfdcdb; -moz-box-shadow: 2px 1px 5px #dfdcdb; box-shadow: 2px 1px 5px #dfdcdb; text-align: center;}
.main .left-menu .icon-list-first .icon-list-back {background: url('@{rootPath}background-button.png'); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; height: 123px; -webkit-box-shadow: 2px 1px 5px #dfdcdb; -moz-box-shadow: 2px 1px 5px #dfdcdb; box-shadow: 2px 1px 5px #dfdcdb; text-align: center;}
.main .left-menu .icon-list-first .icon-list-back .icon{text-align: center; padding: 10px 0 10px 0;}
.main .left-menu .icon-list .icon-list-back .icon{text-align: center; padding: 10px 0 10px 0;}


.main .right-menu {float: right; width: 760px; min-height: 720px; margin-right: 20px; background-color: #ffffff;} /* Convert in Hebrew */
 
.main .top-nav {font-family: 'Open Sans', Arial, sans-serif; /*background: url('@{rootPath}Gradient.png');*/ text-transform: uppercase; background-repeat: repeat-x; height: 23px; color: #ffffff; font-size:14px; padding: 2px 0 0 16px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.main .top-nav-main {width: 760px; min-height: 369px;}
.main .top-nav-main .mobile-div {padding: 17px; margin-left: 1px;}
ul.mobile-list  {display: block; list-style-type: none; font-size: 1.2em; font-family: Helvetica; color: #ffffff; padding: 2px;} 
li.mobile-list-li {float: left; background-color: White; width: 113px; height: 287px; margin:0px 7px 6px 0px; -webkit-box-shadow: -1px -1px 3px -1px #dcdcdc; box-shadow: -1px -1px 3px -1px #dcdcdc;  display: inline; padding: 0px; outline: 0px; }
li.mobile-list-li .wrap-iphone {position: relative;}
li.mobile-list-li .wrap-iphone .wrap-text-iphone {position: absolute; top: 70px; right: 20px; color: white; font-size: 0.6em; text-align: right; line-height: 26px;}
li.mobile-list-li .user-button {background: url('@{tempPath}Images/user-button.png') no-repeat; width: 92px; height: 21px; color: #727272; font-size: 0.5em; padding: 4px 0 0 10px;  position: relative; left: 8px; top: 20px;}

li.mobile-list-li .user-button a:link {color: #727272; text-decoration: none;}
li.mobile-list-li .user-button a:visited {color: #727272; text-decoration: none;}
li.mobile-list-li .user-button a:hover {color: #727272; text-decoration: underline;}
li.mobile-list-li .user-button a:active {color: #727272; text-decoration: none;}

.mobile-list-li img {padding: 30px 0px 15px 9px;}
.box-counter {background: #eee; width: 740px; height: 104px; padding: 10px; z-index: 2;}
.box-counter .counter {background-color: #404040; width: 740px; height: 104px; z-index: 1;}
.box-counter .counter .text-counter{float: left; width: 37%; color: #c0c0c0; font-size: 1.1em; position: relative; top: 20px; left: 10px; text-transform: uppercase;}
.box-counter .counter .text-counter .counter-total {line-height: 26px; padding-bottom: 5px;}
.box-counter .counter .text-counter .CurrencyDropDown {margin-left: 10px;width: 85px;height: 25px;font-size: 12px;background-color: #404040; color: #fff;}
.box-counter .counter .counterplugin {float: right; text-align: right; width: 60%; position: relative; top: 10px; right: 10px; direction: ltr;}
.box-counter .counter .counterplugin .counter-comment {font-size: 10px; color: White; text-transform: uppercase; text-align: left; padding-left: 16px;}

/* Sign in */
.sign-in {padding: 10px 20px; line-height: 35px; font-size: 12px;}
.log-out {background-color: @maincolor; color: #fff; padding:5px 10px; -webkit-border-radius: 3px;-moz-border-radius: 3px; border-radius: 3px;}
.log-out:visited {color: #fff;}

/* Footer STYLE */
#footer {width: 100%; background: url('@{rootPath}Footer-background.png') repeat; position: relative; margin-top: -100px; /* negative value of footer height */ height: 100px; clear:both; font-size: 13px; color: #fff;}
#footer .footer-wrap{width: 1000px; position: relative; margin-top: 0px; margin-left: auto; margin-right: auto; padding: 20px 0;}
#footer a:link {color: #fff; text-decoration: none}
#footer a:visited {color: #fff; text-decoration: none}
#footer a:active {color: #fff; text-decoration: none}
#footer a:hover {color: #fff;  text-decoration: underline;}
#footer .card-logo {vertical-align: middle; height: 15px;}
#footer .line-footer {height: 1px; background: #555; margin: 7px 0;}
#footer .wrap-like-box {padding-top: 5px;}
#footer .wrap-social-media {padding-top: 2px;}

.fb-like {font-size: 13px;}

.clear {height: 20px;}

/*Opera Fix Footer*/
body:before {content:""; height:100%; float:left; width:0; margin-top:-32767px;} 


/* shortcut STYLE */
.shortcut {height: 180px;}
.shortcut p {text-align: center; font-family: 'Open Sans', Arial, sans-serif; color: #5e5e5e; padding: 9px 0 5px 0; }
.shortcut span {color: @maincolor;}
.shortcut img {padding: 10px 25px 4px 20px;}
.shortcut-icon-left {background: url('@{rootPath}shortcut.png') repeat scroll 0% 0% transparent; height: 163px; width: 163px;border-radius: 10px 10px 10px 10px; border: 2px solid rgb(222, 222, 222);float: right; margin-left: 28px; box-shadow: 0px 2px 10px rgb(214, 210, 210);} /* Convert in Hebrew */
.shortcut-icon-right {background: url('@{rootPath}shortcut.png'); height: 163px; width: 163px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border:2px solid #dedede; float: right;  margin-right: 0px; -webkit-box-shadow: 0px 2px 25px rgba(244, 244, 244, 0.58); -moz-box-shadow: 0px 2px 10px rgba(214, 210, 210, 0.58); box-shadow: 0px 2px 10px rgba(214, 210, 210, 1);} /* Convert in Hebrew */


/* Gradient transparent - color - transparent */
hr.style-two { border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));  }

/* Virtual Terminal */
.legend-menu {height: 20px;}
.area-content {padding: 0 25px 0 25px;}
.area-content .content-background {background: url('@{rootPath}noisy-texture-100x100-o5-d16-c-e6e6e6-t0.png'); min-height: 720px; padding: 15px; font-size: 0.9em;}
.area-content .content-background .section {position: relative; padding: 20px 20px 20px 20px; min-height: 40px; background-color: #ffffff; -webkit-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); -moz-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); margin: 10px 0 10px 0;}
.area-content .content-background .section-tabs {position: relative; font-size: 14px; background-color: #fff; border: 15px solid #F7F7F7; padding: 20px;  border-radius: 10px; border-top-left-radius: 0;}
.area-content .content-background .section-tabs table td {font-size: 14px; padding: 0 2px 0 2px;}
.area-content .content-background .section-faq {position: relative; min-height: 40px; background-color: #ffffff; -webkit-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); -moz-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); margin: 10px 0 10px 0;}
.area-content .content-background .section-middle {position: relative; padding: 20px 10px 20px 10px; min-height: 85px; background-color: #ffffff; -webkit-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); -moz-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); margin: 10px 0 10px 0;}
.area-content .content-background .section-small {position: relative; padding: 20px; min-height: 40px; background-color: #ffffff; -webkit-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); -moz-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); margin: 10px 0 10px 0;}
.area-content .content-background .section-small td {font-size: 0.8em; font-weight: bold; width: 22%; }
.area-content .content-background .section-small .leftspace {padding-left: 15px;}
.area-content .content-background .section table {width: 100%; font-size: 1em; font-weight:lighter;}
.area-content .content-background .section-middle table {width: 100%; font-size: 1em; font-weight:lighter;}
.area-content .content-background .section-middle td {vertical-align: middle; height: 40px;}
.area-content .content-background .section td {vertical-align: middle; height: 40px;}
.area-content .content-background .section td a:link {color: #666666; text-decoration: none;}
.area-content .content-background .section td a:visited {color: #666666; text-decoration: none;}
.area-content .content-background .section td a:hover {color: #666666; text-decoration: underline;}
.area-content .content-background .section td a:active {color: #666666; text-decoration: none;}
.area-content .content-background .section td label {padding-left: 6px; vertical-align: text-bottom;}
.area-content .content-background .section .P-size {float: left; width: 25%;}
.area-content .content-background .section .P-size-last {float: right; width: 22%;}
.area-content .content-background .section .small-td {width: 110px;}
.area-content .content-background .section ul {padding: 15px; line-height: 22px; list-style-type: square}
.area-content .content-background .section-small ul {padding: 15px; line-height: 22px; list-style-type: square}
.area-content .content-background .section ul img {vertical-align: middle; border: 0;}
.area-content .content-background .section .content {font-size: 0.9em; padding: 6px 0 6px 0 }
.area-content .content-background .section-middle .filter-decline {float: right; position: relative; background-color: #f7f7f7; min-height: 80px; width: 145px; border-radius: 6px; -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25);-moz-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25); box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.area-content .content-background .section .filter {float: right; position: relative; background-color: #f7f7f7; min-height: 121px; width: 145px; border-radius: 6px; -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25);-moz-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25); box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.area-content .content-background .section .filter-double {float: right; position: relative; background-color: #f7f7f7; min-height : 160px; width: 175px; border-radius: 6px; -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25);-moz-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25); box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.area-content .content-background .section .filter-series {float: right; position: relative; background-color: #f7f7f7; height: 121px; width: 175px; border-radius: 6px; -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25);-moz-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25); box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.25); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.wrap-button-bar {background: #F7F7F7; height: 45px;padding-right: 10px; margin: 20px -20px -20px -20px; text-align: right; padding-top: 20px}

.alert {color: @maincolor; margin: 0; font-size: 0.8em;}
.arrow {background: url('@{rootPath}arrow.png'); height: 29px; background-repeat: no-repeat; background-position: right; margin-right: 40px;}
.hlink {cursor:help} 
.hlink a:link {color: #3d3c33; text-decoration: none;}
.hlink a:visited {color: #3d3c33;}
.hlink  a:hover {color: #3d3c33; text-decoration: underline;}
.hlink  a:active {color: #3d3c33;}
.button-form {position: relative;right: 20px;top: 10px; text-align: right; margin-bottom: 10px;}
.button-search {background: url('@{rootPath}button-search.png'); height: 26px; width: 105px; border: 2px solid rgba(194, 194, 194, 0.75); border-radius: 6px;}
.RadioButtonWidth label {margin-right: 50px; margin-left: 5px; height: 60px;  }
.RadioButtonWidth {line-height: 35px; font-size: 13px;}
.RadioButtonWidthVT {line-height: 20px;}
.RadioButtonWidthVT label {margin-right: 50px; margin-left: 5px; height: 60px; }
.help {color: #A7ABB1; font-size: 12px;}
.button:visited {color: #fff;}
/* Forms */

input, select , textarea {box-sizing: border-box;-moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
input[type=text] textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-appearance:none!important;color:#282323 outline: 0;height:16px;line-height:15px;font-size:13px;font-weight:400;vertical-align:top;background-color:#fff;min-height:37px;filter:none!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:1px solid #dddddd;transition:background .2s linear 0 box-shadow .2s linear 0;padding:6px 11px!important}
input[type='text']:disabled  textarea:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="date"]:disabled, input[type="month"]:disabled, input[type="time"]:disabled, input[type="week"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="url"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="color"]:disabled, select:disabled {background-color: #F4F5F7;}
input:focus, textarea:focus, select:focus {border-color: #E5E9EC; outline: 0px none !important; box-shadow: none; background-color: #F4F5F7;}
input[type=radio],input[type=checkbox] {position: relative; top: 2px;}
input[type=radio] + label,input[type=checkbox] + label {padding-left: 3px;}
/* Size */
.vertical-middle {vertical-align: middle;}
.text-align-right {text-align: right;}
.text-align-left {text-align: left;}
.text-align-center {text-align: center;}
.percent-height-10 {height:10%}
.percent65 {width: 65% }
.percent40 {width: 40% }
.percent48 {width: 48% }
.percent50 {width: 50% }
.percent55 {width: 55% }
.percent15 {width: 15%}
.percent18 {width: 18%}
.percent23 {width: 23%}
.percent20 {width: 20%}
.percent25 {width: 25%}
.percent31 {width: 31%}
.percent32 {width: 32%}
.percent33 {width: 33%}
.percent73 {width: 73%}
.percent75 {width: 75%}
.percent80 {width: 80%}
.percent85 {width: 85%}
.percent100 {width: 100%}
.margin-right-left-3 {margin: 0 3px;}
.margin-bottom-10 {margin-bottom:10px;}
.margin-bottom-20 {margin-bottom:20px;}
.margin-bottom-5 {margin-bottom: 5px;}
.margin-top-5 {margin-top: 5px;}
.margin-top-10 {margin-top:10px;}
.margin-top-20 {margin-top:20px;}
.margin-right-10 {margin-right: 10px;}
.margin-left-10 {margin-left: 10px;}
.line-height-30 {line-height: 30px;}
.line-height-35 {line-height: 35px}
.line-height-55 {line-height: 55px}
.line-height-85 {line-height: 85px;}
.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-22-top {padding-top: 22px;}
.padding-5-side {padding: 0 5px}
.padding-10-left {padding-left: 10px;}
.padding-5-right {padding-right: 5px}
.padding-5-left {padding-left: 5px}
.padding-10-right {padding-right: 10px;}
.padding-5-top {padding-top: 5px;}
.padding-5-bottom {padding-bottom: 5px;}
.padding-4-both {padding: 0 4px;}
.select-middle {width: 90px;}
.meduim {width: 215px;}
.meduim-value {width: 215px;}
.small {width:42px;} 
.rows {width:60px;}
.Field_60 {width: 50px;}
.Field_75 {width: 75px;}
.Field_70 {width: 60px;}
.Field_80 {width: 80px;}
.Field_90 {width: 90px;}
.Field_100 {width: 100px;}
.Field_110 {width: 110px;}
.Field_120 {width: 120px;}
.Field_132 {width: 132px;}
.Field_140 {width: 140px;}
.Field_145 {width: 145px;}
.Field_150 {width: 150px;}
.Field_155 {width: 155px;}
.Field_160 {width: 160px;}
.Field_200 {width: 200px;}
.Field_250 {width: 250px;}
.Field_440 {width: 440px;}
.Field_500 {width: 500px;}
.middle {width: 155px;}
.middle-value {width: 125px; color: #818181; margin: 0px;}
.radion-button {padding: 5px;}
.require {color: red; font-size: 0.8em}
.require-vt {color: #515151; font-size: 0.8em}

/* Link */
.hyperlink {color: @maincolor; font-size: 1em; text-decoration: none;}

/* Notification */
.All-alerts {margin-top: 30px;}
.Notification {height: 38px; width:98%; background-color: #fefab1; color: #282828; padding: 15px 10px 0 10px; margin: 5px 0 5px 0; font-size: 0.9em; font-weight: bold; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; }
.Notification img {vertical-align: middle; margin-right: 10px;}


.rows-select {width: 880px; background-color: #e5eff8; color: #282828; padding: 5px 10px 0 10px;  margin: 5px 0 5px 0; font-size: 0.9em; font-weight: bold; vertical-align: middle;}
.rows-select img {vertical-align: middle; margin-right: 10px;}

.top-nav-wizard {height: 40px; top: 0px; background: url('@{rootPath}noisy-texture-100x100-o5-d16-c-a6a6a6-t0.png'); color: #ffffff; font-size: 17px; padding-right: 20px;}
.top-nav-wizard .top-nav-text {padding: 8px;}
.notif-text {color: #097cb9;}

.wrap-notification {background: #eee; position: relative; width: 760px; min-height: 369px; color: #6b6b6b; font-size: 12px;font-family: Arial;}
.notification-spacer {height: 5px;}
.notification-content { background-color: #fff; width: 688px; padding: 15px; -webkit-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); -moz-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); opacity: 0.8; min-height: 90px; margin: 10px auto;}
.notification-content p { padding: 10px; line-height: 21px; font-weight: bold; }
.notification-content .notification-content-title {float: left; width: 24%; position: relative; }
.notification-content .notification-content-title .notifaction-popNumber { position: absolute;top: 5px; left: 80px; text-align: center; z-index: 2;background: url('@{rootPath}tooltip.png') no-repeat;width: 45px;height: 24px; color: #ffffff; font-weight: bold; padding: 2px 10px 0 0; text-align: center; direction: ltr; }
.notification-content .notification-content-title .notification-button { background-color: @maincolor; min-height: 48px; width: 128px; border-radius: 6px; margin-top: 10px; margin-right: 15px; border: 5px solid #d2d2d2; color: #ffffff; text-align: center; }
.notification-content .notification-content-title .notification-button .notification-button-text  {padding: 15px 5px; font-size: 13px; }
.notification-content .notification-content-data {width: 76%; direction: ltr; text-align: left; line-height: 20px; float: left;}
.notification-content .notification-content-data a:link {color: @maincolor; text-decoration: none;}
.notification-content .notification-content-data a:visited {color: @maincolor;}
.notification-content .notification-content-data a:hover {color: @maincolor; text-decoration: underline;}
.notification-content .notification-content-data a:active {color: @maincolor;}
.notification-content .notification-content-data ul{padding-left: 10px; line-height: 20px;}
.notification-content .notification-content-data ul li {list-style-type: circle; margin-left: 5px;}

/* Table */
.exspand-table {width: 100%; font-size: 12px !important;}
.exspand-table td {border: 1px solid #e8e8e8; padding: 4px 8px 4px 10px;}
.exspand-table td .Numeric {text-align:center; text-decoration:underline;}
.hidden-td {background-color: #efefef; padding: 8px;}
.hidden-td .details-td {width: 25%; float: left; padding: 8px; line-height: 24px;}
.hidden-td .details-td-right {width: 17%; float: right; padding: 8px; line-height: 24px; }
.hidden-td .details-td .hidden-div{width: 100%; min-height: 180px;}
.exspand-table th {background: url('@{rootPath}table-background.png') repeat-x; height: 53px; font-weight: normal; text-align: left; text-transform: uppercase; padding-left: 8px; padding-right: 8px;}
.exspand-table th .first-th {width: 20px; }

#icon {width: 10px; height: 10px; background-color: #ff6e00;}


/* balance */
.Filter-navbar {background-color: #ececec; min-height: 30px; padding: 10px; font-weight: bold; font-size: 0.8em;}
.Filter-navbar .left-filter{position: relative; float: left; width: 50%}
.Filter-navbar .right-filter{position: relative; float: right; width: 50%; text-align: right}

/*Approved Transactions*/
.button-quick {padding-top: 15px}
.quick-search {padding: 10px; text-align: center;}
.quick-search .field-quick {padding-top: 12px;}
.quick-search .field-quick-decline {margin-left: -15px; }
.Approved {float: left; position: relative;  display:inline-block; line-height: 35px;}

/*faq*/
#mydiv5 {font-size: 0.8em; line-height: 26px;}
.head-faq {padding: 0 0 0.6em; color: @maincolor; font: 1em arial,helvetica,sans-serif; font-weight: bold;}
.head-faq-arrow {margin-right: 6px;}
.faq-align-left {float: left; padding-right: 15px;}

/*User Managmert*/
.user-property {float: left; line-height: 38px; width: 540px;}
.user-property td {font-weight: normal;}
.user-property table .fixed-width {width: 350px;}
.iphone-property {float: right;  width: 330px;}
.iphone-property .iphone-detalis-text {position: relative;bottom: 400px;left: 0px; text-align: center;}
.iphone-property .iphone-detalis-text p {color: #fff; line-height: 26px;} 
.iphone-property .iphone-detalis {position: relative; float: right;}

/*faq*/
.faq {line-height: 30px;padding: 6px 30px 10px 30px;}
.faq-question {padding: 4px 10px 4px 10px; color: @maincolor; font: 1em arial,helvetica,sans-serif; font-weight: bold; border-color: #ececec; border-width: 1px; border-bottom-style: solid; background: url('@{rootPath}faq-grad.png') repeat-x; cursor:help}
.exspand-close-faq {float: right; margin-right: 15px;}
.links-faq {color: #434343; text-decoration: none;}
.links-faq a:link {color: #434343; text-decoration: none;}
.links-faq a:hover {color: #434343; text-decoration: underline;}
.links-faq a:visited {color: #434343; text-decoration: none;}

/*Contact us*/
.contact-table {width: 75% !important; font-size: 1em; font-weight: lighter; }
.icon-contact {padding-right: 14px; float: left;}

/* Popup */
table.popup {background-color: #ececec; border: 1px solid #454545; }
table.popup th {color: #5a5a5a; font-size: 0.9em; text-align: center;}
table.popup span.title {font-weight:bold; text-transform:uppercase; font-size: 1em; } /*Language dependent*/
table.popup span.btn Input {border:1px solid silver; } /*Language dependent*/
table.popup td.header {padding: 6px 12px 6px 12px;}
table.popup td.Content {border: 1px solid #E1E1E1; background-color: #ffffff; color: #5a5a5a; font-size: 0.9em; text-align: center; padding: 10px; -webkit-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); -moz-box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75); box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.75);}
table.popup td.Content td {color: #5a5a5a; font-size: 0.9em; text-align: center;}

/* TRANSACTION-DETAILS IFRAME */

.table-iframe {width: 100%; height: 100%; background-color: #efefef; background-image: url('@{rootPath}arrow-invert.png'); background-repeat: no-repeat; background-position: 9px 0px;}
.table-iframe .table-iframe-content {padding: 30px 20px 10px 20px;}
.table-iframe .table-iframe-content table {font-size: 0.9em;  line-height: 21px; margin-left: 10px; width: 100%;}
.table-iframe .table-iframe-content table td {padding-right: 30px;}
.table-iframe .table-iframe-content table td a:link {font-size: 12px; color: #000000; vertical-align: middle;}
.table-iframe .table-iframe-content table td a:visited {color: #000000;}
.table-iframe .table-iframe-content table td a:hover {color: #000000; text-decoration: underline;}
.table-iframe .table-iframe-content table td a:active {color: #000000;}

.table-iframe .table-iframe-content table td span.SmallHeadings {min-width:60px; display:inline-block; font-size: 12px; }
.table-iframe .table-iframe-content table div.MainHeadings {color: @maincolor; font-weight:bold;  white-space:nowrap;}
.table-iframe .transActionBar {background-color: #dddddd; width: 100%; margin-left: 20px; padding-left: 20px; height: 15px; padding: 5px;}
.table-iframe .transActionBar td a {display: inline; padding-right: 10px; padding-left: 15px; background: url('@{tempPath}Images/list-type.png') no-repeat left; cursor:pointer; text-decoration:none; color: #4b4b4b; }
.table-iframe .transActionBar img {padding-right: 10px; vertical-align: middle;}
.secure-3d {background: #dff0d8; border: 1px dashed #3c763d; color: #3c763d; padding: 5px 10px; margin: 0 0 5px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

/*Beneficiary Add Update*/
.section .BeneficiaryList {border-bottom: 1px dashed #3d3c33; padding-bottom: 10px;}
.Disclaimer {font-size: 0.8em; line-height: 26px; color: #878787;}
.Beneficiary-button {float: right; padding: 10px;}
.Beneficiary-detalis {float:left; padding: 15px;}

/*TransDecline*/
.Declined {float: left;position: relative; line-height: 35px;}
.word {margin: 0 10px 0 10px; line-height: 35px;}

/*RefundRequests*/
.Refund-level-top {padding-bottom: 19px; border-bottom: 1px dashed #3d3c33; float: left;}
.Refund-level-bottom {padding-top: 19px; float: left;}
.quick-search-Refund {padding-right: 10px; text-align: center; line-height: 29px;}

/*TransClarify*/
.section .TransClarify-level-bottom {line-height: 40px;}

/*CustomerTransactions*/
.section .CustomerTransactions-bottom {border-top: 1px dashed #d0d0d0; margin-top: 20px;}

/*RecurringSeries*/
.section .RecurringSeries-bottom {border-top: 1px dashed #d0d0d0; margin-top: 10px; padding-top: 10px;}
.section .RecurringSeries-bottom h3 {padding: 0px 0px 0.6em 14px; color: #ca1a01; font: bold 1em arial,helvetica,sans-serif;}

/*RecurringEditCharge*/
.section .EditCharge {padding-left: 14px; font-weight: bold;}

/*ScrolltoTOP*/
#toTop {display:none;text-decoration:none;position:fixed;bottom:110px;right:30px;overflow:hidden;width:51px;height:51px;border:none;text-indent:100%;background:url('@{rootPath}ui.totop.png') no-repeat left top;}
#toTopHover {background:url('@{rootPath}ui.totop.png') no-repeat left -51px; width:51px;height:51px;display:block;overflow:hidden;float:left;opacity: 0;-moz-opacity: 0;filter:alpha(opacity=0);}
#toTop:active, #toTop:focus {outline:none;}

/*Limited User Managment*/
div#SiteMapAccess div{padding-top:15px; padding-bottom: 5px;}
div#SiteMapAccess div Label{padding-left:6px; padding-right:15px;}
.section-tabs .space-dashed{border-top: 1px dashed #323232; margin-top: 20px; padding-top: 20px;}
.section-tabs .double-dashed {border-top: 1px dashed #323232; border-bottom: 1px dashed #323232; margin-top: 20px; padding-top: 20px; padding-bottom: 20px;}
.section-tabs .head-usermanage{font-size: 16px; font-weight: bold; padding-left: 6px;}


/*Credit Card Storage*/
#Credit-detalis {padding-top: 20px;}
#Credit-detalis td {vertical-align: top; width: 30%; border: 0px; font-size: 12px; line-height: 24px;}
#Credit-detalis h3 {vertical-align: top; font-weight: bold; font-size: 12px;}
.ExpandButtonCCstorage {cursor: pointer; border: 0; vertical-align: middle;}

/*feedback*/

.wrap-feedback{background-color:#e9e9e9}
.header-feedback{background-color:#515151;color:#fff;overflow:hidden;font-size:14px;padding:5px 10px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px}
.body-feedback{font-size:12px;font-family:Arial;padding:10px;background-color:#e9e9e9;height:354px}
.feedback-subject li{display:inline;list-style-type:none;padding-right:20px}
.textarea-feedback {width: 100%; height: 60px;}

/*tabs*/
#page-wrap {width: 440px; margin: 80px auto;}
.hide { position: absolute; top: -9999px; left: -9999px; }
.organicTabs .list-wrap { background: #eee; margin: 0 0 15px 0; min-height: 40px; background-color: rgb(255, 255, 255);}
.organicTabs .list-wrap ul {margin:0; padding: 0 !important;}
.organicTabs .list-wrap ul li {list-style-type: none}
.organicTabs ul {list-style: none; }


.organicTabs .nav {overflow: hidden; margin: 0px 10px 0 0;  padding: 0 !important; }
.organicTabs .nav li { min-width: 97px; float: left; margin: 0 10px 0 0; list-style-type: none; }
.organicTabs .nav li.last { margin-right: 0; }
.organicTabs .nav li a {display: block; padding: 8px 25px 5px 25px; text-transform: uppercase; font-size: 13px; background: #3a3a3a; color: #fff; text-align: center; border: 0; webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;border-top-left-radius: 6px;border-top-right-radius: 6px; height: 20px; text-decoration: none;  }
.organicTabs li a.current,.organicTabs li a.current:hover {text-decoration: underline; background: #f7f7f7; color: #000000; text-decoration:none; height: 20px; border-left: 1px solid #ededed; border-right: 1px solid #ededed; border-top: 1px solid #ededed; -webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;border-top-left-radius: 6px; border-top-right-radius: 6px;}
.organicTabs .nav li a:hover, .organicTabs .nav li a:focus {background: #f7f7f7; color: #3a3a3a;}

/* Proudct Managment */
#productIframe {padding: 10px; font-size: 13px;}
input#chkDynamicAmount  {padding-left: 10px; margin-right: 5px;}
input#chkIsInstallmentsCredit { padding-left: 10px; margin-right: 5px;}
input#chkDownloadlnk { padding-left: 10px; margin-right: 5px;}
.transactionStatusCaptured { background-color: #66cc66; }
.transactionStatusDeclined { background-color: #FF6666; }
.transactionStatusAuthorized { border:1px solid #66cc66;background-color: White;}
.transactionStatusPending { background-color: #ff6666; }
.status {width: 4px;}
.statusActive {background-color: #FFC62F; border: 1px solid #FFC62F; height: 14px;}
.statusPaid {background-color: #66cc66; border: 1px solid #66cc66; height: 14px;}
.statusSuspended {background-color: Gray; border: 1px solid Gray; height: 14px;}
.statusBlocked {background-color: #ff6666; border: 1px solid #ff6666; height: 14px;}
.statusAuthorized {border:1px solid #66cc66;background-color: White; height: 14px;}
.statusPrecreated {background-color: #FFFFFF; border: 1px solid #FFC62F; height: 14px;}
.statusImage {font-size: 17px; color: #1E9F75;}
.saveImageicon {margin-left: 5px; line-height: 24px; padding: 10px 0;}

/*Show Totals*/
.ShowtotalsBack {background-color:White!important; background-image:none!important; direction: ltr; overflow: hidden;}
.wrap-showtotals {padding: 20px;}
.tdShowtotal {text-align: left; float: left; width: 97%;}
.Showtotalclose {padding-right: 40px; padding-top: 20px; font-size: 13px; text-align: left;}
.Showtotalclose a:link {color: #CA1A01; text-decoration: none;}
.Showtotalclose a:hover {color: #CA1A01; text-decoration: underline;}
.Showtotalclose a:visited {color: #CA1A01; text-decoration: none;}
.Showtotalclose a:active {color: #CA1A01; text-decoration: none;}
#Total1 {display: block; text-align: left;} 

/*Settings*/
 .alert-banner {font-size: 12px; padding-bottom: 15px; }
.wrap-banner {float: left;}
 .file-input-wrapper {width: 115px;height: 32px;overflow: hidden;position: relative; padding:0 0 0 10px;}
 .file-input-wrapper > input[type="file"] {font-size: 200px; position: absolute;top: 0;right: 0;opacity: 0;}
 .file-input-wrapper > .btn-file-input {display: inline-block;border: 0px; background: url('@{tempPath}Images/browse.png'); width: 113px; height:34px;}
.file-input-wrapper:hover > .btn-file-input {border: 0px; background: url('@{tempPath}Images/browse.png'); width: 114px; height:34px; position: relative; top:1px;}
.wrap-delete-banner {position: absolute; top: 10px; left: 7px;}
 .banner-image {border: 1px solid #e5e5e5}

#PromotionUrl {line-height: 40px; padding-top: 10px;}
#PromotionUrl .lnk-input {width: 465px; vertical-align: middle !important;}

#fileLogoImage {-moz-box-shadow: 0px !important; box-shadow: 0px !important; -webkit-box-shadow:0px !important; padding-left: 0px;}
#filePromotionBanner {-moz-box-shadow: 0px !important; box-shadow: 0px !important; -webkit-box-shadow:0px !important; padding-left: 0px;}

.banner-recycle {background: url('@{rootPath}Recycle.png') no-repeat left; color: #15679B;padding: 12px 10px 9px 26px; width: 100px; height: 31px; line-height: 31px; font-weight: 700; background-color: #fff; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px; border-width: 5px; border-color: #fff; border-top: 4px solid #3A78D5;  border-right: 4px solid #3A78D5; border-bottom: 1px solid #3A78D5 }
.banner-recycle a:link {color: #15679B; text-decoration: none;}
.banner-recycle a:hover {color: #15679B; text-decoration: underline;}
.banner-recycle a:active {color: #15679B; text-decoration: none;}
.banner-recycle a:visited {color: #15679B; text-decoration: none;}

/*Side-pannel*/
#DvSidebarPanel {position:fixed; bottom: 0px; width: 200px; left: 5%;}
.btnSupport{background-color:@maincolor;text-align:center;cursor:pointer;height:30px;text-transform:uppercase;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;color:#fff;line-height:30px;font-family: 'Open Sans', Arial, sans-serif;}
.bodysupport{background-color:#fff;border:1px solid #bebebe;font-size:12px;padding:20px}
.bodysupport p{line-height:20px;margin:0;padding:0}
.bodysupport a:link,.bodysupport a:visited,.bodysupport a:active{font-size:12px;color:gray;text-decoration:none}
.bodysupport a:hover{text-decoration:underline}
.bodysupport hr {border:none; background: #bebebe; margin: 10px 0; height: 1px;}

/* Language Drop-Down */
div.dropdown{color:#555;width:143px;position:relative;height:17px;text-align:left;margin:3px -22px 0 0}
div.submenu{background:#fff;position:absolute;top:-12px;left:-20px;z-index:100;width:135px;display:none;margin-left:10px;border-radius:6px;box-shadow:0 2px 8px rgba(0,0,0,0.45);padding:40px 0 5px}
.dropdown li a{color:#555;display:block;font-family:arial;font-weight:700;cursor:pointer;text-decoration:none;padding:6px 15px}
.dropdown li a:hover {background: @maincolor;color:#FFF;text-decoration:none}
a.account{font-size:11px;line-height:16px;color:#555;position:absolute;z-index:110;display:block;height:28px;width:121px;text-decoration:none;background:url('@{rootPath}arrow-language.png') 116px 17px no-repeat;cursor:pointer;margin:-11px 0 0 -10px;padding:11px 0 0 20px}
.root{list-style:none;font-size:11px;border-top:1px solid #dedede;margin:0;padding:11px 0 0}

/* Menu */
#menu{list-style:none;width:956px;height:43px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-image:url('@{rootPath}menu/gradient.png');background-repeat:repeat-x;border:1px solid #3c3c3c;-moz-box-shadow:inset 0 0 1px #d5d5d5;-webkit-box-shadow:inset 0 0 1px #d5d5d5;box-shadow:inset 0 0 1px #d5d5d5;padding:0 20px}
#menu li{float:left;display:block;text-align:center;position:relative;margin-right:26px;margin-top:7px;border:none;width:160px;padding:4px 10px}
#menu li:hover{border:1px solid #777;background: #EEEEEE;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;padding:4px 9px}
#menu li a{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:700;color:#EEE;display:block;outline:0;text-decoration:none;text-shadow:1px 1px 1px #000}
#menu li:hover a{color:#161616;text-shadow:1px 1px 1px #fff}
#menu li .drop{padding-right:30px;background:url('@{tempPath}Images/menu/drop.png') no-repeat right 8px}
#menu li:hover .drop{background:url('@{tempPath}Images/menu/drop.png') no-repeat right 7px}
.dropdown_1column,.dropdown_2columns,.dropdown_3columns,.dropdown_4columns,.dropdown_5columns{width:190px}
#menu li:hover .dropdown_1column,#menu li:hover .dropdown_2columns,#menu li:hover .dropdown_3columns,#menu li:hover .dropdown_4columns,#menu li:hover .dropdown_5columns{left:-1px;top:auto}
.col_1,.col_2,.col_3,.col_4,.col_5{display:inline;position:relative;margin:5px}
.col_1 {width:150px}
.col_2 {width:270px}
.col_3 {width:410px}
.col_4 {width:550px}
.col_5 {width:690px}
#menu .menu_right{float:left;margin-right:0}
#menu li .align_right{-moz-border-radius:5px 0 5px 5px;-webkit-border-radius:5px 0 5px 5px;border-radius:5px 0 5px 5px}
#menu li:hover .align_right{left:auto;right:-1px;top:auto}
#menu p,#menu h2,#menu h3,#menu ul li{font-family:Arial, Helvetica, sans-serif;line-height:21px;font-size:12px;text-align:left;text-shadow:1px 1px 1px #FFF}
#menu h2{font-size:21px;font-weight:400;letter-spacing:-1px;padding-bottom:14px;border-bottom:1px solid #666;margin:7px 0 14px}
#menu h3{font-size:11px;padding-bottom:7px;margin:7px 0 14px}
#menu p{line-height:18px;margin:0 0 10px}
#menu li:hover div a{font-size:12px;color:#3d3c33}
#menu li:hover div a:hover{color:#f60}
.strong{font-weight:700}
.italic{font-style:italic}
.images .menushadow{background:#FFF;border:1px solid #777;margin-top:5px;-moz-box-shadow:0 0 5px #666;-webkit-box-shadow:0 0 5px #666;box-shadow:0 0 5px #666;padding:4px}
.images .menu_left{width:auto;float:left;margin:5px 15px 5px 5px}
#menu li .black_box{background-color:#333;color:#eee;text-shadow:1px 1px 1px #000;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 0 3px #000;-moz-box-shadow:inset 0 0 3px #000;box-shadow:inset 0 0 3px #000;padding:4px 6px}
#menu li ul{list-style:none;margin:0 0 12px;padding:0}
#menu li ul li{font-size:12px;line-height:24px;position:relative;text-shadow:1px 1px 1px #fff;float:none;text-align:left;width:130px;margin:0;padding:0}
#menu li ul li:hover{background:none;border:none;margin:0;padding:0}
#menu li .greybox li{background:#F4F4F4;border:1px solid #bbb;width:116px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;margin:0 0 4px;padding:4px 6px}
#menu li .greybox li:hover{background:#fff;border:1px solid #aaa;margin:0 0 4px;padding:4px 6px}

/* Top Menu */ 
ul.ldd_menu{display:block;height:50px;background-color:#515151;list-style:none;font-family: 'Open Sans', Arial, sans-serif;font-size:14px;font-weight:400;border-top:1px solid #797979;border-bottom:1px solid #797979;border-left:10px solid #515151;-moz-box-shadow:0 3px 4px #6b6b6b;-webkit-box-shadow:0 3px 4px #6b6b6b;-box-shadow:0 3px 4px #6b6b6b;margin:0;padding:0}
ul.ldd_menu a{text-decoration:none}
ul.ldd_menu > li{float:left;position:relative}
ul.ldd_menu > li > span{float:left;color:#fff;background-color:#515151;height:50px;line-height:50px;cursor:default;text-shadow:0 0 1px #fff;border-right:1px solid #626262;border-left:1px solid #797979;padding:0 15px}
ul.ldd_menu .ldd_submenu{position:absolute;top:50px;display:none;opacity:0.95;left:0;font-size:10px;background:#6d6d6d;border-top:1px solid #626262;-moz-box-shadow:0 3px 4px #6b6b6b inset;-webkit-box-shadow:0 3px 4px #6b6b6b inset;-box-shadow:0 3px 4px #6b6b6b inset;z-index:1}
a.ldd_subfoot{background-color:#f0f0f0;color:#444;display:block;clear:both;text-transform:uppercase;font-family:Arial, serif;font-size:12px;text-shadow:0 0 1px #fff;-moz-box-shadow:0 0 2px #777 inset;-webkit-box-shadow:0 0 2px #777 inset;-box-shadow:0 0 2px #777 inset;padding:15px 20px}
ul.ldd_menu ul{list-style:none;float:left;border-left:1px solid #626262;margin:20px 0 10px 30px;padding:10px}
li.ldd_heading{font-family:Arial;font-size:15px;font-style:italic;color:@menutextcolor;text-shadow:0 0 1px #B03E23;padding:0 0 5px}
li.ldd_heading a:link,a:active a:visited{font-family:Arial;font-size:15px;font-style:italic;color:#c1e9ff!important;text-shadow:0 0 1px #B03E23;padding:0 0 10px}
li.ldd_heading a:hover{font-family:Arial;font-size:15px;font-style:italic;color:#c1e9ff;text-decoration:underline;text-shadow:0 0 1px #B03E23;padding:0 0 10px}
ul.ldd_menu ul li a{font-family:Arial, serif;font-size:12px;line-height:20px;color:#fff;padding:1px 3px}
ul.ldd_menu ul li a:hover {color: @menutextcolor;}
#Last4digits{color: #ca1a01; padding: 15px 10px 0 10px; margin: 5px 0 5px 0; font-size: 0.9em; font-weight: bold;}

/*  table  */
.table-inline {display: table; width: 100%; line-height: 24px; line-height: 30px;}
.table-row {display: table-row;}
.table-td {display: table-cell;}

/* theme */
.theme-ul {display:block; list-style-type: none; margin: 0px; padding: 0px !important; }
.theme-ul li {float: left; height: 55px; width: 55px;margin-right: 20px; list-style: none; border: 4px solid #fff;}
.theme-ul li:hover {border: 4px solid #ca1a1c; }
.theme-ul .check-theme {position: relative; bottom: 29px; height: 29px; width: 29px; float: right; background: url('@{rootPath}Themes/tick.png'); display: none;}

/* Payment Page */
.checklistInput {height: 25px; line-height: 25px; display: block; font-size: 12px;}
.checklistInput label {position: relative; top: -2px; padding-left: 5px;}
.Requierd-input {font-size: 11px;  margin-top: 10px; color: #15679B;}
#tblchecklistInput {margin-top: 10px;}
#logo-company .alert-logo {font-size: 12px;}
#logo-company .wrap-img-logo  {float: left; padding-top: 15px;}
#logo-company .file-input-wrapper {width: 115px;height: 32px;overflow: hidden;position: relative; float: left; padding:15px 0 0 10px;}
#logo-company .file-input-wrapper > input[type="file"] {font-size: 200px; position: absolute;top: 18px;right: 0;opacity: 0;}
#logo-company .file-input-wrapper > .btn-file-input {display: inline-block;border: 0px; background: url('@{tempPath}Images/browse.png'); width: 113px; height:34px;}
#logo-company .file-input-wrapper:hover > .btn-file-input {border: 0px; background: url('@{tempPath}Images/browse.png'); width: 114px; height:34px; position: relative; top:1px;}
#logo-company .wrap-progress-bar {height: 32px; width: 100%; border: 1px solid #e5e5e5; margin-top: 10px;}
#logo-company .wrap-progress-bar .wrap-loader-img {width: 150px;}
#logo-company .wrap-progress-bar .wrap-delete-logo {float: right; text-align: right; padding: 6px;}
#logo-company .wrap-progress-bar .alert-png {color: #f00; font-size: 12px; font-weight: 700; line-height: 32px; padding-left: 5px; float: left}
#divUploadProgress {background-color: #53af00; width: 20px; border: 1px solid #e5e5e5; padding: 3px; color:white; float: left; line-height: 17px; height: 17px; margin: 4px; display: none}

.logo-recycle {background: url('@{tempPath}Images/Delete-button.png') no-repeat left;width: 23px; height: 31px; line-height: 27px; border: none !important; padding-right: 10px; cursor: pointer;}
.logo-recycle:hover {border: none !important; box-shadow: none !important; background-color: #fff !important; position: relative; top: 1px;}
.logo-recycle:active {border: none !important; box-shadow: none !important; background-color: #fff !important;}
.logo-recycle:focus {border: none !important;box-shadow: none !important; background-color: #fff !important;}

.tcTabs textarea {width: 100%;}
#RemoveLanguage {width: 200px; height: 31px; line-height: 31px; font-weight: 700; padding-top: 10px;}
#RemoveLanguage a:link {background: url('@{rootPath}Recycle.png') no-repeat left !important; padding: 0 0 0 25px !important; height: 31px; line-height: 31px; font-weight: 700;text-decoration: none; color: @maincolor;}
#RemoveLanguage a:hover {background: url('@{rootPath}Recycle.png') no-repeat left !important;  padding: 0 0 0 25px !important; height: 31px; line-height: 31px; font-weight: 700;text-decoration: underline; color: @maincolor;}
#RemoveLanguage a:active {background: url('@{rootPath}Recycle.png') no-repeat left !important;  padding: 0 0 0 25px  !important;  height: 31px; line-height: 31px; font-weight: 700; text-decoration: none; color: @maincolor;}
#RemoveLanguage a:visited {background: url('@{rootPath}Recycle.png') no-repeat left !important;  padding: 0 0 0 25px  !important; height: 31px; line-height: 31px; font-weight: 700; text-decoration: none; color: @maincolor;}

.tabs-edit {line-height: 28px; font-size: 12px; line-height: 28px; font-size: 12px; border: 1px solid #eee; padding: 15px; border-radius: 10px;}
.tabs-edit .wrap-check-default {background-color: #F9F9F9; height:20px; line-height: 40px; padding: 5px; margin-top: 10px;}

.version-ul {display:block; list-style-type: none; margin: 0px; padding: 0px !important; }
.version-ul li {float: left; height: 282px; width: 200px;margin-right: 20px; list-style: none;  border: 4px solid #ffffff;}
.version-ul li:hover {border: 4px solid @maincolor; }
.version-ul .check-version {position: relative; bottom: 56px; height:56px; width: 54px; float: right; background: url('@{tempPath}Images/tick-version.png'); display: none; }

/* Contacs us */
.contact-us-box {padding: 10px; height: 130px; width: 200px; float: left;}
.contact-us-box p {font-size: 12px; line-height: 22px;}
.contact-us-box p a:link, a:visited, a:active {color: #434343;}
.contact-us-box p a:hover {color: #666; text-decoration: underline;}

/* Facbook Tabs */
#facbook-tabs  a:link {color: #383838; font-weight: 700; text-decoration: none}
#facbook-tabs  a:hover {color: #383838; font-weight: 700; text-decoration: underline}
#facbook-tabs  a:visited {color: #383838; font-weight: 700; text-decoration: none}
#facbook-tabs  a:active {color: #383838; font-weight: 700; text-decoration: none}

/* Alert */

.alert-info {padding: 10px; color: #246a8e;background-color: #ebf6fb; border: 1px solid #bfd4de;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; line-height: 24px;}
.alert-warning {padding: 10px; color: #CE8F22;background-color: #FFFCEE; border: 1px solid #F0DBB4;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; line-height: 24px;}
.alert-error {padding: 10px; color: #556652; background-color: #D5FFCE; border: 1px solid #9ADF8F;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; line-height: 24px;}

.noerror {padding: 10px; color: #556652 !important; background-color: #D5FFCE; border: 1px solid #9ADF8F;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; line-height: 24px; margin-bottom: 10px;}
.error {padding: 10px; color: #E76E70 !important; background-color: #FFF6F4; border: 1px solid #F8CDCD;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; line-height: 24px; margin-bottom: 10px;}

.error ul {margin: 0;}
.error ul li {margin: 0 20px; list-style-type: square}

#btnEnable:focus, #btnEnable:hover {border: 0; box-shadow: none; background: none}
#btnDisable:focus, #btnEnable:hover {border: 0; box-shadow: none; background: none}

/* Transaction Info */
.table {display: table;}
.table-cell {display: table-cell;padding: 5px 10px;}
.transaction-cell {padding: 5px 10px; line-height: 20px;}
.TransactionInfo {width: 100%; font-size: 12px; text-align: left; direction: ltr; background-color: #EFEFEF;color: #414141;}
.title-transactionInfo {margin: 0; font-size: 14px; font-weight: 300; padding: 10px 10px; color: #414141;}
.TransactionInfo, .TransactionInfo:before, .TransactionInfo:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.TransactionInfoMain {float: right; width: 20%;}
.TransactionInfoMain a:link, .TransactionInfoMain a:visited, .TransactionInfoMain a:active {color: #414141; text-decoration: none;}
.TransactionInfoMain a:hover {text-decoration: none; color: #808080}
.TransactionInfoMainlnk {background-color: #fff; border: 1px solid #DBD9D9; text-align: left; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.TransactionInfoMainlnk ul { margin: 0; padding: 10px;}
.TransactionInfoMainlnk ul li {list-style-type: none; line-height: 26px;}
.TransactionInfo-offset {float: right; width: 5%;}
.TransactionInfoDetalis {float: left; width: 75%; text-align: left;}
.TransactionInfoDetalis a:link, .TransactionInfoDetalis a:visited, .TransactionInfoDetalis a:active {color: #414141; text-decoration: none;}
.TransactionInfoDetalis a:hover {text-decoration: underline; color: #808080}
.TransactionBoxInfo {background-color: #fff; border: 1px solid #DBD9D9; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


/* Product Details */
.icon-facebook {display: block; float: left; margin: 0 5px; width: 32px; height: 32px; background: url('/NPCommon/ImgSocialNetworks/32x32/32x32-facebook.png')}
.icon-twitter {display: block; float: left; margin: 0 5px; width: 32px; height: 32px; background:  url('/NPCommon/ImgSocialNetworks/32x32/32x32-twitter.png')}
.icon-googleplus {display: block; float: left; margin: 0 5px; width: 32px; height: 32px; background: url('/NPCommon/ImgSocialNetworks/32x32/32x32-googleplus.png')}
.icon-envelope {display: block; float: left; margin: 0 5px; width: 32px; height: 32px; background: url('/NPCommon/ImgSocialNetworks/32x32/32x32-email.png')}
.icon-linkedin {display: block; float: left; margin: 0 5px; width: 32px; height: 32px; background: url('/NPCommon/ImgSocialNetworks/32x32/32x32-linkedin.png')}
.icon-tiroo {float: left; margin: 0 5px; padding: 0; border: none; width: 32px; height: 32px; background:url('/NPCommon/ImgSocialNetworks/32x32/32x32-T-roo-logo.jpg'); cursor: pointer}

.image-upload > input {display: none;}
.spinner-wrap {top: 50px; position: relative; padding-left: 50px;}
.frame-border-option {background-color: #f7f7f7; padding: 10px; border: 1px solid #ededed; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.frame-border-option-inline {background-color: #fff; border: 1px solid #ededed; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.frame-border-single {background-color: #fafafa; padding: 10px; border: 1px solid #ededed; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.frame-border-table-product {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; line-height: 44px;}
.checkbox-table-product {color: #484848; font-weight: 700; font-size: 12px;}
#holder {border: 5px dashed #ccc; width: 640px; min-height: 200px; margin: 20px auto;}
#holder.hover { border:  5px dashed #cc0000; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after {content: '%';}
.fail {background: #c00; padding: 2px; color: #fff; }
.hidden {display: none !important;}
.sub-language {border-radius: 5px; padding: 20px; background: #F7F7F7; margin-top: 10px; margin-bottom: 10px; border: 1px solid #EDEDED;}
.form-group {line-height: 25px; margin: 0 5px 0 5px;}
.form-group-title {color: #55606E; display: inline-block; margin: 0 8px 8px 0;}
.form-group-title label {color: #55606E; display: inline-block; margin: 0px 0px 8px 8px;}
.form-group-title-eg {color: #A7ABB1; font-size: 12px;}
.form-group p a:link, .form-group p a:visited, .form-group p a:active {color: #666;}

.fileUpload {position: relative; overflow: hidden;}
.fileUpload input.upload {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);}

SPAN#rblUrlLanguage {display: block; height: 60px; line-height: 60px;}
SPAN#rblUrlLanguage label {padding: 5px 20px 5px 2px; text-align: right; direction: rtl;}

.option-property {background-color: #fff; border: 1px solid #ededed; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 5px; line-height: 25px;}
.LanguageSection {padding-bottom: 5px; border-bottom: 1px solid #F7F7F7; margin-bottom: 10px;}
.file-process {border: 1px solid #c7c7c7; font-size: 13px; padding: 5px 10px; margin-top: 20px; line-height: 30px;}


/* Button */
.btn-small {padding: 4px 5px !important;}
.btn-cons-short {margin-right: 5px; min-width: 110px; margin-bottom: 8px;}
.btn-cons-small {margin-right: 5px; min-width:80px; margin-bottom: 8px;}
.expand-button:active, .pager:active, .standard-button:active, .standard-button-disabled :active, .search:active, .button-summary:active, .button-home:active  {position:relative;top:1px;}
.wrap-button {text-align: right}
.button-border {border-bottom:1px solid #eee; margin-bottom: 20px; padding-bottom: 20px;}

.wrap-pager {padding: 15px; text-align: center;}
.tooltipsy {background: url('@{tempPath}Images/arrow-tooltip.png') no-repeat left; background-color: #000; min-width: 50px; padding: 8px; color: #fff; -webkit-border-radius: 6px;-moz-border-radius: 6px; border-radius: 6px; font-size: 12px;}
#Cklist {display: block; width: 100%; }
#Cklist > label  {display: inline-block; width: 15%; padding-left: 5px; color: #484848; font-size: 12px;}

.tblProductProperties {line-height: 44px; width: 100%;   border-collapse: collapse;}
.tblProductProperties td {padding: 5px 10px; border-bottom: 1px solid #E5E9EC}
.tblProductProperties th {background:#fff; border-bottom: 1px solid #ededed; text-align: center;}
.tblProductProperties tr:nth-child(even) {background:#fff; }
.tblProductProperties td:nth-child(even) {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin: 10px;}

/* Billing Menu */
.billingMenu {background-color: #eee; height: 30px; line-height: 30px; padding: 10px; border-bottom: 1px solid #d5d5d5; font-size: 13px;}
.OptionBillingMenu {background-color: #fff;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #d5d5d5; padding: 5px 10px; line-height: 25px;}

/* Tabs Product */
.tabs_wrapper{width:814px}
.tabs_container{border-bottom:1px solid #F7F7F7}
.tabs-product {list-style:none;padding:5px 0 2px!important;margin:0 0 0 10px}
.tabs-product li{display:inline; margin: 0 0 0 10px;}
.tabs-product li a {border:1px solid #F7F7F7; color:#55606E; padding:4px 6px;text-decoration:none;background-color:#F7F7F7;border-bottom:none;outline:none;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px}
.tabs-product li a:visited {color:#55606E}
.tabs-product li a:hover{background-color:#ddd;padding:4px 6px;color:#55606E;text-decoration:none}
.tabs-product li.active a{background-color:#fff;padding:4px 6px 5px;border-bottom:none;color:#55606E}
.tabs-product li.active a:hover{background-color:#F7F7F7;padding:4px 6px 5px;border-bottom:none;color:#55606E}
.tabs-product li a.icon_accept{background-image:url(accept.png);background-position:5px;background-repeat:no-repeat;padding-left:24px}
.tabs-product li a.icon_accept:hover{padding-left:24px}
.tabs_content_container{border:1px solid #F7F7F7;border-top:none;padding:10px;width:814px;margin-bottom:10px}
.tab_content{display:none}
.color-picker-mcp {top: 20px !important; left: 5px !important; border: 1px solid #bebebe;}


/* Dev center */

.wrap-expand-details {padding: 10px; background-color: #EBF6FB; margin: 10px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.wrap-expand-details a, .wrap-expand-details a:link, .wrap-expand-details a:active, .wrap-expand-details a:visited {color: #434343}
.wrap-expand-details a:hover {color: #434343; text-decoration: underline}
.tree-expand {cursor: pointer; width: 16px; height: 16px; vertical-align: middle}
.query-test {border: 1px dashed #AFAFAF; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #fff; font-size: 12px; padding:10px 20px;}
.query-button {float: right; clear: both; margin: 0 auto;}
.query-test-button {font-size: 11px; float: right;}
.detalis-table {margin: 10px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.detalis-table th {border: 1px solid #e5e5e5; background-color: #fff; padding: 2px 10px; height: 30px; font-size: 12px; font-weight: 700;}
.detalis-table td {border: 1px solid #e5e5e5; background-color: #fff; font-size: 12px; padding: 2px 10px; height: 30px !important;}
.tree-expand-text {color: #434343;}
.wrap-code {border: 1px dashed #c0c0c0; background-color: #f7f7f7; overflow: auto; word-wrap: break-word; padding: 10px; box-sizing: border-box; width: 100%; font: normal 12px Courier New, Monospace;}
.wrap-box-result {height: 200px; overflow: scroll; background: #eee; margin-top: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #bebebe; padding:10px; overflow-x: hidden; }
.hashkey {padding: 10px; background: #ffe5b5; border-radius: 5px; margin: 5px 0; display: inline-block;}

/* Installments Steps  */

 .cart-steps th{background: #ddd; padding: 5px 10px;}
 .cart-steps td {border: 1px solid #ddd;padding: 5px 10px;}

 /* Location Shops */
   ul#clCountries, ul#clRegions {margin: 0; padding: 0;}
   ul#clCountries li, ul#clRegions li {list-style-type: none; width: 33%; float: left; box-sizing: border-box;}
   ul#clCountries li label, ul#clRegions li label {float: right; line-height: 17px; width: 255px;}

   /* Shop Selection - Wizard */
.steps-wizard{margin:0;padding:8px 0;text-align: center;}
.steps-wizard li:last-child {border-right: none;}
.steps-wizard li{display:inline;font-size:14px;padding:15px 20px;margin:0;list-style-type:none;}
.steps-wizard li a:link, .steps-wizard li a:visited, .steps-wizard li a:active {color: #666; text-decoration: none;}
.steps-wizard li.active{background:#fff;color:#fff; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;}
.steps-wizard li.active a:link, .steps-wizard li.active a:visited, .steps-wizard li.active a:active {color: #666; text-decoration: none;}
.steps-wizard li.active a:hover {color: #666; text-decoration: underline;}
.steps-wizard li.disable a:link, .steps-wizard li.disable a:active, .steps-wizard li.disable a:hover, .steps-wizard li.disable a:visited {text-decoration: none; cursor:not-allowed; color: #9A9A9A;}
.steps-wizard li.disable span{background: #9a9a9a;cursor:not-allowed}

.steps-wizard li span{background:#44596C;color:#fff;width:30px;text-align:center;display:inline-block;border-radius:50%;height:30px;line-height:30px;font-weight:700}

   /* Shop Selection - Wizard */
.circle-step {border-radius: 50%; width: 40px; height: 40px; background-color: #fff; float: right; -webkit-transition: width 0.4s, height 0.4s, font-size 1s; transition: width 0.4s, height 0.4s, font-size 1s; border: 4px solid #cccccc; line-height: 40px; text-align: center; font-size: 16px; color: #808080; font-weight: 700; margin-left: 20px;}
.circle-step-active{width:40px;height:40px;border-radius:50%;width:40px;height:40px;background-color:#15679B;float:right;border:3px solid #F7F7F7;line-height:40px;text-align:center;color:#fff}
.circle-step:hover {background-color:#15679B;color:#fff;line-height:40px;-webkit-transition:background-color 1000ms linear;-moz-transition:background-color 1000ms linear;-o-transition:background-color 1000ms linear;-ms-transition:background-color 1000ms linear;transition:background-color 1000ms linear}
.create-button {text-align: right; padding: 5px 10px;}

.country-list {float: left; min-width: 80px; padding: 3px 10px; }
.country-list img {height: 12px; vertical-align: middle; border: 1px solid #E9E9E9 !important;}

#cblSubCategory {color: #55606E;}

.wrap-edit-product {line-height: 25px; padding: 5px;}

.edit-list-product {padding: 0 !important; margin: 0 !important; }
.edit-list-product li {margin:0; padding: 0; list-style-type: none; border-top: 1px solid #EDEDED; }
.edit-list-product li:first-child {border-top: none;}

.ProductType {padding: 0 !important; margin: 0 !important; }
.ProductType li {background: #F7F7F7; color: #434343; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 5px 10px; float:left; margin-right: 10px; min-width: 90px;  border-top: none;}
.ProductType li:hover {background: #15679B; color: #ffffff;} 
.ProductType li.checked {background: #15679B; color: #ffffff;} 
.ProductType li label {padding: 0 5px; position: relative; top: -1px;}

.shops-content {border-top: 1px solid #eee; margin-top: 20px;}
.shops-product-table {margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #eee;}

.transaction-decline {margin: 0 auto; background: #FFCECE; color: #665252; border: 1px solid #df8f8f; padding: 20px; border-radius: 5px;  text-align: center;}
.transaction-decline i {color: #df8f8f;}
.transaction-approved {margin: 0 auto; background: #D5FFCE; color: #556652; border: 1px solid #9adf8f; padding: 20px; border-radius: 5px; text-align: center;}
.transaction-approved i {color: #9adf8f;}
.border-bottom {border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;}

.version {color: #9a9a9a; font-size: 10px;}

/* list - checkbox */
.group-list {margin: 0; padding: 0 !important; border: 1px solid #eee;}
.group-list li {margin: 0 0 0 0; list-style: none; background: #fff; padding: 5px 10px; border-bottom: 1px solid #eee;}
.group-list li:last-child {border-bottom: none;}


