﻿body {
}

/*Genreal*/

.align-right {float: left;}
.align-left {float: right;}
.xls-wrap {text-align: right;}
.error {direction: rtl; text-align: right;}
.noerror {direction: rtl; text-align: right;}
.Notification {direction: rtl; text-align: right;}

#Sub-menu .Language {float: right; padding-top: 5px; padding-left: 10px; }
div.dropdown {margin: 3px -22px 0 -9px;}
.top-header .top-text { float: left; margin-right: 2px;}
.area-content .content-background {direction: rtl;text-align: right;}
.area-content .content-background .section td {vertical-align: middle; direction: rtl;}
.area-content .content-background .section td label {padding-right: 6px; padding-left: 0;}
.area-content .content-background .section .filter-double {float: left;}

.RadioButtonWidth label {margin-left: 50px; margin-right: 5px;}
input[type="text"] {padding-right: 5px; padding-left: 0; }
input[type="file"] {padding-left: 0; padding-right: 5px;}
input[type='password'] {padding: 3px;}
input[type=radio] + label,input[type=checkbox] + label {padding: 0 3px 0 0}
select {padding: 3px;}
.select-middle {width: 90px;}

.exspand-table th{text-align: right;}
 
.arrow {margin-left: 40px; margin-right: 0; background: url('@{rootPath}arrow.png') no-repeat scroll left center transparent}
.button-form {position: relative;left: 25px;top: 10px; text-align: left;}
.main .top-nav {padding: 0 16px 2px 0 !important; text-align: right; direction: rtl;}

.main .left-menu {float: right !important; min-height: 700px !important;}
.main .right-menu {float: left;margin-left: 20px; margin-right: 0;}
.main .left-menu .icon-list-first {padding: 0 19px 0 30px !important;}
.main .left-menu .icon-list {padding: 30px 18px 0 30px !important;}

.shortcut-icon-left {float: right !important;}
.shortcut-icon-right {float: left !important;  margin-right: 0;}

.sidebar-left {float: right;}
.sidebar-right {float: left;text-align: left;padding-right: 6px;}

#footer .sidebar-right .card-logo {float: left !important;padding-left: 5px;}
#footer .sidebar-right .feedback {float: right !important;}
li.mobile-list-li {float: right; margin: 0 7px 6px 0;}
li.mobile-list-li .user-button {padding: 4px 0 0 20px; left: 8px;}

/*Buttons*/

.Filter-navbar .left-filter {float: right; width: 50%;}
.user-property {float: right;}


.quick-search {padding: 10px;}
.area-content .content-background .section .filter {float: left;}
.Approved {float: right;}
.box-counter .counter .text-counter {float: right !important; text-align: right;padding-right: 20px;right: 30px; direction: rtl;}
.box-counter .counter .counterplugin {float: left !important; text-align: left !important; left: 20px; direction: ltr;}
.box-counter .counter .counterplugin .counter-comment {text-align: right; padding-right: 16px; padding-left: 0;}

.sign-in {direction: rtl}
.head-faq-arrow {margin-left: 6px;}

.faq-align-left {float: right;padding-right: 0;}
.exspand-close-faq {float: left;margin-left: 15px;margin-right: 0;}

/* Contact us */
.icon-contact {padding-left: 14px;float: right; padding-right: 0;}

/* Beneficiary */
.Beneficiary-button {float: left; padding: 10px;}

/* view Payment Report */
.view-Payment {direction: rtl; text-align: right;}
.Beneficiary-detalis {float: right; padding: 15px;}

/* view Payment Report */
ul.ldd_menu  {font-size: 15px;}
ul.ldd_menu > li {float: right; position: relative;}
ul.ldd_menu > li > span { float: right; text-align: right;}
ul.ldd_menu .ldd_submenu {right: 0; left: inherit;}
ul.ldd_menu ul {float: right; border-left: 1px solid rgb(98, 98, 98); margin: 20px 0 10px 30px;padding: 10px; text-align: right;}

.table-iframe {background-position: 835px 0;}
.table-iframe .table-iframe-content table td {padding-left: 0;padding-right: 30px;text-align: right;direction: rtl;}
.table-iframe .table-iframe-content table div.MainHeadings {text-align: right; padding-right: 0; padding-left: 30px;}
.table-iframe .transActionBar td a {padding-left: 10px; padding-right: 15px; background: url('@{tempPath}Images/list-type.png') no-repeat right; cursor:pointer;}

.notification-content .notification-content-data {direction: rtl; text-align: right !important; float: right !important;}
.notification-content .notification-content-title {float: right !important;}
.notification-content .notification-content-data ul {padding-right: 10px; padding-left: 0;}
.notification-content .notification-content-data ul li {margin-right: 5px; margin-left: 0;}
.notification-content .notification-content-title .notifaction-popNumber {right: 85px;}
.notification-content .notification-content-title .notification-button {margin: 10px 0 0 15px}

/* RecurringSeries */
.section .RecurringSeries-content {float: right;}

/*trans decline */
.Declined {float: right;}

#feedback-container {direction: rtl;}
#feedback-container .top-nav-feedback {padding: 3px 16px 0 0 !important;}
#feedback-table .button-wrap-feedback {padding: 8px 8px 8px 0 !important; text-align: left !important;}

.organicTabs .nav li {float: right;}
.iphone-property .iphone-detalis {float: left;}
.iphone-property {float: left;  width: 330px;}
.iphone-property .iphone-detalis-text {top: 110px; right: -40px; width: 350px; position: absolute; text-align: center;}

.shortcut p {font-weight: bold;font-family: Arial;}

/*Proudct Managment*/
#proudct-managment-form {padding-right: 180px; padding-left: 0; direction: rtl; text-align: right;} 
#proudct-managment-form .upload-photo img {right: 156px;}
#proudct-managment-form .upload-photo {left: 170px; right: inherit;}
#proudct-managment-form .one-area {padding-right: 110px;}
#proudct-managment-form .upload-photo span {right: 10px;}
#proudct-managment-stock {text-align: right; direction: rtl;}
#proudct-managment-stock span {border-left: 9px solid #fafafa;padding-left: 5px; padding-right: 0; border-right: 0;}
#proudct-managment-form .upload-photo .img-upload {right: 156px; left: inherit; background: url('@{tempPath}Images/browse-he.png');}
#proudct-managment-copylink { direction:rtl}
#proudct-managment-copylink span {border-left: 9px solid #fafafa; padding-right: 0; padding-left: 5px; border-right: 0;border-right: 0;}
.disclaimer-proudct {text-align: right;direction: rtl; margin-right: 10px; margin-left: 0;}
input#chkIsInstallmentsCredit {margin-right: 10px; margin-left: 5px;}

/* Fix Direction RTL */

.txt11 {text-align: right; direction: ltr !important;}
.grandTotal {text-align: right; direction: ltr !important;}
TD.Numeric {direction: ltr !important; text-align: right !important;}

/*Settings*/

.banner-recycle {background: url('@{tempPath}Images/Recycle.png') no-repeat right; background-color: #fff; padding: 12px 26px 9px 10px; -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; border-left: 4px solid #3A78D5; -webkit-border-top-right-radius: 0; -moz-border-radius-topright: 0; border-top-right-radius: 0;  border-left: 4px solid #3A78D5; border-right: 0; }

#banner .wrap-banner {float: right;}
#banner .file-input-wrapper {float: right; padding:0 10px 0 0;}
#banner .file-input-wrapper > .btn-file-input {background: url('@{tempPath}Images/browse-he.png') no-repeat; }
#banner .file-input-wrapper:hover > .btn-file-input {background: url('@{tempPath}Images/browse-he.png') no-repeat;}
#banner .wrap-progress-bar .alert-png {padding: 0 5px 0 0; float: right}
#banner .wrap-progress-bar .wrap-delete-logo {float: left; text-align: left;}

/* Menu Fix */
#MenuBar_riskMng {min-width: 70px;}
#MenuBar_virtualTerminal {min-width: 70px;}
#MenuBar_balance {min-width: 85px;}
#MenuBar_ShopsManage {min-width: 30px;}

/*Show Totals*/
.ShowtotalsBack {direction: rtl; }
.Showtotalclose {padding-left: 0; padding-right: 24px; padding-top: 20px; text-align: left;}
#Total1 {text-align: right;} 

#proudct-managment-form .three-area .chkAmount {padding: 3px 16px 7px 0;}

/* Theme */
.theme-ul li {float: right; margin-right: 0; margin-left: 20px;}
.checklistInput label {padding: 0 5px 0 0}

#logo-company .wrap-img-logo  {float: right; }
#logo-company .file-input-wrapper {float: right; padding:15px 10px 0 0;}
#logo-company .file-input-wrapper > input[type="file"] {right: 0;}
#logo-company .file-input-wrapper > .btn-file-input {background: url('@{tempPath}Images/browse-he.png') no-repeat;}
#logo-company .file-input-wrapper:hover > .btn-file-input {background: url('@{tempPath}Images/browse-he.png') no-repeat;}
#logo-company .wrap-progress-bar .wrap-delete-logo {float: left; text-align: left; padding: 6px;}
#logo-company .wrap-progress-bar .alert-png {padding: 0 5px 0 0; float: right}
#divUploadProgress {float: right;}


#RemoveLanguage a:link {background: url('@{tempPath}Images/Recycle.png') no-repeat right !important; padding: 0 30px 0 0 !important;}
#RemoveLanguage a:hover {background: url('@{tempPath}Images/Recycle.png') no-repeat right !important;  padding: 0 30px 0 0 !important;}
#RemoveLanguage a:active {background: url('@{tempPath}Images/Recycle.png') no-repeat right !important;  padding: 0 30px 0 0  !important;}
#RemoveLanguage a:visited {background: url('@{tempPath}Images/Recycle.png') no-repeat right !important;  padding: 0 30px 0 0  !important;}


.version-ul li {float: right; margin-right: 0; margin-left: 20px;}

/* Transaction Info */
.TransactionInfo {text-align: right; direction: rtl;}
.TransactionInfoMain {float: left; }
.TransactionInfo-offset {float: left;}
.TransactionInfoDetalis {float: right; text-align: right;}
.TransactionInfoMainlnk {text-align: right;}

#productIframe {direction: rtl;}
.alert-warning {text-align: right;}
input#chkDownloadlnk {padding: 0 10px 0 0; margin: 0 0 0 10px;}
input#chkDynamicAmount {padding: 0 10px 0 0; margin: 0 0 0 10px;}
.spinner-wrap {padding: 0 10px 0 0;}
div.tagsinput span.tag {float: right;  text-align: right;}
div.tagsinput div {float: right;}
.RadioButtonWidthVT label {margin-left: 50px;margin-right: 5px;}


/* Size */

.padding-10-left {padding-right: 10px; padding-left: 0;}
.padding-5-right {padding-left: 5px; padding-right: 0;}
.padding-5-left {padding-right: 5px; padding-left: 0;}
.padding-10-right {padding-left:10px; padding-right: 0;}
.margin-left-10 {margin-right: 10px; margin-left: 0;}
.margin-right-10 {margin-left: 10px; margin-right: 0;}

.form-group-title {color: #55606E; display: inline-block; margin: 0 0 8px 8px;}
.form-group-title label {color: #55606E; display: inline-block; margin: 0 8px 8px 0;}
.fancybox-inner {direction: rtl; text-align: right;}

.wrap-button-bar {padding-right: 0; padding-left: 10px; text-align: left;}

.text-align-right {text-align: left !important;} 


th {text-align: right !important;}
 
/* Location Shops */
ul#clCountries li, ul#clRegions li {float: right;}
ul#clCountries li label, ul#clRegions li label {float: left;}

   
 /* Shop Selection - Wizard */
.circle-step {float: left; margin: 0 20px 0 0;}
.circle-step-active{float:left;}
.country-list {float: right; min-width: 80px; padding: 3px 10px; }
.create-button {text-align: left;}
.ProductType li {float:right; margin-right: 0 0 0 10px;}

.fa-angle-right:before  {content: "\f104";}


.bodysupport {direction: rtl;}
.query-button {float: left;}

.contact-us-box {float: right;}
.wrap-button {text-align: left}