﻿@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700);
.logo {
  background: url('images/logo.png');
  background-repeat: no-repeat;
}
.logo-mini {
  background: url('images/logo-mini.png');
  background-repeat: no-repeat;
}
/* Global add-ons */
body {
  overflow-x: hidden;
  font-family: Arial, dsans-serif;
  font-size: 12px;
}
h3 {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  color: #333;
  font-size: 20px;
  padding: 10px 0 !important;
  margin: 0 !important;
}
h4 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #686866;
}
.list-group-item {
  padding: 7px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.logo {
  margin: 22px;
  text-align: center;
}
.logo-mini {
  width: 39px;
  height: 38px;
  margin: 10px 5px;
}
.head-line {
  background: url(../../images/noisy-texture-100x100-o5-d10-c-2d2d2d-t0.png);
  height: 55px;
  line-height: 35px;
  margin: 0 -16px 10px;
  color: #fff;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 17px;
  padding: 10px 25px;
  border-bottom: 1px solid #1b1b1b;
}
.user-info-pic {
  border-radius: 3px;
  height: 35px;
  margin-left: 15px;
}
.square {
  border-radius: 10%;
  vertical-align: middle;
  background: #EE3F10;
  color: #fff;
  padding: 3px;
  font-size: 12px;
  font-family: Arial;
  font-weight: 700;
}
.background-body-wrap {
  background-image: url(../../images/noisy-texture-100x100-o5-d10-c-ebebeb-t0.png);
}
.wrap-legend {
  padding-right: 50px !important;
}
.scroll-bar {
  overflow: auto;
  height: 530px;
}
.navbar-user {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
}
.navbar-user li {
  display: inline;
  text-transform: uppercase;
  padding: 0 15px 0 0;
}
.menu-button {
  border-radius: 5px;
  border: 2px solid #4F4F4F;
  padding: 5px 10px;
  color: #efefef;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: #222;
}
.menu-button:hover {
  background-color: #42A3E4;
}
#top-link-block.affix-top {
  position: absolute;
  bottom: -82px;
  right: 16px;
}
#top-link-block.affix {
  position: fixed;
  bottom: 0;
  right: 16px;
}
.top-link-button {
  padding: 5px 10px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #363636;
  color: #fff;
}
.app-version {
  color: #c9c9c9;
  font-size: 12px;
  letter-spacing: 2px;
}
/* Forms & buttons */
.form-control {
  font-size: 12px;
  height: 22px;
  padding: 2px 8px;
}
.input-group-addon {
  padding: 3px 12px;
  font-size: 11px;
}
.btn {
  padding: 2px 8px;
  font-size: 12px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: #fff;
  cursor: inherit;
  display: block;
}
.btn-cons-short {
  min-width: 100px;
}
.btn-FileType {
  padding: 1px 8px !important;
}
input[type="radio"] {
  position: relative;
  top: 3px;
}
/* Notification */
.menu-notification-info {
  float: right;
  color: #8ad4ff;
  line-height: 20px;
}
ם .menu-notification-danger {
  float: right;
  color: #ff5f5f;
  line-height: 20px;
}
.menu-notification-tick {
  float: right;
  color: #39DBAC;
  line-height: 20px;
}
.menu-notification-alert {
  float: right;
  line-height: 20px;
  color: #ffe242;
}
.notification {
  position: relative;
  margin: 0 0 15px;
  padding: 0;
  border: 1px solid;
  background-position: 10px 11px!important;
  background-repeat: no-repeat !important;
  font-size: 13px;
}
.attention {
  background: #fffbcc url(../../images/icons/exclamation.png) 10px 11px no-repeat;
  border-color: #e6db55;
  color: #666452;
}
.information {
  background: #dbe3ff url(../../images/icons/information.png);
  border-color: #a2b4ee;
  color: #585b66;
}
.success {
  background: #d5ffce url(../../images/icons/tick_circle.png);
  border-color: #9adf8f;
  color: #556652;
}
.error {
  background: #ffcece url(../../images/icons/cross_circle.png);
  border-color: #df8f8f;
  color: #665252;
}
.notification div {
  display: block;
  font-style: normal;
  padding: 10px 10px 10px 36px;
  line-height: 1.5em;
}
.notification .close {
  color: #900;
  font-size: 9px;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* Size */
.padding-20 {
  padding: 20px;
}
.nopadding {
  padding: 0!important;
  margin: 0 !important;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-left-15 {
  margin-left: 15px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.spacer {
  margin-top: 20px;
}
.font-small {
  font-size: 14px !important;
}
.width-40 {
  width: 40px;
}
.min-width-60 {
  min-width: 60px;
}
.multi-search input[type="text"],
.multi-search input[type="file"] {
  height: 25px;
}
/* Top navigation Hide default border to remove 1px line. */
.navbar-fixed-top {
  border: 0;
}
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .navbar-head {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
  }
  .navbar-head li {
    display: inline;
    text-transform: uppercase;
    padding: 0 20px;
    color: #42A3E4;
    font-size: 16px;
    border-right: 1px solid #464646;
  }
  .navbar-head li a:link,
  .navbar-head li a:active,
  .navbar-head li a:visited {
    color: #42A3E4;
  }
  .navbar-head li a:hover {
    color: #fff;
    text-decoration: none;
  }
  .navbar-head li:last-child {
    border-right: none;
    padding: 0 0 0 20px;
  }
}
@media (min-width: 768px) {
  aside {
    overflow-x: hidden;
  }
  .sidebar {
    display: block;
    float: left;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 14px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: url(../../images/noisy-texture-100x100-o5-d10-c-2d2d2d-t0.png);
    border-right: 1px solid #494949;
  }
  .slide-tools {
    height: 50px;
    line-height: 50px;
    position: fixed;
    z-index: 1001;
    left: 0;
    bottom: 0;
    background: #1b1b1b;
    font-family: Arial;
    font-size: 12px;
    padding: 0 15px;
    color: #e5e5e5;
  }
  .sidebar-nav {
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, #333 10px, #222 10px);
  }
  .sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar-nav ul li,
  .sidebar-nav ul a {
    display: block;
  }
  .sidebar-nav ul a {
    padding: 10px 20px;
    color: #aaa;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }
  .sidebar-nav ul a:hover,
  .sidebar-nav ul a:focus,
  .sidebar-nav ul a:active {
    color: #fff;
    text-decoration: none;
  }
  .sidebar-nav ul ul a {
    padding: 10px 20px 10px 50px;
    background-color: rgba(255, 255, 255, 0.1);
    text-transform: none;
    font-size: 14px;
    color: #e3e3e3;
  }
  .sidebar-nav ul ul a:hover,
  .sidebar-nav ul ul a:focus,
  .sidebar-nav ul ul a:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .sidebar-nav-item {
    padding-left: 5px;
  }
  .sidebar-nav-item-icon {
    padding-right: 5px;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/* Main content */
@media only screen and (max-width: 1200px) {
  .slide-tools {
    width: 315px;
  }
}
.main .page-header {
  margin-top: 0;
}
/* Placeholder dashboard ideas */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/* Color */
.white-color {
  color: #fff;
}
.blue-color {
  color: #2b9dfe;
}
.grey-color {
  color: #e5e5e5;
}
.red-color {
  color: #b50000;
}
/* Notifications */
.box-sub-title {
  color: #686866!important;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 18px;
  background: #F4F4F4;
  padding: 10px 15px;
  border-bottom: 1px solid #e4e4e4;
  text-transform: uppercase;
}
.box-size-font {
  font-size: 22px;
}
.box-content-wrap {
  min-height: 130px;
  background: #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #E4E4E4;
  border-left: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  padding: 20px;
}
.box-content-wrap h1 {
  margin: 0 0 10px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 24px;
}
.box-content-wrap p {
  color: #575757;
  text-align: justify;
  font-size: 12px;
}
/* brad-cramps */
.wrap-brad-cramps {
  height: 55px;
  background: url(../../images/noisy-texture-100x100-o5-d10-c-414141-t0.png);
  margin: -10px -16px 3px;
  padding: 10px 25px;
  border-top: 1px solid #4f4f4f;
  border-bottom: 1px solid #ccc;
}
.brad-cramps {
  padding: 0;
  margin: 0;
  list-style-type: square;
  text-align: left;
}
.brad-cramps li {
  display: inline;
  text-transform: uppercase;
  padding: 0 5px 0 0;
  border-right: 1px solid #464646;
  color: #fff;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 16px;
  line-height: 35px;
}
.brad-cramps li a:link,
.brad-cramps li a:active,
.brad-cramps li a:visited {
  color: #fff;
}
.brad-cramps li a:hover {
  color: #92cdff;
}
.wrap-panel {
  background-color: #FFF;
  border: 1px solid #C9C9C9;
  padding: 10px;
  margin: 15px 0;
}
.dashboard-line {
  background: #fff;
  height: 42px;
  line-height: 42px;
  margin: -10px -16px 3px;
  border-bottom: 1px solid #ccc;
  color: #686866;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 18px;
  padding: 0 25px;
  display: none;
}
/* none active */
.login-detalis {
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  padding-right: 40px;
}
#info {
  position: relative;
  color: #575757;
  font-size: 12px;
  font-family: Arial;
}
.close-info {
  cursor: pointer;
}
/* Footer */
.copyright {
  font-size: 11px;
  color: #555;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}
/* Panel */
.panel-heading {
  font-size: 16px;
  color: #686866;
  font-family: "Roboto Condensed", Arial, sans-serif;
  padding: 6px 16px;
  text-transform: uppercase;
}
/* filter  */
.border-section-filter:last-child {
  border-bottom: 1px solid #E4E4E4;
}
.head-filter {
  background: #f4f4f4;
  border-right: 1px solid #E4E4E4;
  border-left: 1px solid #E4E4E4;
  border-top: 1px solid #E4E4E4;
  padding: 2px 15px;
  font-size: 14px;
  color: #686866;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-transform: uppercase;
}
.head-filter:last-child {
  border-bottom: 1px solid #E4E4E4;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
}
.content-filter-default {
  background: #f8f8f8;
  min-height: 130px;
  border: 1px solid #e4e4e4;
  padding: 15px;
  color: #686866;
  font-size: 12px;
}
.content-filter {
  background: #f8f8f8;
  min-height: 130px;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #fff;
  padding: 15px;
  color: #686866;
  font-size: 12px;
}
.content-filter label {
  font-weight: 400!important;
  margin-bottom: 3px;
  font-size: 12px;
}
.chkList label {
  padding: 0 12px;
  font-weight: 400;
}
/* Table */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px;
}
.wrap-table {
  background-color: #FFF;
  border: 1px solid #C9C9C9;
  padding: 10px;
  margin: 15px 10px;
}
.table-striped {
  margin-bottom: 0 !important;
}
.table-striped th {
  border: 1px solid #E4E4E4!important;
  vertical-align: middle!important;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  color: #428bca;
  background: #F8F8F8;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
}
.table-striped td {
  border: 1px solid #E4E4E4;
  vertical-align: middle!important;
  padding: 4px 8px !important;
}
.legend-item {
  padding: 0 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.legend-list {
  padding: 0 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
}
.legend-multi-list {
  padding: 0 4px;
}
.legend-multi-item {
  padding: 0 4px;
}
.legend-item-data {
  float: left;
  padding: 0 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 3px 1px;
  height: 17px;
  width: 17px;
}
/* Profile */
.profile-image {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 100%;
}
.profile-image-button ul {
  padding: 0;
  margin: 0;
}
.profile-image-button ul li {
  padding: 0 0 40px;
  margin: 0;
  list-style: none;
}
/* Modal Dialog */
.modal-title {
  color: #686866!important;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.modal-content label {
  margin-left: 8px;
}
/* Email */
.email-content {
  background: #fff;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  overflow-y: scroll;
  height: 340px;
}
.email-content-status {
  background: #fff;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  min-height: 40px;
}
/* Module Manager*/
.module-manager-box {
  min-height: 120px;
}
.close-window {
  color: #727A82;
  padding: 0 22px 2px 2px;
  margin-top: 6px;
  font-size: 15px;
}
.close-window:hover {
  color: #428bca!important;
  padding: 0 22px 2px 2px;
  cursor: pointer;
}
.back-window {
  color: #727A82;
  padding: 0 2px 2px 22px;
  margin-top: 6px;
  font-size: 15px;
}
.back-window:hover {
  color: #428bca!important;
  padding: 0 2px 2px 22px;
  cursor: pointer;
}
.wrap-close-list {
  position: absolute;
  right: 30px;
  top: 7px;
  text-align: right;
}
.wrap-back-list {
  position: absolute;
  left: 30px;
  top: -26px;
  background: url(../../Images/ActionTop09.png);
  width: 77px;
  height: 27px;
  text-align: left;
}
.wrap-close-tab {
  position: absolute;
  right: 15px;
  top: 6px;
  background: url(../../Images/ActionTop08.png);
  width: 77px;
  height: 27px;
  text-align: right;
}
.wrap-view-mode {
  line-height: 28px;
  text-transform: uppercase;
  color: #FFF;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 14px;
  text-align: right;
  padding-right: 2%;
  border-right: 1px solid #626262;
}
.modal-footer {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #F5F5F5;
}
.TransactionList label {
  margin-right: 20px;
  vertical-align: middle;
  padding: 0;
}
.RiskItemTypesList label {
  margin-bottom: 0px;
  margin-right: 20px;
  vertical-align: middle;
  padding: 0;
}
/* Tab */
.wrap-tab-content {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border: 1px solid transparent;
  border-radius: 4px;
}
.tab-content {
  background: #FFF;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.tab-content h3 {
  margin: 0;
  padding: 20px;
}
.tab-content p {
  padding: 0 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #686866;
  background: #fff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}
.nav-tabs > li > a {
  border-bottom: none !important;
  text-transform: uppercase;
  margin-right: 5px;
  color: #fff;
  background: #3b679e;
  background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b679e), color-stop(50%, #2b88d9), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  background: -o-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  background: -ms-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  background: linear-gradient(to bottom, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b679e', endColorstr='#7db9e8', GradientType=0);
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 12px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  padding: 4px 8px;
  min-width: 70px;
  text-align: center;
}
.nav-tabs > li {
  z-index: 99;
}
.horizontal-list {
  margin-left: 20px !important;
}
.horizontal-list li {
  display: inline;
  list-style-type: none;
  padding-right: 15px;
}
.head-tab-panel {
  background: #f4f4f4;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #e4e4e4;
  padding: 3px 15px;
  color: #686866;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  line-height: 22px;
  margin-top: -1px;
}
.tab-panel {
  background: #F8F8F8;
  border: 1px solid #E4E4E4;
  margin-top: -1px;
  padding: 20px;
}
.tab-panel ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.tab-panel label {
  font-weight: 400;
  margin-left: 8px;
}
/* mini Sidebar */
.sidebar-page-mini {
  background: url('../../images/noisy-texture-100x100-o5-d10-c-2d2d2d-t0.png');
  border-right: 1px solid #494949;
  border-left: 5px;
  position: fixed;
  width: 50px;
  overflow: hidden;
  height: 100%;
  z-index: 999;
  left: 0;
  bottom: 0;
}
.sidebar-page-mini ul {
  margin: 0;
  padding: 0;
  margin-top: 108px;
}
.sidebar-page-mini ul > li {
  list-style-type: none;
  text-align: center;
  width: 50px;
  height: 43px;
  padding-top: 11px;
  font-size: 14px;
  background: #222222;
  /*border-left: 8px solid #333333;*/
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
  color: #aaa;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.sidebar-page-mini ul > li.activeOn {
  background-color: #393939 !important;
}
.sidebar-page-mini ul > li:hover {
  color: #fff;
  cursor: pointer;
  background: #393939;
  /*border-left: 8px solid #484848;*/
}
.sidebar-page-mini ul > li > a {
  color: #aaa;
  font-weight: 400;
}
.sidebar-page-mini ul > li:hover > a {
  color: #fff;
}
.footer-sidebar-mini {
  position: fixed;
  bottom: 0;
  height: 49px;
  background: #1B1B1B;
  text-align: center;
  color: #aaa;
  width: 50px;
  line-height: 49px;
  font-size: 17px;
}
.footer-sidebar-mini > a {
  color: #aaa;
}
.footer-sidebar-mini:hover > a {
  color: #fff;
}
.header-sidebar-mini {
  position: fixed;
  top: 0;
  height: 55px;
  text-align: center;
  color: #aaa;
  width: 49px;
  line-height: 55px;
}
tr.selected-row td {
  background: #F9EFCD !important;
}
.help {
  font-size: 10px;
  color: #aaa;
}
.dropdown-menu {
  font-size: 12px;
}
.dropdown-menu > li > a {
  padding: 3px 10px;
}
.pagination > li > a,
.pagination > li > span {
  padding: 3px 8px;
}
/* Modal Dialog */
.modal-chkList label {
  padding: 0 12px;
  font-weight: 400;
}
/* Tabs */
.nav-tabs,
.nav-pills {
  position: relative;
  border-bottom: #f5f5f5 !important;
  padding: 1px 0px;
}
.form-control-multiline {
  font-size: 12px;
  min-height: 25px;
  max-height: 75px;
  overflow-y: scroll;
  padding: 3px 8px;
  display: block;
  width: 100%;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.space-border {
  text-align: center;
  width: 1px;
  border-right: 1px solid #e4e4e4;
  margin: 0px auto;
}
#side-mini-menu .tooltip {
  position: fixed !important;
}
.clear-form-group {
  margin-bottom: 0px !important;
}
.inner-table-titles {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  color: #686866;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
}
.table-ui {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
.amount_minus {
  content: "\f0a8";
  color: #A94442;
}
.amount_plus {
  content: "\f0a9";
  color: #3C763D;
}
.radio input[type="radio"] {
  margin-left: 10px;
  margin-right: 1px;
}
.radio label {
  margin-left: 5px;
  margin-top: 2px;
}
.table-responsive {
  overflow-x: auto;
}
.wrap-text {
  word-wrap: break-word;
}
.btn-link-style {
  background: none!important;
  border: none;
  padding: 0!important;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid #444;
  cursor: pointer;
}
.error-validate {
  border: 1px solid #FF0000;
}
/* General Checkbox */
label {
  margin: 0px;
  line-height: 10px;
}
input[type=checkbox] {
  display: none;
}
/* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label:before {
  content: "\f204";
  color: #686866;
  font-size: 20px;
  position: relative;
  top: 3px;
}
label {
  margin: 0px;
  line-height: 10px;
}
input[type=checkbox] {
  display: none;
}
/* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label:before {
  content: "\f204";
  color: #686866;
  font-size: 20px;
  position: relative;
  top: 3px;
}
/* unchecked icon */
input[type=checkbox] + label:before {
  letter-spacing: 5px;
  margin-bottom: 10px;
}
/* space between checkbox and label */
input[type=checkbox]:checked + label:before {
  content: "\f205";
  color: #3b679e;
  font-size: 20px;
  position: relative;
  top: 3px;
}
/* checked icon */
input[type=checkbox]:checked + label:before {
  letter-spacing: 5px;
  margin-bottom: 10px;
}
/* allow space for check mark */
/* Child Checkbox */
.child-list-group {
  padding: 0;
  margin: 0;
}
.child-list-group li {
  line-height: 22px;
  list-style-type: none;
}
.child-list-group input[type=checkbox] {
  display: none;
}
/* to hide the checkbox itself */
.child-list-group input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
.child-list-group input[type=checkbox] + label:before {
  content: "\f096";
  font-size: 14px;
  position: relative;
  top: 1px;
}
/* unchecked icon */
.child-list-group input[type=checkbox] + label:before {
  letter-spacing: 8px;
}
/* space between checkbox and label */
.child-list-group input[type=checkbox]:checked + label:before {
  content: "\f046";
  font-size: 14px;
  position: relative;
  top: 1px;
}
/* checked icon */
.child-list-group input[type=checkbox]:checked + label:before {
  letter-spacing: 8px;
}
/* allow space for check mark */
.child-list-group input[type=checkbox][disabled] + label:before {
  content: "\f147";
  color: #686866;
  font-size: 14px;
  position: relative;
  top: 1px;
  cursor: not-allowed;
}
/* checked icon */
.child-list-group input[type=checkbox][disabled] + label:before {
  letter-spacing: 5px;
}
/* allow space for check mark */
/* Child Checkbox - unchecked icon */
.child-list-group input[type=checkbox] + label:before {
  letter-spacing: 8px;
  margin-bottom: 10px;
}
/* space between checkbox and label */
.child-list-group input[type=checkbox]:checked + label:before {
  content: "\f046";
  font-size: 14px;
  position: relative;
  top: 1px;
}
/* Child Checkbox - checked icon */
.child-list-group input[type=checkbox]:checked + label:before {
  letter-spacing: 8px;
}
/* allow space for check mark */
.child-list-group input[type=checkbox][disabled] + label:before {
  content: "\f147";
  color: #686866;
  font-size: 14px;
  position: relative;
  top: 1px;
  cursor: not-allowed;
  letter-spacing: 5px;
}
/* allow space for check mark */
.checkbox-list {
  margin: 0;
  padding: 0;
}
.checkbox-list li {
  position: relative;
  display: block;
  padding: 7px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.checkbox-list li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* General Radiobutton */
input[type=radio] {
  display: none;
}
/* to hide the checkbox itself */
input[type=radio] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=radio] + label:before {
  content: "\f10c";
  color: #686866;
  font-size: 16px;
  position: relative;
  top: 2px;
}
input[type=radio][disabled] + label:before {
  content: "\f147";
  color: #686866;
  font-size: 14px;
  position: relative;
  top: 2px;
  cursor: not-allowed;
  letter-spacing: 5px;
}
/* Radiobutton - unchecked icon */
input[type=radio] + label:before {
  letter-spacing: 5px;
}
/* space between checkbox and label */
input[type=radio]:checked + label:before {
  content: "\f111";
  color: #3b679e;
  font-size: 16px;
  position: relative;
  top: 2px;
}
/* Radiobutton - checked icon */
input[type=radio]:checked + label:before {
  letter-spacing: 5px;
}
/* allow space for check mark */
/* Radiobutton Checkbox */
.child-list-group input[type=radio] {
  display: none;
}
/* to hide the checkbox itself */
.child-list-group input[type=radio] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
.child-list-group input[type=radio] + label:before {
  content: "\f096";
  font-size: 14px;
  position: relative;
  top: 1px;
}
/* Radiobutton Checkbox - unchecked icon */
.child-list-group input[type=radio] + label:before {
  letter-spacing: 8px;
}
/* space between checkbox and label */
.child-list-group input[type=radio]:checked + label:before {
  content: "\f046";
  font-size: 14px;
  position: relative;
  top: 1px;
}
/* Radiobutton Checkbox - checked icon */
.child-list-group input[type=radio]:checked + label:before {
  letter-spacing: 8px;
}
/* allow space for check mark */
.child-list-group input[type=radio][disabled] + label:before {
  content: "\f147";
  color: #686866;
  font-size: 14px;
  position: relative;
  top: 1px;
  cursor: not-allowed;
  letter-spacing: 5px;
}
/* allow space for check mark */
.radiobutton-list {
  margin: 0;
  padding: 0;
}
.radiobutton-list li {
  position: relative;
  display: block;
  padding: 7px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.radiobutton-list li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.wrap-arrows {
  padding-right: 10px;
  position: relative;
  top: 2px;
}
.ui-spinner-input {
  margin: 1px 22px 0 .4em !important;
}
/* Eran and Meir Changes */
.general-span-wrap-spans {
  padding-right: 1px;
  position: relative;
  display: inline-block;
  color: black;
  vertical-align: text-bottom;
}
.span-wrap-multi-legend-x {
  position: absolute;
  display: block;
  text-align: center;
  height: 15px;
  width: 13.40px;
  color: #000000;
  font-size: 12px;
  clear: both;
}
.multi-legend-with-x {
  height: 15px;
  width: 7px;
  float: left;
}
.application-id-references-list li {
  width: 30%;
  display: inline-block;
}
.legend-item-maybe-test-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}
.legend-item-maybe-test-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
}
.div-has-x-sign {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.div-wrap-cell-test-transaction {
  position: relative;
  overflow: auto;
  height: 20px;
  width: 16px;
}
.link-button-disabled {
  cursor: default;
  color: black;
}
.link-button-disabled:hover {
  text-decoration: none;
  color: black;
}
.link-button-enabled {
  cursor: pointer;
}
.link-button-enabled:hover {
  cursor: pointer;
}
/* Loaders */
#overlay {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  background-color: #1b5c9c;
  width: 100%;
  height: 20px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
}
#theprogress {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  height: 30px;
  line-height: 40px;
  text-align: center;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1;
}
#modalprogress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
#ErrorOverlay {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 100%;
}
#errorDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.wrap-loader-svg {
  width: 0;
  height: 0;
  border-top: 100px solid #1b5c9c;
  border-left: 100px solid transparent;
  position: fixed;
  top: 0;
  right: 0;
}
.loader-svg {
  position: fixed;
  top: 10px;
  right: 10px;
}
.ErrorMessageDiv {
  position: fixed;
  top: 35%;
  left: 44%;
}
.ErrorMsgImg {
  width: 200px;
  height: 200px;
}
.ErrorMsgTitle {
  margin-left: -100px;
  width: 450px;
  font-size: 20px;
}
.loading-text {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: normal;
  padding-top: 10px;
}
.table-customize {
  color: #686866;
}
.table-customize thead {
  font-size: 14px;
  text-transform: uppercase;
  color: #686866;
  font-family: 'Roboto Condensed', Arial, sans-serif !important;
}
.table-customize td:hover {
  background: #e7f4ff;
}
.table-customize tbody + tbody {
  border: none;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #D9EDF7;
}
.table-hover > thead:first-child > tr:first-child > th {
  font-size: 13px;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  color: #666;
  font-weight: 500;
}
.EmptyData td {
  border-width: 0px !important;
}
.AdminListEmptyState {
  width: 100%;
  height: 100%;
  font-weight: bold;
}
.BreakRow {
  word-wrap: break-word;
}
.NoBreak {
  white-space: nowrap;
}
.numericMinus {
  color: red;
}
#BodyContent_PageController_FormView_FormPanel_ctl14_rptRequests {
  font-size: 10px;
}
/* Checkbox – unchecked icon */
input[type=checkbox] + label:before {
  letter-spacing: 5px;
  margin-bottom: 10px;
}