﻿<%@ Page Language="C#" MasterPageFile="~/AdminCash/ContentPage.master" AutoEventWireup="true" CodeFile="Data.aspx.cs" Inherits="AdminCash_Accounts_Data" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" Runat="Server">



</asp:Content>

